<div class="page-layout carded left-sidebar inner-scroll">

  <!-- SIDEBAR -->
  <fuse-sidebar class="sidebar"
    position="left"
    lockedOpen="gt-md">
    <div class="content p-20 pt-0"
      fusePerfectScrollbar>
      <div class="demo-sidebar">
        <mat-list>
          <ng-container *ngFor="let setting of settings; let i=index">
            <mat-list-item [routerLink]="'/settings/' + setting.path">
              <!-- *ngIf="_auth.hasPermission(setting.data.permission)"> -->
              <mat-icon class="mr-8"
                style="font-size: 18px;padding: 3px !important;"
                *ngIf="setting.data.matIco">{{ setting.data.matIco }}</mat-icon>
              <span class="cursor-pointer"
                style="font-size: 13px;"
                [ngClass]="{'font-weight-900': isCurrentSetting(setting.path)}">
                {{ setting.data.label }}
              </span>
            </mat-list-item>
            <mat-divider [hidden]="i+1===settings.length">
              <!-- *ngIf="_auth.hasPermission(setting.data.permission)"> -->
            </mat-divider>
          </ng-container>
        </mat-list>
      </div>

    </div>
  </fuse-sidebar>
  <!-- / SIDEBAR -->

  <!-- CENTER -->
  <div class="center mr-0">
    <div style="border-radius:0;"
      fusePerfectScrollbar
      class="content-card">
      <router-outlet fxLayout="row">
      </router-outlet>
    </div>
  </div>
  <!--/ END CENTER -->
</div>