<h2 mat-dialog-title>Return Form</h2>
<mat-dialog-content style="min-height: calc(100vh - 120px);">

  <div>
    <table class="ctable noborder">
      <th class="fit">Return Date:</th>
      <td style="width: 180px;">
        <date-picker (change)="newReturn.returnDate=$event.dateFormatted"
          hideLabel="true"
          [dateValue]="newReturn.returnDate || null">
        </date-picker>
      </td>
      <td></td>
    </table>
  </div>

  <div *ngIf="order?.groupBreakdown?.length">
    <table class="ctable noborder">
      <td><span class="mat-title">Shipment Details</span></td>
      <td></td>
    </table>

    <div class="table-scroll-horizontal">
      <table class="ctable mt-8 mx-8"
        style="width: auto !important;"
        *ngFor="let group of order?.groupBreakdown; let groupIndex = index">
        <tr class="header-bg">
          <th class="fit text-center">Image</th>
          <th style="width: 150px;">Style</th>
          <th style="width: 150px;">Unit Price</th>
          <th style="width: 120px;">Color</th>
          <th style="width: 100px;"
            *ngFor="let size of group.sizeList"
            class="text-center">
            {{ size.sizeLabel }}
          </th>
          <!-- <th style="width: 100px;"
            class="text-center">
            Return Qty
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            style="width: 100px;"
            class="text-center">
            Return Value
          </th> -->
        </tr>
        <ng-container
          *ngFor="let style of group?.styleBreakdown; let styleIndex = index">
          <tr *ngFor="let color of style?.colorList; let colorIndex = index">
            <td [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              <img class="thumb-image"
                *ngIf="style?.styleImages?.length"
                [src]="(style?.styleImages)[0]?.thumnailFileUrl" />
              <img class="thumb-image"
                *ngIf="!style?.styleImages?.length"
                src="assets/images/theme/incomming-product-image.png" />
            </td>
            <td [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              {{style?.styleName}}
            </td>
            <td [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              {{style?.price}}
            </td>
            <td>
              {{color.comboName}}
            </td>
            <td *ngFor="let size of group.sizeList"
              class="text-center">
              <div>
                {{
                (style?.breakdown)[
                "_" + color?.comboId + "_" + size.sizeId
                ]?.maxReturnQuantity
                }}
              </div>


              <div
                *ngIf="style?.breakdown['_' + color?.comboId + '_' + size.sizeId]?.actualShipQty">
                <input type="text"
                  (keyup)="calculation()"
                  numberonly
                  decimals="0"
                  class="text-center"
                  matInput
                  [(ngModel)]="style.breakdown['_' + color.comboId + '_' + size.sizeId].returnQuantity"
                  autocomplete="off" />
              </div>
            </td>
            <!-- <th class="text-center"
              [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              {{style?.styleShippedQty}}
            </th>
            <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right"
              [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              {{style?.styleShippedValue | currency}}
            </th> -->
          </tr>
        </ng-container>

      </table>
    </div>
  </div>

  <div class="mt-20">
    <table class="ctable noborder">
      <tr>
        <th style="width: 147px;">Total Return Quantity: </th>
        <td style="width: 100px;"> {{newReturn?.quantity}} pcs</td>
        <th style="width: 130px;">Total Return Value: </th>
        <td style="width: 100px;"> {{newReturn?.actualValue | currency}}</td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="mt-20">
    <table class="ctable noborder">
      <tr>
        <th style="width: 300px;">
          <mat-checkbox [(ngModel)]="newReturn.inventoryReturn">
            Return item going back to inventory?
          </mat-checkbox>
        </th>
        <td style="width: 300px;"
          *ngIf="newReturn.inventoryReturn">
          <mat-select placeholder="Inventory Location"
            class="mat-multiple-select"
            [(ngModel)]="newReturn.inventoryLocationId">
            <mat-option *ngFor="let item of inventoryLocationList"
              [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </td>
        <th *ngIf="newReturn.inventoryReturn"
          style="width: 100px;">Receive Date: </th>
        <td *ngIf="newReturn.inventoryReturn"
          style="width: 180px;">
          <date-picker (change)="newReturn.receiveDate=$event.dateFormatted"
            hideLabel="true"
            [dateValue]="newReturn.receiveDate || null">
          </date-picker>
        </td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="mt-20">
    <table class="ctable noborder">
      <tr>
        <th style="width: 140px;">
          Agreed Retrun Value:
        </th>
        <td style="width: 200px;"
          class="text-right">
          <input matInput
            class="text-right"
            type="number"
            [(ngModel)]="newReturn.agreeReturnValue">
        </td>
        <th style="width: 200px;">
          <mat-select placeholder="Adjustment Type"
            class="mat-multiple-select"
            [(ngModel)]="newReturn.adjustmentType">
            <mat-option [value]="'REFUND'">Refund</mat-option>
            <mat-option [value]="'STORE_CREDIT'">Store Credit</mat-option>
          </mat-select>
        </th>
        <th style="width: 135px;">
          Return Freight Cost:
        </th>
        <td style="width: 200px;"
          class="text-right">
          <input matInput
            class="text-right"
            type="number"
            [(ngModel)]="newReturn.freightCost">
        </td>
        <th style="width: 120px;">
          Restocking Cost:
        </th>
        <td style="width: 200px;"
          class="text-right">
          <input matInput
            class="text-right"
            type="number"
            [(ngModel)]="newReturn.restockingCost">
        </td>
        <td></td>
      </tr>
    </table>
  </div>


</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn [text]="'add'"
          [custom]="'submit'"
          (click)="createReturn()"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>