<div class="custom-filter-header">
  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="30px">
    <div fxFlex>
      <div class="custom-filter-row-first"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px">
        <div fxFlex
          fxLayoutAlign="space-between center">
          <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowleft'"
                  (click)="onDateNextPrivious(false)"></btn-icon>
              </div> -->
          <div fxFlex>
            <date-picker (change)="filter.fromdate = $event.dateFormatted"
              hideLabel="true"
              [labelName]="'From Date'"
              [dateValue]="filter.fromdate">
            </date-picker>
          </div>
        </div>
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex>
            <date-picker (change)="filter.todate = $event.dateFormatted"
              hideLabel="true"
              [labelName]="'To Date'"
              [dateValue]="filter.todate">
            </date-picker>
          </div>
          <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowright'"
                  (click)="onDateNextPrivious(true)"></btn-icon>
              </div> -->
        </div>

        <div fxFlex>
          <mat-select multiple
            placeholder="Status"
            class="mat-multiple-select"
            [(ngModel)]="filter.statusname">
            <mat-option *ngFor="let item of statusList"
              [value]="item.name">{{ item.label }}</mat-option>
          </mat-select>
        </div>

        <div fxFlex>
          <mat-select multiple
            *ngIf="userRole != 'ROLE_CUSTOMER'"
            placeholder="Customers"
            class="mat-multiple-select"
            [(ngModel)]="filter.customerid">
            <mat-option *ngFor="let item of customerList"
              [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </div>
        <div fxFlex>
          <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Sales Rep"
            class="mat-multiple-select"
            [(ngModel)]="filter.salerepid">
            <mat-option *ngFor="let item of saleRepList"
              [value]="item.id">{{ item.fullname }}</mat-option>
          </mat-select>
        </div>
        <div fxFlex></div>
      </div>
    </div>
    <div fxFlex.gt-md="80px"
      class="filter-options">
      <span>
        <span class="filter-btn-with-counter">
          <span *ngIf="filterCounter"
            class="filter-counter">{{
            filterCounter
            }}</span>
          <button class="filter-btn filter-submit"
            mat-icon-button
            (click)="onFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </span>

        <button class="filter-btn filter-clear"
          mat-icon-button
          (click)="onClear()">
          <mat-icon>clear_all</mat-icon>
        </button>
        <!--<button *ngIf="!filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = true;">
              <mat-icon>expand_more</mat-icon>
            </button>
             <button *ngIf="filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = false;">
              <mat-icon>expand_less</mat-icon>
            </button> -->
      </span>

    </div>
    <!-- <div fxFlex.gt-md="140px"
          *ngIf="_auth.hasPermission('PERMISSION_ORDER_CREATE')">
          <span>
            <btn [custom]="'CREATE ORDER'"
              [text]="'add'"
              (onclick)="openCreateModal(orderCreateModal)"></btn>
          </span>
        </div> -->
  </div>
</div>

<!-- / HEADER -->


<div fxLayout>
  <div fxFlex>
    <div *ngIf="orders?.length === 0"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill>
      <span class="no-messages-text hint-text">{{
        "Orders"
        }}</span>
    </div>
    <div class="pr-8"
      *ngIf="orders?.length">
      <table class="ctable no-border-top no-border-left"
        style="width: auto !important;">
        <thead class="csticky">
          <th class="text-center cursor-pointer width-100"
            (click)="onSort('id', 'number')">
            PO #
            <sorter-icon class="sorter-icon"
              [flag]="sorter.field == 'id'"
              [sortType]="sorter.sortType">
            </sorter-icon>
          </th>
          <th class="text-center cursor-pointer width-100"
            (click)="onSort('orderDate', 'date')">
            Ordered On
            <sorter-icon class="sorter-icon"
              [flag]="sorter.field == 'orderDate'"
              [sortType]="sorter.sortType">
            </sorter-icon>
          </th>
          <th class="fit text-center width-100">Status</th>
          <th class="text-center width-100">Customer</th>
          <th class="cursor-pointer text-center width-100"
            (click)="onSort('shipmentDate', 'date')">
            Req. Ship
            <sorter-icon class="sorter-icon"
              [flag]="sorter.field == 'shipmentDate'"
              [sortType]="sorter.sortType">
            </sorter-icon>
          </th>

          <th class="text-center width-100">Init. By</th>
          <th class="text-center width-100">Placed By</th>

          <th class="text-center width-100">Cust. PO #</th>

          <th class="text-center width-100">Qty
            <span style="color: blue"
              *ngIf="total?.order"><br>
              {{total?.order}} pcs
            </span>
          </th>
          <th class="text-right width-100"
            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
            Subtotal
            <span style="color: blue"
              *ngIf="total?.order"><br>
              {{total?.orderValue | currency}}
            </span>
          </th>
          <th class="text-center width-100">Shipped On</th>
          <th class="text-center width-100">Shipped Qty
            <span style="color: green"
              *ngIf="total?.order"><br>
              {{total?.shipped}} pcs
            </span>
          </th>

          <th class="text-center width-100"
            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
            Total
          </th>
          <th class="fit text-center width-100"
            style="width: 100px; min-width: 100px;"
            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
            Payment</th>
          <!-- <th class="fit text-center">Action</th> -->
        </thead>
        <tbody>
          <tr class="minimum-hight-list"
            *ngFor="let order of orders"
            [ngClass]="{ 'current-item': order?.id == orderId }">
            <td class="text-center">
              <btn-small [text]="'edit'"
                [custom]="order.rimsPoNo"
                (onclick)="goLink(order.id)"></btn-small>
            </td>
            <td class="text-center width-100">
              {{ order?.orderDate | date: "mediumDate" }}
            </td>
            <td class="text-center width-100">
              <span *ngIf="order?.status == 'draft'"
                class="status-chip status-chip-draft"
                style="font-size: 9px !important;">{{order?.status}}</span>
              <span *ngIf="order?.status == 'new' && !order?.approved"
                class="status-chip status-chip-approved"
                style="font-size: 9px !important;">
                Pending<br>
                Approval
              </span>
              <span *ngIf="order?.status == 'new' && order?.approved"
                class="status-chip status-chip-new"
                style="font-size: 9px !important;">Accepted</span>
              <span *ngIf="order?.status == 'shipped'"
                class="status-chip status-chip-shipped"
                style="font-size: 9px !important;">{{order?.status}}</span>
              <span *ngIf="order?.status == 'partial_shipped'"
                class="status-chip status-chip-partial-shipped"
                style="font-size: 9px !important;">Partial<br />Shipped</span>
              <span *ngIf="order?.status == 'cancel'"
                class="status-chip status-chip-cancel"
                style="font-size: 9px !important;">Cancelled</span>

              <span *ngIf="!order?.status"
                class="status-chip status-chip-gray"
                style="font-size: 9px !important;">Empty</span>
              <span *ngIf="order?.packing"
                class="status-chip status-chip-packing"
                style="font-size: 9px !important;"><br />(Packing)</span>
            </td>
            <td class="text-center width-100">
              <span matTooltip="{{order?.customer?.name}}">
                {{ (order?.customer?.name.length>10)? (order?.customer?.name
                |
                slice:0:9)+'..':(order?.customer?.name) }}
              </span>
            </td>
            <td class="text-center width-100">
              <span>{{
                order?.shipmentDate | date: "mediumDate"
                }}</span>
            </td>

            <td class="text-center width-100">
              <span matTooltip="{{order?.createdBy?.name}}">
                {{ (order?.createdBy?.name.length>10)? (order?.createdBy?.name
                |
                slice:0:9)+'..':(order?.createdBy?.name) }}

                <br />
                <span *ngIf="order?.createdByRole== 'ROLE_ADMIN'">
                  (Admin)</span>
                <span *ngIf="order?.createdByRole== 'ROLE_CUSTOMER'">
                  (Customer)</span>
                <span *ngIf="order?.createdByRole== 'ROLE_SALES'"> (Sales
                  Rep)</span>
                <span *ngIf="order?.createdByRole== 'ROLE_PARTNER'">
                  (Sales Manager)</span>
              </span>
            </td>
            <td class="text-center width-100">
              <span matTooltip="{{order?.orderBy?.name}}">
                {{ (order?.orderBy?.name.length>10)? (order?.orderBy?.name
                |
                slice:0:9)+'..':(order?.orderBy?.name) }}
                <br />
                <span *ngIf="order?.orderByRole== 'ROLE_ADMIN'">
                  (Admin)</span>
                <span *ngIf="order?.orderByRole== 'ROLE_CUSTOMER'">
                  (Customer)</span>
                <span *ngIf="order?.orderByRole== 'ROLE_SALES'"> (Sales
                  Rep)</span>
                <span *ngIf="order?.orderByRole== 'ROLE_PARTNER'">
                  (Sales Manager)</span>
              </span>
            </td>
            <td class="text-center width-100">
              <span *ngIf="order?.poNo">{{ order?.poNo}}</span>
              <span class="text-gray"
                *ngIf="!order?.poNo">N/A</span>
            </td>
            <td class="text-center width-100">
              <span>
                {{ order?.orderQty }}
              </span>
            </td>

            <td class="text-right width-100"
              *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
              <span>{{
                order.totalValue | currency
                }}</span>
            </td>
            <td class="text-center width-100">
              <div *ngFor="let shipDate of order?.shipmentDateList">
                <a class="cursor-pointer"
                  (click)="openPackingPDFModal(shipDate.id)">{{shipDate?.shipmentDate
                  | date: 'mediumDate'}}</a>
              </div>
            </td>
            <td class="text-center width-100">
              <span class="text-green">
                {{ order?.shipQty }}
              </span>
            </td>
            <td class="text-center width-100"
              *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
              <a class="cursor-pointer"
                (click)="openDetailsModal(order)">
                <span *ngIf="order?.status == 'shipped'">
                  <span *ngIf="order.invoiceValue">{{ order.invoiceValue
                    | currency }}</span>
                  <span *ngIf="!order.invoiceValue">Pending</span>
                </span>
                <span
                  *ngIf="(order?.status == 'partial_shipped') && (order?.status != 'shipped')">Pending</span>
              </a>
            </td>
            <td class="text-center width-100"
              *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
              <span *ngIf="order?.paymentStatus == 'Paid'"
                class="status-chip status-chip-green">{{order?.paymentStatus}}</span>
              <span *ngIf="order?.paymentStatus == 'Unpaid'"
                class="status-chip status-chip-red">{{order?.paymentStatus}}</span>
              <span *ngIf="order?.paymentStatus == 'Partial paid'"
                class="status-chip status-chip-orange">Partially<br>Paid</span>
              <span *ngIf="order?.paymentStatus == 'N/A'"
                class="status-chip status-chip-gray">{{order?.paymentStatus}}</span>
            </td>
            <!-- <td class="text-center width-100">
              <div>
                <btn-small [text]="'edit'"
                  [custom]="'Details'"
                  (onclick)="goLink(order.id)"></btn-small>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>