<div class="my-8">
  <span class="mat-title">Customer List
    <btn-icon [text]="'expend'"
      (onclick)="openAddCustomerModal(addCustomerModal)">
    </btn-icon>
  </span>

  <table class="ctable">
    <tr class="header-bg">
      <th>Company Name</th>
      <th>Customer User Name</th>
      <th>Phone No</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let customer of userCustomerList">
      <td>
        {{customer?.customer?.name}}
      </td>
      <td>
        {{customer?.customer?.contactFirstName}}
        {{customer?.customer?.contactLastName}}
      </td>
      <td>{{ customer?.customer?.phoneNo }}</td>
      <td>{{ customer?.customer?.email }}</td>
    </tr>
  </table>
</div>


<ng-template #addCustomerModal>
  <h2 mat-dialog-title>Customer</h2>
  <mat-dialog-content style="min-height: 65vh;">
    <div fxLayout
      fxLayoutGap="20px">
      <div fxFlex="40%">
        <span class="mat-title">Sales Rep Customer List</span>
        <table class="ctable">
          <tr>
            <th>Customer</th>
            <th class="fit">Action</th>
          </tr>
          <tr *ngFor="let item of userCustomerList; let i = index">
            <td>{{ item?.customer?.name }}</td>
            <td>
              <btn-small [text]="'delete'"
                (onclick)="deleteCustomer(item.id, i)"></btn-small>
            </td>
          </tr>
        </table>
      </div>
      <div fxFlex>
        <span class="mat-title">All Customer List</span>
        <table class="ctable">
          <tr>
            <th>Customer</th>
            <th>Sales Representative</th>
            <th class="fit">Select</th>
          </tr>
          <tr *ngFor="let customer of customerList; let i = index">
            <td>{{ customer?.name }}</td>
            <td>{{ customer?.salesRep?.userName || 'Rawman & Co.' }}
              <btn-icon *ngIf="customer?.salesRep?.userName"
                style="float: right"
                [text]="'delete'"
                (onclick)="removeSalesRepFromCustomer(customer?.salesRep?.id, i)">
              </btn-icon>
            </td>
            <td class="text-center">
              <span *ngIf="!customer?.salesRep?.userName ">
                <mat-checkbox [(ngModel)]="customer.select"></mat-checkbox>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            (onclick)="modalClose()"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (onclick)="addCustomer()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>