<div id="login"
  fxLayout="column">

  <div id="login-form-wrapper"
    fxLayout="row"
    fxLayoutAlign="center center">
    <div fxFlex="50"
      fxHide.lt-md="true">

    </div>
    <div fxFlex="50"
      fxFlex.lt-md="100">
      <!-- <div class="text-center mb-48">
        <img style="max-width: 90%;"
          src="assets/images/backgrounds/title.png">
      </div> -->
      <div id="login-form"
        [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

        <div class="title">LOGIN TO YOUR ACCOUNT</div>

        <form name="loginForm"
          style="color: #fff !important;"
          [formGroup]="loginForm"
          novalidate>
          <mat-form-field>
            <input matInput
              placeholder="Email"
              formControlName="email"
              autofocus>
            <mat-error *ngIf="loginFormErrors.email.required">
              Email is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput
              type="password"
              placeholder="Password"
              formControlName="password">
            <mat-error *ngIf="loginFormErrors.password.required">
              Password is required
            </mat-error>
          </mat-form-field>
          <div class="remember-forgot-password"
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutAlign="space-between center">
            <mat-checkbox class="remember-me"
              aria-label="Remember Me">
              <span style="color: #000;">Remember Me</span>
            </mat-checkbox>

            <a class="forgot-password"
              [routerLink]="'/forgot-password'">Forgot Password?</a>
          </div>

          <button mat-raised-button
            color="accent"
            class="submit-button"
            aria-label="LOG IN"
            (click)="onSubmit()"
            [disabled]="loginForm.invalid">
            LOGIN
          </button>

        </form>

        <div class="separator mb-12">
          <span class="text">OR</span>
        </div>

        <div class="register"
          fxLayout="column"
          fxLayoutAlign="center center">
          <span class="text">Don't have an account?</span>
          <a class="link"
            [routerLink]="'/registration'">Register here</a>
        </div>

      </div>
    </div>


  </div>

</div>