<div fusePerfectScrollbar
  fxFlex
  class="border-right p-24 p-0">
  <span class="mat-title">Province</span>
  <mat-icon (click)="sizeCreateForm()"
    *ngIf="_auth.hasPermission('PERMISSION_PROVINCE_CREATE')"
    class="s-24 mb-4 cursor-pointer"
    style="float: right;"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th class="fit">#</th>
      <th>Long Name</th>
      <th>Short Name</th>
      <th>Tax Rate (%) </th>
      <th>Shipping charge </th>
      <th>Shipping charge multiplier</th>
      <th style="width: 70px;"></th>
    </thead>

    <tbody>
      <tr *ngFor="let styleType of styleType.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ styleType.label }}</td>
        <td>{{ styleType.name }}</td>
        <td>{{ styleType.taxRate }}</td>
        <td>{{ styleType.shippingCharge }}</td>
        <td>{{ styleType.shippingChargeMultiplier }}</td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="sizeOnDetailClick(styleType.id)">
          </btn-icon>&nbsp;
          <btn-icon [text]="'delete'"
            *ngIf="_auth.hasPermission('PERMISSION_PROVINCE_DELETE')"
            (click)="sizeOnDeleteClick(styleType.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div fusePerfectScrollbar
  fxFlex
  class="p-24 p-0">
  <ng-container [ngSwitch]="styleType.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <span class="mat-title">Add a new province</span>
      <table class="ctable">
        <tr>
          <td>Long Name</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                label="styleType.item.label"
                [(ngModel)]="styleType.item.label"
                #label="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Short Name</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="styleType.item.name"
                [(ngModel)]="styleType.item.name"
                #name="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Tax Rate</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                type="number"
                taxRate="styleType.item.taxRate"
                [(ngModel)]="styleType.item.taxRate"
                #taxRate="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Shipping Charge</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                type="number"
                [(ngModel)]="styleType.item.shippingCharge"
                #shippingCharge="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Shipping Charge Multiplier</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                type="number"
                [(ngModel)]="styleType.item.shippingChargeMultiplier"
                #shippingChargeMultiplier="ngModel" />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div>
        <btn [text]="'save'"
          style="float: right; margin-top: 10px;"
          (click)="sizeOnSubmit()">
        </btn>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Basic Info
          <btn-icon [text]="'edit'"
            *ngIf="_auth.hasPermission('PERMISSION_PROVINCE_CREATE')"
            (click)="openSizeEditModal(sizeEditModal)">
          </btn-icon>
        </span>
        <table class="ctable">
          <tbody>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Long Name
              </td>
              <td>
                {{ styleType.detail.label }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Short Name
              </td>
              <td>
                {{ styleType.detail.name }}
              </td>
            </tr>
            <tr>
              <td class="bold"
                style="text-align: left;">
                Tax Rate
              </td>
              <td>
                {{ styleType.detail.taxRate }}
              </td>
            </tr>
            <tr>
              <td class="bold"
                style="text-align: left;">
                Shipping Charge
              </td>
              <td>
                {{ styleType.detail.shippingCharge }}
              </td>
            </tr>
            <tr>
              <td class="bold"
                style="text-align: left;">
                Shipping Charge Multiplier
              </td>
              <td>
                {{ styleType.detail.shippingChargeMultiplier }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #sizeEditModal>
  <h2 mat-dialog-title>Edit province</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <td>Long Name</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  label="styleType.editData.label"
                  [(ngModel)]="styleType.editData.label"
                  #label="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Short Name</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="styleType.editData.name"
                  [(ngModel)]="styleType.editData.name"
                  #name="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Tax Rate</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  taxRate="styleType.editData.taxRate"
                  [(ngModel)]="styleType.editData.taxRate"
                  #taxRate="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Shipping Charge</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  type="number"
                  [(ngModel)]="styleType.editData.shippingCharge"
                  #shippingCharge="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Shipping Charge Multiplier</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  type="number"
                  [(ngModel)]="styleType.editData.shippingChargeMultiplier"
                  #shippingChargeMultiplier="ngModel" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="sizeOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>