<div *ngIf="newUser"
  fxLayout="row">
  <div fxFlex>

    <div fxLayout="row">
      <div fxFlex>
        <span class="mat-title">Basic</span>
      </div>
      <div fxFlex
        class="text-right">
        <ng-container *ngIf="!newUser.editMode">
          <btn-small [text]="'edit'"
            (onclick)="newUser.editMode = true"></btn-small>
        </ng-container>
        <ng-container *ngIf="newUser.editMode">
          <btn-small [text]="'save'"
            (onclick)="save"
            (onclick)="updateUser()"></btn-small>
          <btn-small [text]="'cancel'"
            (onclick)="getUser()"></btn-small>
        </ng-container>

      </div>

    </div>
    <table class="ctable noborder">
      <tr>
        <th style="width: 150px;">First Name<span class="req">*</span>
        </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              [disabled]="!newUser.editMode"
              type="text"
              [(ngModel)]="newUser.firstName"
              #firstName="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th style="width: 150px;">Last Name<span class="req">*</span>
        </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              [disabled]="!newUser.editMode"
              type="text"
              [(ngModel)]="newUser.lastName"
              #lastName="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th style="width: 150px;">Phone No<span class="req">*</span>
        </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              [disabled]="!newUser.editMode"
              type="text"
              [(ngModel)]="newUser.phoneNo"
              #phoneNo="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th style="width: 150px;">Company
        </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              [disabled]="!newUser.editMode"
              type="text"
              [(ngModel)]="newUser.company"
              #company="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th style="width: 150px;">Address
        </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              [disabled]="!newUser.editMode"
              type="text"
              [(ngModel)]="newUser.address"
              #address="ngModel" />
          </mat-form-field>
        </td>
      </tr>
    </table>

    <br />
    <br />
    <div fxLayout="row">
      <div fxFlex>
        <span class="mat-title">Password Change</span>
      </div>
      <div fxFlex
        class="text-right">
        <ng-container *ngIf="!newPass.editMode">
          <btn-small [text]="'edit'"
            (onclick)="newPass.editMode = true"></btn-small>
        </ng-container>
        <ng-container *ngIf="newPass.editMode">
          <btn-small [text]="'save'"
            (onclick)="save"
            (onclick)="updatePassword()"></btn-small>
          <btn-small [text]="'cancel'"
            (onclick)="clearPassword()"></btn-small>
        </ng-container>

      </div>

    </div>
    <table class="ctable noborder">
      <tr>
        <th style="width: 150px;">Old Password<span class="req">*</span>
        </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              [disabled]="!newPass.editMode"
              type="text"
              [(ngModel)]="newPass.oldPassword"
              #oldPassword="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th style="width: 150px;">Password<span class="req">*</span>
        </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              [disabled]="!newPass.editMode"
              type="text"
              [(ngModel)]="newPass.password"
              #password="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th style="width: 150px;">Confirm Password<span class="req">*</span>
        </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              [disabled]="!newPass.editMode"
              type="text"
              [(ngModel)]="newPass.confirmPassword"
              #confirmPassword="ngModel" />
          </mat-form-field>
        </td>
      </tr>

    </table>
    <br />
    <br />
    <div fxLayout="row">
      <div fxFlex>
        <span class="mat-title">Email Change</span>
      </div>
      <div fxFlex
        class="text-right">
        <ng-container *ngIf="!newEmail.editMode">
          <btn-small [text]="'edit'"
            (onclick)="newEmail.editMode = true"></btn-small>
        </ng-container>
        <ng-container *ngIf="newEmail.editMode">
          <btn-small [text]="'save'"
            (onclick)="save"
            (onclick)="updateEmail()"></btn-small>
          <btn-small [text]="'cancel'"
            (onclick)="clearEmail()"></btn-small>
        </ng-container>

      </div>

    </div>
    <table class="ctable noborder">
      <tr>
        <th style="width: 150px;">New Email<span class="req">*</span>
        </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              [disabled]="!newEmail.editMode"
              type="text"
              [(ngModel)]="newEmail.email"
              #oldPassword="ngModel" />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <div fxFlex="230px">
    <div *ngIf="newUser?.id"
      style="width: 200px; float: right; text-align: center;"
      class="mr-20">
      <span class="mat-title">Profile Image</span>
      <div style="height: 200px">
        <single-photo-card [name]="'Profile Photo Upload'"
          [subtitle]="'Best Photo Size: 1:1 or Height: 200px and width: 200px'"
          [entityId]="newUser?.id"
          [entityType]="'user_profile'"
          [enableEdit]="true">
        </single-photo-card>
      </div>
    </div>
  </div>
</div>