<div class="custom-filter-header">
  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="30px">
    <div fxFlex>
      <div class="custom-filter-row-first"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px">

        <div fxFlex>
          <input matInput
            (keydown.enter)="onFilter()"
            placeholder="Customer Name"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.name" />
        </div>
        <div fxFlex>
          <input matInput
            *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Email"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.email" />
        </div>
        <div fxFlex>
          <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Shipping Province"
            class="mat-multiple-select"
            [(ngModel)]="filter.provinceid">
            <mat-option *ngFor="let item of provinceList"
              [value]="item.id">{{ item.label }}</mat-option>
          </mat-select>
        </div>
        <div fxFlex>
          <input matInput
            *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Phone No"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.phoneno" />
        </div>
        <div fxFlex>
          <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Sales Rep"
            class="mat-multiple-select"
            [(ngModel)]="filter.salerepid">
            <mat-option *ngFor="let item of saleRepList"
              [value]="item.id">{{ item.fullname }}</mat-option>
          </mat-select>
        </div>

        <div fxFlex>
          <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Billing Province"
            class="mat-multiple-select"
            [(ngModel)]="filter.billingprovinceid">
            <mat-option *ngFor="let item of provinceList"
              [value]="item.id">{{ item.label }}</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div fxFlex.gt-md="80px"
      class="filter-options">
      <span>
        <span class="filter-btn-with-counter">
          <span *ngIf="filterCounter"
            class="filter-counter">{{
            filterCounter
            }}</span>
          <button class="filter-btn filter-submit"
            mat-icon-button
            (click)="onFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </span>

        <button class="filter-btn filter-clear"
          mat-icon-button
          (click)="onClear()">
          <mat-icon>clear_all</mat-icon>
        </button>
        <!-- <button *ngIf="!filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = true;">
              <mat-icon>expand_more</mat-icon>
            </button>
            <button *ngIf="filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = false;">
              <mat-icon>expand_less</mat-icon>
            </button> -->
      </span>

    </div>
    <div fxFlex.gt-md="120px"
      *ngIf="_auth.hasPermission('PERMISSION_CUSTOMER_CREATE')">
      <span>
        <btn [custom]="'Customer'"
          [text]="'add'"
          (onclick)="openCreateModal()"></btn>
      </span>
    </div>
  </div>
</div>

<div fxLayout>
  <div fxFlex>
    <div *ngIf="customers?.length === 0"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill>
      <span class="no-messages-text hint-text">{{
        "Customer List"
        }}</span>
    </div>
    <div class="pr-8"
      *ngIf="customers?.length">
      <table class="ctable no-border-top no-border-left">
        <thead class="csticky">
          <th class="fit text-center">Image</th>
          <th>Company</th>
          <th>Contact</th>
          <th>Email</th>
          <th style="width: 115px;">Phone</th>
          <th>Sales Rep</th>
          <th>Shipping Address</th>
          <!-- <th class="fit text-center">User</th> -->
          <!-- <th>Billing Address</th> -->
          <!-- <th class="fit text-center">Rating</th> -->
          <th class="fit text-center">Invitation Sent</th>
          <th class="fit text-center">Last Login</th>
          <th class="fit text-center">Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>
              <div class="text-center">
                <img class="thumb-image"
                  *ngIf="customer?.customerProfile?.length"
                  [src]="customer?.customerProfile[0]?.thumnailFilePath" />
                <img class="thumb-image"
                  *ngIf="!customer?.customerProfile?.length"
                  src="assets/images/theme/noimage.jpg" />
              </div>
            </td>
            <td>
              <div>
                <span class="font-big text-blue">
                  {{ customer?.name }}
                </span>
                <!-- <span *ngIf="customer?.enable"
                        class="text-green">(Enable)</span> -->
                <span *ngIf="!customer?.enable"
                  class="text-red">(Disabled)</span>
              </div>
            </td>
            <td>
              <div *ngFor="let user of customer?.customerUsers">
                {{user?.user?.firstName}} {{user?.user?.lastName}}<br />
              </div>
            </td>
            <td>
              <div *ngFor="let user of customer?.customerUsers">
                {{user?.user?.email}}<br />
              </div>
            </td>
            <td>
              <div *ngFor="let user of customer?.customerUsers">
                {{user?.user?.phoneNo}}<br />
              </div>
            </td>
            <td>{{ customer?.salesRep?.userName || 'Rawman & Co.' }}</td>
            <td>
              <span *ngIf="customer?.shippingCustomerAddress?.poBoxNo">PO-Box:
                {{ customer?.shippingCustomerAddress?.poBoxNo }},
              </span>
              <span *ngIf="customer?.shippingCustomerAddress?.street">{{
                customer?.shippingCustomerAddress?.street }},
              </span><br />
              <span *ngIf="customer?.shippingCustomerAddress?.city">{{
                customer?.shippingCustomerAddress?.city }},
              </span><span
                *ngIf="customer?.shippingCustomerAddress?.provinceName">{{
                customer?.shippingCustomerAddress?.provinceName }},
              </span>
              <span *ngIf="customer?.shippingCustomerAddress?.postCode">{{
                customer?.shippingCustomerAddress?.postCode }}
              </span>
            </td>
            <!-- <td class="text-center">
              <mat-icon *ngIf="customer?.user?.id"
                class="s-16 text-green">check</mat-icon>
            </td> -->
            <!-- <td class="text-center">
              <span *ngIf="customer?.orderRating"
                class="status-chip"
                [ngClass]="[
                      (customer.orderRating > 0 && customer.orderRating <2)? 'customer-rating-red': '',
                      (customer.orderRating >= 2 && customer.orderRating <3)?' customer-rating-orange': '',
                      (customer.orderRating >=3  && customer.orderRating <4)? 'customer-rating-blue': '',
                      (customer.orderRating >=4 && customer.orderRating <=5)? 'customer-rating-green': ''
                      ]">{{customer?.orderRating}}</span>
            </td> -->
            <td class="text-center">
              {{customer?.lastInvitationSent| date:
              'mediumDate'}}
            </td>
            <td class="text-center">
              {{customer?.loginDateTime| date:
              'mediumDate'}}
            </td>

            <td class="text-center">
              <div class="mb-8">
                <btn-small [text]="'link'"
                  [custom]="'Details'"
                  (onclick)="openCustomerUpdateModal(customer.id)">
                </btn-small>
              </div>
              <div class="mb-8"
                *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                <btn-small *ngIf="!customer?.enable"
                  [text]="'add'"
                  [custom]="'Enable'"
                  (onclick)="disableCustomer(customer.id, false)">
                </btn-small>
                <btn-small *ngIf="customer?.enable"
                  [text]="'delete'"
                  [custom]="'Disable'"
                  (onclick)="disableCustomer(customer.id, true)">
                </btn-small>
              </div>
              <div *ngIf="_auth.hasPermission('PERMISSION_CUSTOMER_DELETE')">
                <btn-small [text]="'delete'"
                  (onclick)="deleteCustomer(customer.id)"></btn-small>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>