<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center"
    style="width: 60%;"
    style="float: left !important;">
    <!-- HEADER -->
    <div class="custom-filter-header"
      style="width: 60%;">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">

            <!-- <div fxFlex>
              <input matInput
                placeholder="Name"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.name" />
            </div>

            <div fxFlex>
              <input matInput
                placeholder="Email"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.email" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Phone No"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.phoneno" />
            </div> -->
            <div fxFlex></div>
          </div>
        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
          </span>

        </div>
        <div fxFlex.gt-md="150px"
          *ngIf="_auth.hasPermission('PERMISSION_PO_CREATE')">
          <span>
            <btn [custom]="'PO'"
              [text]="'add'"
              (onclick)="openCreateModal(poCreateModal)"></btn>
          </span>
        </div>
      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg"
      style="width: 60%;">
      <!-- CONTENT -->
      <div>
        <div class="tab">
          <button class="tablinks"
            [ngClass]="{'active': tabs.PENDING}"
            (click)="clearTabsFlag('PENDING'); ">Pending</button>
          <button class="tablinks"
            [ngClass]="{'active': tabs.RECEIVED}"
            (click)="clearTabsFlag('RECEIVED'); ">Shipped</button>
          <button class="tablinks"
            [ngClass]="{'active': tabs.PARTIAL}"
            (click)="clearTabsFlag('PARTIAL'); ">Partially Shipped</button>
        </div>
      </div>
      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>
          <div *ngIf="poList.length === 0"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlexFill>
            <span class="no-messages-text hint-text">{{
              "PO"
              }}</span>
          </div>

          <div class="pr-8"
            *ngIf="poList?.length">
            <table class="ctable no-border-top no-border-left">
              <thead class="csticky">
                <th>Number</th>
                <th>Supplier</th>
                <th>Shipment Date</th>
                <th>Instock Date</th>
                <!-- <th>Quantity</th> -->
                <!-- <th>Shipment Status</th> -->
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let po of poList">
                  <td>
                    <button (click)="poDetail(po,poEditModal)"
                      style="border: 1px solid #039be5; color: #039be5;border-radius: 5px !important;background-color: #fff;line-height: normal;height: 28px;"
                      mat-raised-button
                      color="primary">{{po.number}}</button>

                  <td>
                    {{ po?.supplierName }}
                  </td>

                  <td>
                    {{ po?.shipmentDate | date: 'mediumDate' }}
                  </td>
                  <td>
                    {{ po?.receiveDate | date: 'mediumDate'}}
                  </td>
                  <td class="text-center">
                    <div *ngIf="_auth.hasPermission('PERMISSION_PO_DELETE')">
                      <btn-small [text]="'delete'"
                        (onclick)="deletePO(po.id)"></btn-small>
                      <!-- <btn-small [text]="'edit'"
                        [custom]="'Detail'"
                        (onclick)="poDetail(po,poEditModal)">
                      </btn-small> -->
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- / CONTENT -->
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>

</div>


<ng-template #poCreateModal>
  <h2 mat-dialog-title>Add New PO</h2>
  <mat-dialog-content style="min-height: 65vh;">
    <table class="ctable noborder">
      <tr>
        <th>PO no. <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newPO.number"
              #name="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Supplier <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <ng-select [items]="supplierList"
            bindLabel="name"
            [clearable]="true"
            placeholder="Select Supplier"
            appendTo="body"
            bindValue="id"
            [(ngModel)]="newPO.supplierId">
          </ng-select>
        </td>
      </tr>
      <tr>
        <th>Shipment Season <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-select placeholder="Season"
            class="mat-multiple-select"
            [(ngModel)]="newPO.seasonId">
            <mat-option *ngFor="let item of seasonList"
              [value]="item.id">{{ item.label }}</mat-option>
          </mat-select>
        </td>
      </tr>

      <tr>
        <th>Ship Date</th>
        <th class="fit">:</th>
        <td>
          <date-picker
            (change)="newPO.shipmentDate = $event.dateFormatted;onChange()"
            hideLabel="true"
            [dateValue]="newPO.shipmentDate">
          </date-picker>
        </td>
      </tr>
      <tr>
        <th>In Stock Date <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <date-picker (change)="newPO.receiveDate = $event.dateFormatted"
            hideLabel="true"
            [minValue]="minValue"
            [dateValue]="newPO.receiveDate">
          </date-picker>
        </td>
      </tr>
      <tr>
        <th style="vertical-align: top;">Terms And Condition</th>
        <th class="fit"
          style="vertical-align: top;">:</th>
        <td>
          <mat-form-field>
            <textarea matInput
              rows="10"
              [(ngModel)]="newPO.termAndCondition"></textarea>
          </mat-form-field>
        </td>
      </tr>

    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            [custom]="'Create & Add Qty'"
            (onclick)="createPO(styleAddModal)"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>


<ng-template #styleAddModal>
  <h2 mat-dialog-title>Add Quantity To PO</h2>
  <mat-dialog-content style="min-height: 85vh;">
    <div fxLayout="row">
      <div fxFlex="15%">
        <div fxLayout="column">
          <div fxFlex
            style="margin-bottom: 5px;">
            <div class="pr-8"
              style="border: 1px solid #ddd; width: auto;">
              <table>
                <tr>
                  <td>PO No. &nbsp; :</td>
                  <td> <strong>{{po.number}}</strong> </td>
                </tr>
                <tr>
                  <td>Shipment Date &nbsp; :</td>
                  <td> <strong>{{po.shipmentDate | date}}</strong> </td>
                </tr>
                <tr>
                  <td>Receive Date &nbsp; :</td>
                  <td> <strong>{{po.receiveDate | date}}</strong> </td>
                </tr>
              </table>
            </div>
          </div>
          <div fxFlex>
            <table class="ctable ">
              <tr>
                <th>Style Name</th>
                <th>Action</th>
              </tr>
              <tr *ngFor="let style of styleList">
                <td>{{style.name}}</td>
                <td>
                  <mat-checkbox [(ngModel)]="style.styleList"
                    (change)="onStyleSelect(style)"></mat-checkbox>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <div fxFlex>
        <table class="ctable mt-8 mx-8"
          style="width: auto !important;"
          *ngFor="let group of styleBreakdownList; let szeGroupIndex = index">
          <thead>
            <th class="fit text-center">Image</th>
            <th style="width: 150px;">Style</th>
            <th style="width: 120px;">Color</th>
            <th *ngFor="let size of group.sizeList"
              class="text-center"
              style="width: 100px !important;">
              {{ size.name }}
            </th>
            <th>Color Total</th>
            <th>Style Total</th>
          </thead>
          <ng-container
            *ngFor="let style of group?.slyleDetailList; let styleIndex = index">
            <tr *ngFor="let color of style?.combos; let comboIndex = index">

              <td *ngIf="comboIndex==0"
                [attr.rowspan]="style?.combos?.length">
                <img class="thumb-image"
                  *ngIf="style?.styleImages?.length"
                  [src]="(style?.styleImages)[0]?.thumnailFileUrl" />
                <img class="thumb-image"
                  *ngIf="!style?.styleImages?.length"
                  src="assets/images/theme/incomming-product-image.png" />
              </td>
              <td *ngIf="comboIndex==0"
                [attr.rowspan]="style?.combos?.length">
                <a [routerLink]="'/styles/' + style?.styleId +'/inventory' "
                  target="_blank">
                  {{style?.name}}
                </a>

              </td>
              <td>
                {{color.name}}
              </td>
              <td style="height: 70px;"
                *ngFor="let size of color.comboSizeList"
                class="text-center"
                style="max-width: 100px !important;">
                <!-- <div>
                {{(style?.breakdown)["_"+color?.id+
                "_"+size?.id]?.actualStockQuantity}}
              </div> -->
                <!-- *ngIf="adjustmentObject?.type?.name != 'edit'" -->
                <div>
                  <input matInput
                    class="text-center"
                    numberonly
                    decimals="0"
                    type="text"
                    autocomplete="off"
                    (change)="onQtyChange(szeGroupIndex,styleIndex,comboIndex,color,style)"
                    [(ngModel)]="size.qtyObj['_' + color.id + '_' + size.id]">
                  <!-- [(ngModel)]="style.breakdown['_' + color.id + '_' + size.id].adjustmentQuantity" -->
                </div>
                <!-- <div>
              <input matInput
                class="text-center"
                numberonly
                decimals="0"
                type="text"
                autocomplete="off"
                [(ngModel)]="style.breakdown['_' + color.id + '_' +
              size.id].editQuantity">

            </div> -->
              </td>
              <td>{{color.colorQty}}</td>
              <td *ngIf="comboIndex==0"
                [attr.rowspan]="style?.combos?.length">{{style.styleQty }}</td>
            </tr>

          </ng-container>

        </table>
      </div>
    </div>




  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (onclick)="copletePO()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>
<!-- //============================= -->



<ng-template #poEditModal>
  <h2 mat-dialog-title>PO Detail</h2>
  <mat-dialog-content style="min-height: 85vh;">
    <div fxLayout="row">
      <div fxFlex="15%">
        <div fxLayout="column">
          <div fxFlex>
            <div class="pr-8"
              style="border: 1px solid #ddd;width: auto;">
              <table style="width: 100%;">
                <tr>
                  <td>PO No. &nbsp; :</td>
                  <!-- <td>:</td> -->
                  <td>{{selectedPo.number}}</td>
                </tr>
                <tr>
                  <td>Total Quantity &nbsp; :</td>
                  <td>{{totalQty}}</td>
                </tr>
              </table>
            </div>
          </div>
          <div fxFlex>
            <table class="ctable ">
              <tr>
                <th>Style Name</th>
                <th>Action</th>
              </tr>
              <tr *ngFor="let style of styleList">
                <td>{{style.name}}</td>
                <td>
                  <mat-checkbox [(ngModel)]="style.styleList"
                    disabled="true"
                    (change)="onStyleSelect(style)"></mat-checkbox>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>

      <div fxFlex>
        <table class="ctable mt-8 mx-8"
          style="width: auto !important;"
          *ngFor="let detial of poDetailList; let szeGroupIndex = index">
          <thead>
            <!-- <th class="fit text-center">Image</th> -->
            <th style="width: 150px;">Style</th>
            <th style="width: 120px;">Color</th>
            <th *ngFor="let size of detial.sizeList"
              class="text-center"
              style="width: 100px !important;">
              {{ size.name }}
            </th>
            <th>Color Total</th>
            <th>Style Total</th>
          </thead>
          <ng-container
            *ngFor="let style of detial?.slyleDetailList ; let styleIndex = index">
            <tr *ngFor="let combo of style?.combos; let comboIndex = index">

              <td *ngIf="comboIndex==0"
                [attr.rowspan]="style?.combos?.length">

                {{style?.name}}

              </td>
              <td>
                {{combo.name}}
              </td>
              <td style="height: 70px;"
                *ngFor="let size of combo.comboSizeList"
                class="text-center"
                style="max-width: 100px !important;">


                <div>
                  <input matInput
                    class="text-center"
                    numberonly
                    decimals="0"
                    type="text"
                    autocomplete="off"
                    (change)="onQtyChange(szeGroupIndex,styleIndex,comboIndex,combo,style)"
                    [(ngModel)]="size.quantity">

                </div>
              </td>
              <td>{{combo.colorQty}}</td>
              <td *ngIf="comboIndex==0"
                [attr.rowspan]="style?.combos?.length">{{style.styleQty }}</td>
            </tr>

          </ng-container>

        </table>
      </div>



    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            [custom]="Update"
            (onclick)="updatePoStyleQty()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>