<div id="product"
  class="page-layout carded fullwidth inner-scroll">

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <nav mat-tab-nav-bar>
        <ng-container *ngFor="let tab of tabs">
          <a mat-tab-link
            [routerLink]="['/' + tab.path]"
            routerLinkActive
            #rla="routerLinkActive"
            [routerLinkActiveOptions]="{exact: false}"
            [ngClass]="tab.color"
            [active]="rla.isActive"
            *ngIf="tab.display">
            {{tab.label}}
          </a>
        </ng-container>
      </nav>


      <!-- CONTENT -->
      <div class="content"
        *ngIf="show">
        <div class="tab-content"
          style="height: 100%;"
          fusePerfectScrollbar>
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>