<!-- <mat-toolbar>

  <div *ngIf="!showTooltip"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutAlign.gt-xs="space-between center"
    fxFlex>

    <a href="javascript:;"
      target="_blank"
      mat-button
      class="pink"
      fxFlex="0 0 auto"
      fxLayout="row"
      fxLayoutAlign="start center">
      <mat-icon class="s-16 mr-sm-4">copyright</mat-icon>
      <span>ITConquest</span>
    </a>

    <div fxLayout="row"
      fxLayoutAlign="start center"
      fxHide
      fxShow.gt-xs>
      <a mat-button
        routerLink="/settings">Settings</a>
      <span>&bull;</span>
      <a mat-button
        routerLink="/user-manuals">User Manual</a>
    </div>
  </div>

  <table *ngIf="showTooltip"
    class="ctable">
    <tr>
      <td style="width:15% ; line-height: 11px; font-size: 10px">OrderId</td>
      <td style="width:35% ; line-height: 11px; font-size: 10px">
        {{ planForTooltip.orderId }}
      </td>

      <td style="width:15% ; line-height: 11px; font-size: 10px">orderGroupId
      </td>
      <td style="width:35% ; line-height: 11px; font-size: 10px">
        {{ planForTooltip.orderGroupId }}
      </td>
    </tr>

    <tr>
      <td style="width:15% ; line-height: 11px; font-size: 10px">StyleName</td>
      <td style="width:35% ; line-height: 11px; font-size: 10px">
        {{planForTooltip.styleName}}
      </td>

      <td style="width:15% ;  line-height: 11px; font-size: 10px">Qty</td>
      <td style="width:35% ; line-height: 11px; font-size: 10px">
        {{ planForTooltip.planQuantity }} {{ planForTooltip.orderUnit }}
      </td>
    </tr>
    <tr>
      <td style="width:15% ; line-height: 11px; font-size: 10px">Duration</td>
      <td style="width:35% ; line-height: 11px; font-size: 10px">
        {{ planForTooltip.startTime | date:"medium" }} -
        {{ planForTooltip.endTime| date:"medium"}}
      </td>

      <td style="width:15% ;  line-height: 11px; font-size: 10px">Selected Time
      </td>
      <td style="width:35% ; line-height: 11px; font-size: 10px">
        {{ planForTooltip.onTime| date:"medium" }}
      </td>
    </tr>
  </table>

</mat-toolbar> -->