<div id="products"
  class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->

    <div class="custom-filter-header">
      <div fxLayout='column'
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout='column'
            fxLayout.gt-md="row"
            fxLayoutGap="20px">

          </div>
        </div>
        <div fxFlex.gt-md="100px">
          <span>
            <btn [custom]="'MANUAL'"
              [text]="'add'"
              (click)="openUserManualAddModal(userManualAddModal)"></btn>
          </span>
        </div>
      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <div fxLayout
        fusePerfectScrollbar
        fxLayoutGap="10px">
        <div fxFlex="25%">
          <dx-tree-list id="userManualList"
            [dataSource]="userManualList"
            keyExpr="id"
            parentIdExpr="parentTopic.id"
            [showRowLines]="false"
            [showBorders]="false"
            [columnAutoWidth]="true"
            (onRowClick)=onTopicClick($event)
            [expandedRowKeys]="[]">
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column dataField="topicName"
              caption="Topic"></dxi-column>
            <!-- <dxi-column dataField="parentTopic.topicName"
              caption="Parent Topic"></dxi-column> -->
            <dxi-column dataField="sequence"
              caption="Sequence"></dxi-column>
          </dx-tree-list>
        </div>

        <div fxFlex
          *ngIf="showDetails">
          <table class="ctable noborder">
            <tr>
              <td>
                <span class="bold">Topic: {{selectTopic.topicName}}</span>
                &nbsp;
                <span>
                  <btn-icon [text]="'edit'"
                    (click)="editUserManual();"></btn-icon>
                </span>
              </td>
            </tr>
            <tr>
              <td class="bold">Description:</td>
            </tr>
            <tr>
              <td [innerHTML]="selectTopic.description">
                {{selectTopic?.description}}
              </td>
            </tr>
          </table>
        </div>


        <div fxFlex
          *ngIf="edit">
          <table class="ctable noborder">
            <tr>
              <td class="fit">Sequence:</td>
              <td>
                <mat-form-field>
                  <input matInput
                    type="number"
                    [(ngModel)]="details.sequence"
                    name="sequence">
                </mat-form-field>
              </td>
            </tr>
          </table>
          <br />
          <div [ngxSummernote]="config"
            [(ngModel)]="selectTopic.description">
          </div>
          <!-- <div>
            <p-editor [(ngModel)]="details.description"
              [style]="{'height':'320px'}"></p-editor>
          </div> -->
          <br />
          <btn [text]="'update'"
            (click)="updateUserManual()"></btn>
          <btn [text]="'close'"
            (click)="closeEdit()"></btn>
        </div>

      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>


  <ng-template #userManualAddModal>
    <h2 mat-dialog-title>Create User Manual</h2>
    <mat-dialog-content style="min-height: 35vh;">
      <div fxLayout
        fxLayoutGap="30px">
        <div fxFlex="30%">
          <table class="ctable">
            <tbody>
              <tr>
                <td>Topic Name:</td>
                <td>
                  <mat-form-field>
                    <input matInput
                      [(ngModel)]="userManual.topicName"
                      name="topicName">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Sequence:</td>
                <td>
                  <mat-form-field>
                    <input matInput
                      type="number"
                      [(ngModel)]="userManual.sequence"
                      name="sequence">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>Root:</td>
                <td>
                  <mat-checkbox class="btn-block"
                    [checked]="root"
                    (change)="showOptions($event)">
                  </mat-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <div *ngIf="showParentList">
            <dx-tree-list id="userManualList"
              [dataSource]="userManualList"
              keyExpr="id"
              parentIdExpr="parentTopic.id"
              [showRowLines]="true"
              [showBorders]="true"
              [columnAutoWidth]="true"
              (onRowClick)=onRowClick($event)
              [expandedRowKeys]="[]">
              <dxo-selection mode="single"></dxo-selection>
              <dxi-column dataField="topicName"
                caption="Parent Topic Name"></dxi-column>
            </dx-tree-list>
          </div>
        </div>
        <div fxFlex>
          <div [ngxSummernote]="config"
            [(ngModel)]="userManual.description">
          </div>
          <!-- <div>
            <p-editor [(ngModel)]="userManual.description"
              [style]="{'height':'320px'}"></p-editor>
          </div> -->
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <table class="table-modal-noborder">
        <tr>
          <td>
            <btn [text]="'close'"
              [modalClose]="true"></btn>
          </td>
          <td class="text-right">
            <btn [text]="'save'"
              (click)="addUserManual(true)"></btn>
          </td>
        </tr>
      </table>
    </mat-dialog-actions>
  </ng-template>