<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="10px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">
            <div fxFlex>
              <mat-select multiple
                placeholder="Style Type"
                class="mat-multiple-select"
                [(ngModel)]="filter.styletypeid">
                <mat-option *ngFor="let item of styleTypeList"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select>
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Style Name"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.stylename" />
            </div>
            <div fxFlex
              *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">
              <mat-select multiple
                placeholder="Season"
                class="mat-multiple-select"
                [(ngModel)]="filter.seasonid">
                <mat-option *ngFor="let item of seasonList"
                  [value]="item.id">{{
                  item.label
                  }}</mat-option>
              </mat-select>
            </div>
            <div fxFlex>
              <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
                placeholder="Archive"
                class="mat-multiple-select"
                [(ngModel)]="filter.archive">
                <mat-option [value]="'false'">Active Styles</mat-option>
                <mat-option [value]="'true'">Archived Styles</mat-option>
              </mat-select>
            </div>
            <div fxFlex>

            </div>
          </div>

        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
            <!-- <button *ngIf="!filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = true;">
              <mat-icon>expand_more</mat-icon>
            </button>
            <button *ngIf="filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = false;">
              <mat-icon>expand_less</mat-icon>
            </button> -->
          </span>

        </div>
        <div fxFlex.gt-md="90px"
          *ngIf="_auth.hasPermission('PERMISSION_STYLE_CREATE')">
          <span>
            <btn [custom]="'STYLE'"
              [text]="'add'"
              (onclick)="openCreateModal(styleCreateModal)"></btn>
          </span>
        </div>



      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->

      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>
          <div *ngIf="styles?.length === 0"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlexFill>
            <span class="no-messages-text hint-text">{{
              "Styles"
              }}</span>
          </div>
          <div *ngIf="styles?.length">
            <table class="ctable no-border-top no-border-left"
              style="width: auto !important;">
              <thead class="csticky">
                <th>Sequence</th>
                <th>Image</th>
                <th class="text-left">Style Name
                </th>
                <th>Colors</th>
                <th>Short Description</th>
                <th>Current Promotion</th>
                <th>In Stock Date</th>
                <!-- <th>Description</th> -->
                <th *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')"
                  class="text-center">Season
                </th>
                <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                  class="text-center">
                  Price
                </th>
                <!-- <th class="fit text-center"
                  *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">Archive
                </th> -->
                <th class="fit text-center">Action</th>
              </thead>
              <tbody class="drag-cursor"
                dragula="STYLE_ITEMS"
                id="styles"
                [(dragulaModel)]="styles">
                <tr *ngFor="let style of styles">
                  <td class="text-center">
                    <!-- <a (click)="openUpdateModal(styleUpdateModal, style)"> -->
                    {{style?.sequence || 'N/A' }}
                    <!-- </a> -->
                  </td>
                  <td class="text-center">
                    <img (click)="openGalleryModal(images, style)"
                      class="thumb-image  cursor-pointer"
                      *ngIf="style?.colorImages?.length"
                      [src]="(style?.colorImages)[0]?.thumnailFileUrl" />
                    <img class="thumb-image"
                      *ngIf="!style?.colorImages?.length"
                      src="assets/images/theme/incomming-product-image.png" />
                  </td>
                  <td>
                    <div>
                      <span class="font-big text-blue"> {{ style?.name }}</span>
                    </div>
                    <div>
                      {{ style?.styleBrandLabel }}
                    </div>
                    <div>
                      {{ style?.styleType }}
                    </div>
                  </td>
                  <td>
                    <span *ngFor="let combo of style?.combos; let last=last;"
                      class="text-blue"> {{ combo?.name }}<span
                        *ngIf="!last">,</span> </span>
                  </td>
                  <td>
                    {{ style?.note }}
                  </td>
                  <td>
                    <span *ngIf="style?.saleDiscounts.id"> <b
                        class="text-blue">{{
                        style?.saleDiscounts.discountPercentage
                        }} % </b>
                    </span> &nbsp;
                    <span *ngIf="style?.saleDiscounts.id">{{
                      style?.saleDiscounts.reason }}</span> <br>
                    <span
                      *ngIf="style?.saleDiscounts.id">{{style?.saleDiscounts.fromDate
                      | date}} <span
                        *ngIf="style?.saleDiscounts.fromDate">-</span>
                      {{style?.saleDiscounts.toDate | date}}</span>
                  </td>
                  <td>
                    {{ style?.earliestShipmentDate | date }}
                  </td>
                  <!-- <td>
                    {{ style?.description }}
                  </td> -->
                  <td *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">
                    {{ style?.seasonLabel }}
                  </td>
                  <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                    class="text-right">
                    <span class="font-big">{{
                      style.defaultPrice | currency
                      }}</span>
                  </td>
                  <!-- <td class="text-center"
                    *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                    <span *ngIf="style?.archive == 'true'"
                      class="status-chip status-chip-red">Archive</span>
                  </td> -->
                  <td class="text-center">
                    <div class="mb-8">
                      <btn-small [text]="'link'"
                        [custom]="'Details'"
                        (onclick)="goLink(style.id)"></btn-small>
                    </div>
                    <div class="mb-8"
                      *ngIf="_auth.hasPermission('PERMISSION_STYLE_EDIT')">
                      <btn-small [text]="'edit'"
                        class="mt-4"
                        (onclick)="openEditModal(style.id)"></btn-small>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>

<ng-template #styleCreateModal>
  <h2 mat-dialog-title>Add New Style</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <table class="ctable noborder">
      <tr>
        <th style="width: 155px;">Style Type <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <general-autocomplete [items]="styleTypeList"
            bindLabel="name"
            (change)="newStyle.styleTypeId = $event && $event.id">
          </general-autocomplete>
        </td>
      </tr>
      <tr>
        <th>Style Brand <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <general-autocomplete [items]="styleBrandList"
            bindLabel="label"
            (change)="newStyle.styleBrandId = $event && $event.id">
          </general-autocomplete>
        </td>
      </tr>
      <tr>
        <th>Size Group <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <general-autocomplete [items]="sizeGroupList"
            bindLabel="name"
            (change)="newStyle.sizeGroupId = $event && $event.id">
          </general-autocomplete>
        </td>
      </tr>
      <tr>
        <th>Season <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <general-autocomplete [items]="seasonList"
            bindLabel="label"
            (change)="newStyle.seasonId = $event && $event.id">
          </general-autocomplete>
        </td>
      </tr>
      <tr>
        <th>Style Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newStyle.name"
              #name="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Catelogue Name</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newStyle.catalogName"
              #catalogName="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Short Description</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newStyle.note"
              #note="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Description</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field class="w-100-p">
            <textarea matInput
              [(ngModel)]="newStyle.description"
              #description="ngModel"></textarea>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <th>Heatmap (1-15)</th>
        <th class="fit">:</th>
        <td>
          <div style="width: 120px;">
            <mat-form-field>
              <input matInput
                type="number"
                [(ngModel)]="newStyle.heatmap"
                #heatmap="ngModel" />
            </mat-form-field>
          </div>

        </td>
      </tr>

      <tr>
        <th>Cost Type<span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <general-autocomplete bindLabel="label"
            [items]="costTypes"
            [selectedId]="newStyle?.costType"
            (change)="newStyle.costType = $event && $event.id">
          </general-autocomplete>
        </td>
      </tr>


      <tr>
        <th>Customer Min. Rating <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <div style="width: 120px;">
            <mat-select placeholder="Style Rating"
              class="mat-multiple-select"
              [(ngModel)]="newStyle.minimumRatingRequired"
              (selectionChange)="onRatingChange($event.value)">
              <mat-option *ngFor="
                                                    let
                                                    rate
                                                    of
                                                    ratingList"
                [value]="rate.id">{{ rate.id }}</mat-option>
            </mat-select>
          </div>

        </td>
      </tr>

      <tr>
        <th>Weight</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field style="width: 200px;">
            <input matInput
              type="text"
              [(ngModel)]="newStyle.weight"
              #weight="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Composition</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field style="width: 200px;">
            <input matInput
              type="text"
              [(ngModel)]="newStyle.composition"
              #composition="ngModel" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>In Stock</th>
        <th class="fit">:</th>
        <td>
          <div style="width: 200px;">
            <date-picker
              (change)="newStyle.earliestShipmentDate=$event.dateFormatted"
              hideLabel="true"
              [dateValue]="newStyle.earliestShipmentDate || null">
            </date-picker>
          </div>
        </td>
      </tr>
      <tr>
        <th>Low Stock Trigger</th>
        <th class="fit">:</th>
        <td>
          <div style="width: 120px;">
            <mat-form-field>
              <input matInput
                type="number"
                [(ngModel)]="newStyle.lowStockQty"
                #lowStockQty="ngModel" />
            </mat-form-field>
          </div>

        </td>
      </tr>

      <tr>
        <!-- <th style="width: 150px;">Credit Card Activate
                  </th>
                  <th class="fit">:</th> -->
        <td colspan="3">
          <mat-checkbox class="btn-block"
            [(ngModel)]="newStyle.paymentRequired">Credit Card Activate
          </mat-checkbox>
        </td>
      </tr>
      <tr *ngIf="newStyle.paymentRequired">
        <th style="width: 150px;">CC Upcharge
        </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="number"
              [(ngModel)]="newStyle.ccUpCharge"
              #accountantEmail="ngModel" />
          </mat-form-field>
        </td>
      </tr>

    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (onclick)="createStyle()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>

<ng-template #styleUpdateModal>
  <h2 mat-dialog-title>Style Sequence Update</h2>
  <mat-dialog-content style="min-height: 10px;">
    <table class="ctable noborder">
      <tr>
        <th style="width: 90px;">Sequence</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field style="width: 200px;">
            <input matInput
              type="number"
              class="text-center"
              [(ngModel)]="editStyle.sequence"
              #weight="ngModel" />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (onclick)="updateStyle()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>

<ng-template #images>
  <h2 mat-dialog-title>{{styleGallery?.title}}</h2>
  <mat-dialog-content style="min-height: 55vh;">

    <photo-gallery [entityId]="styleGallery?.styleId"
      [enableEdit]="false"
      [entityType]="'style_image'"></photo-gallery>

  </mat-dialog-content>
  <mat-dialog-actions>
    <btn [text]="'close'"
      [modalClose]="true"></btn>
  </mat-dialog-actions>
</ng-template>