<div mat-dialog-title>
  <div fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="center center">
    <div fxFlex>
      <span *ngIf="!isUpdate">Generate Invoice</span>
      <span *ngIf="isUpdate">Update Invoice</span>
    </div>
    <div fxFlex
      class="text-right">
      {{shipment?.customerName}}
    </div>
  </div>
</div>

<mat-dialog-content style="min-height: 35vh;">
  <table class="ctable noborder">
    <tr>
      <td class="fit">Invoice Date</td>
      <td style="width: 180px;">
        <date-picker (change)="invoiceDetails.invoiceDate=$event.dateFormatted"
          hideLabel="true"
          [dateValue]="invoiceDetails.invoiceDate || null">
        </date-picker>
      </td>
      <td></td>
      <td style="width: 75px;">Due Time</td>
      <td style="width: 180px;">
        <div *ngIf="!isUpdate && invoiceDetails.dueDateFlag != 'CUSTOM'">
          <mat-select placeholder="Due Time"
            class="mat-multiple-select"
            [(ngModel)]="invoiceDetails.dueDateFlag">
            <mat-option value="0">On Receipt</mat-option>
            <mat-option value="30">Within 30 Days</mat-option>
            <mat-option value="60">Within 60 Days</mat-option>
            <mat-option value="CUSTOM">Date Picker</mat-option>
          </mat-select>
        </div>
        <div *ngIf="invoiceDetails.dueDateFlag == 'CUSTOM'"
          style="display:flex;width: 80%; ">
          <date-picker
            (change)="invoiceDetails.paymentDueDate=$event.dateFormatted"
            hideLabel="true"
            [dateValue]="invoiceDetails.paymentDueDate || null">
          </date-picker>
          <button mat-icon-button
            style="line-height: 10px;"
            class="remove-color-button secondary-text"
            (click)="closeDatePicker()"
            aria-label="Remove color"
            matTooltip="Close Date Picker">
            <mat-icon class="s-20">cancel</mat-icon>
          </button>
        </div>

        <div *ngIf="isUpdate">
          <date-picker
            (change)="invoiceDetails.paymentDueDate=$event.dateFormatted"
            hideLabel="true"
            [dateValue]="invoiceDetails.paymentDueDate || null">
          </date-picker>
        </div>

      </td>
    </tr>
  </table>
  <div>
    <table class="ctable">
      <tr class="header-bg">
        <th>Items</th>
        <th class="text-right">Unit Price</th>
        <th class="text-right">Qty</th>
        <th style="width: 160px;"
          class="text-right">Amount</th>
      </tr>
      <tbody>
        <tr *ngFor="let style of styleBreakdown;let styleIndex = index">
          <td>
            <div class="title"
              (click)="goLink(style?.id)">
              {{ style?.name }}
            </div>
          </td>
          <td class="text-right">
            {{style.price | number: '1.2-2'}}
          </td>
          <td class="text-right">
            <div>
              {{ style?.totalQty }}
            </div>
          </td>
          <td class="text-right">
            <div>
              {{style?.totalPrice | number: '1.2-2'}}
            </div>
          </td>
        </tr>
        <tr>
          <th [attr.colspan]="2"
            class="text-right">
            <div class="title">Subtotal</div>
          </th>
          <th class="text-right">
            <span>{{shipment?.totalQty}}</span>
          </th>
          <th class="text-right">
            <span>{{shipment?.totalPrice | number:
              '1.2-2'}}</span>
          </th>
        </tr>
        <tr>
          <td [attr.colspan]="3"
            class="text-right">
            <div class="title">Tax <span class="text-blue">(
                {{invoiceDetails?.invoiceTaxRate}}%)</span>
            </div>
          </td>
          <td class="text-right">
            <input matInput
              class="text-right"
              (change)="invoiceCalculate()"
              type="number"
              disabled
              [(ngModel)]="invoiceDetails.tax">
          </td>
        </tr>
        <tr>
          <td [attr.colspan]="3">
            <div class="title"
              style="float: left;">{{shipment?.noOfBox}} Box(s) shipped by
              {{shipment?.courierCompany}}</div>
            <div class="title"
              style="float: right;">Shipping Charge</div>
          </td>
          <td class="text-right">
            <input matInput
              class="text-right"
              (change)="invoiceCalculate()"
              type="number"
              [(ngModel)]="invoiceDetails.freightCharge">
          </td>
        </tr>

        <tr>
          <td [attr.colspan]="3"
            class="text-right">
            <div class="title">Handling Charge</div>
          </td>
          <td class="text-right">
            <input matInput
              class="text-right"
              (change)="invoiceCalculate()"
              type="number"
              [(ngModel)]="invoiceDetails.handlingCharge">
          </td>
        </tr>
        <tr>
          <td [attr.colspan]="3">
            <div fxLayout="row"
              fxLayoutAlign="center center">
              <div fxFlex="100px">Other Charges</div>
              <div fxFlex>
                <input matInput
                  type="text"
                  [(ngModel)]="invoiceDetails.otherChargeCause">
              </div>

            </div>
          </td>
          <td class="text-right">
            <input matInput
              class="text-right"
              (change)="invoiceCalculate()"
              type="number"
              [(ngModel)]="invoiceDetails.otherCharge">
          </td>
        </tr>
        <tr>
          <td [attr.colspan]="3"
            class="text-right">
            <div class="title">Other Discount</div>
          </td>
          <td class="text-right">
            <input matInput
              class="text-right"
              (change)="invoiceCalculate()"
              type="number"
              [(ngModel)]="invoiceDetails.discount">
          </td>
        </tr>
        <tr>
          <th [attr.colspan]="3"
            class="text-right">
            <div class="title">Total</div>
          </th>
          <th class="text-right">
            {{invoiceDetails?.netTotal| number:
            '1.2-2'}}
          </th>
        </tr>
      </tbody>
    </table>
    <table class="ctable">
      <tbody>
        <tr>
          <th class="fit">Remarks: </th>
          <td>
            <input matInput
              type="text"
              [(ngModel)]="invoiceDetails.comment">
          </td>
        </tr>
        <tr *ngIf="isUpdate && invoiceDetails?.invoiceRevision">
          <th class="fit">Invoice Note: </th>
          <td>
            <input matInput
              type="text"
              [(ngModel)]="invoiceDetails.invoiceRevision.revisionCause">
          </td>
        </tr>

      </tbody>
    </table>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn *ngIf="!isUpdate"
          [text]="'add'"
          [custom]="'Generate & Send'"
          (onclick)="createInvoice(true)"></btn>
        <btn *ngIf="isUpdate"
          [text]="'update'"
          (onclick)="createInvoice(false)"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>