<div class="my-8">
  <div>

    <div fxLayout="row">
      <div fxFlex>
        <span class="mat-title">Commission Details
        </span>
      </div>
      <div fxFlex
        class="text-right">
        <btn-small [text]="'add'"
          (onclick)="addModalOpen(invest)"></btn-small>
      </div>
    </div>
    <table class="ctable">
      <tr class="header-bg">
        <th class="fit">Thumb</th>
        <th class="text-center">Style</th>
        <th class="text-center"
          style="width: 120px;">Investor Percentage (%)</th>
        <th class="text-center"
          style="width: 120px;">Invest Quantity</th>
        <th class="text-center"
          style="width: 120px;">Start Date</th>
        <th class="text-center"
          style="width: 120px;">Costing Date</th>
        <th class="text-center"
          style="width: 200px">Action</th>
      </tr>

      <ng-container
        *ngFor="let style of partnerStyleList; let parentIndex = index">
        <tr
          *ngFor="let item of style?.commissionSetupStyleDetails; let childIndex = index">
          <td class="text-center"
            [hidden]="childIndex > 0"
            [attr.rowspan]="style?.commissionSetupStyleDetails?.length"></td>
          <td class="text-center"
            [hidden]="childIndex > 0"
            [attr.rowspan]="style?.commissionSetupStyleDetails?.length">
            {{style?.styleName}}
          </td>
          <td class="text-center">{{item?.commissionPercentage}}</td>
          <td class="text-center">{{item?.partnerQty}}</td>
          <td class="text-center">{{item?.startDate | date: 'mediumDate'}}</td>
          <td class="text-center">
            <span *ngIf="item?.styleCost?.date">{{item?.styleCost?.date}}</span>
            <span *ngIf="!item?.styleCost?.date">Not Completed</span>
          </td>
          <td class="text-center">
            <btn-small [text]="'edit'"
              (onclick)="editUpdateModalOpen(investItem, style, item)">
            </btn-small>
            <btn-small [text]="'delete'"
              (onclick)="deleteSalesCommissionStyleItem(style.id, item.id)">
            </btn-small>
          </td>
        </tr>
      </ng-container>


    </table>
  </div>
</div>



<ng-template #invest>
  <h2 mat-dialog-title>Invest</h2>
  <mat-dialog-content style="min-height: 300px;">
    <table class="ctable noborder">
      <tr>
        <th style="width: 165px;">Style<span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <ng-select [items]="styleList"
            [clearable]="true"
            [multiple]="false"
            [closeOnSelect]="true"
            [hideSelected]="true"
            bindLabel="name"
            bindValue="id"
            placeholder="Select Style"
            appendTo="body"
            [(ngModel)]="newStyle.styleId"
            (change)="onStyleChange()">
          </ng-select>
        </td>
      </tr>
      <tr>
        <th>Investor Percentage(%)<span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="styleDetails.commissionPercentage"
              #commissionPercentage="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Investor Quantity<span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="styleDetails.partnerQty"
              #partnerQty="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Start Date<span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <date-picker (change)="styleDetails.startDate = $event.dateFormatted"
            hideLabel="true"
            [labelName]="'Start Date'"
            [dateValue]="styleDetails.startDate">
          </date-picker>
        </td>
      </tr>
      <tr>
        <th>Costing Date<span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <ng-select [items]="styleCostList"
            [clearable]="true"
            [multiple]="false"
            [closeOnSelect]="true"
            [hideSelected]="true"
            bindLabel="date"
            bindValue="id"
            placeholder="Cost "
            appendTo="body"
            [(ngModel)]="styleDetails.styleCostId">
          </ng-select>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            (onclick)="closeStyleInvestModal()"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (onclick)="addStyle()"></btn>
        </td>
      </tr>
    </table>

  </mat-dialog-actions>
</ng-template>

<ng-template #investItem>
  <h2 mat-dialog-title>{{newStyle?.styleName}} Invest Edit</h2>
  <mat-dialog-content style="min-height: 300px;">
    <table class="ctable noborder">
      <tr>
        <th>Investor Percentage(%)<span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="styleDetails.commissionPercentage"
              #commissionPercentage="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Investor Quantity<span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="styleDetails.partnerQty"
              #partnerQty="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Start Date<span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <date-picker (change)="styleDetails.startDate = $event.dateFormatted"
            hideLabel="true"
            [labelName]="'Start Date'"
            [dateValue]="styleDetails.startDate">
          </date-picker>
        </td>
      </tr>
      <tr>
        <th>Costing Date<span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <ng-select [items]="styleCostList"
            [clearable]="true"
            [multiple]="false"
            [closeOnSelect]="true"
            [hideSelected]="true"
            bindLabel="date"
            bindValue="id"
            placeholder="Cost "
            appendTo="body"
            [(ngModel)]="styleDetails.styleCostId">
          </ng-select>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            (onclick)="closeStyleInvestModal()"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (onclick)="addUpdateStyleItem()"></btn>
        </td>
      </tr>
    </table>

  </mat-dialog-actions>
</ng-template>