<h2 mat-dialog-title>Order History</h2>
<mat-dialog-content style="max-height: calc(100vh - 120px);">

  <div class="custom-filter-header">
    <div fxLayout="column"
      fxLayout.gt-md="row"
      fxLayoutGap="30px">
      <div fxFlex>
        <div class="custom-filter-row-first"
          fxLayout="column"
          fxLayout.gt-md="row"
          fxLayoutGap="20px">
          <div fxFlex
            fxLayoutAlign="space-between center">
            <div fxFlex>
              <date-picker (change)="filter.fromdate = $event.dateFormatted"
                hideLabel="true"
                [labelName]="'From Date'"
                [dateValue]="filter.fromdate">
              </date-picker>
            </div>
          </div>
          <div fxFlex
            fxLayoutAlign="space-between center">
            <div fxFlex>
              <date-picker (change)="filter.todate = $event.dateFormatted"
                hideLabel="true"
                [labelName]="'To Date'"
                [dateValue]="filter.todate">
              </date-picker>
            </div>
          </div>

          <div fxFlex>
            <!-- <mat-select multiple
              placeholder="Status"
              class="mat-multiple-select"
              [(ngModel)]="filter.statusname">
              <mat-option *ngFor="let item of statusList"
                [value]="item.name">{{ item.label }}</mat-option>
            </mat-select> -->
          </div>
          <div fxFlex>
            <!-- <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
              placeholder="Sales Rep"
              class="mat-multiple-select"
              [(ngModel)]="filter.salerepid">
              <mat-option *ngFor="let item of saleRepList"
                [value]="item.id">{{ item.fullname }}</mat-option>
            </mat-select> -->
          </div>
        </div>
      </div>
      <div fxFlex.gt-md="80px"
        class="filter-options">
        <span>
          <span class="filter-btn-with-counter">
            <span *ngIf="filterCounter"
              class="filter-counter">{{
              filterCounter
              }}</span>
            <button class="filter-btn filter-submit"
              mat-icon-button
              (click)="onFilter()">
              <mat-icon>search</mat-icon>
            </button>
          </span>

          <button class="filter-btn filter-clear"
            mat-icon-button
            (click)="onClear()">
            <mat-icon>clear_all</mat-icon>
          </button>
        </span>

      </div>
    </div>
  </div>

  <!-- / HEADER -->


  <div fxLayout>
    <div fxFlex>
      <div *ngIf="orders?.length === 0"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxFlexFill>
        <span class="no-messages-text hint-text">{{
          "Orders"
          }}</span>
      </div>
      <div *ngIf="orders?.length">
        <table class="ctable">
          <thead>
            <th style="width: 100px;"
              class="text-center cursor-pointer"
              (click)="onSort('id', 'number')">
              PO#
              <sorter-icon class="sorter-icon"
                [flag]="sorter.field == 'id'"
                [sortType]="sorter.sortType">
              </sorter-icon>
            </th>
            <th class="text-center cursor-pointer"
              (click)="onSort('orderDate', 'date')"
              style="width: 100px;">
              Order Date
              <sorter-icon class="sorter-icon"
                [flag]="sorter.field == 'orderDate'"
                [sortType]="sorter.sortType">
              </sorter-icon>
            </th>
            <th class="fit text-center"
              style="width: 100px;">Status</th>
            <th class="text-center"
              style="width: 100px;">Customer</th>
            <th class="cursor-pointer"
              class="text-center"
              style="width: 100px;"
              (click)="onSort('shipmentDate', 'date')">
              Requested
              Ship Date
              <sorter-icon class="sorter-icon"
                [flag]="sorter.field == 'shipmentDate'"
                [sortType]="sorter.sortType">
              </sorter-icon>
            </th>

            <th class="text-center"
              style="width: 100px;">Initiated By</th>
            <th class="text-center"
              style="width: 100px;">Placed By</th>

            <th class="text-center"
              style="width: 100px;">Customer PO#</th>

            <th class="text-right"
              style="width: 100px;">Order Qty
              <span style="color: blue"
                *ngIf="total?.order"><br>
                {{total?.order}} pcs
              </span>
            </th>
            <th class="text-right"
              style="width: 100px;"
              *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
              Subtotal
              <span style="color: blue"
                *ngIf="total?.order"><br>
                {{total?.orderValue | currency}}
              </span>
            </th>
            <th class="text-center"
              style="width: 100px;">Ship Date</th>
            <th class="text-right"
              style="width: 100px;">Shipped Qty
              <span style="color: green"
                *ngIf="total?.order"><br>
                {{total?.shipped}} pcs
              </span>
            </th>

            <th class="text-center"
              style="width: 100px;"
              *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
              Total
            </th>


            <!-- <th class="text-right"
            style="width: 100px;"
            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
            Net Shipped Value
            <span style="color: green"
              *ngIf="total?.order"><br>
              {{total?.shippedValue | currency}}
            </span>
          </th> -->

            <th class="fit text-center"
              style="width: 100px;"
              *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
              Payment</th>
          </thead>
          <tbody>
            <tr class="minimum-hight-list"
              *ngFor="let order of orders"
              [ngClass]="{ 'current-item': order?.id == orderId }">
              <td class="text-center">{{order.rimsPoNo }}</td>
              <td class="text-center">
                {{ order?.orderDate | date: "mediumDate" }}
              </td>
              <td class="text-center">
                <span *ngIf="order?.status == 'draft'"
                  class="status-chip status-chip-draft">{{order?.status}}</span>
                <!-- <span *ngIf="order?.status == 'approved'"
                      class="status-chip status-chip-approved">{{order?.status}}</span> -->
                <span *ngIf="order?.status == 'new' && !order?.approved"
                  class="status-chip status-chip-approved">
                  Pending
                  Approval
                </span>
                <span *ngIf="order?.status == 'new' && order?.approved"
                  class="status-chip status-chip-new">Accepted</span>
                <span *ngIf="order?.status == 'shipped'"
                  class="status-chip status-chip-shipped">{{order?.status}}</span>
                <span *ngIf="order?.status == 'partial_shipped'"
                  class="status-chip status-chip-partial-shipped">Partial<br />Shipped</span>
                <span *ngIf="order?.status == 'cancel'"
                  class="status-chip status-chip-cancel">Cancelled</span>

                <span *ngIf="!order?.status"
                  class="status-chip status-chip-gray">Empty</span>
                <span *ngIf="order?.packing"
                  class="status-chip status-chip-packing"><br />(Packing)</span>
              </td>
              <td class="text-center">
                {{ order?.customer?.name }}
              </td>
              <td class="text-center">
                <span>{{
                  order?.shipmentDate | date: "mediumDate"
                  }}</span>
              </td>

              <td class="text-center">
                {{ order?.createdBy?.name }}<br />
                <span *ngIf="order?.createdByRole== 'ROLE_ADMIN'">
                  (Admin)</span>
                <span *ngIf="order?.createdByRole== 'ROLE_CUSTOMER'">
                  (Customer)</span>
                <span *ngIf="order?.createdByRole== 'ROLE_SALES'"> (Sales
                  Rep)</span>
                <span *ngIf="order?.createdByRole== 'ROLE_PARTNER'">
                  (Partner)</span>
              </td>
              <td class="text-center">
                {{ order?.orderBy?.name }}<br />
                <span *ngIf="order?.orderByRole== 'ROLE_ADMIN'">
                  (Admin)</span>
                <span *ngIf="order?.orderByRole== 'ROLE_CUSTOMER'">
                  (Customer)</span>
                <span *ngIf="order?.orderByRole== 'ROLE_SALES'"> (Sales
                  Rep)</span>
                <span *ngIf="order?.orderByRole== 'ROLE_PARTNER'">
                  (Partner)</span>
              </td>
              <td class="text-center">
                <span *ngIf="order?.poNo">{{ order?.poNo}}</span>
                <span class="text-gray"
                  *ngIf="!order?.poNo">N/A</span>
              </td>
              <td class="text-right">
                <span class="font-medium">
                  {{ order?.orderQty }}
                </span>
              </td>

              <td class="text-right"
                *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
                <span class="font-medium">{{
                  order.totalValue | currency
                  }}</span>
              </td>
              <td class="text-center">
                <div *ngFor="let shipDate of order?.shipmentDateList">
                  <a>{{shipDate?.shipmentDate | date: 'mediumDate'}}</a>
                </div>
              </td>
              <td class="text-right">
                <span class="font-medium text-green">
                  {{ order?.shipQty }}
                </span>
              </td>
              <td class="text-center"
                *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
                <a class="cursor-pointer"
                  (click)="openDetailsModal(order)">
                  <span *ngIf="order?.status == 'shipped'">
                    <span *ngIf="order.invoiceValue">{{ order.invoiceValue
                      | currency }}</span>
                    <span *ngIf="!order.invoiceValue">Pending</span>
                  </span>
                  <span
                    *ngIf="(order?.status == 'partial_shipped') && (order?.status != 'shipped')">Pending</span>
                </a>
              </td>
              <td class="text-center"
                *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
                <span *ngIf="order?.paymentStatus == 'Paid'"
                  class="status-chip status-chip-green">{{order?.paymentStatus}}</span>
                <span *ngIf="order?.paymentStatus == 'Unpaid'"
                  class="status-chip status-chip-red">{{order?.paymentStatus}}</span>
                <span *ngIf="order?.paymentStatus == 'Partial paid'"
                  class="status-chip status-chip-orange">{{order?.paymentStatus}}</span>
                <span *ngIf="order?.paymentStatus == 'N/A'"
                  class="status-chip status-chip-gray">{{order?.paymentStatus}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>



  </div>







</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>