<h2 mat-dialog-title>Customer Details</h2>
<mat-dialog-content class="scrollable"
  style="height: calc(100vh - 120px);">
  <mat-tab-group>
    <mat-tab label="Basic Info">
      <customer-basic [customerId]="customerId"></customer-basic>
    </mat-tab>
    <mat-tab label="Users">
      <ng-template matTabContent>
        <customer-user [customerId]="customerId"></customer-user>
      </ng-template>
    </mat-tab>
    <mat-tab label="Shipping Address">
      <ng-template matTabContent>
        <customer-address [customerId]="customerId"
          [addressType]="'SHIPPING'"></customer-address>
      </ng-template>

    </mat-tab>
    <mat-tab label="Billing Address">
      <ng-template matTabContent>
        <customer-address [customerId]="customerId"
          [addressType]="'BILLING'"></customer-address>
      </ng-template>

    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn *ngIf="typeFlag=='accept'"
          [text]="'update'"
          [custom]="'Accept'"
          (onclick)="updateCustomer()"></btn>
        <btn *ngIf="typeFlag=='update'"
          [text]="'update'"
          (onclick)="updateCustomer()"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>