<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">
            <div fxFlex
              *ngIf="userRole != 'ROLE_SALES'">
              <mat-select placeholder="Commission User"
                class="mat-multiple-select"
                (selectionChange)="onFilter()"
                [(ngModel)]="filter.commissionuserid">
                <mat-option>All Users</mat-option>
                <mat-option *ngFor="let item of userList"
                  [value]="item.id">{{ item.fullname }}</mat-option>
              </mat-select>
            </div>
            <div fxFlex
              fxLayoutAlign="space-between center">
              <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowleft'"
                  (click)="onDateNextPrivious(false)"></btn-icon>
              </div> -->
              <div fxFlex>
                <date-picker (change)="filter.fromdate = $event.dateFormatted"
                  hideLabel="true"
                  [labelName]="'From Date'"
                  [dateValue]="filter.fromdate">
                </date-picker>
              </div>
            </div>
            <div fxFlex
              fxLayoutAlign="space-between center">
              <div fxFlex>
                <date-picker (change)="filter.todate = $event.dateFormatted"
                  hideLabel="true"
                  [labelName]="'To Date'"
                  [dateValue]="filter.todate">
                </date-picker>
              </div>
              <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowright'"
                  (click)="onDateNextPrivious(true)"></btn-icon>
              </div> -->
            </div>


            <div fxFlex>
              <mat-select placeholder="Customer"
                class="mat-multiple-select"
                (selectionChange)="onFilter()"
                [(ngModel)]="filter.customerid">
                <mat-option *ngFor="let item of customerList"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select>
            </div>
            <div fxFlex>
              <!-- <mat-select multiple
                placeholder="Status"
                class="mat-multiple-select"
                [(ngModel)]="filter.statusname">
                <mat-option *ngFor="let item of statusList"
                  [value]="item.name">{{ item.label }}</mat-option>
              </mat-select> -->
            </div>
          </div>
        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
            <!--<button *ngIf="!filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = true;">
              <mat-icon>expand_more</mat-icon>
            </button>
             <button *ngIf="filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = false;">
              <mat-icon>expand_less</mat-icon>
            </button> -->
          </span>

        </div>
        <div fxFlex.gt-md="250px"
          *ngIf="_auth.hasPermission('PERMISSION_COMMISSION_PAYMENT_CREATE') || _auth.hasPermission('PERMISSION_COMMISSION_DISCOUNT_CREATE')">
          <span
            *ngIf="_auth.hasPermission('PERMISSION_COMMISSION_DISCOUNT_CREATE')">
            <btn [custom]="'Discount'"
              [text]="'add'"
              (onclick)="openDiscountModal()"></btn>
          </span>
          <span
            *ngIf="_auth.hasPermission('PERMISSION_COMMISSION_PAYMENT_CREATE')">
            <btn [custom]="'Payment'"
              [text]="'add'"
              (onclick)="openPaymentModal()"></btn>
          </span>
        </div>
      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->

      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>
          <div *ngIf="commissionList?.length === 0"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlexFill>
            <span class="no-messages-text hint-text">Earnings</span>
          </div>
          <div class="pr-8"
            *ngIf="commissionList?.length">
            <table class="ctable no-border-top no-border-left"
              style="width: auto !important;">

              <thead class="csticky">
                <th class="text-center width-100">Date</th>
                <th class="text-center width-100">Tran. Type</th>
                <th class="text-center width-100"
                  *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">Comm.
                  User</th>
                <th class="text-center width-100">Role</th>
                <th class="text-center width-100">Comm. Type</th>
                <th class="text-center width-100">Invoice #</th>
                <th class="text-center width-100">Style #</th>
                <th class="text-center width-100">Color</th>
                <!-- <th class="text-center width-100"
                  *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">Customer
                </th> -->
                <th class="text-center width-100"
                  *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">Cust. Rep
                </th>
                <th class="text-center width-100">Qty
                  <span style="color: blue"
                    *ngIf="total?.shipQty"><br>
                    {{total?.shipQty}}
                  </span>
                </th>
                <th class="text-right width-100">Value
                  <span style="color: blue"
                    *ngIf="total?.shipValue"><br>
                    {{total?.shipValue | currency}}
                  </span>
                </th>
                <th class="text-right width-100">Earnings
                  <span style="color: blue"
                    *ngIf="total?.commission"><br>
                    {{total?.commission | currency}}
                  </span>
                </th>
                <th class="text-right width-100">Payment
                  <span style="color: blue"
                    *ngIf="total?.payment"><br>
                    {{total?.payment | currency}}
                  </span>
                </th>
                <th class="text-right width-100">Balance
                </th>
                <th class="text-center width-100"
                  *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                  Cost Date</th>
                <th class="fit">Details</th>
              </thead>
              <tbody>
                <tr *ngFor="let comm of commissionList">
                  <td class="text-center width-100">{{comm?.date | date:
                    'mediumDate'}}
                  </td>
                  <td class="text-center">{{comm?.transactionType}}
                  </td>
                  <td class="text-center"
                    *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                    <span matTooltip="{{comm?.commissionUser}}">
                      {{ (comm?.commissionUser.length>10)? (comm?.commissionUser
                      |
                      slice:0:9)+'...':(comm?.commissionUser) }}
                    </span>
                  </td>
                  <td class="text-center">
                    <span *ngIf="comm?.commissionUserRole== 'ROLE_SALES'">Sales
                      Rep.</span>
                    <span *ngIf="comm?.commissionUserRole== 'ROLE_PARTNER'">
                      Manager</span>
                    <span *ngIf="comm?.commissionUserRole== 'ROLE_INVESTOR'">
                      Investor</span>
                  </td>
                  <td class="text-center">{{comm?.comType}}</td>
                  <td class="text-center width-100">{{comm?.invoiceNo}}</td>
                  <td class="text-center">{{comm?.styleName}}</td>
                  <td class="text-center">{{comm?.comboName}}</td>
                  <!-- <td class="text-center"
                    *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                    <span matTooltip="{{comm?.customerName}}">
                      {{ (comm?.customerName.length>10)? (comm?.customerName |
                      slice:0:9)+'...':(comm?.customerName) }}
                    </span>
                  </td> -->
                  <td class="text-center"
                    *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                    <span matTooltip="{{comm?.saleRep}}">
                      {{ (comm?.saleRep.length>10)? (comm?.saleRep
                      |
                      slice:0:9)+'...':(comm?.saleRep) }}
                    </span>
                  </td>
                  <td class="text-center width-100">
                    <span *ngIf="comm?.transactionType == 'Invoice'">
                      {{comm?.shipQty}}
                    </span>
                  </td>
                  <td class="text-right width-100">
                    <span *ngIf="comm?.transactionType == 'Invoice'">
                      {{comm?.shipValue | currency}}
                    </span>
                  </td>
                  <td class="text-right width-100">
                    <span *ngIf="comm?.transactionType != 'Payment'">
                      <span *ngIf="comm?.transactionType != 'Discount'">
                        {{comm?.amount | currency}}
                      </span>
                      <span class="text-red"
                        *ngIf="comm?.transactionType == 'Discount'">
                        ({{comm?.amount | currency}})
                      </span>

                    </span>
                  </td>
                  <td class="text-right width-100">
                    <span style="color: green"
                      *ngIf="comm?.transactionType == 'Payment'">
                      {{comm?.amount | currency}}
                    </span>
                  </td>
                  <td class="text-right width-100">
                    {{comm?.balance | currency}}
                  </td>
                  <td class="text-center width-100"
                    *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                    {{comm?.styleCostDate |
                    date:
                    'mediumDate'}}
                  </td>
                  <td>
                    <!-- <btn-small *ngIf="comm?.transactionType == 'Invoice'"
                      [text]="'add'"
                      [custom]="'Details'"
                      (onclick)="openCommissionDetails(comm)"></btn-small> -->
                    <btn-small *ngIf="comm?.transactionType == 'Payment'"
                      (onclick)="openPaymentDetails(comm.dbId)"
                      [text]="'add'"
                      [custom]="'Details'"></btn-small>
                    <btn-small *ngIf="comm?.transactionType == 'Discount'"
                      [text]="'add'"
                      [custom]="'Details'"
                      (onclick)="openDiscountDetails(comm.dbId)"></btn-small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>







      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>