<h2 mat-dialog-title>Box History</h2>
<mat-dialog-content style="min-height: 55vh;">
  <span class="mat-title text-green">Total Quantity : <b
      class="text-blue">{{boxData?.qty || boxData?.quantity }} </b>
  </span>
  &nbsp;
  <span>
    Location: &nbsp; {{boxData.locationName}}
  </span>
  <span class="box-number-tag mb-8">
    # {{boxData?.boxNumber}}
  </span>
  <table class="ctable mt-8  p-12">
    <tr class="header-bg csticky">
      <th class="text-center fit">Date</th>
      <th class="text-center fit">Style</th>
      <th class="text-center fit">Color</th>
      <th class="text-center fit">Size</th>
      <th class="text-center fit">Action</th>
      <th class="text-center fit">Action Qty</th>
      <th class="text-center fit">Qty</th>
      <th class="text-center fit">System Comments</th>
      <th class="text-center fit">User Comments</th>
    </tr>
    <ng-container>
      <tr *ngFor="let history of boxHistoryList; let styleIndex = index">
        <th class="text-center fit">{{history?.date | date}}</th>
        <th class="text-center fit">{{history?.styleName}}</th>
        <th class="text-center fit">{{history?.comboName}}</th>
        <th class="text-center fit">{{history?.sizeName}}</th>
        <th class="text-center fit">{{history?.inventoryAdjustmentTypeLabel}}
        </th>
        <th class="text-center fit">{{history?.actionQty}}</th>
        <th class="text-center fit">{{history?.runningQty}}</th>
        <th class="text-center fit">{{history?.systemComment}}</th>
        <th class="text-center fit">
          <span [innerHTML]="history.comment"></span>
        </th>
      </tr>
    </ng-container>
  </table>


</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>

    </tr>
  </table>
</mat-dialog-actions>