<div fxLayout="row">
  <div fxFlex>
    <style-basic [displayType]="'tiny'"
      [style]="style">
    </style-basic>
  </div>
  <div fxFlex></div>
</div>

<div *ngIf="styleColorList?.length">
  <span class="mat-title">Style Inventory
    <btn-icon *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_CREATE')"
      [text]="'add'"
      (onclick)="openAddStyleInventoryModal()"></btn-icon>
  </span>
  <table class="ctable"
    style="width: auto !important;">
    <tr class="header-bg">
      <th>Color</th>
      <th style="width: 150px"
        *ngFor="let size of sizes"
        class="text-center">
        {{ size.name }}
      </th>
      <th style="width: 150px"
        class="text-center">Total</th>
      <th class="fit text-center"
        *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_EDIT')">
        Action</th>
    </tr>
    <tbody *ngFor="let style of inventories; let styleIndex = index">
      <tr *ngFor="let combo of style?.combos; let comboIndex = index">
        <th>{{ combo?.comboName }}</th>
        <td *ngFor="let size of sizes"
          class="text-center">
          {{
          (style?.breakdown)["_" + combo?.comboId + "_" + size.id]
          ?.quantity
          }}
        </td>
        <th [hidden]="comboIndex > 0"
          [attr.rowspan]="style?.combos?.length"
          class="text-center">
          {{ style?.total }}
        </th>
        <td *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_EDIT')"
          [hidden]="comboIndex > 0"
          [attr.rowspan]="style?.combos?.length"
          class="text-center">
          <btn-small class="ml-8"
            [text]="'edit'"
            *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_EDIT')"
            (onclick)="openEditStyleInventoryEditModal()">
          </btn-small>

        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="mt-20">

  <table class="ctable"
    style="max-width: 800px;">
    <tr class="header-bg">
      <th>Status</th>
      <th class="text-center">Total Qty</th>
      <th class="text-center">Qty</th>
      <th class="text-center">Company</th>
    </tr>
    <tr>
      <td>Qty available for ordering: </td>
      <td class="text-center">{{summary?.inventoryBalance || 0}} pcs</td>
      <td class="text-center">N/A</td>
      <td class="text-center">N/A</td>
    </tr>
    <tr>
      <td>
        Qty in draft orders (less than 3 hrs)
      </td>
      <td class="text-center">
        {{summary?.draftBooked || 0}} pcs
      </td>
      <td class="text-center">
        <div *ngFor="let parent of summary?.draftBookDetailsList">
          {{parent?.qty}} pcs
        </div>
      </td>
      <td class="text-center">
        <div *ngFor="let parent of summary?.draftBookDetailsList">
          {{parent?.customerName}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Qty in pending approval</td>
      <td class="text-center">{{summary?.awaitingApproval || 0}} pcs</td>
      <td class="text-center">
        <div *ngFor="let parent of summary?.awaitingApprovalDetailList">
          {{parent?.qty}} pcs
        </div>
      </td>
      <td class="text-center">
        <div *ngFor="let parent of summary?.awaitingApprovalDetailList">
          {{parent?.customerName}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Qty in shipment processing</td>
      <td class="text-center">
        {{summary?.processing
        || 0}} pcs</td>
      <td class="text-center">
        <div *ngFor="let parent of summary?.processingDetailList">
          {{parent?.qty}} pcs
        </div>
      </td>
      <td class="text-center">
        <div *ngFor="let parent of summary?.processingDetailList">
          {{parent?.customerName}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Qty shipped</td>
      <td class="text-center">{{summary?.shipQty || 0}} pcs</td>
      <td class="text-center"
        colspan="2">
        <btn-small *ngIf="summary?.shipDetail"
          [text]="'edit'"
          [custom]="'Details'"
          (onclick)="openDetailsModal(detailsModal, 'shipment', 'Shipment Details', summary?.shipDetail)">
        </btn-small>
      </td>
    </tr>
    <tr>
      <td>Qty returned/damaged</td>
      <td class="text-center">{{summary?.returnQty || 0}} pcs</td>
      <td class="text-center"
        colspan="2">
        <btn-small *ngIf="summary?.returnDetail"
          [text]="'edit'"
          [custom]="'Details'"
          (onclick)="openDetailsModal(detailsModal, 'return', 'Return Details', summary?.returnDetail)">
        </btn-small>
      </td>
    </tr>

  </table>
</div>


<ng-template #detailsModal>
  <h2 mat-dialog-title>{{details?.title}}</h2>
  <mat-dialog-content
    style="min-height: 100px; max-height: calc(100vh - 140px);">
    <div *ngIf="details?.type == 'return'">
      <table class="ctable">
        <tr class="header-bg">
          <th>RIMS PO</th>
          <th>Customer</th>
          <th>Qty</th>
        </tr>

        <tr *ngFor="let parent of details?.data;">
          <td>{{parent?.rimsPo}}</td>
          <td>{{parent?.customerName}}</td>
          <td class="text-right">{{parent?.qty}} pcs</td>
        </tr>
      </table>
    </div>
    <div *ngIf="details?.type == 'shipment'">
      <table class="ctable">
        <tr class="header-bg">
          <th>Shipment Date</th>
          <th>RIMS PO</th>
          <th>Customer</th>
          <th>Qty</th>
        </tr>

        <tr *ngFor="let parent of details?.data;">
          <td>{{parent?.shipDate | date: 'mediumDate'}}</td>
          <td>{{parent?.rimsPo}}</td>
          <td>{{parent?.customerName}}</td>
          <td class="text-right">{{parent?.qty}} pcs</td>
        </tr>
      </table>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <btn [text]="'close'"
      [modalClose]="true"></btn>
  </mat-dialog-actions>
</ng-template>