<div fxLayout="row">
  <div fxFlex>
    <style-basic [displayType]="'tiny'"
      [style]="style">
    </style-basic>
  </div>
  <div fxFlex></div>
</div>

<div fxLayout
  fxLayoutGap="20px"
  *ngIf="style?.costType">
  <div fxFlex>
    <div fxLayout="row">
      <div fxFlex>
        <span class="mat-title">Costing Breakdown</span>
      </div>
      <div fxFlex="320px">
        <table class="ctable noborder">
          <tr>
            <th>USD Currency Rate: <span
                *ngIf="!editMode && styleCostsDetails?.usdCurrencyRate">{{styleCostsDetails?.usdCurrencyRate}}</span>
            </th>
            <td *ngIf="editMode">
              <input *ngIf="editMode"
                matInput
                type="number"
                (change)="onConsumptionInputChange()"
                [(ngModel)]="styleCostsDetails.usdCurrencyRate" />
            </td>
          </tr>
        </table>
      </div>
      <div fxFlex
        class="text-right">
        <btn-icon [text]="'edit'"
          (onclick)="editMode = !editMode"></btn-icon>
      </div>
    </div>
    <ng-container *ngIf="editMode">
      <table class="ctable"
        *ngIf="editMode">
        <tr class="header-bg">
          <th class="fit">Action</th>
          <th>Description</th>
          <th>Supplier</th>
          <th style="width: 200px;">
            <div fxLayoutGap="10px"
              fxLayout="row">
              <div fxFlex>
                Consumption
              </div>
              <div fxFlex="70px"
                class="text-center">
                Unit
              </div>
            </div>
          </th>
          <th style="width: 120px;">Unit Cost</th>
          <th style="width: 120px;">Wastage(%)</th>
          <th class="text-center"
            style="width: 100px;">USD</th>
          <th class="text-center"
            style="width: 100px;">CAD</th>
          <th class="text-center"
            style="width: 100px;">Total USD</th>
          <th class="text-center"
            style="width: 100px;">Total CAD</th>
          <th class="fit">Comm. Cal.</th>
        </tr>
        <ng-container *ngFor="let type of styleCosts; let typeIndex = index">
          <tr>
            <th class="text-center">
              <btn-icon [text]="'add'"
                (onclick)="addItem(typeIndex, type.commission)"></btn-icon>
            </th>
            <th colspan="10">
              <span class="mat-title">{{type?.label}}
                <span *ngIf="type?.usdCurrency">(USD)</span>
              </span>
            </th>
          </tr>
          <tr *ngFor="let cost of type?.costItems; let costIndex = index">
            <td class="text-center">
              <btn-icon [text]="'delete'"
                (onclick)="removeItem(typeIndex, costIndex)"></btn-icon>
            </td>
            <td>
              <input matInput
                type="text"
                [(ngModel)]="cost.description" />
            </td>
            <td>
              <ng-container *ngIf="type?.supplierRequired">
                <input matInput
                  type="text"
                  [(ngModel)]="cost.supplierName" />
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="type?.consumptionRequired">
                <div fxLayout="row"
                  fxLayoutGap="10px">
                  <div fxFlex>
                    <input matInput
                      (change)="onConsumptionInputChange()"
                      type="number"
                      [(ngModel)]="cost.consumption" />

                  </div>
                  <div fxFlex="70px">
                    <input matInput
                      type="text"
                      [(ngModel)]="cost.consumptionUnit" />

                  </div>
                </div>
              </ng-container>
            </td>
            <td>
              <input matInput
                (change)="onConsumptionInputChange()"
                type="number"
                [(ngModel)]="cost.unitPrice" />
            </td>
            <td>
              <ng-container *ngIf="type?.consumptionRequired">
                <input matInput
                  (change)="onConsumptionInputChange()"
                  type="number"
                  [(ngModel)]="cost.wastage" />
              </ng-container>
            </td>
            <td class="text-right">
              <span *ngIf="type?.usdCurrency">{{cost?.costUsdPerStyle |
                currency}}</span>
            </td>

            <td class="text-right">
              {{cost?.costPerStyle | currency}}
            </td>
            <td></td>
            <td></td>
            <td class="text-center">
              <mat-checkbox [(ngModel)]="cost.commission">
              </mat-checkbox>
            </td>

          </tr>
          <tr *ngIf="type?.typeTotal">
            <td></td>
            <td colspan="5"
              class="text-right">Total</td>
            <th class="text-right">
              <span *ngIf="type?.typeUsdTotal">{{type?.typeUsdTotal |
                currency}}</span>
            </th>
            <th class="text-right">
              {{type?.typeTotal| currency}}
            </th>
            <th class="text-right">
              <span *ngIf="type?.typeUsdTotal">{{type?.typeUsdTotal |
                currency}}</span>
            </th>
            <th class="text-right">
              {{type?.typeTotal| currency}}
            </th>
            <td></td>
          </tr>
          <tr *ngIf="type?.fobFlag"
            class="text-blue">
            <th></th>
            <td colspan="7"
              class="text-right">
              <b>FOB Costing</b>
            </td>
            <th class="text-right">
              <span *ngIf="type?.levelUsdTotal">{{type?.levelUsdTotal |
                currency}}</span>
            </th>
            <th class="text-right">
              {{type?.levelTotal | currency}}
            </th>
            <td></td>
          </tr>
        </ng-container>
        <tr class="text-blue">
          <th></th>
          <th colspan="7"
            class="text-right">Unit Price</th>
          <th class="text-right">
            <!-- <span
              style="border-bottom: 1px double #000;">{{styleCostsDetails?.styleUsdUnitPrice}}</span> -->
          </th>
          <th class="text-right">
            <span
              style="border-bottom: 1px double #000;">{{styleCostsDetails?.styleUnitPrice
              | currency}}</span>
          </th>
          <td></td>
        </tr>
      </table>

      <table class="ctable noborder mt-12">
        <tr>
          <td>Comment</td>
        </tr>
        <tr>

          <td>
            <mat-form-field class="w-100-p">
              <textarea matInput
                [(ngModel)]="styleCostsDetails.comment"></textarea>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </ng-container>

    <ng-container *ngIf="!editMode">

      <table class="ctable">
        <tr class="header-bg">
          <th>Description</th>
          <th>Supplier</th>
          <th style="width: 120px;">Consumption</th>
          <th style="width: 120px;">Unit Cost</th>
          <th style="width: 120px;">Wastage(%)</th>
          <th class="text-center"
            style="width: 100px;">USD</th>
          <th class="text-center"
            style="width: 100px;">CAD</th>
          <th class="text-center"
            style="width: 100px;">Total USD</th>
          <th class="text-center"
            style="width: 100px;">Total CAD</th>
          <th class="fit">
            Comm. Cal.
          </th>
        </tr>
        <ng-container *ngFor="let type of styleCosts; let typeIndex = index">
          <tr *ngIf="type?.costItems?.length">
            <th colspan="10"><span class="mat-title">{{type?.label}}</span></th>
          </tr>
          <tr *ngFor="let cost of type?.costItems; let costIndex = index">
            <td>
              {{cost?.description}}
            </td>
            <td>
              <ng-container *ngIf="type?.supplierRequired">
                {{cost.supplierName}}
              </ng-container>
            </td>
            <td>
              <ng-container *ngIf="type?.consumptionRequired">
                {{cost?.consumption}} {{cost?.consumptionUnit}}
              </ng-container>
            </td>
            <td>
              {{cost.unitPrice | currency}}
            </td>
            <td>
              <ng-container *ngIf="type?.consumptionRequired">
                {{cost.wastage}}
              </ng-container>
            </td>
            <td class="text-right">
              <span *ngIf="type?.usdCurrency">{{cost?.costUsdPerStyle |
                currency}}</span>
            </td>
            <td class="text-right">
              {{cost?.costPerStyle | currency}}
            </td>
            <td></td>
            <td></td>
            <td class="text-center">
              <mat-icon *ngIf="cost?.commission"
                class="s-18 mb-4"
                title="Complete">check
              </mat-icon>
            </td>
          </tr>
          <tr *ngIf="type?.typeTotal">
            <td colspan="5"
              class="text-right">Total</td>
            <th class="text-right">
              <span *ngIf="type?.typeUsdTotal">{{type?.typeUsdTotal |
                currency}}</span>
            </th>
            <th class="text-right">
              {{type?.typeTotal| currency}}
            </th>
            <th class="text-right">
              <span *ngIf="type?.typeUsdTotal">{{type?.typeUsdTotal |
                currency}}</span>
            </th>
            <th class="text-right">
              {{type?.typeTotal| currency}}
            </th>
            <td></td>
          </tr>
          <tr *ngIf="type?.fobFlag"
            class="text-blue">
            <th colspan="7"
              class="text-right">FOB Costing</th>
            <th class="text-right">
              <span *ngIf="type?.levelUsdTotal">{{type?.levelUsdTotal |
                currency}}</span>
            </th>
            <th class="text-right">
              {{type?.levelTotal| currency}}
            </th>
            <td></td>
          </tr>
        </ng-container>
        <tr class="text-blue">
          <th colspan="7"
            class="text-right">Unit Price</th>
          <th class="text-right">
            <!-- <span
              style="border-bottom: 1px double #000;">{{styleCostsDetails?.styleUsdUnitPrice}}</span> -->
          </th>
          <th class="text-right">
            <span
              style="border-bottom: 1px double #000;">{{styleCostsDetails?.styleUnitPrice
              | currency}}</span>
          </th>
          <td></td>
        </tr>
        <tr>
          <th>Comment:</th>
          <td colspan="9">
            {{styleCostsDetails?.comment}}
          </td>
        </tr>
      </table>
    </ng-container>



    <div *ngIf="editMode"
      class="text-right mt-12">
      <btn [text]="'save'"
        (onclick)="saveCosting()"></btn>
      <btn *ngIf="styleCostsDetails?.id"
        [text]="'add'"
        [custom]="'Complete'"
        (onclick)="completeCosting()"></btn>
    </div>
  </div>
  <div fxFlex="300px">
    <table class="ctable noborder">
      <tr>
        <td>
          <span class="mat-title">Costing History</span>
        </td>
        <td class="text-right">
          <btn-small [text]="'edit'"
            [custom]="'clone'"
            (onclick)="openCloneModal(clone)"></btn-small>
        </td>
      </tr>
    </table>

    <table class="ctable">
      <tr class="header-bg">
        <th>Date</th>
        <th class="fit">Complete</th>
        <th class="fit">Action</th>
      </tr>
      <tr *ngFor="let item of costHistory; let i = index"
        [ngClass]="{'current-item':item?.id == styleCostsDetails?.id}">
        <td>{{item?.date | date: 'mediumDate'}}</td>
        <td class="text-center">
          <mat-icon *ngIf="item?.date"
            class="s-24 mb-4"
            title="Complete">check
          </mat-icon>
        </td>
        <td class="text-center">
          <btn-icon [text]="'expend'"
            (onclick)="getPriviousCosting(i)"></btn-icon>
        </td>
      </tr>
    </table>
  </div>
</div>



<ng-template #clone>
  <h2 mat-dialog-title>Style Costing Clone</h2>
  <mat-dialog-content style="min-height: 200px;">


    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">
            <div fxFlex>
              <mat-select multiple
                placeholder="Style Type"
                class="mat-multiple-select"
                [(ngModel)]="filterStyle.styletypeid">
                <mat-option *ngFor="let item of styleTypeList"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select>
            </div>
            <div fxFlex
              *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">
              <mat-select multiple
                placeholder="Season"
                class="mat-multiple-select"
                [(ngModel)]="filterStyle.seasonid">
                <mat-option *ngFor="let item of seasonList"
                  [value]="item.id">{{ item.label }}</mat-option>
              </mat-select>
            </div>
            <div fxFlex>
              <input matInput
                (keydown.enter)="onStyleFilter()"
                placeholder="Style Id"
                class="filter-input-field"
                type="number"
                [(ngModel)]="filterStyle.styleid" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Style Name"
                class="filter-input-field"
                (keydown.enter)="onStyleFilter()"
                type="text"
                [(ngModel)]="filterStyle.stylename" />
            </div>
          </div>
        </div>
        <div fxFlex.gt-md="80px">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounterStyle"
                class="filter-counter">{{
                filterCounterStyle
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onStyleFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onStyleClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
          </span>
        </div>
      </div>
    </div>











    <table class="ctable">
      <thead class="header-bg">
        <th class="fit text-center">Image</th>
        <th style="width: 140px;">Style Name</th>
        <th>Description</th>
        <th style="width: 70px;"
          *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">Season</th>
        <th style="width: 70px;"
          class="text-right"
          *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
          Price
        </th>
        <th class="text-center fit">Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let style of styleList"
          [ngClass]="{ 'current-item': style?.id == cloneStyleId }">
          <td class="text-center">
            <img class="thumb-image"
              *ngIf="style?.styleImage?.length"
              [src]="(style?.styleImage)[0]?.thumnailFileUrl" />
            <img class="thumb-image"
              *ngIf="!style?.styleImage?.length"
              src="assets/images/theme/incomming-product-image.png" />
          </td>
          <td>
            <div>
              <div class="font-big text-blue"> {{ style?.name }}</div>
            </div>
            <div>
              {{ style?.styleType }}
            </div>
          </td>
          <td>
            {{style?.description}}
          </td>

          <td *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">
            {{ style?.seasonLabel }}
          </td>
          <td class="text-right"
            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
            <span class="font-medium">{{ style.price | currency }}</span>
          </td>
          <td>
            <btn-small [text]="'add'"
              [custom]="'SELECT'"
              (click)="cloneStyleId = style?.id;">
            </btn-small>
          </td>
        </tr>
      </tbody>
    </table>













    <!-- <table class="ctable noborder">
      <tr>
        <th>Style ID:</th>
        <td>
          <input matInput
            type="number"
            [(ngModel)]="cloneStyleId" />
        </td>
      </tr>
    </table> -->
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            [custom]="'Clone'"
            (onclick)="cloneCosting()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>