<div mat-dialog-title>
  <div fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="center center">
    <div fxFlex>
      <span>Commission Payment</span>
    </div>
    <div fxFlex
      class="text-right">
    </div>
  </div>
</div>

<mat-dialog-content style="min-height: 35vh;">
  <table class="ctable noborder">
    <tr>
      <th class="fit text-left">Date</th>
      <th class="fit">:</th>
      <td>
        <date-picker [dateValue]="payment.date"
          (change)="payment.date = $event.dateFormatted"
          hideLabel="true">
        </date-picker>
      </td>
    </tr>
    <tr>
      <th class="fit">Commission-User</th>
      <th class="fit">:</th>
      <td>
        <ng-select [items]="userList"
          [clearable]="false"
          bindLabel="fullname"
          appendTo="body"
          bindValue="id"
          placeholder="Commission User"
          [(ngModel)]="payment.commissionUserId">
        </ng-select>
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <th class="fit">:</th>
      <td>
        <input matInput
          class="text-right"
          type="number"
          [(ngModel)]="payment.amount" />
      </td>
    </tr>
    <tr>
      <th>Note</th>
      <th class="fit">:</th>
      <td>
        <mat-form-field class="w-100-p">
          <textarea matInput
            rows="2"
            [(ngModel)]="payment.details"></textarea>
        </mat-form-field>
      </td>
    </tr>
  </table>

</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn [text]="'add'"
          [custom]="'create'"
          (onclick)="createCommissionPayment()"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>