<div class="custom-filter-header">
  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="30px">
    <div fxFlex>
      <div class="custom-filter-row-first"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px">

        <div fxFlex>
          <input matInput
            (keydown.enter)="onFilter()"
            placeholder="Customer Name"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.name" />
        </div>
        <div fxFlex>
          <input matInput
            *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Email"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.email" />
        </div>
        <div fxFlex>
          <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Shipping Province"
            class="mat-multiple-select"
            [(ngModel)]="filter.provinceid">
            <mat-option *ngFor="let item of provinceList"
              [value]="item.id">{{ item.label }}</mat-option>
          </mat-select>
        </div>
        <div fxFlex>
          <input *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            matInput
            placeholder="Phone No"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.phoneno" />
        </div>
        <div fxFlex>
          <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Sales Rep"
            class="mat-multiple-select"
            [(ngModel)]="filter.salerepid">
            <mat-option *ngFor="let item of saleRepList"
              [value]="item.id">{{ item.fullname }}</mat-option>
          </mat-select>
        </div>

        <div fxFlex>
          <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Billing Province"
            class="mat-multiple-select"
            [(ngModel)]="filter.billingprovinceid">
            <mat-option *ngFor="let item of provinceList"
              [value]="item.id">{{ item.label }}</mat-option>
          </mat-select>
        </div>
      </div>
    </div>
    <div fxFlex.gt-md="80px"
      class="filter-options">
      <span>
        <span class="filter-btn-with-counter">
          <span *ngIf="filterCounter"
            class="filter-counter">{{
            filterCounter
            }}</span>
          <button class="filter-btn filter-submit"
            mat-icon-button
            (click)="onFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </span>

        <button class="filter-btn filter-clear"
          mat-icon-button
          (click)="onClear()">
          <mat-icon>clear_all</mat-icon>
        </button>
        <!-- <button *ngIf="!filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = true;">
              <mat-icon>expand_more</mat-icon>
            </button>
            <button *ngIf="filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = false;">
              <mat-icon>expand_less</mat-icon>
            </button> -->
      </span>

    </div>
    <!-- <div fxFlex.gt-md="120px"
          *ngIf="_auth.hasPermission('PERMISSION_CUSTOMER_CREATE')">
          <span>
            <btn [custom]="'Customer'"
              [text]="'add'"
              (onclick)="openCreateModal()"></btn>
          </span>
        </div> -->
  </div>
</div>

<!-- / HEADER -->


<div fxLayout>
  <div fxFlex>
    <div *ngIf="customers?.length === 0"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill>
      <span class="no-messages-text hint-text">{{
        "Request List"
        }}</span>
    </div>
    <div class="pr-8"
      *ngIf="customers?.length">
      <table class="ctable no-border-top no-border-left">
        <thead class="csticky">
          <th class="fit text-center">Image</th>
          <th>Company</th>
          <th>Contact</th>
          <th>Email</th>
          <th style="width: 115px;">Phone</th>
          <th>Sales Rep</th>
          <th>Address</th>
          <th>Years in Business</th>
          <th>Brands</th>
          <th class="fit text-center">Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>
              <div class="text-center">
                <img class="thumb-image"
                  *ngIf="customer?.customerProfile?.length"
                  [src]="customer?.customerProfile[0]?.thumnailFilePath" />
                <img class="thumb-image"
                  *ngIf="!customer?.customerProfile?.length"
                  src="assets/images/theme/noimage.jpg" />
              </div>
            </td>
            <td>
              <div>
                <span class="font-big text-blue">
                  {{ customer?.name }}
                </span>
                <span *ngIf="customer?.reject"
                  class="text-red">(Rejected)</span>
                <!-- <mat-icon *ngIf="customer?.enable"
                        class="s-16 text-green">check</mat-icon>
                      <mat-icon *ngIf="!customer?.enable"
                        class="s-16 text-red">close</mat-icon> -->
              </div>
            </td>
            <td>
              {{ customer?.contactFirstName }}
              {{ customer?.contactLastName }}
            </td>
            <td>{{ customer?.email }}</td>
            <td>{{ customer?.phoneNo }}</td>
            <td>{{ customer?.salesRep?.userName || 'Rawman & Co.' }}</td>
            <td>
              <span *ngIf="customer?.poBoxNo">PO-Box:
                {{ customer?.poBoxNo }},
              </span>
              <span *ngIf="customer?.street">{{ customer?.street }},
              </span><br />
              <span *ngIf="customer?.city">{{ customer?.city }},
              </span><span *ngIf="customer?.province">{{
                customer?.province }},
              </span>
              <span *ngIf="customer?.postCode">{{ customer?.postCode }}
              </span>
            </td>
            <td>{{ customer?.businessYear }}</td>
            <td>{{ customer?.brands }}</td>
            <td class="text-center">
              <div class="mb-8">
                <btn-small [text]="'link'"
                  [custom]="'Accept'"
                  (onclick)="openCustomerUpdateModal(customer.id)">
                </btn-small>
              </div>
              <ng-container *ngIf="!customer?.reject">
                <div class="mb-8"
                  *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                  <btn-small [text]="'delete'"
                    [custom]="'Reject'"
                    (onclick)="rejectCustomer(customer.id, true)">
                  </btn-small>
                </div>
              </ng-container>


              <div *ngIf="_auth.hasPermission('PERMISSION_CUSTOMER_DELETE')">
                <btn-small [text]="'delete'"
                  (onclick)="deleteCustomer(customer.id)"></btn-small>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>