<h2 mat-dialog-title>Inventory Transfer Create</h2>
<mat-dialog-content
  style="max-height: calc(100vh - 120px); min-height: 200px; ">
  <div>
    <table class="ctable noborder">
      <tr>
        <th style="width: 70px;">Inventory:</th>
        <td style="width: 300px;">
          <mat-select placeholder="Inventory Location"
            class="mat-multiple-select"
            [(ngModel)]="transferObject.fromId"
            (selectionChange)="onLocationChange()">
            <mat-option *ngFor="let item of inventoryLocationList"
              [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </td>
        <th style="width: 90px;">Transfer To:</th>
        <td style="width: 300px;">
          <mat-select placeholder="Inventory Location"
            class="mat-multiple-select"
            [(ngModel)]="transferObject.toId">
            <mat-option *ngFor="let item of inventoryLocationAllList"
              [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </td>
        <td></td>
      </tr>
      <tr>
        <th>Comment: </th>
        <td colspan="3">
          <mat-form-field class="w-100-p">
            <textarea matInput
              rows="2"
              [(ngModel)]="transferObject.comment"></textarea>
          </mat-form-field>
        </td>
        <td></td>
      </tr>
    </table>



    <ng-container *ngIf="transferObject?.fromId && !inventories?.length">
      <div class="text-center">
        <h1>No inventory in this location</h1>
      </div>
    </ng-container>
    <ng-container *ngIf="inventories?.length">
      <span class="mat-title">Inventory</span>



      <table class="ctable mt-8 mx-8"
        style="width: auto !important;"
        *ngFor="let group of inventories; let groupIndex = index">
        <thead>
          <th class="fit text-center">Image</th>
          <th style="width: 150px;">Style</th>
          <th style="width: 120px;">Color</th>
          <th *ngFor="let size of group.sizeList"
            class="text-center"
            style="width: 100px !important;">
            {{ size.name }}
          </th>
          <th class="text-center"
            style="width: 100px !important;">
            Qty
          </th>
        </thead>
        <ng-container
          *ngFor="let style of group?.inventories; let styleIndex = index">
          <tr *ngFor="let color of style?.colorList; let colorIndex = index">

            <td [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              <img class="thumb-image"
                *ngIf="style?.styleImages?.length"
                [src]="(style?.styleImages)[0]?.thumnailFileUrl" />
              <img class="thumb-image"
                *ngIf="!style?.styleImages?.length"
                src="assets/images/theme/incomming-product-image.png" />
            </td>
            <td [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              <a [routerLink]="'/styles/' + style?.styleId +'/inventory' "
                target="_blank">
                {{style?.name}}
              </a>

            </td>
            <td>
              {{color.name}}
            </td>
            <td style="height: 70px;"
              *ngFor="let size of group.sizeList"
              class="text-center"
              style="max-width: 100px !important;">
              <div>
                {{(style?.breakdown)["_"+color?.id+ "_"+size?.id]?.quantity}}
              </div>
              <div *ngIf='(style?.breakdown)[
              "_" + color?.id + "_" + size?.id
              ]?.quantity'>
                <input matInput
                  class="text-center"
                  numberonly
                  decimals="0"
                  type="text"
                  autocomplete="off"
                  [(ngModel)]="style?.breakdown['_' + color.id + '_' + size.id].transferQty">
              </div>
            </td>
            <th class="text-center"
              [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              <div>
                {{style?.totalQuantity}}
              </div>
            </th>

          </tr>
        </ng-container>

      </table>
    </ng-container>







  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn [text]="'add'"
          [custom]="'submit'"
          (click)="createTransfer()"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>