<div id="products"
  class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->



    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg dashboard-page">
      <!-- CONTENT -->
      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex
          class="p-24">
          <h1>Dashboard</h1>


        </div>


        <!-- / CONTENT -->
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>
</div>