<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <div class="center">
    <div class="content-card mat-white-bg">
      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex
          class="p-5">
          <!--Page Container -->
          <div fxLayout
            fxLayoutGap="10px">
            <div fxFlex="80%">
              <div>
                <div fxLayout="row">
                  <div fxFlex>

                    <table class="ctable noborder">
                      <tr>
                        <td colspan="2">
                          <span class="mat-title">Basic Info</span>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 80px;">Customer:</th>
                        <td class="text-blue-pure">
                          {{order?.customer?.name}}
                        </td>
                      </tr>
                      <tr>
                        <th>RIMS PO:</th>
                        <td class="text-blue-pure">{{order?.rimsPoNo}}</td>
                      </tr>
                      <tr>
                        <th>Customer PO:</th>
                        <td class="text-blue-pure">
                          <span *ngIf="order?.poNo">{{order?.poNo}}</span>
                          <span *ngIf="!order?.poNo">N/A</span>
                        </td>
                      </tr>
                      <tr>
                        <th>Comments:</th>
                        <td class="text-blue-pure">
                          <span *ngIf="order?.comment">{{order?.comment}}</span>
                          <span *ngIf="!order?.comment">N/A</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div fxFlex>
                    <table class="ctable noborder">
                      <tr>
                        <td colspan="2">
                          <span class="mat-title">Order Info</span>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 80px;">Status:</th>
                        <td class="text-blue-pure">
                          <span *ngIf="order?.status">
                            <span *ngIf="order?.status == 'draft'"
                              class="status-chip-draft">Draft</span>
                            <span
                              *ngIf="order?.status == 'new'  && order?.approved"
                              class="status-chip-new">Accepted</span>
                            <span
                              *ngIf="order?.status == 'new' && !order?.approved"
                              class="status-chip-approved">
                              Pending
                              Approval
                            </span>
                            <span *ngIf="order?.status == 'approved'"
                              class="status-chip-approved">Approved</span>
                            <span *ngIf="order?.status == 'shipped'"
                              class="status-chip-shipped">Shipped</span>
                            <span *ngIf="order?.status == 'partial_shipped'"
                              class="status-chip-partial-shipped">Partial
                              Shipped</span>
                            <span *ngIf="order?.status == 'cancel'"
                              class="status-chip-cancel">Cancelled</span>
                            <span *ngIf="order?.packing"
                              class="status-chip-packing"><br />(Packing)</span>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <th>Date:</th>
                        <td class="text-blue-pure">
                          {{order?.orderDate | date: 'mediumDate'}}</td>
                      </tr>
                      <tr>
                        <th>Requested Ship Date:</th>
                        <td class="text-blue-pure">
                          {{order?.shipmentDate | date: 'mediumDate'}}</td>
                      </tr>
                      <tr>
                        <th>Order By:</th>
                        <td class="text-blue-pure">
                          {{order?.orderBy?.name}}
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div fxFlex>
                    <table class="ctable noborder"
                      *ngIf="order?.status != 'draft'">
                      <tr>
                        <td colspan="2">
                          <span class="mat-title">Shipping Info</span>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 80px;">Shipping :</th>
                        <td class="text-blue-pure">
                          <span *ngIf="order?.poBoxNo">PO-Box:
                            {{ order?.poBoxNo }},
                          </span>
                          <span *ngIf="order?.street">{{ order?.street }},
                          </span><br />
                          <span *ngIf="order?.city">{{ order?.city }},
                          </span><span *ngIf="order?.provinceName">{{
                            order?.provinceName }},
                          </span>
                          <span *ngIf="order?.postCode">{{ order?.postCode
                            }}
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 8px;">Billing :</th>
                        <td class="text-blue-pure">
                          <span *ngIf="order?.billingPoBoxNo">PO-Box:
                            {{ order?.billingPoBoxNo }},
                          </span>
                          <span *ngIf="order?.billingStreet">{{
                            order?.billingStreet
                            }},
                          </span><br />
                          <span *ngIf="order?.billingCity">{{ order?.billingCity
                            }},
                          </span><span *ngIf="order?.billingProvinceName">{{
                            order?.billingProvinceName }},
                          </span>
                          <span *ngIf="order?.billingPostCode">{{
                            order?.billingPostCode
                            }}
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <th>Shipping Mode:</th>
                        <td class="text-blue-pure">
                          <span
                            *ngIf="order?.shippingMode == 'CUSTOMER'">Customer
                            Shipping</span>
                          <span *ngIf="order?.shippingMode == 'RAWMANCO'">Rawman
                            &
                            Co.
                            Shipping</span>
                          <span *ngIf="order?.shippingMode == 'OTHER'">Other(No
                            Canada Post)</span>
                        </td>
                      </tr>
                      <ng-container *ngIf="order?.shippingMode == 'CUSTOMER'">
                        <tr>
                          <th>Courier Company:</th>
                          <td class="text-blue-pure">{{order?.courierCompany}}
                          </td>
                        </tr>
                        <tr>
                          <th>Courier Account:</th>
                          <td class="text-blue-pure">{{order?.courierAccountNo}}
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container *ngIf="order?.shippingMode == 'OTHER'">
                        <tr>
                          <th>Shipping Instructions:</th>
                          <td class="text-blue-pure">
                            {{order?.shipmentModeInstruction}}
                          </td>
                        </tr>
                      </ng-container>


                    </table>
                  </div>
                  <div fxFlex>
                    <table class="ctable noborder">
                      <tr>
                        <td colspan="2">
                          <span class="mat-title">Contract Info</span>
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 100px;">Customer :</th>
                        <td class="text-blue-pure">
                          {{defaultCustomerUser?.user?.fullname}}
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 100px;">Phone No :</th>
                        <td class="text-blue-pure">
                          {{defaultCustomerUser?.user?.phoneNo}}
                        </td>
                      </tr>
                      <tr>
                        <th style="width: 100px;">Email :</th>
                        <td class="text-blue-pure">
                          {{defaultCustomerUser?.user?.email}}
                        </td>
                      </tr>
                    </table>
                  </div>

                </div>

                <table class="ctable noborder">
                  <tr>
                    <td>
                      <span class="mat-title mr-20">Order Details</span>
                      <mat-checkbox class="mr-32 text-green"
                        [(ngModel)]="displayFlag.shipment">
                        Show Shipments
                      </mat-checkbox>
                      <mat-checkbox class="text-red"
                        [(ngModel)]="displayFlag.return">
                        Show Returns
                      </mat-checkbox>
                    </td>
                    <td class="text-right">

                    </td>
                  </tr>
                </table>


                <div *ngIf="order?.groupBreakdown?.length">
                  <div class="table-scroll-horizontal">
                    <table class="ctable mt-8 mx-8"
                      style="width: auto !important;"
                      *ngFor="let group of order?.groupBreakdown; let groupIndex = index">
                      <tr class="header-bg">
                        <th class="fit text-center">Image</th>
                        <th style="width: 150px;">Style</th>
                        <th style="width: 120px;">Color</th>
                        <th style="width: 100px;"
                          *ngFor="let size of group.sizeList"
                          class="text-center">
                          {{ size.sizeLabel }}
                        </th>
                        <th style="width: 100px;"
                          class="text-center">
                          Color Qty
                        </th>
                        <th style="width: 100px;"
                          class="text-center">
                          Qty
                        </th>
                        <th
                          *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                          style="width: 100px;"
                          class="text-center">
                          Price
                        </th>
                      </tr>
                      <ng-container
                        *ngFor="let style of group?.styleBreakdown; let styleIndex = index">
                        <tr
                          *ngFor="let color of style?.colorList; let colorIndex = index">
                          <td [hidden]="colorIndex > 0"
                            [attr.rowspan]="style?.colorList?.length">
                            <img class="thumb-image"
                              *ngIf="color?.styleColorImages?.length"
                              [src]="(color?.styleColorImages)[0]?.thumnailFileUrl" />
                            <img class="thumb-image"
                              *ngIf="!color?.styleColorImages?.length"
                              src="assets/images/theme/incomming-product-image.png" />
                          </td>
                          <td [hidden]="colorIndex > 0"
                            [attr.rowspan]="style?.colorList?.length">
                            {{style?.styleName}}
                          </td>
                          <td>
                            <span>{{ color?.comboNameForOrderDetail }}</span>
                            <br>
                            <span
                              [ngStyle]="{'color':color?.statusNameForOrderDetail == 'Available' ?  'green':'#ff8c00' }">
                              <span>{{color?.statusNameForOrderDetail}}</span>
                              <br>
                              <span>{{color?.comboStockDateForDisplay}}</span>
                            </span>
                          </td>
                          <td *ngFor="let size of group.sizeList"
                            class="text-center">
                            <div>
                              {{
                              (style?.breakdown)[
                              "_" + color?.comboId + "_" + size.sizeId + "_" +
                              color?.comboName
                              ]?.orderedQty
                              }}
                            </div>
                            <div class="text-green"
                              *ngIf="displayFlag.shipment">
                              {{
                              (style?.breakdown)[
                              "_" + color?.comboId + "_" + size.sizeId + "_" +
                              color?.comboName
                              ]?.actualShipQty
                              }}
                            </div>
                            <div class="text-red"
                              *ngIf="displayFlag.return">
                              {{
                              (style?.breakdown)[
                              "_" + color?.comboId + "_" + size.sizeId + "_" +
                              color?.comboName
                              ]?.returnQty || ''
                              }}
                            </div>
                          </td>
                          <th class="text-center">
                            <div>
                              {{color?.comboQuantityTotal}}
                            </div>
                            <div class="text-green"
                              *ngIf="displayFlag.shipment">
                              {{color?.comboActualShipTotal}}
                            </div>
                            <div class="text-red"
                              *ngIf="displayFlag.return">
                              {{color?.comboReturnTotal}}
                            </div>

                          </th>
                          <th class="text-center"
                            [hidden]="colorIndex > 0"
                            [attr.rowspan]="style?.colorList?.length">
                            <div>
                              {{style?.styleOrderedQty}}
                            </div>
                            <div class="text-green"
                              *ngIf="displayFlag.shipment">
                              {{style?.styleShippedQty}}
                            </div>
                            <div class="text-red"
                              *ngIf="displayFlag.return">
                              {{style?.styleReturnQty}}
                            </div>

                          </th>
                          <th
                            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                            class="text-right"
                            [hidden]="colorIndex > 0"
                            [attr.rowspan]="style?.colorList?.length">
                            <div>
                              {{style?.styleOrderedValue | currency}}
                            </div>
                            <div class="text-green"
                              *ngIf="displayFlag.shipment">
                              {{style?.styleShippedValue | currency}}
                            </div>
                          </th>
                        </tr>
                      </ng-container>

                    </table>
                  </div>


                  <div class="mx-8">
                    <span class="mat-title">Summary</span>
                    <table class="ctable"
                      style="width: auto !important; min-width: 400px !important;">
                      <tr class="header-bg">
                        <th>Style</th>
                        <th style="width: 100px;"
                          *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
                          Unit Price</th>
                        <th style="width: 100px;">Order Quantity</th>
                        <th style="width: 100px;">Shipped Quantity</th>
                        <th
                          *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                          style="width: 100px;">Order Value</th>
                        <th
                          *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                          style="width: 100px;">Shipped Value</th>
                      </tr>
                      <tbody
                        *ngFor="let group of order?.groupBreakdown; let groupIndex = index">
                        <tr
                          *ngFor="let style of group?.styleBreakdown; let styleIndex = index">
                          <th class="text-left">{{style?.styleName}}</th>
                          <td
                            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                            class="text-right">{{style?.price | currency}}
                          </td>
                          <td class="text-center">{{style.styleOrderedQty}}</td>
                          <td class="text-center">
                            {{style.styleShippedQty}}</td>
                          <td
                            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                            class="text-right">
                            {{style.styleOrderedValue | currency}}
                          </td>
                          <td
                            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                            class="text-right">
                            {{style.styleShippedValue | currency}}
                          </td>
                        </tr>
                      </tbody>
                      <tr>
                        <th>Total</th>
                        <th
                          *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
                        </th>

                        <th class="text-center">{{order?.totalOrderedQty}}</th>
                        <th class="text-center">{{order?.totalShippedQty}}</th>
                        <th
                          *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                          class="text-right">
                          {{order?.totalOrderedValue | currency}}
                        </th>
                        <th
                          *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                          class="text-right">
                          {{order?.totalShippedValue | currency}}
                        </th>
                      </tr>

                    </table>
                  </div>
                </div>

                <div fxLayout="row"
                  class="mt-12"
                  *ngIf="order?.groupBreakdown?.length">
                  <div fxFlex>
                    <btn [text]="'delete'"
                      *ngIf="(order?.status == 'new') && _auth.hasPermission('PERMISSION_ORDER_CANCEL')"
                      [custom]="'Cancel Order'"
                      (onclick)="orderStatusUpdate('cancel')"></btn>
                    <btn [text]="'edit'"
                      *ngIf="((order?.status == 'new') || (order?.status == 'approved')) && _auth.hasPermission('PERMISSION_ADMIN_USER')"
                      [custom]="'Send to Draft'"
                      (onclick)="orderStatusUpdate('draft')"></btn>
                    <btn [text]="'delete'"
                      *ngIf="(order?.status == 'draft') && _auth.hasPermission('PERMISSION_ORDER_CREATE')"
                      [custom]="'Cancel Order'"
                      (onclick)="deleteOrder()"></btn>
                    <btn
                      *ngIf="order?.approved && order?.status == 'partial_shipped' && _auth.hasPermission('PERMISSION_SHIPMENT_COMPLETE')"
                      [text]="'update'"
                      [custom]="'Shipment Complete'"
                      (onclick)="orderStatusUpdate('shipped')"></btn>
                    <btn
                      *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER') && (order?.status == 'shipped' || order?.status == 'partial_shipped')"
                      [text]="'update'"
                      [custom]="'Return'"
                      (onclick)="returnModal()"></btn>
                  </div>
                  <div fxFlex
                    class="text-right">


                    <btn *ngIf="order?.status == 'draft'"
                      [text]="'update'"
                      [custom]="'Go To Cart'"
                      (onclick)="goToCart()"></btn>

                  </div>
                </div>
              </div>
              <div class="mt-20"
                *ngIf="returnList?.length">
                <span class="mat-title">Shipment Returns History</span>
                <table class="ctable">
                  <tr class="header-bg">
                    <th>Return Date</th>
                    <th>Return Qty</th>
                    <th>Return Value</th>
                    <th>Agreed Value</th>
                    <th>Freight Cost</th>
                    <th>Restocking Cost</th>
                    <th>Adjustment Type</th>
                    <th>Warehouse</th>
                    <th>Receive Date</th>
                    <th class="fit text-center">Action</th>
                  </tr>
                  <tr
                    *ngFor="let parent of returnList; let returnIndex = index">
                    <td>{{parent?.returnDate | date: 'mediumDate'}}</td>
                    <td class="text-right">{{parent?.returnQuantity}} pcs</td>
                    <td class="text-right">{{parent?.returnValue | currency}}
                    </td>
                    <td class="text-right">{{parent?.agreeReturnValue |
                      currency}}</td>
                    <td class="text-right">{{parent?.freightCost | currency}}
                    </td>
                    <td class="text-right">{{parent?.restockingCost |
                      currency}}</td>
                    <td>{{parent?.adjustmentType}}</td>
                    <td>{{parent?.inventoryLocationName}}</td>
                    <td>{{parent?.receiveDate | date: 'mediumDate'}}</td>
                    <td>
                      <btn-small [text]="'edit'"
                        [custom]="'Details'"
                        (onclick)="openDetailsModal(detailsModal, parent)">
                      </btn-small>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div fxFlex>
              <div>
                <table class="ctable noborder">
                  <tr *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                    <td colspan="2">
                      <span class="mat-title">Admin Input</span>
                    </td>
                  </tr>
                  <tr>
                    <th style="width: 135px;">Order History:</th>
                    <td>
                      <btn-small [text]="'add'"
                        [custom]="'order history'"
                        (onclick)="openOrderHistory()"></btn-small>
                    </td>
                  </tr>
                  <tr *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                    <th style="width: 135px;">Sales Rep:</th>
                    <td>
                      <mat-select placeholder="Sales Rep Order Permission"
                        class="mat-multiple-select"
                        [(ngModel)]="orderInfo.saleRepId"
                        (selectionChange)="onPermissionChange($event.value)">
                        <mat-option [value]="0">--Rawman & Co.--
                        </mat-option>
                        <mat-option *ngFor="
                                                                let
                                                                user
                                                                of
                                                                salesRepList"
                          [value]="user.id">{{ user.fullname }}</mat-option>
                      </mat-select>
                    </td>
                  </tr>
                  <tr
                    *ngIf="_auth.hasPermission('PERMISSION_ORDER_RATING_ADD')">
                    <th>Customer Rating:</th>
                    <td>
                      <mat-select placeholder="Customer Rating"
                        class="mat-multiple-select"
                        [(ngModel)]="orderInfo.orderRating"
                        (selectionChange)="onRatingChange($event.value)">

                        <mat-option *ngFor="
                                              let
                                              rate
                                              of
                                              ratingList"
                          [value]="rate.id">{{ rate.id }}</mat-option>
                      </mat-select>
                    </td>
                  </tr>
                  <tr>
                    <th style="width: 100px;">Shipment Approval:</th>
                    <td>
                      <btn-small
                        *ngIf="(order?.status == 'new') && _auth.hasPermission('PERMISSION_ADMIN_USER') && !order?.approved"
                        [text]="'update'"
                        [custom]="'Approve Order'"
                        (onclick)="orderApproved()"></btn-small>
                      <span class="text-green"
                        *ngIf="order?.approved">Approved</span>
                    </td>
                  </tr>
                  <!-- <tr
                    *ngIf="order?.status == 'shipped' && _auth.hasPermission('PERMISSION_PAYMENT_COMPLETE')">
                    <th style="width: 100px;">Payment Status:</th>
                    <td>
                      <btn-small [text]="'update'"
                        [custom]="'Payment Complete'"
                        (onclick)="orderPaymentStatusUpdate('paid')">
                      </btn-small>
                    </td>
                  </tr> -->

                </table>
              </div>
              <div>
                <table class="ctable noborder">
                  <tr>
                    <td>
                      <span class="mat-title">{{order?.rimsPoNo}}
                        Shipments</span>
                    </td>
                  </tr>
                </table>
                <table class="ctable mx-8">
                  <tr class="header-bg">
                    <th>Shipment Date</th>
                    <th style="width: 80px;"
                      class="text-center">Shipped Qty</th>
                    <th class="fit">Action</th>
                  </tr>
                  <tr *ngFor="let item of shipmentList">
                    <td>
                      {{ item?.shipmentDate | date:
                      "mediumDate" }}
                    </td>
                    <th class="text-center">{{ item?.totalQuantity }}pcs</th>
                    <th>
                      <div>
                        <btn-small [text]="'expend'"
                          [custom]="'Packing'"
                          (onclick)="openPackingPDFModal(item.id)"></btn-small>
                      </div>
                      <div class="pt-8"
                        *ngIf="_auth.hasPermission('PERMISSION_ORDER_INVOICE_VIEW') && item?.invoiceDate">
                        <btn-small [text]="'expend'"
                          [custom]="'Invoice'"
                          (onclick)="openInvoicePDFModal(item.id)"></btn-small>
                      </div>

                    </th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!--Page Container -->
        </div>
      </div>
    </div>
  </div>
</div>








<ng-template #detailsModal>
  <h2 mat-dialog-title>Return Details</h2>
  <mat-dialog-content
    style="min-height: 100px; max-height: calc(100vh - 140px);">

    <table class="ctable"
      *ngIf="returnDetails">
      <tr class="header-bg">
        <th>Return Date</th>
        <th>Return Qty</th>
        <th>Return Value</th>
        <th>Agreed Value</th>
        <th>Freight Cost</th>
        <th>Restocking Cost</th>
        <th>Adjustment Type</th>
        <th>Warehouse</th>
        <th>Receive Date</th>
      </tr>
      <tr>
        <td>{{returnDetails?.returnDate | date: 'mediumDate'}}</td>
        <td class="text-right">{{returnDetails?.returnQuantity}} pcs</td>
        <td class="text-right">{{returnDetails?.returnValue | currency}}
        </td>
        <td class="text-right">{{returnDetails?.agreeReturnValue |
          currency}}</td>
        <td class="text-right">{{returnDetails?.freightCost | currency}}
        </td>
        <td class="text-right">{{returnDetails?.restockingCost |
          currency}}</td>
        <td>{{returnDetails?.adjustmentType}}</td>
        <td>{{returnDetails?.inventoryLocationName}}</td>
        <td>{{returnDetails?.receiveDate | date: 'mediumDate'}}</td>
      </tr>
    </table>



    <span class="mat-title">Breakdown</span>
    <div *ngIf="returnDetails?.shipmentReturnDetails?.length">
      <table class="ctable">
        <tr class="header-bg">
          <th>Style</th>
          <th>Color</th>
          <th>Size</th>
          <th>Qty</th>
          <th>Value</th>
        </tr>

        <ng-container
          *ngFor="let parent of returnDetails?.styleDetails; let parentIndex = index">
          <tr *ngFor="let child of parent.list; let childIndex = index">
            <td [hidden]="childIndex>0"
              [attr.rowspan]="parent.list.length">
              {{parent?.styleName}}
            </td>
            <td>{{child?.comboName}}</td>
            <td>{{child?.sizeName}}</td>
            <td class="text-right">{{child?.quantity}}</td>
            <td class="text-right">{{child?.value | currency}}</td>
          </tr>
        </ng-container>



        <tr>
          <td colspan="3"></td>
          <th class="text-right">{{returnDetails?.returnQuantity}}</th>
          <th class="text-right">{{returnDetails?.returnValue | currency}}</th>
        </tr>
      </table>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <btn [text]="'close'"
      [modalClose]="true"></btn>
  </mat-dialog-actions>
</ng-template>