<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">
            <div fxFlex>
              <mat-select placeholder="Size Group"
                class="mat-multiple-select"
                [(ngModel)]="filter.sizegroupid">
                <mat-option *ngFor="let item of sizeGroupList"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select>
            </div>
            <div fxFlex>
              <mat-select placeholder="Inventory Location"
                class="mat-multiple-select"
                [(ngModel)]="filter.inventorylocationid"
                (selectionChange)="onFilter()">
                <mat-option *ngFor="let item of inventoryLocationList"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select>
            </div>
            <div fxFlex>
              <mat-select multiple
                placeholder="Style Type"
                class="mat-multiple-select"
                [(ngModel)]="filter.styletypeid">
                <mat-option *ngFor="let item of styleTypeList"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select>
            </div>

            <div fxFlex>
              <input matInput
                placeholder="Style Name"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.stylename" />
            </div>
            <div fxFlex
              *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">
              <mat-select multiple
                placeholder="Season"
                class="mat-multiple-select"
                [(ngModel)]="filter.seasonid">
                <mat-option *ngFor="let item of seasonList"
                  [value]="item.id">{{
                  item.label
                  }}</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
          </span>
        </div>
        <div fxFlex.gt-md="140px"
          *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_CREATE')">
          <span>
            <!-- <btn [custom]="'Adjustment'"
              [text]="'add'"
              *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_CREATE')"
              (onclick)="openAdjustmentModal()"></btn> -->
          </span>
        </div>
      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->

      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>
          <div *ngIf="inventories?.length === 0"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlexFill>
            <span class="no-messages-text hint-text">{{
              "Select Size Group"
              }}</span>
          </div>
          <div class="pr-8"
            *ngIf="inventories?.length">


            <table class="ctable noborder"
              *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_VIEW_ACTUAL')">
              <tr>
                <td>
                  <span class="mat-title mr-20">Inventories</span>
                  <mat-checkbox class="mr-32 text-blue"
                    [(ngModel)]="displayFlag.actual">
                    Warehouse Actual Stock
                    <span
                      *ngIf="displayFlag.actual && stockTotal.totalQuantity">(Total:
                      {{stockTotal.totalQuantity}})</span>
                    Upcoming Stock  <span
                    *ngIf="displayFlag.actual">(Total:
                    {{stockTotal.totalUpcomingQuantity}})</span>
                  </mat-checkbox>
                  <mat-checkbox class="text-green"
                    [(ngModel)]="displayFlag.available">
                    Available for Order <span
                      *ngIf="displayFlag.available && stockTotal.availableTotalQuantity">(Total:
                      {{stockTotal.availableTotalQuantity}})</span>
                  </mat-checkbox>
                </td>
                <td class="text-right">
                  <!-- Total -->
                </td>
              </tr>
            </table>



            <table class="ctable mt-8 mx-8"
              style="width: auto !important;"
              *ngFor="let group of inventories; let groupIndex = index">
              <tr class="header-bg">
                <th class="fit text-center">Image</th>
                <th style="width: 150px;">Style</th>
                <th style="width: 120px;">Color</th>
                <th style="width: 100px;"
                  *ngFor="let size of group.sizeList"
                  class="text-center">
                  {{ size.name }}
                </th>
                <th>Color Qty</th>
                <th style="width: 100px;"
                  class="text-center">
                  Qty
                </th>
              </tr>
              <ng-container
                *ngFor="let style of group?.inventories; let styleIndex = index">
                <tr
                  *ngFor="let color of style?.colorList; let colorIndex = index">
                  <td [hidden]="colorIndex > 0"
                    [attr.rowspan]="style?.colorList?.length">
                    <img class="thumb-image"
                      *ngIf="style?.colorImages?.length"
                      [src]="style?.colorImages[0]?.thumnailFileUrl" />
                    <img class="thumb-image"
                      *ngIf="!style?.colorImages?.length"
                      src="assets/images/theme/incomming-product-image.png" />
                  </td>
                  <td [hidden]="colorIndex > 0"
                    [attr.rowspan]="style?.colorList?.length">
                    <a [routerLink]="'/styles/' + style?.styleId +'/inventory' "
                      target="_blank">
                      {{style?.name}}
                    </a>
                  </td>
                  <td style="text-align: center;">
                    <!-- {{color.name}} -->
                    <span>{{ color?.comboNameForDisplay }}</span> <br>
                    <span
                      [ngStyle]="{'color':color?.comboStatusForDisplay == 'Available' ?  'green':'#ff8c00' }">
                      <span>{{ color?.comboStatusForDisplay }} </span><br>
                      <span
                        *ngIf="color?.comboStatusForDisplay != 'Available'">{{
                        color?.comboStockDateForDisplay }} </span>
                    </span>
                  </td>
                  <td *ngFor="let size of group.sizeList"
                    class="text-center">
                    <div class="text-blue"
                      *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_VIEW_ACTUAL') && displayFlag.actual">
                      {{
                      (style?.breakdown)[
                      "_" + color?.id + "_" + size.id + "_" + color.name
                      ]?.quantity || 0
                      }}
                    </div>
                    <div class="text-green"
                      *ngIf="displayFlag.available">
                      {{
                      (style?.breakdown)[
                      "_" + color?.id + "_" + size.id + "_" + color.name
                      ]?.availableOrderQty || 0
                      }} 
                  
                    </div>
                  </td>
                  <td>
                    <div class="text-blue"
                      *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_VIEW_ACTUAL') && displayFlag.actual">
                      {{color.colortoalQty}}
                    </div>
                    <div class="text-green"
                      *ngIf="displayFlag.available">
                      {{color.colortoalAvaialableQty}}
                    </div>
                  </td>
                  <th class="text-center"
                    [hidden]="colorIndex > 0"
                    [attr.rowspan]="style?.colorList?.length">
                    <div class="text-blue"
                      *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_VIEW_ACTUAL') && displayFlag.actual">
                      {{style?.totalQuantity}}
                    </div>
                    <div class="text-green"
                      *ngIf="displayFlag.available">
                      {{style?.availableTotalQuantity}}
                    </div>
                  </th>
                </tr>
              </ng-container>

            </table>




          </div>

        </div>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>

<ng-template #inventoryAddModal>
  <h2 mat-dialog-title>Add Inventory Qty</h2>
  <mat-dialog-content style="min-height: 75vh;">
    <div *ngIf="!styleId">
      <!-- HEADER -->
      <div class="custom-filter-header">
        <div fxLayout="column"
          fxLayout.gt-md="row"
          fxLayoutGap="30px">
          <div fxFlex>
            <div class="custom-filter-row-first"
              fxLayout="column"
              fxLayout.gt-md="row"
              fxLayoutGap="20px">
              <div fxFlex>
                <mat-select multiple
                  placeholder="Style Type"
                  class="mat-multiple-select"
                  [(ngModel)]="filterStyle.styletypeid">
                  <mat-option *ngFor="let item of styleTypeList"
                    [value]="item.id">{{ item.name }}</mat-option>
                </mat-select>
              </div>
              <div fxFlex
                *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">
                <mat-select multiple
                  placeholder="Season"
                  class="mat-multiple-select"
                  [(ngModel)]="filterStyle.seasonid">
                  <mat-option *ngFor="let item of seasonList"
                    [value]="item.id">{{ item.label }}</mat-option>
                </mat-select>
              </div>
              <div fxFlex>
                <input matInput
                  (keydown.enter)="onStyleFilter()"
                  placeholder="Style Id"
                  class="filter-input-field"
                  type="number"
                  [(ngModel)]="filterStyle.styleid" />
              </div>
              <div fxFlex>
                <input matInput
                  placeholder="Style Name"
                  class="filter-input-field"
                  (keydown.enter)="onStyleFilter()"
                  type="text"
                  [(ngModel)]="filterStyle.stylename" />
              </div>
            </div>
          </div>
          <div fxFlex.gt-md="80px">
            <span>
              <span class="filter-btn-with-counter">
                <span *ngIf="filterCounterStyle"
                  class="filter-counter">{{
                  filterCounterStyle
                  }}</span>
                <button class="filter-btn filter-submit"
                  mat-icon-button
                  (click)="onStyleFilter()">
                  <mat-icon>search</mat-icon>
                </button>
              </span>

              <button class="filter-btn filter-clear"
                mat-icon-button
                (click)="onStyleClear()">
                <mat-icon>clear_all</mat-icon>
              </button>
            </span>
          </div>
        </div>
      </div>

      <!-- / HEADER -->
      <table class="ctable">
        <thead class="header-bg">
          <th class="fit text-center">Image</th>
          <th style="width: 140px;">Style Name</th>
          <th>Description</th>
          <th style="width: 70px;"
            *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">Season</th>
          <th style="width: 70px;"
            class="text-right"
            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
            Price
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let style of styleList"
            (click)="styleId = style?.id; sizeGroupId = style?.sizeGroupId"
            class="cursor-pointer"
            [ngClass]="{ 'current-item': style?.id == styleId }">
            <td class="text-center">
              <img class="thumb-image"
                *ngIf="style?.colorImages?.length"
                [src]="(style?.colorImages)[0]?.thumnailFileUrl" />
              <img class="thumb-image"
                *ngIf="!style?.colorImages?.length"
                src="assets/images/theme/incomming-product-image.png" />
            </td>
            <td>
              <div>
                <div class="font-big text-blue"> {{ style?.name }}</div>
              </div>
              <div>
                {{ style?.styleType }}
              </div>
            </td>
            <td>
              {{style?.description}}
            </td>

            <td *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">
              {{ style?.seasonLabel }}
            </td>
            <td class="text-right"
              *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
              <span class="font-medium">{{ style.price | currency }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="styleId">
      <span class="mat-title">
        <btn-icon [custom]="'Back to order list'"
          [text]="'arrowleft'"
          (click)="styleId = null; clearAddObject()">
        </btn-icon>
        &nbsp; Style Breakdown
      </span>
      <style-basic *ngIf="styleId"
        [displayType]="'tiny'"
        [styleId]="styleId"
        [api]="true"></style-basic>
      <style-breakdown [styleId]="styleId"
        [groupId]="sizeGroupId"
        (added)="inventoryAdded(event)"></style-breakdown>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <btn [text]="'close'"
      [modalClose]="true"></btn>
  </mat-dialog-actions>
</ng-template>