<!-- <div fusePerfectScrollbar
  fxFlex
  class="border-right p-24 p-0">
  <span class="mat-title">Global</span>
  <mat-icon (click)="globalCreateForm()"
    *ngIf="_auth.hasPermission('PERMISSION_SEASON_CREATE')"
    class="s-24 mb-4 cursor-pointer"
    style="float: right;"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th class="fit">#</th>
      <th>Sales Rep Commission</th>
      <th>Manager Commission</th>
      <th style="width: 70px;"></th>
    </thead>

    <tbody>
      <tr *ngFor="let item of global.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.saleRepCommissionPercentage }}</td>
        <td>{{ item.saleManagerCommissionPercentage }}</td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="globalOnDetailClick(item.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<div fusePerfectScrollbar
  fxFlex="50%"
  class="p-24 p-0">
  <ng-container [ngSwitch]="global.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <span class="mat-title">Add a new Global</span>
      <table class="ctable">
        <tr>
          <td>Sales Rep Commission Percentage</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="global.item.saleRepCommissionPercentage"
                [(ngModel)]="global.item.saleRepCommissionPercentage"
                #saleRepCommissionPercentage="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Sales Manager Commission Percentage</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="global.item.saleManagerCommissionPercentage"
                [(ngModel)]="global.item.saleManagerCommissionPercentage"
                #saleManagerCommissionPercentage="ngModel" />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div>
        <btn [text]="'save'"
          style="float: right; margin-top: 10px;"
          (click)="globalOnSubmit()">
        </btn>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Basic Info
          <btn-icon [text]="'edit'"
            *ngIf="_auth.hasPermission('PERMISSION_GLOBAL_SETTING_EDIT')"
            (click)="openGlobalEditModal(globalEditModal)">
          </btn-icon>
        </span>
        <table class="ctable">
          <tbody>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Sales Rep Commission Percentage
              </td>
              <td>
                {{ global.detail.saleRepCommissionPercentage }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Sales Manager Commission Percentage
              </td>
              <td>
                {{ global.detail.saleManagerCommissionPercentage }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                View min size qty
              </td>
              <td>
                {{ global.detail.minInvQtyShowOnOrder }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Company Name
              </td>
              <td>
                {{ global.detail.companyName }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Company Address
              </td>
              <td>
                <span [innerHTML]="global.detail.companyAddress"></span>
                <!-- {{ global.detail.companyAddress }} -->
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Company Email
              </td>
              <td>
                {{ global.detail.companyEmail }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Company Web
              </td>
              <td>
                {{ global.detail.companyWeb }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Company Logo
              </td>
              <td>
                <span>
                  <btn-icon [text]="'add'"
                    (onclick)="openAttachementsModal()">
                  </btn-icon>
                </span>
                <span>
                  <img class="thumb-image  cursor-pointer"
                    [src]="logo" />
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #globalEditModal>
  <h2 mat-dialog-title>Edit Global</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <td>Sales Rep Commission Percentage</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="global.editData.saleRepCommissionPercentage"
                  [(ngModel)]="global.editData.saleRepCommissionPercentage"
                  #saleRepCommissionPercentage="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Sales Manager Commission Percentage</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="global.editData.saleManagerCommissionPercentage"
                  [(ngModel)]="global.editData.saleManagerCommissionPercentage"
                  #saleManagerCommissionPercentage="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>View min size qty</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="global.editData.minInvQtyShowOnOrder"
                  [(ngModel)]="global.editData.minInvQtyShowOnOrder"
                  #saleManagerCommissionPercentage="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Company Name</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="global.editData.companyName"
                  [(ngModel)]="global.editData.companyName"
                  #companyName="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Company Email</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="global.editData.companyEmail"
                  [(ngModel)]="global.editData.companyEmail"
                  #companyEmail="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Company Web</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="global.editData.companyWeb"
                  [(ngModel)]="global.editData.companyWeb"
                  #companyWeb="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Company Address</td>
            <td>
              <div style="width: 20%;"
                class="email-summarnote"
                [ngxSummernote]="config"
                [(ngModel)]="global.editData.companyAddress">
              </div>
            </td>
          </tr>
          <!-- <tr style="border: 2px solid #ddd;">
            <td>Company Logo</td>
            <td>
              <span>
                <btn-icon [text]="'add'"
                  (onclick)="openAttachementsModal()">
                </btn-icon>
              </span>
            </td>
          </tr> -->
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="globalOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>