<div fusePerfectScrollbar
  fxFlex
  class="border-right p-24 p-0">
  <span class="mat-title">Style Type</span>
  <mat-icon (click)="typeCreateForm()"
    *ngIf="_auth.hasPermission('PERMISSION_STYLE_TYPE_CREATE')"
    class="s-24 mb-4 cursor-pointer"
    style="float: right;"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th class="fit">#</th>
      <th>Name</th>
      <th class="text-center">Sequence</th>
      <th style="width: 70px;"></th>
    </thead>

    <tbody>
      <tr *ngFor="let styleType of styleType.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ styleType.name }}</td>
        <td class="text-center">{{ styleType.sequence }}</td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="typeOnDetailClick(styleType.id)">
          </btn-icon>&nbsp;
          <btn-icon [text]="'delete'"
            *ngIf="_auth.hasPermission('PERMISSION_STYLE_TYPE_DELETE')"
            (click)="typeOnDeleteClick(styleType.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div fusePerfectScrollbar
  fxFlex
  class="p-24 p-0">
  <ng-container [ngSwitch]="styleType.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <span class="mat-title">Add a new Type</span>
      <table class="ctable">
        <tr>
          <td>Name</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="styleType.item.name"
                [(ngModel)]="styleType.item.name"
                #name="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Sequence</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                type="number"
                class="text-center"
                name="styleType.item.sequence"
                [(ngModel)]="styleType.item.sequence"
                #sequence="ngModel" />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div>
        <btn [text]="'save'"
          style="float: right; margin-top: 10px;"
          (click)="typeOnSubmit()">
        </btn>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Basic Info
          <btn-icon [text]="'edit'"
            *ngIf="_auth.hasPermission('PERMISSION_STYLE_TYPE_CREATE')"
            (click)="openTypeEditModal(typeEditModal)">
          </btn-icon>
        </span>
        <table class="ctable">
          <tbody>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Name
              </td>
              <td>
                {{ styleType.detail.name }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Sequence
              </td>
              <td>
                {{ styleType.detail.sequence }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #typeEditModal>
  <h2 mat-dialog-title>Edit Type</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <td>Name</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="styleType.editData.name"
                  [(ngModel)]="styleType.editData.name"
                  #name="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Sequence</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  type="number"
                  class="text-center"
                  name="styleType.editData.sequence"
                  [(ngModel)]="styleType.editData.sequence"
                  #sequence="ngModel" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="typeOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>