<div id="product"
  class="page-layout carded fullwidth inner-scroll">

  <div class="header"
    style="padding: 10px;"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="space-between ">

    <div class="user-info"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="start ">
      <div style="height: 200px; width: 200px; margin-right: 30px;"
        *ngIf="user?.id">
        <single-photo-card [name]="'Profile Photo Upload'"
          [subtitle]="'Best Photo Size: 1:1 or Height: 200px and width: 200px'"
          [entityId]="user?.id"
          [entityType]="'user_profile'"
          [enableEdit]="true">
        </single-photo-card>
      </div>
      <div class="name"
        style="color: #000;font-size: 28px;font-weight: 600; "
        [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        {{user?.firstName}} {{user?.lastName}}
        <div class="h5 secondary-text">
          {{user?.company}}
        </div>
        <div class="h5"
          style="font-size: 16px;
                color:#59bdee;
                margin-top: 10px;
                font-weight:500">
          <mat-icon
            style="color: #707070;font-size: 20px; vertical-align: middle">email
          </mat-icon>
          {{user?.email}}
        </div>
        <div class="h5"
          style="font-size: 16px;
                                color:#59bdee;
                                margin-top: 10px;
                                font-weight:500">
          <mat-icon
            style="color: #707070;font-size: 20px; vertical-align: middle">phone
          </mat-icon>
          {{user?.phoneNo}}
        </div>
        <div class="h5"
          style="font-size: 16px;
                color:#59bdee;
                margin-top: 10px;
                font-weight:500">
          <mat-icon
            style="color: #707070;font-size: 20px; vertical-align: middle">
            location_on
          </mat-icon>
          {{user?.address}}
        </div>
      </div>

    </div>
    <div>

      <btn-small [text]="'update'"
        [custom]="'Change Email'"
        (click)="openEmailChangeModal(useEmailEditModal)">
      </btn-small>
      <btn-small [text]="'delete'"
        [custom]="'Change Password'"
        (click)="openPassChangeModal(usePassEditModal)">
      </btn-small>
      <btn-small [text]="'edit'"
        [custom]="'Edit Profile'"
        (click)="openEditModal(userInfoEditModal)">
      </btn-small>
    </div>
  </div>

  <div class="center">
    <div class="content-card mat-white-bg">
      <!-- <nav mat-tab-nav-bar>
        <a mat-tab-link
          *ngFor="let tab of tabs"
          [routerLink]="['/' + tab.path]"
          routerLinkActive
          #rla="routerLinkActive"
          [routerLinkActiveOptions]="{exact: true}"
          [active]="rla.isActive">
          {{tab.label}}
        </a>
      </nav> -->
      <!-- CONTENT -->
      <div class="content">
        <div class="tab-content p-24"
          fusePerfectScrollbar>
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- / CONTENT -->
    </div>
  </div>
</div>

<ng-template #userInfoEditModal>
  <h2 mat-dialog-title>Update Profile</h2>
  <mat-dialog-content style="min-height: 55vh;">

    <table class="ctable noborder">
      <tr>
        <th>First Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.firstName"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Last Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.lastName"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Company</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.company"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Phone No <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.phoneNo"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Address</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field class="w-100-p">
            <textarea matInput
              rows="4"
              rows="4"
              [(ngModel)]="newUser.address"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>

  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (onclick)="userUpdate()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>

</ng-template>


<ng-template #usePassEditModal>
  <h2 mat-dialog-title>Change Password <span>
    </span>
  </h2>
  <mat-dialog-content style="min-height: 20vh;">

    <div fxLayout>
      <div fxFlex>
        <table class="ctable noborder">
          <tr>
            <th class="fit">Current Password</th>
            <th class="fit">:</th>
            <td>
              <mat-form-field>
                <input matInput
                  type="password"
                  [(ngModel)]="newPass.oldPassword"
                  #name="ngModel">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th class="fit">New password</th>
            <th class="fit">:</th>
            <td>
              <mat-form-field>
                <input matInput
                  type="password"
                  [(ngModel)]="newPass.password"
                  #name="ngModel">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th class="fit">Confirm password</th>
            <th class="fit">:</th>
            <td>
              <mat-form-field>
                <input matInput
                  type="password"
                  [(ngModel)]="newPass.confirmPassword"
                  #name="ngModel">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- pass -->
  </mat-dialog-content>

  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'edit'"
            [custom]="'Save password'"
            (click)="savePassword()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>


<ng-template #useEmailEditModal>
  <h2 mat-dialog-title>Change Email</h2>
  <mat-dialog-content style="min-height: 50px;">
    <table class="ctable noborder">
      <tr>
        <th class="fit">New Email</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="email"
              [(ngModel)]="newEmail.email"
              #email="ngModel">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-dialog-content>

  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'edit'"
            [custom]="'Change Email'"
            (click)="saveEmail()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>