<table class="heatmap">
  <tr>
    <td class="text-center"
      *ngFor="let item of colors; let i = index">
      <span *ngIf="i+1 == value"
        class="mb-4"
        style="display: block;font-size: 20px;">▼</span>
    </td>
  </tr>
  <tr class="color">
    <td *ngFor="let item of colors"
      [style.background]="item.color"></td>
  </tr>
  <tr>
    <td colspan="5"
      class="text-left">Light</td>
    <td colspan="5"
      class="text-center">Warm</td>
    <td colspan="5"
      class="text-right">Hot</td>
  </tr>
</table>