<table class="ctable noborder">
  <tr>

    <td style="width: 300px">
      <mat-select placeholder="Inventory Location"
        class="mat-multiple-select"
        [(ngModel)]="inventoryLocationId">
        <mat-option *ngFor="let item of inventoryLocationList"
          [value]="item.id">{{item.name}}</mat-option>
      </mat-select>
    </td>
    <td></td>
  </tr>
</table>
<table class="ctable">
  <tr class="header-bg">
    <th style="max-width: 100px; min-width: 70px;"
      class="fit"></th>
    <th style="max-width: 100px; min-width: 70px;"
      *ngFor="let size of sizes;"
      class="text-center">{{size?.name}}</th>
    <!-- <th class="fit">Total</th> -->
  </tr>

  <tbody>
    <tr *ngFor="let color of colors">
      <td class="fit">{{color.name}}</td>
      <td *ngFor="let size of color.sizes;"
        class="text-center">
        <input type="text"
          numberonly
          decimals="0"
          class="text-center"
          matInput
          [(ngModel)]="size.quantity"
          autocomplete="off"
          #quantity="ngModel">
      </td>
      <!-- <td class="fit">Total</td> -->
    </tr>
  </tbody>
</table>
<div class="text-right mt-12">
  <btn [text]="'add'"
    *ngIf="styleId"
    (onclick)="addInventory()"></btn>
</div>