<div fxLayout>
  <div fxFlex
    *ngIf="report?.length">

    <table class="ctable no-border-top no-border-left">
      <thead class="csticky">
        <th>Type</th>
      </thead>
      <tbody>
        <tr *ngFor="let parent of report; let parentIndex = index">
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>