<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">

            <div fxFlex>
              <input matInput
                placeholder="First Name"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.firstname" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Last Name"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.lastname" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Email"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.email" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Phone No"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.phoneno" />
            </div>
            <div fxFlex></div>
          </div>
        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>

          </span>

        </div>
        <div fxFlex.gt-md="120px"
          *ngIf="_auth.hasPermission('PERMISSION_PARTNER_USER_CREATE')">
          <span>
            <btn [custom]="'Manager'"
              [text]="'add'"
              (onclick)="openCreateModal(userCreateModal)"></btn>
          </span>
        </div>
      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->
      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>
          <div *ngIf="users.length === 0"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlexFill>
            <span class="no-messages-text hint-text">{{
              "Users"
              }}</span>
          </div>

          <div class="pr-8"
            *ngIf="users?.length">
            <table class="ctable no-border-top no-border-left">
              <thead class="csticky">
                <th class="fit">Image</th>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
                <th>Phone</th>
                <th style="width: 200px;">Address</th>
                <th class="fit text-center">Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>
                    <div class="text-center">
                      <img class="thumb-image"
                        *ngIf="user?.userProfile?.length"
                        [src]="user?.userProfile[0]?.thumnailFilePath" />
                      <img class="thumb-image"
                        *ngIf="!user?.userProfile?.length"
                        src="assets/images/theme/noimage.jpg" />
                    </div>
                  </td>
                  <td>{{ user.fullname }}
                    <mat-icon *ngIf="user?.enable"
                      class="s-16 text-green">check</mat-icon>
                  </td>
                  <td>
                    {{ user?.email }}
                  </td>
                  <td>
                    {{ user?.company }}
                  </td>
                  <td>
                    {{ user?.phoneNo }}
                  </td>
                  <td>
                    {{ user?.address }}
                  </td>
                  <td class="text-center">
                    <div class="mb-8">
                      <btn-small [text]="'link'"
                        [custom]="'Details'"
                        (onclick)="openPartnerModal(user.id)">
                      </btn-small>
                    </div>
                    <div class="mb-8">
                      <btn-small *ngIf="!user?.enable"
                        [text]="'update'"
                        [custom]="'Enable'"
                        (onclick)="userEnableDisable(true, user.id)">
                      </btn-small>
                      <btn-small *ngIf="user?.enable"
                        [text]="'delete'"
                        [custom]="'Disable'"
                        (onclick)="userEnableDisable(false, user.id)">
                      </btn-small>
                    </div>
                    <div
                      *ngIf="_auth.hasPermission('PERMISSION_PARTNER_USER_DELETE')">
                      <btn-small [text]="'delete'"
                        (onclick)="deleteUser(user.id)"></btn-small>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- / CONTENT -->
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>

</div>


<ng-template #userCreateModal>
  <h2 mat-dialog-title>Add Sales Manager User</h2>
  <mat-dialog-content style="min-height: 55vh;">
    <table class="ctable noborder">
      <tr>
        <th>User Email <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.email"
              #name="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>First Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.firstName"
              #name="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Last Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.lastName"
              #name="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Company</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.company"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Phone No <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.phoneNo"
              #phoneNo="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Address</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field class="w-100-p">
            <textarea matInput
              rows="4"
              [(ngModel)]="newUser.address"
              #address="ngModel"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (onclick)="createUser()"></btn>
        </td>
      </tr>
    </table>

  </mat-dialog-actions>
</ng-template>