<div>
  <div class="text-right my-8">
    <btn-small [text]="'add'"
      (onclick)="addRow()"></btn-small>
  </div>
  <table class="ctable">

    <tr class="header-bg">
      <th>First Name</th>
      <th>Last Name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Phone No</th>
      <th class="text-center">Job Title</th>
      <th class="text-center">Active</th>
      <th class="text-center">Admin</th>
      <th class="text-center">Primary</th>
      <th class="text-center">Password</th>
      <th class="text-center">Email Invitation</th>
      <th class="text-center"
        style="width: 100px;">Action</th>
    </tr>
    <tr *ngFor="let user of userList">
      <ng-container *ngIf="!user.editMode">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td class="text-center">{{user.email}}</td>
        <td class="text-center">{{user.phoneNo}}</td>
        <td class="text-center">{{user.jobTitle}}</td>
        <td class="text-center">
          <mat-icon *ngIf="user?.enable">check</mat-icon>
        </td>
        <td class="text-center">
          <mat-icon *ngIf="user?.admin">check</mat-icon>
        </td>
        <td class="text-center">
          <mat-icon *ngIf="user?.primary">check</mat-icon>
        </td>
        <td class="text-center">
          <mat-icon *ngIf="user?.password">check</mat-icon>
        </td>
        <td class="text-center">
          <div class="text-center">
            <btn-small [text]="'edit'"
              [icon]="'person_add'"
              [custom]="'Send Invitation'"
              (onclick)="openInvitationModal(user,sendInvitationModal)">
            </btn-small>
          </div>

          <div *ngIf="user?.lastInvitationSent"
            class="text-small text-center"> Last
            invited:
            {{user?.lastInvitationSent | date: 'mediumDate'}}</div>
        </td>
        <td class="text-center">
          <btn-icon [text]="'edit'"
            (onclick)="user.editMode = true"></btn-icon>
          <btn-icon *ngIf="!user.default"
            [text]="'delete'"
            (onclick)="delete(user.id)"></btn-icon>
        </td>
      </ng-container>
      <ng-container *ngIf="user.editMode">
        <td>
          <input matInput
            type="text"
            [(ngModel)]="user.firstName" />
        </td>
        <td>
          <input matInput
            type="text"
            [(ngModel)]="user.lastName" />
        </td>
        <td>
          <input matInput
            type="email"
            [(ngModel)]="user.email" />
        </td>
        <td>
          <input matInput
            type="text"
            [(ngModel)]="user.phoneNo" />
        </td>
        <td>
          <input matInput
            type="text"
            [(ngModel)]="user.jobTitle" />
        </td>
        <td class="text-center">
          <mat-checkbox [(ngModel)]="user.enable">
          </mat-checkbox>
        </td>
        <td class="text-center">
          <mat-checkbox [(ngModel)]="user.admin">
          </mat-checkbox>
        </td>
        <td class="text-center">
          <mat-checkbox [(ngModel)]="user.primary">
          </mat-checkbox>
        </td>
        <td></td>
        <td class="text-center">
          <btn-icon *ngIf="!user?.new"
            [text]="'save'"
            (onclick)="updateUser(true, user)"></btn-icon>
          <btn-icon *ngIf="user?.new"
            [text]="'add'"
            (onclick)="updateUser(false, user)"></btn-icon>
          <btn-icon [text]="'cancel'"
            (onclick)="getUserList()"></btn-icon>
        </td>
      </ng-container>
    </tr>
  </table>

</div>


<ng-template #sendInvitationModal>
  <h2 mat-dialog-title>Send Invitation</h2>
  <mat-dialog-content style="min-height: 150px;">
    <div style="max-width: 800px; margin: 0 auto">
      <div class="email-summarnote"
        [ngxSummernote]="config"
        [(ngModel)]="emailObject.emailBody">
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            (onclick)="closeModal()"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'edit'"
            [custom]="'Send'"
            (onclick)="sendEmail()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>