<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <div class="center">
    <div class="content-card mat-white-bg">
      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex="55%"
          class="p-8">
          <!--Page Container -->

          <div fxLayout="column"
            fxLayoutGap="5px">
            <div fxLayout="row">
              <div fxFlex="30%">
                <div class="pr-8"
                  style="border: 1px solid #ddd; width: 200px;border-radius: 10px;">
                  <table style="width: 100%;">
                    <tr>
                      <td>Name &nbsp; :</td>
                      <!-- <td>:</td> -->
                      <td>{{shipment.name}}</td>

                      <td style="text-align: right;">
                        <btn-icon [text]="'edit'"
                          *ngIf="_auth.hasPermission('PERMISSION_SUPPLIER_SHIPMENT_EDIT')"
                          (click)="editShipment(shipmentEditModal)">
                        </btn-icon>
                        <!-- <btn-small [text]="'edit'"
                          style="float:right; margin-left: 100px;"
                          (onclick)="editShipment(shipmentEditModal)">
                        </btn-small> -->
                      </td>
                    </tr>
                    <tr>
                      <td>PO &nbsp; :</td>
                      <td>{{shipment.poNumber}}</td>
                    </tr>
                    <tr>
                      <td style="min-width: 70px;">Ship Date &nbsp; :</td>
                      <td style="min-width: 70px;">{{shipment.shipmentDate}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div fxFlex="30%">
                <div class="pr-8"
                  style="border: 1px solid #ddd; border-radius: 10px;width: 200px;">
                  <table style="font-size: 20px;">
                    <tr>
                      <td>Total Qty</td>
                      <td>:</td>
                      <td>{{shipment.quantity}}</td>
                    </tr>
                    <tr>
                      <td>Total Boxes</td>
                      <td>:</td>
                      <td>
                        {{shipment.noOfBox}} </td>
                    </tr>

                  </table>
                </div>
              </div>
              <div fxFlex>
                <div class="pr-8"
                  style="border: 1px solid #ddd; border-radius: 10px;">
                  <table>
                    <tr>
                      <td style="font-size: 16px">Received
                        Boxes</td>
                      <td style="font-size: 16px"
                        class="fit">:</td>
                      <td
                        [ngStyle]="{'color':locationGivenBoxesNumber == shipment.noOfBox ?  'green':'red' }"
                        style="font-size: 16px">
                        {{locationGivenBoxesNumber}}/{{shipment.noOfBox}}</td>
                    </tr>
                    <tr>
                      <td style="font-size: 16px">Received
                        Qty</td>
                      <td style="font-size: 16px"
                        class="fit">:</td>
                      <td style="font-size: 16px">
                        {{totalReceivedQuantity}}</td>
                    </tr>
                    <tr>
                      <div style="display: contents;"
                        *ngIf="shipment.noOfBox == locationGivenBoxesNumber && _auth.hasPermission('PERMISSION_SUPPLIER_SHIPMENT_RECEIVE') && !shipment.isPoShipmentComplete">
                        <td style="font-size: 14px;color:rgb(167, 23, 23) ;">
                          <span style="vertical-align: middle;">
                            <mat-icon style="color: red;">info
                            </mat-icon>
                          </span> Full PO Receive ?
                        </td>
                        <td>:</td>
                        <td>
                          <span style="padding: 6px;">
                            <a style="color:rgb(61, 124, 10);border: 2px solid rgb(61, 124, 10); text-decoration: none;vertical-align: sub; cursor: pointer; font-weight: bolder;border-radius: 10px;padding: 0px 4px;vertical-align: baseline;"
                              (click)="poComplete()">
                              Yes
                            </a>

                          </span>
                          <!-- <span style="padding: 6px;">
                            <a style="color:rgb(209, 31, 31);border: 2px solid rgb(209, 31, 31); text-decoration: none;vertical-align: sub; cursor: pointer; font-weight: bolder;border-radius: 10px;padding: 0px 4px;vertical-align: baseline"
                              (click)="openLocationModal(locationAddModal)">
                              No
                            </a>
                          </span> -->
                        </td>
                      </div>
                      <div style="display: contents;"
                        *ngIf="shipment.noOfBox != locationGivenBoxesNumber">
                        <td style="font-size: 14px;">
                          PO Status
                        </td>
                        <td>:</td>
                        <td>
                          <span
                            class="text-blue">{{shipment.poShipStatus}}</span>
                        </td>
                      </div>
                    </tr>

                  </table>
                </div>
              </div>


            </div>
            <div fxFlex>
              <div>
                <table class="ctable">
                  <thead class="csticky">
                    <th class="fit"><span>Box</span> &nbsp;
                      <span
                        *ngIf="_auth.hasPermission('PERMISSION_SUPPLIER_SHIPMENT_RECEIVE')">
                        <mat-checkbox class="btn-block"
                          [(ngModel)]="selectAllBoxes"
                          (change)="onSelectAllBoxes(selectAllBoxes)">
                        </mat-checkbox>
                      </span>&nbsp;

                      <span
                        *ngIf="_auth.hasPermission('PERMISSION_SUPPLIER_SHIPMENT_RECEIVE')">
                        <a *ngIf="selectedItems.length"
                          matTooltip="Bulk Location"
                          style="color:rgb(167, 23, 23); text-decoration: none;vertical-align: sub; cursor: pointer; font-weight: bolder;"
                          (click)="openLocationModal(locationAddModal)">
                          <mat-icon>room</mat-icon>
                        </a>
                        <a *ngIf="!selectedItems.length"
                          matTooltip="Bulk Location"
                          style="color:rgba(140, 136, 136, 0.621); text-decoration: none;vertical-align: sub; cursor: pointer; font-weight: bolder;"
                          (click)="onLocationClickWithoutBox()">
                          <mat-icon>room</mat-icon>
                        </a>
                      </span>
                    </th>
                    <th>Location</th>
                    <th>Customer</th>
                    <th>Style No.</th>
                    <th>Colour</th>
                    <th *ngFor="let size of styleSizeList">{{size.sizeName}}
                    </th>
                    <th>Total</th>
                    <th class="text-center"
                      *ngIf="!shipment.complete">Action</th>
                  </thead>
                  <ng-container
                    *ngFor="let box of shipment.factoryShipmentPackings ; let boxIndex = index">
                    <tr
                      *ngFor="let boxDetail of box.factoryShipmentPackingDetails; let boxDetailIndex = index">
                      <td [hidden]="boxDetailIndex > 0"
                        [attr.rowspan]="box.factoryShipmentPackingDetails?.length">
                        <span>{{box.boxNumber}}</span> &nbsp;
                        <span
                          *ngIf="_auth.hasPermission('PERMISSION_SUPPLIER_SHIPMENT_RECEIVE')">
                          <mat-checkbox class="btn-block"
                            (change)="onSelectBox()"
                            [(ngModel)]="box.selectd">
                          </mat-checkbox>
                        </span>
                      </td>
                      <td [hidden]="boxDetailIndex > 0"
                        [attr.rowspan]="box.factoryShipmentPackingDetails?.length">
                        {{ box?.inventoryLocationName }} </td>

                      <td [hidden]="boxDetailIndex > 0"
                        [attr.rowspan]="box.factoryShipmentPackingDetails?.length">
                        {{ box?.customerName }}
                      </td>
                      <td>
                        {{ boxDetail?.styleName }}
                      </td>
                      <td>
                        {{ boxDetail?.comboName }}
                      </td>
                      <td *ngFor="let size of boxDetail.styleSizeList">
                        {{ size?.quantity }}
                      </td>
                      <td [hidden]="boxDetailIndex > 0"
                        [attr.rowspan]="box.factoryShipmentPackingDetails?.length">
                        {{ box?.totalQty }}
                      </td>
                      <td *ngIf="!shipment.complete"
                        [hidden]="boxDetailIndex > 0"
                        [attr.rowspan]="box.factoryShipmentPackingDetails?.length"
                        class="text-center">
                        <btn-small [text]="'update'"
                          [custom]="'Edit'"
                          (onclick)="onEditBtnClick(box)">
                        </btn-small> <br>
                        <btn-small [text]="'delete'"
                          (onclick)="removeBox(box.id)"></btn-small>
                      </td>
                    </tr>
                  </ng-container>
                  <tr>
                    <td colspan="100%">
                      <button (click)="onStatusChange(true ,shipment.id)"
                        *ngIf="!shipment.complete"
                        style="border: 1px solid #039be5; color: #039be5;border-radius: 5px !important;background-color: #fff;line-height: normal;height: 28px;float: right;margin: 5px;"
                        mat-raised-button
                        color="primary">Complete</button>
                      <!-- <button (click)="onStatusChange(true ,shipment.id)"
                        style="border: 1px solid #2b652f; color: #2b652f;border-radius: 5px !important;background-color: #fff;line-height: normal;height: 28px;float: right;margin: 5px;"
                        mat-raised-button
                        color="primary">Save To Draft</button> -->

                    </td>
                  </tr>
                </table>
              </div>

            </div>

          </div>
          <!--Page Container -->
        </div>
        <div fusePerfectScrollbar
          fxFlex="45%"
          class="p-8">
          <!--Page Container -->

          <div fxLayout
            fxLayoutGap="10px">
            <div fxFlex>
              <div class="p-8"
                *ngIf="!shipment.complete"
                style="border:  1px solid #ddd;">
                <span class="mat-title">Add Box To Shipment</span>

                <table class="ctable noborder"
                  style="max-width: 60%;">
                  <tr>
                    <td>Box No.</td>
                    <td *ngIf="editModeEnable">{{boxForm}}</td>
                    <td *ngIf="!editModeEnable">
                      <input type="number"
                        [(ngModel)]="boxForm"
                        min="{{boxForm}}"
                        max="{{boxForm}}"
                        style="border:1px solid #ddd;width: 50px !important;background-color: #fff;">
                    </td>
                    <th *ngIf="!editModeEnable">To</th>
                    <td *ngIf="!editModeEnable">
                      <input type="number"
                        [(ngModel)]="boxTo"
                        min="{{boxForm}}"
                        style="border:1px solid #ddd;
                        width:50px !important;background-color: #fff;">
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>Rawman Stock</td>
                    <td>
                      <mat-checkbox class="mt-24">

                      </mat-checkbox>
                    </td>
                  </tr> -->

                </table>
                <table class="ctable noborder"
                  style="max-width: 60%;margin-bottom: 20px;">
                  <tr>
                    <td>Custormer</td>
                    <td></td>
                    <td>
                      <ng-select [items]="customerList"
                        bindLabel="name"
                        [clearable]="true"
                        placeholder="Select Customer"
                        appendTo="body"
                        bindValue="id"
                        [(ngModel)]="customerId">
                      </ng-select>
                    </td>
                  </tr>
                </table>
                <table class="ctable"
                  style="width: auto !important; width: 100% !important">
                  <tr class="header-bg">
                    <th>Style No.</th>
                    <th>
                      Size</th>
                    <th>Colour</th>
                    <th>Qty</th>
                    <th></th>
                  </tr>
                  <tbody>
                    <tr *ngFor="let boxItem of boxItemList; let index = index">
                      <th class="text-left">
                        <ng-select [items]="styleList"
                          style="max-width:100%;"
                          bindLabel="name"
                          [clearable]="false"
                          placeholder="Style"
                          appendTo="body"
                          bindValue="id"
                          [(ngModel)]="boxItem.styleId"
                          (change)="onChangeStyle($event,boxItem);onChangeItem(boxItem.styleId,'styleId',boxItem)">
                        </ng-select>
                      </th>
                      <td>
                        <ng-select [items]="sizeList"
                          style="max-width:100%;"
                          bindLabel="name"
                          [clearable]="false"
                          placeholder="Size"
                          appendTo="body"
                          bindValue="id"
                          [(ngModel)]="boxItem.sizeId"
                          (change)="onChangeItem(boxItem.sizeId,'sizeId',boxItem )">
                        </ng-select>
                      </td>

                      <td class="text-center">
                        <ng-select [items]="boxItem.colorList"
                          style="max-width:100%;"
                          bindLabel="name"
                          [clearable]="false"
                          placeholder="Color"
                          appendTo="body"
                          bindValue="id"
                          [(ngModel)]="boxItem.styleComboId"
                          (change)="onChangeItem(boxItem.styleComboId,'styleComboId',boxItem)">
                        </ng-select>
                      </td>
                      <td>
                        <input type="number"
                          style="width: 50px;"
                          [(ngModel)]="boxItem.quantity"
                          style="border:1px solid #ddd; width:80px !important;background-color: #fff;height: 35px !important;"
                          placeholder="Quantity">
                      </td>
                      <td>
                        <btn-icon [text]="'delete'"
                          (click)="rowRemove(index)">
                        </btn-icon>
                      </td>
                    </tr>
                  </tbody>
                  <tr>
                    <th colspan="5"
                      style="text-align: right;">
                      <button class="filter-btn"
                        matTooltip="Add a new style"
                        style="border: 2px solid green;background-color: green;color: #fff;font-weight: 500;cursor:pointer;border-radius: 10px;padding: 0px !important;"
                        (click)="onAddRow()">
                        <mat-icon
                          style="line-height: 26px;font-size: 18px; float: right;">
                          add</mat-icon>
                      </button>
                    </th>
                  </tr>

                </table>
                <table style="width: 100% !important;">
                  <tr>
                    <td>

                      <span>
                        <btn-small [text]="'add'"
                          style="margin-right: 0px !important;float: right;"
                          [custom]="'Add'"
                          *ngIf="!editModeEnable"
                          [disabled]="disablesubmitBtn"
                          (onclick)="onStylesSubmit()"></btn-small>
                      </span>
                      <span>
                        <btn-small [text]="'edit'"
                          *ngIf="editModeEnable"
                          style="margin-right: 10px !important;float: right;"
                          [custom]="'Update'"
                          (onclick)="onStylesUpdate()"></btn-small>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>

            </div>

          </div>
          <!--Page Container -->
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #shipmentEditModal>
  <h2 mat-dialog-title>Update Shipment</h2>
  <mat-dialog-content style="min-height: 55vh;">
    <table class="ctable noborder">
      <tr>
        <th>Shipment Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="shipmentUpdateObj.name"
              #name="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>PO <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-select placeholder="PO"
            class="mat-multiple-select"
            [(ngModel)]="shipmentUpdateObj.poId">
            <mat-option *ngFor="let item of poList"
              [value]="item.id">{{ item.number }}</mat-option>
          </mat-select>
        </td>
      </tr>
      <tr>
        <th>Shipment Date <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <date-picker
            (change)="shipmentUpdateObj.shipmentDate = $event.dateFormatted"
            hideLabel="true"
            [labelName]="'Shipment Date'"
            [dateValue]="shipmentUpdateObj.shipmentDate">
          </date-picker>
        </td>
      </tr>
      <tr>
        <th>Remark</th>
        <th class="fit">:</th>
        <td>
          <textarea matInput
            [(ngModel)]="shipmentUpdateObj.remark"
            #remark="ngModel"
            autocomplete="off">
            </textarea>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'Update'"
            (onclick)="updateShipment()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>



<ng-template #locationAddModal>
  <h2 mat-dialog-title>Select Location</h2>
  <mat-dialog-content style="min-height: 25vh;">
    <table class="ctable noborder">

      <tr>
        <th>Location <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <ng-select [items]="locationList"
            [clearable]="false"
            bindLabel="name"
            bindValue="id"
            appendTo="body"
            [(ngModel)]="location.locationId"
            (change)="onLocationSelect($event)">
          </ng-select>
        </td>
      </tr>

      <tr>
        <th>Remark</th>
        <th class="fit">:</th>
        <td>
          <textarea matInput
            required
            style="width: 100%;"
            [(ngModel)]="location.remark"
            #remark="ngModel"
            autocomplete="off">
            </textarea>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'Add'"
            (onclick)="addLocation()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>