<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">

            <!-- <div fxFlex>
              <input matInput
                placeholder="Name"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.name" />
            </div>

            <div fxFlex>
              <input matInput
                placeholder="Email"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.email" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Phone No"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.phoneno" />
            </div> -->
            <div fxFlex></div>
          </div>
        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
          </span>

        </div>
        <div fxFlex.gt-md="180px"
          *ngIf="_auth.hasPermission('PERMISSION_WAREHOUSE_USER_CREATE')">
          <span>
            <btn [custom]="'Supplier'"
              [text]="'add'"
              (onclick)="openCreateModal(supplierCreateModal)"></btn>
          </span>
        </div>
      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->
      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>
          <div *ngIf="suppliers.length === 0"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlexFill>
            <span class="no-messages-text hint-text">{{
              "Suppliers"
              }}</span>
          </div>

          <div class="pr-8"
            style="width: 60%;"
            *ngIf="suppliers?.length">
            <table class="ctable no-border-top no-border-left">
              <thead class="csticky">
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th style="width: 200px;">Address</th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let supplier of suppliers">
                  <td>{{ supplier.name }}</td>
                  <td>
                    {{ supplier?.email }}
                  </td>

                  <td>
                    {{ supplier?.phone }}
                  </td>
                  <td>
                    {{ supplier?.address }}
                  </td>
                  <td class="fit">
                    <span>
                      <btn-small [text]="'edit'"
                        (onclick)="openEditModal(supplierCreateModal,supplier)">
                      </btn-small>
                    </span>
                    <span>
                      <btn-small [text]="'delete'"
                        (onclick)="deleteSupplier(supplier.id)"></btn-small>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- / CONTENT -->
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>

</div>


<ng-template #supplierCreateModal>
  <h2 mat-dialog-title
    *ngIf="!editFlag">Add Supplier</h2>
  <h2 mat-dialog-title
    *ngIf="editFlag">Update Supplier</h2>
  <mat-dialog-content style="min-height: 55vh;">
    <table class="ctable noborder">
      <tr>
        <th>Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newSupplier.name"
              #name="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Email </th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newSupplier.email"
              #name="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>


      <tr>
        <th>Address</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newSupplier.address"
              #name="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Phone No</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newSupplier.phone"
              #phoneNo="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>

    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            *ngIf="!editFlag"
            (onclick)="createSupplier()"
            [disabled]="disableActionButton"></btn>
          <btn *ngIf="editFlag"
            [text]="'update'"
            [disabled]="disableActionButton"
            (onclick)="createSupplier()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>