:host /deep/ .mat-card-header-text {
  margin: 0;
}

.diamond {
  list-style-type: square;
  color: rgb(56, 56, 56);
}
.diamond li {
  margin: 0.5em 0;
  font-size: 16px;
  font-weight: bold;
}

.instraction p {
  font-size: 12px;
  line-height: 14px;
  padding: 0;
  margin: 0;
}

.style-list-color-box {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ccc;
  margin-right: 3px;
  text-align: center;
  font-size: 8px;
  border-radius: 50%;
  overflow: hidden;
}
.style-color-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 8px;
  border-radius: 50%;
  overflow: hidden;
}

.style-color {
  display: inline-block;
  border: 2px solid transparent;
  padding: 3px;
  border-radius: 50%;
}
.style-color.selected {
  border: 2px solid #1b6d00;
}

.style-color-list {
  display: inline-block;
  padding: 0px;
  border-radius: 50%;
}

.style-item-add-btn {
  width: 100%;
  background: #f5f5f5 !important;
  color: #4e4e4e !important;
  border-radius: 15px !important;
  box-shadow: 4px 3px 4px #ccc;
  font-weight: bold;
}
