<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="10px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">
            <div fxFlex
              fxLayoutAlign="space-between center"
              *ngIf="userRole != 'ROLE_CUSTOMER'">
              <div fxFlex="40px"
                *ngIf="_auth.hasPermission('PERMISSION_CUSTOMER_CREATE')">
                <button class="filter-btn"
                  matTooltip="Add a new customer"
                  style="border: 2px solid green;background-color: green;color: #fff;font-weight: 500;cursor:pointer"
                  (click)="openCreateModal()">
                  <mat-icon
                    style="line-height: 26px;font-size: 18px; padding-right: 5px;">
                    add</mat-icon>
                </button>
                <!-- <btn-icon [text]="'add'"
                  [custom]="'Add a new customer'"
                  (onclick)="openCreateModal()">
                </btn-icon> -->
              </div>
              <div fxFlex>

                <ng-select [items]="customerList"
                  [clearable]="false"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Customers"
                  [(ngModel)]="customerId"
                  (change)="onCustomerChange()">
                </ng-select>



                <!-- <mat-select placeholder="Customers"
                  class="mat-multiple-select"
                  (selectionChange)="onCustomerChange()"
                  [(ngModel)]="customerId">
                  <mat-option *ngFor="let item of customerList"
                    [value]="item.id"
                    [disabled]="!item?.enable">{{ item.name }}</mat-option>
                </mat-select> -->
              </div>
            </div>
            <div fxFlex>
              <mat-select multiple
                placeholder="Style Type"
                class="mat-multiple-select"
                [(ngModel)]="filter.styletypeid">
                <mat-option *ngFor="let item of styleTypeList"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select>
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Style Name"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.stylename" />
            </div>
            <div fxFlex>

            </div>
            <div fxFlex>

            </div>

          </div>

        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
          </span>

        </div>
        <div class="text-center"
          fxFlex.gt-md="180px">
          <button class="cart-btn"
            mat-button
            (click)="onCartOpen(cart)">
            <mat-icon class="s-16 mr-4"
              style="margin-top: -2px;">shopping_cart</mat-icon>
            Cart <ng-container *ngIf="order?.totalOrderedQty">
              ({{order?.totalOrderedQty}}
              pcs)</ng-container>
          </button>
        </div>


      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->

      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>



          <div class="content"
            fxLayout="row wrap"
            fxLayoutGap="0px grid">
            <div fxFlex="25%"
              fxFlex.xs="100%"
              fxFlex.sm="50%"
              *ngFor="let style of styles; let styleIndex = index;">
              <mat-card class="m-8">
                <div *ngIf="style?.discountFlag"
                  class="sales-discount"
                  style="opacity: 0.7;">
                  <div>{{style?.saleDiscounts?.discountPercentage}}% off -
                    {{style?.saleDiscounts?.reason}}
                    <br />
                    <span *ngIf="style?.saleDiscounts?.fromDate"
                      style="font-weight: bold;">{{style?.saleDiscounts?.fromDate
                      |
                      date: 'MMM dd'}} - {{style?.saleDiscounts?.toDate |
                      date:
                      'MMM dd'}} </span>
                  </div>
                </div>


                <img class="new-tag"
                  *ngIf="style?.newTillDateFlag"
                  style="left: 0px !important;"
                  src="assets/images/theme/new-tag-green.png" />
                <img class="sale-tag"
                  *ngIf="style?.discountFlag"
                  style="right: 0px !important;left: unset !important;"
                  src="assets/images/theme/sale-tag.png" />
                <ng-container
                  (click)="openStyleCardDetailsModal(style.id, styleCardDetailsModal)">
                  <div
                    (click)="openStyleCardDetailsModal(style.id, styleCardDetailsModal)"
                    *ngIf="!style?.selectedColor?.id">
                    <img mat-card-image
                      class="cursor-pointer"
                      *ngIf="style?.styleImage?.length"
                      [src]="(style?.styleImage)[0]?.fileNameUrl" />
                    <img mat-card-image
                      class="cursor-pointer"
                      *ngIf="!style?.styleImage?.length"
                      src="assets/images/theme/incomming-product-image.png" />
                  </div>
                  <div *ngIf="style?.selectedColor?.id">

                    <img mat-card-image
                      class="cursor-pointer"
                      *ngIf="style?.selectedColor?.styleColorImages?.length"
                      [src]="(style?.selectedColor?.styleColorImages)[0]?.thumnailFileUrl" />
                    <img mat-card-image
                      class="cursor-pointer"
                      *ngIf="!style?.selectedColor?.styleColorImages?.length"
                      src="assets/images/theme/incomming-product-image.png" />
                  </div>

                </ng-container>


                <mat-card-header style="margin-bottom: -10px !important;">
                  <div fxFlex="150px">
                    <mat-card-title>{{ style?.name }}

                    </mat-card-title>
                  </div>
                  <div fxFlex
                    class="text-right">
                    <span class="style-color-list"
                      style="position: relative;"
                      *ngFor="let color of style?.combos">
                      <span *ngIf="color?.styleColorImages?.length"
                        class="style-list-color-box"
                        [ngClass]="{'selected': style?.selectedColor?.id == color?.id}"
                        [style.background-color]="color?.colorCode">
                        <img *ngIf="color?.colorImages?.length"
                          [src]="color?.colorImages[0].fileNameUrl">
                      </span>
                      <span *ngIf="!color?.styleColorImages?.length"
                        class="style-list-color-box"
                        [ngClass]="{'selected':style['selectedColor']?.id == color?.id}"
                        [style.background-color]="color?.colorCode">
                        <img *ngIf="color?.colorImages?.length"
                          class="style-list-color-box"
                          [src]="color?.colorImages[0].fileNameUrl">
                      </span>
                      <span *ngIf="color.soldOut"
                        matTooltip="This Color Is Not Available"
                        style="position: absolute;
                      top: -1px;
                      color: white;
                      z-index: 1000;
                      font-size: 6px;
                      font-weight: bolder;
                      background-color: red;
                      left: 0;
                      padding: 0.5px 1px;
                      border-radius: 1.5px; ">Sold Out</span>
                    </span>
                  </div>
                </mat-card-header>
                <mat-card-content style="margin-bottom: 0px !important;">
                  <div>
                    <mat-card-subtitle style="margin-bottom: 5px !important;">
                      <div fxLayout="row">
                        <div fxFlex>
                          {{ style?.styleBrandLabel || style?.styleType
                          }}
                        </div>
                        <div class="text-right">
                          <span class="text-green"
                            *ngIf="style?.availableShipDate ">
                            Available
                          </span>
                          <span class="text-red"
                            *ngIf="style?.balanceQty && style?.lowStockQty && (style?.lowStockQty>style?.balanceQty)  && style?.maxShipmentDate">
                            (Low
                            Stock)
                          </span>
                          <div></div>
                          <!-- <span *ngIf="style?.maxShipmentDate"><br />+</span> -->
                          <span *ngIf="style?.maxShipmentDate"
                            style="background-color: orange;
                            color: white;
                            border-radius: 3px;
                            padding: 2px;
                            text-align: center;
                            font-size: small;">
                            &nbsp;Upcoming&nbsp;
                          </span>

                        </div>
                      </div>
                    </mat-card-subtitle>
                    <mat-card-subtitle
                      style="height: 20px; margin-bottom: 2px !important;">
                      <div fxLayout="row">
                        <div fxFlex
                          class="font-big">
                          <span *ngIf="!style?.discountFlag">
                            {{ (
                            style?.priceObject[customerPriceType] ||
                            style?.defaultPrice) |
                            currency }}
                          </span>
                          <span *ngIf="style?.discountFlag">
                            <span style="color: #757575;">
                              <del>
                                {{ (
                                style?.priceObject[customerPriceType] ||
                                style?.defaultPrice) |
                                currency }}</del>
                            </span> &nbsp;
                            <span style="color: #f91b17;">{{ (
                              style?.priceObjectDis[customerPriceType] ||
                              style?.defaultPriceDis) |
                              currency }}</span>
                          </span>

                        </div>

                        <div class="text-center"
                          style="background-color: red; color:white;width: 80px;border-radius: 3px;"
                          *ngIf="style?.balanceQty && style?.lowStockQty && (style?.lowStockQty>style?.balanceQty) && !style?.maxShipmentDate">
                          Final Stock
                        </div>

                      </div>
                    </mat-card-subtitle>
                  </div>
                  <div style="height: 35px;">
                    {{ (style?.note?.length>110)? (style?.note |
                    slice:0:110)+'...':(style?.note) }}
                  </div>
                </mat-card-content>
                <mat-card-actions style="padding: 0px !important;">
                  <button
                    [disabled]="!style?.availableInventory && !style?.addedToOrder"
                    class="style-item-add-btn"
                    mat-icon-button
                    (click)="openStyleAddOnlyModal(style, styleAddOnlyModal)">
                    <ng-container
                      *ngIf="style?.availableInventory || style?.addedToOrder">
                      <mat-icon class="s-16 mr-4"
                        style="margin-top: -2px;">add_circle_outline</mat-icon>
                      <span>Add Item</span>
                    </ng-container>
                    <span class="text-gray"
                      *ngIf="!style?.availableInventory && !style?.addedToOrder">
                      Out of Stock
                    </span>
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>


        </div>

      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>








<ng-template #styleCardDetailsModal>
  <mat-dialog-content
    style="max-height: calc(100vh - 80px); border-top: 0 solid #ccc !important;">
    <div class="content"
      fxLayout="row wrap"
      fxLayoutGap="0px grid">
      <div fxFlex="50%"
        fxFlex.xs="100%">
        <div *ngIf="color?.id">
          <photo-gallery-horizontal [entityId]="color?.id"
            [heatmap]="style?.heatmap"
            [entityType]="'style_color_image'"></photo-gallery-horizontal>
        </div>
      </div>
      <div fxFlex="50%"
        fxFlex.xs="100%">
        <div class="p-20">
          <div fxLayout="row"
            fxLayoutAlign="center center">
            <div fxFlex>
              <h1 class="style-title">{{style?.name}}</h1>
            </div>
            <div fxFlex
              class="text-right">
              <h2 class="style-price">
                <span *ngIf="!style?.discountFlag">
                  {{ (
                  style?.priceObject[customerPriceType] ||
                  style?.defaultPrice) |
                  currency }}
                </span>
                <span *ngIf="style?.discountFlag">
                  <span>{{ (
                    style?.priceObjectDis[customerPriceType] ||
                    style?.defaultPriceDis) |
                    currency }}</span>
                  <span class="text-red">
                    <del>
                      {{ (
                      style?.priceObject[customerPriceType] ||
                      style?.defaultPrice) |
                      currency }}</del>
                  </span>
                </span>
              </h2>
            </div>
          </div>

          <h2
            style="border-bottom: 2px dotted #ccc; padding-bottom: 5px; margin-bottom: 0;">
            {{style?.note}}
          </h2>
          <div style="border-bottom: 2px dotted #ccc; padding-bottom: 10px;">
            <div class="mat-title mb-0">{{color?.name}}</div>
            <div>
              <table>
                <tr>
                  <td *ngFor="let item of style?.combos">
                    <div class="style-color"
                      [ngClass]="{'selected':item?.id == color?.id}"
                      style="position: relative;">
                      <span matTooltip="{{item?.name}}"
                        *ngIf="item?.styleColorImages?.length"
                        class="style-color-box"
                        (click)="loadColorPhotos(item)"
                        [style.background-color]="item?.colorCode">
                        <img *ngIf="item?.colorImages?.length"
                          [src]="item?.colorImages[0].fileNameUrl">
                      </span>
                      <span matTooltip="{{item?.name}}"
                        *ngIf="!item?.styleColorImages?.length"
                        class="style-color-box"
                        [style.background-color]="item?.colorCode">
                        <img *ngIf="item?.colorImages?.length"
                          [src]="item?.colorImages[0].fileNameUrl">
                      </span>
                      <span *ngIf="item.soldOut"
                        matTooltip="This Color Is Not Available"
                        style="position: absolute;
                      top: -1px;
                      color: white;
                      z-index: 1000;
                      font-size: 7.5px;
                      font-weight: bolder;
                      background-color: red;
                      left: 0;
                      padding: 0.5px 1px;
                      border-radius: 1.5px; ">Sold Out</span>
                    </div>

                  </td>
                </tr>
              </table>
            </div>


          </div>

          <span class="mat-title">Product Features</span>
          <ul class="diamond"
            style="margin-left: -10px;">
            <li *ngFor="let item of style?.styleFeatures">{{item?.label}}</li>
          </ul>
          <div>
            <span class="mat-title">Description</span>
            <p class="mb-20"
              style="text-align: justify; font-size: 14px;">
              {{style?.description}}</p>
          </div>



        </div>



      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="ctable noborder">
      <tr>

        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            [custom]="'Add Item'"
            (onclick)="openStyleAddOnlyModal(style, styleAddOnlyModal)">
          </btn>
          <btn [text]="'add'"
            [icon]="'shopping_cart'"
            [custom]="'View Cart'"
            (onclick)="onCartOpen(cart)">
          </btn>
        </td>
      </tr>
    </table>

  </mat-dialog-actions>
</ng-template>

<ng-template #styleAddOnlyModal>
  <div mat-dialog-title>
    <div fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutAlign="center center">
      <div fxFlex="200px">
        <span *ngIf="!editFlag">Order Form</span>
        <span *ngIf="editFlag">Edit Order Form</span>
      </div>
      <div fxFlex
        class="instraction">
        <p><b>Instructions:</b></p>
        <p>1. Enter required qty in boxes and "ADD/UPDATE" cart".</p>
        <p>2. Available stock is shown in <span class="text-blue">BLUE</span>.
        </p>
      </div>
      <div fxFlex="60px"
        style="height: 60px;">
        <single-photo-card [entityId]="customerId"
          [entityType]="'customer_profile'"
          [enableEdit]="false"
          [withborder]="false">
        </single-photo-card>
      </div>
    </div>
  </div>

  <mat-dialog-content style="max-height: calc(100vh - 140px);">
    <div>
      <style-basic [styleId]="styleId"
        [api]="true"
        [displayType]="'tiny'"
        [priceType]="customerPriceType"></style-basic>
    </div>
    <div *ngIf="showAddSection"
      id="breakdown">

      <table class="ctable"
        style="width: auto !important;">
        <tr *ngIf="quantityValidation">
          <td colspan="100%"
            style="text-align: right;">
            Available Stock In
            <span
              class="text-blue font-big">{{quantityValidation?.item?.sizeName
              }}</span> Is :
            <span class="text-red font-big">{{quantityValidation?.item?.quantity
              }}</span>
          </td>
        </tr>
        <tr class="header-bg">
          <th style="width: 140px;"
            class="fit"></th>
          <th style="width: 100px;"
            *ngFor="let size of sizes"
            class="text-center">
            {{ size?.name }}
          </th>
          <th style="width: 140px;"
            class="fit text-center">Quantity</th>
          <th style="width: 140px;"
            class="fit text-center"
            *ngIf="!editFlag">Total Value</th>
        </tr>

        <tbody>
          <tr *ngFor="let color of styleInventory">
            <td class="fit">
              <span>{{ color?.color?.displayName }}</span> <br>
              <span
                [ngStyle]="{'color':color?.color?.status == 'available' ?  'green':'#ff8c00' }">
                <span>{{ color?.color?.colorStatus }} </span><br>
                <span *ngIf="color?.color?.status != 'available'">{{
                  color?.color?.stockDate }} </span>
              </span>
            </td>
            <td *ngFor="let size of color.sizes"
              class="text-center"
              style="vertical-align: bottom;">
              <div class="text-blue">
                <span
                  *ngIf="size?.item?.quantity && size?.item?.quantity>this.minInvQtyShowOnOrder">{{
                  minInvQtyShowOnOrder }}+</span>
                <span
                  *ngIf="size?.item?.quantity && size?.item?.quantity<=this.minInvQtyShowOnOrder"
                  style="color: red;">Only {{ (size?.item?.quantity) }}
                  left</span>
              </div>
              <div>
                <input type="text"
                  (keyup)="totalStyleCalculation()"
                  [ngStyle]="{'background-color':((size?.item?.quantity) || 0) === 0 && ((size.quantity) || 0) === 0 ?  'rgb(234 234 234)':'#fff'}"
                  inputmode="numeric"
                  [disabled]=" ((size?.item?.quantity) || 0) === 0 && ((size.quantity) || 0) === 0 "
                  numberonly
                  decimals="0"
                  class="text-center"
                  [ngClass]="{'invalid-input': size.quantity > size?.item?.quantity }"
                  matInput
                  [(ngModel)]="size.quantity"
                  autocomplete="off"
                  #quantity="ngModel" />
              </div>
            </td>
            <th class="text-center">
              {{color?.totalQuantity}}
            </th>
            <th class="text-center"
              *ngIf="!editFlag">
              {{color?.totalPrice | currency}}
            </th>
            <!-- <td class="fit">Total</td> -->
          </tr>
        </tbody>
      </table>
    </div>


  </mat-dialog-content>

  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [custom]="'Cancel'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <ng-container *ngIf="!editFlag">
            <btn [text]="'add'"
              [disabled]="btnDisable"
              [custom]="'add to cart'"
              (onclick)="addStyle()"></btn>
          </ng-container>
          <ng-container *ngIf="editFlag">
            <btn [text]="'update'"
              [disabled]="btnDisable"
              [custom]="'update cart'"
              (onclick)="addStyle()"></btn>
          </ng-container>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>





<ng-template #cart>

  <div mat-dialog-title>
    <div fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutAlign="center center">
      <div fxFlex="60px"
        style="height: 60px;">
        <single-photo-card [entityId]="customerId"
          [entityType]="'customer_profile'"
          [enableEdit]="false"
          [withborder]="false">
        </single-photo-card>
      </div>
      <div fxFlex>
        {{newOrderObject?.name}}
      </div>
      <div fxFlex
        class="text-right">
        <mat-icon class="s-32">shopping_cart</mat-icon>
      </div>
    </div>
  </div>






  <mat-dialog-content style="max-height: calc(100vh - 120px);">

    <mat-horizontal-stepper #stepper
      *ngIf="order?.groupBreakdown?.length">
      <mat-step>
        <ng-template matStepLabel>Style Breakdown</ng-template>

        <div>
          <div class="table-scroll-horizontal">
            <table class="ctable mt-8"
              style="width: auto !important;"
              *ngFor="let group of order?.groupBreakdown; let groupIndex = index">
              <tr class="header-bg">
                <th class="fit text-center">Image</th>
                <th style="width: 150px;">Style</th>
                <th style="width: 120px;">Color</th>
                <th style="width: 100px;"
                  *ngFor="let size of group.sizeList"
                  class="text-center">
                  {{ size.sizeLabel }}
                </th>
                <th style="width: 100px;"
                  class="text-center">
                  Qty
                </th>
                <th style="width: 100px;"
                  class="text-center">
                  Price
                </th>
                <th class="fit text-center">
                </th>
              </tr>
              <ng-container
                *ngFor="let style of group?.styleBreakdown; let styleIndex = index">
                <tr
                  *ngFor="let color of style?.colorList; let colorIndex = index">
                  <td [hidden]="colorIndex > 0"
                    [attr.rowspan]="style?.colorList?.length">
                    <img class="thumb-image"
                      *ngIf="color?.image"
                      [src]="color?.image?.thumnailFileUrl" />
                  </td>
                  <td [hidden]="colorIndex > 0"
                    [attr.rowspan]="style?.colorList?.length">
                    {{style?.styleName}}
                  </td>
                  <td>
                    {{color.comboName}}
                  </td>
                  <td *ngFor="let size of group.sizeList"
                    class="text-center">
                    <div>
                      {{
                      (style?.breakdown)[
                      "_" + color?.comboId + "_" + size.sizeId + "_" +
                      color.comboName
                      ]?.orderedQty
                      }}
                    </div>
                  </td>
                  <th class="text-center"
                    [hidden]="colorIndex > 0"
                    [attr.rowspan]="style?.colorList?.length">
                    {{style?.styleOrderedQty}}
                  </th>
                  <th class="text-right"
                    [hidden]="colorIndex > 0"
                    [attr.rowspan]="style?.colorList?.length">
                    {{style?.styleOrderedValue | currency}}
                  </th>
                  <td class="text-center"
                    [hidden]="colorIndex > 0"
                    [attr.rowspan]="style?.colorList?.length">
                    <btn-small [text]="'edit'"
                      (onclick)="openStyleAddOnlyModal(style, styleAddOnlyModal)">
                    </btn-small>
                    <btn-small [text]="'delete'"
                      (onclick)="onOrderStyleDelete(order.id, style.styleId) ">
                    </btn-small>
                  </td>
                </tr>
              </ng-container>

            </table>
          </div>

        </div>
        <div fxLayout="row">
          <div fxFlex>
            <table class="ctable noborder"
              style="max-width: 600px !important;">
              <td><span class="mat-title">Summary</span></td>
              <td class="text-right">
                <btn-small *ngIf="userRole != 'ROLE_CUSTOMER'"
                  [text]="'update'"
                  [custom]="'Apply Discount'"
                  (onclick)="openDiscountModal(discountModal)"></btn-small>
              </td>
            </table>

            <table class="ctable"
              style="max-width: 600px !important;">
              <tr class="header-bg">
                <th>Style</th>
                <th class="text-center"
                  style="width: 100px;">Unit Price</th>
                <th class="text-center"
                  style="width: 100px;">Qty</th>
                <th class="text-center"
                  style="width: 100px;">Value</th>
                <th class="text-center"
                  style="width: 110px;">Earliest Shipment Date</th>
              </tr>
              <tbody
                *ngFor="let group of order?.groupBreakdown; let groupIndex = index">
                <tr
                  *ngFor="let style of group?.styleBreakdown; let styleIndex = index">
                  <th class="text-left">{{style?.styleName}}</th>
                  <td class="text-right">
                    <span *ngIf="style.price == style.actualPrice">
                      {{ style?.actualPrice | currency }}
                    </span>
                    <span *ngIf="style?.price != style?.actualPrice">
                      <del class="pr-12 text-red">{{ style?.actualPrice |
                        currency
                        }}</del>
                      <span>{{ style?.price | currency }}</span>
                    </span>
                  </td>
                  <td class="text-center">{{style.styleOrderedQty}}</td>
                  <td class="text-right">{{style.styleOrderedValue | currency}}
                  </td>
                  <td class="text-center">
                    <span
                      *ngIf="!style?.availableDate">{{style?.earliestShipmentDate
                      |
                      date:
                      'mediumDate'}}</span>
                    <span *ngIf="style?.availableDate">Available Now</span>

                  </td>
                </tr>
              </tbody>
              <tr>
                <th colspan="2"
                  class="text-right">Total</th>
                <th class="text-center">{{order?.totalOrderedQty}}</th>
                <th class="text-right">{{order?.totalOrderedValue | currency}}
                </th>
                <th></th>
              </tr>

            </table>
          </div>
          <div fxFlex="200px"
            class="text-left">
            <div class="mt-32"
              *ngIf="order?.maxDateFuture">
              <span class="mat-title">Shipping Note:</span>
              <div class="font-medium text-red">
                The earliest ship date for this full order is:
                <b>{{order?.maxDate | date: 'mediumDate'}}</b>. For earlier
                deliveries,
                please select styles with earlier ship
                dates.
              </div>
            </div>

          </div>


        </div>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Shipment Details</ng-template>
        <div fxLayout="row"
          fxLayoutGap="20px">

          <div fxFlex>

            <table class="ctable noborder">
              <tr>
                <td colspan="3">
                  <span class="mat-title">Order Basic Information</span>
                </td>
              </tr>
              <tr>
                <th style="width: 155px;">Requested Ship Date <span
                    class="req">*</span></th>
                <th class="fit">:</th>
                <td>
                  <date-picker [dateValue]="newOrderObject.shipmentDate"
                    (change)="newOrderObject.shipmentDate = $event.dateFormatted"
                    [minValue]="order?.maxDate"
                    hideLabel="true">
                  </date-picker>
                  <!-- [minValue]="newOrderObject.currentDate" -->
                </td>
              </tr>
              <tr>
                <th>Customer PO</th>
                <th class="fit">:</th>
                <td>
                  <mat-form-field>
                    <input matInput
                      type="text"
                      [(ngModel)]="newOrderObject.poNo" />
                  </mat-form-field>
                </td>
              </tr>


              <tr>
                <th>Shipment Mode <span class="req">*</span></th>
                <th class="fit">:</th>
                <td>
                  <mat-select placeholder="Shipment Mode"
                    class="mat-multiple-select"
                    [(ngModel)]="newOrderObject.shipmentMode">
                    <mat-option [value]="'RAWMANCO'">Rawman & Co. Shipping
                    </mat-option>
                    <mat-option [value]="'CUSTOMER'">Customer Shipping
                    </mat-option>
                    <mat-option [value]="'OTHER'">Other (No Canada Post)
                    </mat-option>
                  </mat-select>
                </td>
              </tr>
              <ng-container *ngIf="newOrderObject.shipmentMode == 'CUSTOMER'">
                <tr>
                  <th>Courier Company <span class="req">*</span></th>
                  <th class="fit">:</th>
                  <td>
                    <mat-form-field>
                      <input matInput
                        type="text"
                        [(ngModel)]="newOrderObject.courierCompany" />
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <th>Courier Account No <span class="req">*</span></th>
                  <th class="fit">:</th>
                  <td>
                    <mat-form-field>
                      <input matInput
                        type="text"
                        [(ngModel)]="newOrderObject.courierAccountNo" />
                    </mat-form-field>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="newOrderObject.shipmentMode == 'RAWMANCO'">
                <tr>
                  <th></th>
                  <th></th>
                  <td class="text-red">
                    S&H will be added to the invoice.
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="newOrderObject.shipmentMode == 'OTHER'">
                <tr>
                  <th>Shipping Instruction</th>
                  <th class="fit">:</th>
                  <td>
                    <mat-form-field class="w-100-p">
                      <textarea matInput
                        rows="2"
                        [(ngModel)]="newOrderObject.shipmentModeInstruction"></textarea>
                    </mat-form-field>
                  </td>
                </tr>
              </ng-container>
              <tr>
                <th>Additional Instructions</th>
                <th class="fit">:</th>
                <td>
                  <mat-form-field class="w-100-p">
                    <textarea matInput
                      rows="5"
                      [(ngModel)]="newOrderObject.comment"></textarea>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>
          <div fxFlex>
            <table class="ctable noborder">
              <tr>
                <td colspan="2">
                  <span class="mat-title">Shipping Information</span>
                </td>
                <td style="width: 100px;text-align: right;">
                  <btn-small [text]="'link'"
                    matTooltip="Add Shipping and Billing address"
                    [custom]="'Add'"
                    (onclick)="openCustomerUpdateModal()">
                  </btn-small>
                </td>
              </tr>
              <tr>
                <th style="width: 120px;">Address Name<span class="req">*</span>
                </th>
                <th class="fit">:</th>
                <td>
                  <mat-select placeholder="Address"
                    class="mat-multiple-select"
                    [(ngModel)]="newOrderObject.shippingAddressId"
                    (selectionChange)="onShippingAddressChange()">
                    <mat-option *ngFor="let item of shippingAddressList"
                      [value]="item.id">{{item?.shortCode}}
                    </mat-option>
                  </mat-select>
                </td>
              </tr>
              <tr>
                <th style="width: 100px;">Street <span class="req">*</span></th>
                <th class="fit">:</th>
                <td>
                  <mat-form-field>
                    <input matInput
                      type="text"
                      [(ngModel)]="newOrderObject.street"
                      #street="ngModel" />
                  </mat-form-field>
                </td>
              </tr>

              <tr>
                <th>City <span class="req">*</span></th>
                <th class="fit">:</th>
                <td>
                  <mat-form-field>
                    <input matInput
                      type="text"
                      [(ngModel)]="newOrderObject.city"
                      #city="ngModel" />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <th>Post Code <span class="req">*</span></th>
                <th class="fit">:</th>
                <td>
                  <mat-form-field>
                    <input matInput
                      type="text"
                      [(ngModel)]="newOrderObject.postCode"
                      #postCode="ngModel" />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <th>Province <span class="req">*</span></th>
                <th class="fit">:</th>
                <td>
                  <mat-select placeholder="Province"
                    class="mat-multiple-select"
                    [(ngModel)]="newOrderObject.provinceId">
                    <mat-option *ngFor="let item of provinceList"
                      [value]="item.id">{{item?.label}}
                    </mat-option>
                  </mat-select>
                </td>
              </tr>
              <tr>
                <th style="width: 90px;">PO Box No</th>
                <th class="fit">:</th>
                <td>
                  <mat-form-field>
                    <input matInput
                      type="text"
                      [(ngModel)]="newOrderObject.poBoxNo"
                      #poBoxNo="ngModel" />
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <table class="ctable noborder">
              <tr>
                <td colspan="3">
                  <span class="mat-title">Billing Information</span>
                </td>
              </tr>
              <!-- <tr>
                <td colspan="3">
                  <mat-checkbox
                    [(ngModel)]="newOrderObject.billingSameAsShipping">
                    Same as shipping address
                  </mat-checkbox>
                </td>
              </tr> -->
              <ng-container *ngIf="!newOrderObject?.billingSameAsShipping">

                <tr>
                  <th style="width: 120px;">Address Name <span
                      class="req">*</span>
                  </th>
                  <th class="fit">:</th>
                  <td>
                    <mat-select placeholder="Address"
                      class="mat-multiple-select"
                      [(ngModel)]="newOrderObject.billingAddressId"
                      (selectionChange)="onBillingAddressChange()">
                      <mat-option *ngFor="let item of billingAddressList"
                        [value]="item.id">{{item?.shortCode}}
                      </mat-option>
                    </mat-select>
                  </td>
                </tr>
                <tr>
                  <th>Street <span class="req">*</span>
                  </th>
                  <th class="fit">:</th>
                  <td>
                    <mat-form-field>
                      <input matInput
                        type="text"
                        [(ngModel)]="newOrderObject.billingStreet"
                        #street="ngModel" />
                    </mat-form-field>
                  </td>
                </tr>

                <tr>
                  <th>City <span class="req">*</span></th>
                  <th class="fit">:</th>
                  <td>
                    <mat-form-field>
                      <input matInput
                        type="text"
                        [(ngModel)]="newOrderObject.billingCity"
                        #city="ngModel" />
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <th>Post Code <span class="req">*</span></th>
                  <th class="fit">:</th>
                  <td>
                    <mat-form-field>
                      <input matInput
                        type="text"
                        [(ngModel)]="newOrderObject.billingPostCode"
                        #postCode="ngModel" />
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <th>Province <span class="req">*</span></th>
                  <th class="fit">:</th>
                  <td>
                    <mat-select placeholder="Province"
                      class="mat-multiple-select"
                      [(ngModel)]="newOrderObject.billingProvinceId">
                      <mat-option *ngFor="let item of provinceList"
                        [value]="item.id">{{item?.label}}
                      </mat-option>
                    </mat-select>
                  </td>
                </tr>
                <tr>
                  <th style="width: 90px;">PO Box No</th>
                  <th class="fit">:</th>
                  <td>
                    <mat-form-field>
                      <input matInput
                        type="text"
                        [(ngModel)]="newOrderObject.billingPoBoxNo"
                        #poBoxNo="ngModel" />
                    </mat-form-field>
                  </td>
                </tr>
              </ng-container>

            </table>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
    <div class="text-center"
      *ngIf="!order?.groupBreakdown?.length">
      <span class="mat-title">Cart is empty!</span>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [custom]="'Back To Catalouge'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <div *ngIf="newOrderObject.stepFlag == 'breakdown';">
            <btn [text]="'arrowright'"
              [custom]="'Next'"
              (onclick)="goForward()"></btn>
          </div>
          <div *ngIf="newOrderObject.stepFlag == 'shipment';">
            <btn [text]="'arrowleft'"
              [custom]="'Previous'"
              (onclick)="goBack()"></btn>
            <btn [text]="'add'"
              *ngIf="selectedCustomer.paymentRequired && userRole === 'ROLE_CUSTOMER'"
              [custom]="'Proceed To Payment'"
              (onclick)="onOrderSubmit('place')"></btn>
            <btn [text]="'add'"
              *ngIf="!(selectedCustomer.paymentRequired && userRole === 'ROLE_CUSTOMER')"
              [disabled]="btnDisable"
              [custom]="'checkout'"
              (onclick)="onOrderSubmit('place')"></btn>
          </div>

        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>


<ng-template #discountModal>
  <h2 mat-dialog-title>Apply Discount</h2>
  <mat-dialog-content style="min-height: 45vh;">
    <table class="ctable">
      <tr class="header-bg">
        <th>Style</th>

        <th class="text-center"
          style="width: 120px;">Minimum Unit Price</th>
        <th class="text-center"
          style="width: 120px;">Unit Price</th>
        <th class="text-center"
          style="width: 120px;">Qty</th>
        <th class="text-center"
          style="width: 120px;">Value</th>
      </tr>
      <tbody
        *ngFor="let group of order?.groupBreakdown; let groupIndex = index">
        <tr *ngFor="let style of group?.styleBreakdown; let styleIndex = index">
          <th class="text-left">{{style?.styleName}}</th>

          <td class="text-right">
            <span *ngIf="style?.minPrice">{{ style?.minPrice | currency
              }}</span>
          </td>
          <td class="text-center">
            <ng-container *ngIf="style?.minPrice">
              <input matInput
                [ngClass]="{'invalid-input': style.minPrice > style.newPrice }"
                type="number"
                [(ngModel)]="style.newPrice"
                (keyup)="onDiscountValueKeyup()"
                (change)="onDiscountValueKeyup()" />
            </ng-container>
            <ng-container class="text-red font-tiny"
              *ngIf="!style?.minPrice">
              Not Applicable
            </ng-container>
          </td>
          <td class="text-center">{{style.styleOrderedQty}} pcs</td>
          <td class="text-right">{{style.newStyleOrderedValue | currency}}
          </td>
        </tr>
      </tbody>


    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [custom]="'Cancel'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            [custom]="'Apply'"
            (onclick)="applyDiscount()"></btn>

        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>



<ng-template #customer>
  <h2 mat-dialog-title>Select Customer</h2>
  <mat-dialog-content style="min-height: 50px;">
    <table class="ctable noborder">
      <tr>
        <td>
          <ng-select [items]="customerList"
            [clearable]="false"
            bindLabel="name"
            bindValue="id"
            placeholder="Customers"
            [(ngModel)]="customerId"
            appendTo="body"
            (change)="onModalCustomerChange()">
          </ng-select>
        </td>
      </tr>
    </table>
    <!-- <mat-select placeholder="Customers"
      class="mat-multiple-select"
      (selectionChange)="onModalCustomerChange()"
      [(ngModel)]="customerId">
      <mat-option *ngFor="let item of customerList"
        [value]="item.id">{{ item.name }}</mat-option>
    </mat-select> -->
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [custom]="'Cancel'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            *ngIf="_auth.hasPermission('PERMISSION_CUSTOMER_CREATE')"
            [custom]="'Add New'"
            (onclick)="openCreateModal()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>