<div>
  <btn-icon [text]="'modalclose'"
    (click)="modalClose()"
    style="float: right;">
  </btn-icon>
</div>
<h2 mat-dialog-title
  class="text-center bolder">Payment Details</h2>
<form (ngSubmit)="createStripeToken()"
  class="checkout">
  <mat-dialog-content style="min-height: 55vh;">
    <div style="border: 1px solid #ddd; border-radius: 3px;">
      <div style="padding:5px">
        <span class="mat-title "
          style="color: cornflowerblue; font-weight: 800;">Payment
          Information</span>

        <table class="ctable noborder">
          <tr>
            <th class="fit"
              style="text-align: left;">Total Order Value</th>
            <!-- <th class="fit">:</th> -->
            <td style="text-align: right;">
              <b>
                <p>$ {{orderData?.totalOrderedValue | number:'1.2-2'}}</p>
              </b>
            </td>
          </tr>
          <tr>
            <th class="fit"
              style="text-align: left;">Tax ({{orderData?.provinceRaxRate
              || 0}} %) </th>
            <!-- <th class="fit">:</th> -->
            <td style="text-align: right;">
              <b>
                <p>$ {{orderData?.taxValue || 0| number:'1.2-2'}}</p>
              </b>
            </td>
          </tr>

          <tr>
            <th class="fit"
              style="text-align: left;">Shipping Charge</th>
            <!-- <th class="fit">:</th> -->
            <td style="text-align: right;">
              <b>
                <p>$ {{orderData?.shippingCharge || 0| number:'1.2-2'}}</p>
              </b>
            </td>
          </tr>
          <tr>
            <th class="fit"
              style="text-align: left;">Processing Fee</th>
            <!-- <th class="fit">:</th> -->
            <td style="text-align: right;">
              <b>
                <p>$ {{orderData?.ccUpCharge || 0 | number:'1.2-2'}}</p>
              </b>
            </td>
          </tr>
          <tr style="border: 1px solid #ccc;">
            <th class="fit text-green"
              style="text-align: left; font-size: larger; font-weight: bold;">
              Total </th>
            <!-- <th class="fit">:</th> -->
            <td colspan="2"
              style="border: 1px solid #ccc; text-align: right;">
              <span style="font-size: large;font-weight: bolder;"
                class="text-green">$ {{orderData?.totalPaymentAmountForDisplay |
                number:'1.2-2'}} </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <div style="border: 1px solid #ddd; border-radius: 3px;">
      <div style="padding: 5px;">

        <label for="card-info"
          style="font-size:16px; color: cornflowerblue;"><b>Card Information</b>
        </label>
        <div id="form-field">
          <div id="card-info"
            style="padding: 5px;"
            #cardInfo></div>

          <mat-error id="card-errors"
            role="alert"
            *ngIf="cardError">
            <mat-icon style="color: #f44336">cancel</mat-icon>
            &nbsp;{{ cardError }}
          </mat-error>
        </div>
      </div>
    </div>


  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td style="text-align: left;">
          <span><img style="width: 23px;"
              src="assets/images/logos/visa.png"></span>
          <span><img style="width: 23px;margin-top: 4px;margin-left: 4px;"
              src="assets/images/logos/mastercard.png"></span>
          <span><img style="width: 23px;margin-left: 4px;"
              src="assets/images/logos/american.png"></span>
        </td>
        <td style="text-align: right;">
          <!-- <btn [text]="'close'"
          iconHide="true"
            [modalClose]="true"></btn> -->
          <btn iconHide="true"
            id="stripe-payment-button"
            type="submit"
            [custom]="'Send Payment'">
          </btn>
        </td>

      </tr>
    </table>
  </mat-dialog-actions>

</form>