<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">

            <div fxFlex
              fxLayoutAlign="space-between center">
              <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowleft'"
                  (click)="onDateNextPrivious(false)"></btn-icon>
              </div> -->
              <div fxFlex>
                <date-picker (change)="filter.fromdate = $event.dateFormatted"
                  hideLabel="true"
                  [labelName]="'From Date'"
                  [dateValue]="filter.fromdate">
                </date-picker>
              </div>
            </div>
            <div fxFlex
              fxLayoutAlign="space-between center">
              <div fxFlex>
                <date-picker (change)="filter.todate = $event.dateFormatted"
                  hideLabel="true"
                  [labelName]="'To Date'"
                  [dateValue]="filter.todate">
                </date-picker>
              </div>
              <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowright'"
                  (click)="onDateNextPrivious(true)"></btn-icon>
              </div> -->
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Shipment Name"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.name" />
            </div>
            <div fxFlex>
              <!-- <ng-select [items]="seasonList"
                bindLabel="label"
                [clearable]="true"
                placeholder="Shipment Season"
                appendTo="body"
                bindValue="id"
                [(ngModel)]="filter.seasonid">
              </ng-select> -->
            </div>

            <div fxFlex></div>
          </div>
        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
          </span>

        </div>
        <!-- *ngIf="_auth.hasPermission('PERMISSION_SUPPLIER_SHIPMENT_CREATE')" -->
        <div fxFlex.gt-md="180px">
          <span
            *ngIf="_auth.hasPermission('PERMISSION_SUPPLIER_SHIPMENT_CREATE')">
            <btn [custom]="'Create Shipment'"
              [text]="'add'"
              (onclick)="openCreateModal(shipmentCreateModal)"></btn>
          </span>
        </div>
      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->
      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>
          <div *ngIf="shipmentsAndPackingList.length === 0"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlexFill>
            <span class="no-messages-text hint-text">{{
              "Shipments"
              }}</span>
          </div>

          <div class="pr-8"
            style="width: 70%; "
            *ngIf="shipmentsAndPackingList?.length">
            <table class="ctable no-border-top no-border-left">
              <thead class="csticky">
                <th>Shipment Name</th>
                <th>Shipment Season</th>
                <th>Shipment Date</th>
                <th>Shipment Qty</th>
                <th>No. Of Boxes</th>
                <th>Status</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of shipmentsAndPackingList">
                  <td>
                    <button (click)="onDetailClick(item.id)"
                      style="border: 1px solid #039be5; color: #039be5;border-radius: 5px !important;background-color: #fff;line-height: normal;height: 28px;"
                      mat-raised-button
                      color="primary">{{item?.name}}</button>
                    <a (click)="deleteShipment(item.id)"
                      *ngIf="_auth.hasPermission('PERMISSION_SUPPLIER_SHIPMENT_DELETE') && !item.complete"
                      style="float: right; cursor: pointer ;color:#D70F64 !important;">
                      <mat-icon
                        style="font-size: 24px; columns: gray; font-weight: 100 !important;">
                        delete_outline
                      </mat-icon>
                    </a>

                  </td>
                  <td>{{ item?.seasonName }} </td>
                  <td>
                    {{ item?.shipmentDate }}
                  </td>
                  <td>
                    {{ item?.quantity }}
                  </td>
                  <td>
                    {{ item?.noOfBox }}
                  </td>
                  <td>
                    <!-- <pre>{{item.status}}</pre> -->
                    <span
                      *ngIf="_auth.hasPermission('PERMISSION_SUPPLIER_SHIPMENT_UN_COMPLETE') && !isPoShipmentComplete">
                      <ng-select [items]="statusList"
                        [clearable]="false"
                        style="width: 150px !important;background-color: #D70F64;"
                        bindLabel="name"
                        bindValue="value"
                        appendTo="body"
                        [(ngModel)]="item.complete"
                        (change)="onStatusSelect($event,item.id)">
                      </ng-select>
                    </span>
                    <span
                      *ngIf="!_auth.hasPermission('PERMISSION_SUPPLIER_SHIPMENT_UN_COMPLETE')">
                      <span *ngIf="item.complete">Complete</span>
                      <span *ngIf="!item.complete">Draft</span>
                    </span>

                    <!--  -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- / CONTENT -->
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>

</div>


<ng-template #shipmentCreateModal>
  <h2 mat-dialog-title>Add Shipment</h2>
  <mat-dialog-content style="min-height: 55vh;">
    <table class="ctable noborder">
      <tr>
        <th>Shipment Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newShipment.name"
              #name="ngModel"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>PO <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-select placeholder="PO"
            class="mat-multiple-select"
            [(ngModel)]="newShipment.poId"
            (selectionChange)="onPOSelect(newShipment.poId)">
            <mat-option *ngFor="let item of poList"
              [value]="item.id">{{ item.number }}</mat-option>
          </mat-select>
        </td>
      </tr>
      <tr>
        <th>Shipment Date <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <date-picker
            (change)="newShipment.shipmentDate = $event.dateFormatted"
            hideLabel="true"
            [labelName]="'Shipment Date'"
            [dateValue]="newShipment.receiveDate">
          </date-picker>
        </td>
      </tr>
      <tr>
        <th>Remark</th>
        <th class="fit">:</th>
        <td>
          <textarea matInput
            [(ngModel)]="newShipment.remark"
            #remark="ngModel"
            autocomplete="off">
            </textarea>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (onclick)="createShipment()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>