<h2 mat-dialog-title> Details Of {{salesRepname}}</h2>
<mat-dialog-content class="scrollable"
  style="height: calc(100vh - 120px);">
  <mat-tab-group>
    <mat-tab label="Basic Info">
      <sales-rep-basic [salesRepId]="salesRepId"></sales-rep-basic>
    </mat-tab>
    <mat-tab label="Customers">
      <sales-rep-customer-list [salesRepId]="salesRepId">
      </sales-rep-customer-list>
    </mat-tab>
    <mat-tab label="Commission">
      <sales-rep-commission [salesRepId]="salesRepId"></sales-rep-commission>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
      </td>
    </tr>
  </table>
</mat-dialog-actions>