<h2 mat-dialog-title>My Profile</h2>
<mat-dialog-content class="scrollable"
  style="height: calc(100vh - 120px)">
  <user-basic [userId]="userId"></user-basic>
</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>

    </tr>
  </table>
</mat-dialog-actions>