<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <div class="center">
    <div class="content-card mat-white-bg">
      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex
          class="p-20">
          <!--Page Container -->

          <div fxLayout
            fxLayoutGap="20px">
            <div fxFlex>
              <div fxLayout="row">
                <div fxFlex>
                  <p>
                    <span class="font-big text-blue">{{user?.fullname}}</span>
                  </p>
                  <p>
                    <span class="bold text-green"
                      *ngIf="user?.email">Email: {{user?.email}} </span>
                  </p>
                </div>
                <div fxFlex>
                  <p *ngIf="user?.company">Company: {{user?.company}}</p>
                </div>
                <div fxFlex="250px">
                  <p *ngIf="user?.phoneNo"><span class="bold text-green">Phone:
                      {{user?.phoneNo}}</span></p>
                  <p *ngIf="user?.address">{{user?.address}}</p>
                </div>
                <div fxFlex="90px"
                  class="text-center"
                  *ngIf="_auth.hasPermission('PERMISSION_WAREHOUSE_USER_CREATE')">
                  <btn-small [text]="'edit'"
                    (onclick)="openEditModal(userUpdateModal)"></btn-small>
                  <btn-small *ngIf="!user?.enable"
                    [text]="'update'"
                    [custom]="'Enable'"
                    (onclick)="userEnableDisable(true)"></btn-small>
                  <btn-small *ngIf="user?.enable"
                    [text]="'delete'"
                    [custom]="'Disable'"
                    (onclick)="userEnableDisable(false)"></btn-small>
                </div>
              </div>
              <!-- <div fxLayout="row">
                <div fxFlex>
                  <span class="mat-title">Location List
                    <btn-icon [text]="'expend'"
                      (onclick)="openAddLocationModal(addLocationModal)">
                    </btn-icon>
                  </span>
                  <div class="ccard-panel">
                    <div class="ccard-item"
                      matRipple
                      *ngFor="let item of userLocationList">
                      <div fxFlex>
                        <p>
                          <span class="font-medium bold">
                            {{item?.inventoryLocation?.name}}
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div fxFlex>
                </div>
              </div> -->

            </div>
            <div fxFlex="200px">
              <div style="height: 200px"
                *ngIf="user?.id">
                <single-photo-card [name]="'Profile Photo Upload'"
                  [subtitle]="'Best Photo Size: 1:1 or Height: 200px and width: 200px'"
                  [entityId]="user?.id"
                  [entityType]="'user_profile'"
                  [enableEdit]="_auth.hasPermission('PERMISSION_WAREHOUSE_USER_CREATE')">
                </single-photo-card>
              </div>
            </div>
          </div>
          <!--Page Container -->
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #addLocationModal>
  <h2 mat-dialog-title>Location</h2>
  <mat-dialog-content style="min-height: 55vh;">
    <div fxLayout
      fxLayoutGap="20px">
      <div fxFlex>
        <span class="mat-title">Colors</span>
        <table class="ctable">
          <tr>
            <th class="fit">#</th>
            <th>Location</th>
            <th class="fit">Action</th>
          </tr>
          <tr *ngFor="let item of userLocationList; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ item?.inventoryLocation?.name }}</td>
            <td>
              <btn-small [text]="'delete'"
                (onclick)="deleteLocation(item.id)"></btn-small>
            </td>
          </tr>
        </table>
      </div>
      <div fxFlex>
        <span class="mat-title">Add new location</span>
        <table class="ctable noborder">
          <tr>
            <th class="fit">Name</th>
            <th class="fit">:</th>
            <td>
              <span *ngIf="newLocation">
                <general-autocomplete [items]="locationList"
                  bindLabel="name"
                  (change)="newLocation.inventoryLocation.id = $event && $event.id">
                </general-autocomplete>
              </span>

            </td>
          </tr>
          <tr>
            <td colspan="3"
              class="text-right">
              <btn-small [text]="'add'"
                (onclick)="addLocation()"></btn-small>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <btn [text]="'close'"
      [modalClose]="true"></btn>
  </mat-dialog-actions>
</ng-template>


<ng-template #userUpdateModal>
  <h2 mat-dialog-title>Update User</h2>
  <mat-dialog-content style="min-height: 55vh;">
    <table class="ctable noborder">

      <tr>
        <th>First Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.firstName"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Last Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.lastName"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Company</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.company"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Phone No <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.phoneNo"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Address</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field class="w-100-p">
            <textarea matInput
              rows="4"
              rows="4"
              [(ngModel)]="newUser.address"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (onclick)="userUpdate()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>