<div class="my-8">
  <div fxLayout="row"
    fxLayoutGap="20px">
    <div fxFlex>
      <span class="mat-title">Sales Rep List
        <btn-icon [text]="'expend'"
          (onclick)="openAddSalesRepModal(addSalesRepModal)">
        </btn-icon>
      </span>

      <table class="ctable">
        <tr class="header-bg">
          <th>Name</th>
          <th>Email</th>
        </tr>
        <tr *ngFor="let item of userSalesRepList">
          <td>
            {{item?.fullname}}
          </td>
          <td>{{ item?.email }}</td>
        </tr>
      </table>
    </div>
    <div fxFlex>
      <span class="mat-title">Customer List
      </span>
      <table class="ctable">
        <tr class="header-bg">
          <th>Company</th>
          <th>Email</th>
          <th>Sales Rep</th>
        </tr>
        <tr *ngFor="let customer of customerList">
          <td>
            {{ customer?.name }}
            <!-- {{ customer?.contactFirstName }}
                        {{ customer?.contactLastName }} -->
          </td>
          <td>{{ customer?.email }}</td>
          <td>{{ customer?.salesRep?.userName || 'Rawman & Co.' }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>


<ng-template #addSalesRepModal>
  <h2 mat-dialog-title>Sales Rep</h2>
  <mat-dialog-content style="min-height: 65vh;">
    <div fxLayout
      fxLayoutGap="20px">
      <div fxFlex="40%">
        <span class="mat-title">Sales Rep List</span>
        <table class="ctable">
          <tr>
            <th>Sales Rep</th>
            <th class="fit">Action</th>
          </tr>
          <tr *ngFor="let item of userSalesRepList; let i = index">
            <td>{{ item?.fullname }}</td>
            <td>
              <btn-small [text]="'delete'"
                (onclick)="deleteSalesRep(item.id, i)"></btn-small>
            </td>
          </tr>
        </table>
      </div>
      <div fxFlex>
        <span class="mat-title">All Sales Rep List</span>
        <table class="ctable">
          <tr>
            <th>Sales Rep</th>
            <th>Parter</th>
            <th class="fit">Select</th>
          </tr>
          <tr *ngFor="let rep of salesRepList; let i = index">
            <td>{{ rep?.fullname }}</td>
            <td>{{ rep?.partnerUserName }}
              <btn-icon *ngIf="rep?.partnerUserName"
                style="float: right"
                [text]="'delete'"
                (onclick)="deleteSalesRep(rep?.id, i)">
              </btn-icon>
            </td>
            <td class="text-center">
              <span *ngIf="!rep?.partnerUserName ">
                <mat-checkbox [(ngModel)]="rep.select"></mat-checkbox>
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            (onclick)="closeModal()"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (onclick)="addSalesRep()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>