<h2 mat-dialog-title>{{order?.customer?.name}}-{{order?.rimsPoNo}}</h2>
<mat-dialog-content style="max-height: calc(100vh - 120px);">

  <table class="ctable"
    style="width: auto !important;">
    <tr class="header-bg">
      <th style="width: 100px;"
        class="text-center">Ship Date</th>
      <th style="width: 100px;"
        class="text-center">Invoice Date</th>
      <th style="width: 100px;"
        class="text-center">Invoice No.</th>
      <th class="text-center"
        style="width: 100px;">Shipped Qty</th>
      <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
        style="width: 100px;"
        class="text-right">
        Subtotal Value
      </th>

      <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
        style="width: 100px;"
        class="text-right">
        Tax
      </th>
      <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
        style="width: 100px;"
        class="text-right">
        Shipping Charge
      </th>
      <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
        style="width: 100px;"
        class="text-right">
        Handling Charge
      </th>
      <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
        style="width: 100px;"
        class="text-right">
        Discount
      </th>
      <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
        style="width: 100px;"
        class="text-right">
        Total Value
      </th>
      <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
        style="width: 100px;"
        class="text-right">
        Paid Amount
      </th>
      <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
        style="width: 100px;"
        class="text-right">
        Due
      </th>
    </tr>
    <tbody>
      <tr class="minimum-hight-list"
        *ngFor="let shipment of shipments">
        <td class="text-center">
          {{ shipment.shipmentDate | date: 'mediumDate' }}
        </td>
        <td class="text-center">
          <span *ngIf="shipment?.invoiceId">{{ shipment?.invoiceDate | date:
            'mediumDate' }}</span>
          <span *ngIf="!shipment?.invoiceId"
            class="text-gray">N/A</span>
        </td>
        <td class="text-center">
          <a *ngIf="shipment?.invoiceId"
            class="cursor-pointer"
            (click)="openInvoicePDFModal(shipment.id)">{{
            shipment?.rimsPoNo }}-{{ shipment?.invoiceId }}</a>
          <span *ngIf="!shipment?.invoiceId"
            class="text-gray">N/A</span>
        </td>
        <td class="text-center">
          {{ shipment?.totalQuantity }}
        </td>
        <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span>
            {{shipment?.totalValue | currency}}
          </span>
        </td>


        <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="shipment?.invoiceId">
            {{shipment?.tax | currency}}
          </span>
          <span *ngIf="!shipment?.invoiceId"
            class="text-gray">N/A</span>
        </td>
        <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="shipment?.invoiceId">
            {{shipment?.freightCharge | currency}}
          </span>
          <span *ngIf="!shipment?.invoiceId"
            class="text-gray">N/A</span>
        </td>
        <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="shipment?.invoiceId">
            {{shipment?.handlingCharge | currency}}
          </span>
          <span *ngIf="!shipment?.invoiceId"
            class="text-gray">N/A</span>
        </td>
        <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="shipment?.invoiceId">
            {{shipment?.discount | currency}}
          </span>
          <span *ngIf="!shipment?.invoiceId"
            class="text-gray">N/A</span>
        </td>
        <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="shipment?.invoiceId">
            {{shipment?.netTotal | currency}}
          </span>
          <span *ngIf="!shipment?.invoiceId"
            class="text-gray">N/A</span>
        </td>
        <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="shipment?.invoiceId">
            {{shipment?.totalPayment | currency}}
          </span>
          <span *ngIf="!shipment?.invoiceId"
            class="text-gray">N/A</span>
        </td>

        <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="shipment?.invoiceId">
            {{shipment?.dueAmount | currency}}
          </span>
          <span *ngIf="!shipment?.invoiceId"
            class="text-gray">N/A</span>
        </td>

      </tr>
      <tr *ngIf="shipments?.length">


        <th class="text-right">
          Total
        </th>

        <th class="text-center">
        </th>
        <th class="text-center">
        </th>
        <th class="text-center">
          {{ total?.totalQuantity }}
        </th>
        <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span>
            {{total?.totalValue | currency}}
          </span>
        </th>
        <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="total?.tax">
            {{total?.tax | currency}}
          </span>
        </th>
        <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="total?.freightCharge">
            {{total?.freightCharge | currency}}
          </span>
        </th>
        <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="total?.handlingCharge">
            {{total?.handlingCharge | currency}}
          </span>
        </th>
        <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="total?.discount">
            {{total?.discount | currency}}
          </span>
        </th>
        <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right">
          <span *ngIf="total?.netTotal">
            {{total?.netTotal | currency}}
          </span>
        </th>
        <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right"
          [ngClass]="{'text-red': total?.netTotal> total?.totalPayment}">
          <span *ngIf="total?.totalPayment">
            {{total?.totalPayment | currency}}
          </span>
        </th>
        <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-right"
          [ngClass]="{'text-red': total?.dueAmount > 0}">
          <span *ngIf="total?.dueAmount">
            {{total?.dueAmount | currency}}
          </span>
        </th>





      </tr>
    </tbody>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>