<div *ngIf="newCustomer"
  class="my-8">
  <div fxLayout="row">
    <div fxFlex>
      <div class="text-right">
        <ng-container *ngIf="!newCustomer.editMode">
          <btn-small [text]="'edit'"
            (onclick)="newCustomer.editMode = true"></btn-small>
        </ng-container>
        <ng-container *ngIf="newCustomer.editMode">
          <btn-small [text]="'save'"
            (onclick)="save"
            (onclick)="updateCustomer()"></btn-small>
          <btn-small [text]="'cancel'"
            (onclick)="getCustomer()"></btn-small>
        </ng-container>

      </div>
      <table class="ctable noborder">
        <tr>
          <th style="width: 150px;">Customer/Company <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                [disabled]="!newCustomer.editMode"
                type="text"
                [(ngModel)]="newCustomer.name"
                #name="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <!-- <tr>
          <th>
            Email <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <div fxLayout="row"
              fxLayoutAlign="center center"
              fxLayoutGap="10px">
              <div fxFlex>
                <mat-form-field>
                  <input matInput
                    type="text"
                    [(ngModel)]="newCustomer.email"
                    #email="ngModel" />
                </mat-form-field>
              </div>
              <div fxFlex="30px">
                <btn-icon *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
                  [text]="'update'"
                  [custom]="'Change Email'"
                  (onclick)="openEmailChangeModal(useEmailEditModal)">
                </btn-icon>
              </div>
            </div>

          </td>
        </tr> -->
        <tr>
          <th>Price Type:</th>
          <th class="fit">:</th>
          <td>
            <mat-select placeholder="Price Type"
              class="mat-multiple-select"
              [disabled]="!newCustomer.editMode"
              [(ngModel)]="newCustomer.priceTypeId">
              <mat-option *ngFor="let priceType of priceTypeList"
                [value]="priceType.id">{{ priceType.label }}</mat-option>
            </mat-select>
          </td>
        </tr>
        <tr>
          <th>Shipment Mode</th>
          <th class="fit">:</th>
          <td>
            <mat-select placeholder="Shipment Mode"
              class="mat-multiple-select"
              [(ngModel)]="newCustomer.shipmentMode"
              [disabled]="!newCustomer.editMode">
              <mat-option [value]="'RAWMANCO'">Rawman & Co. Shipping
              </mat-option>
              <mat-option [value]="'CUSTOMER'">Customer Shipping
              </mat-option>
              <mat-option [value]="'OTHER'">Other (No Canada Post)
              </mat-option>
            </mat-select>
          </td>
        </tr>
        <ng-container *ngIf="newCustomer?.shipmentMode == 'CUSTOMER'">
          <tr>
            <th>Courier Company</th>
            <th class="fit">:</th>
            <td>
              <mat-form-field>
                <input matInput
                  [disabled]="!newCustomer.editMode"
                  type="text"
                  [(ngModel)]="newCustomer.courierCompany" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>Courier Account No</th>
            <th class="fit">:</th>
            <td>
              <mat-form-field>
                <input matInput
                  [disabled]="!newCustomer.editMode"
                  type="text"
                  [(ngModel)]="newCustomer.courierAccountNo" />
              </mat-form-field>
            </td>
          </tr>
        </ng-container>
        <tr>
          <th>Sales Rep</th>
          <th class="fit">:</th>
          <td>
            <ng-container *ngIf="userRole != 'ROLE_SALES'">
              <mat-select placeholder="Sales Rep"
                class="mat-multiple-select"
                [disabled]="!newCustomer.editMode"
                [(ngModel)]="newCustomer.saleRepCustomers[0].userId">
                <mat-option *ngFor="let item of salesRepList"
                  [value]="item.id">{{item?.fullname}}</mat-option>
              </mat-select>
            </ng-container>
            <ng-container *ngIf="userRole == 'ROLE_SALES'">
              {{userRoleUser?.firstName}} {{userRoleUser?.lastName}}
            </ng-container>
          </td>
        </tr>
        <tr>
          <th style="width: 150px;">Accountant
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                [disabled]="!newCustomer.editMode"
                type="text"
                [(ngModel)]="newCustomer.accountant"
                #accountant="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th style="width: 150px;">Accountant Email
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                [disabled]="!newCustomer.editMode"
                type="text"
                [(ngModel)]="newCustomer.accountantEmail"
                #accountantEmail="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Description</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field class="w-100-p">
              <textarea matInput
                [disabled]="!newCustomer.editMode"
                [(ngModel)]="newCustomer.description"
                #description="ngModel"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>View min size qty</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field class="w-100-p">
              <textarea matInput
                [disabled]="!newCustomer.editMode"
                [(ngModel)]="newCustomer.minInvQtyShowOnOrder"
                #description="ngModel"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th style="width: 150px;">Credit Card Activate
          </th>
          <th class="fit">:</th>
          <td>
            <mat-checkbox class="btn-block"
              [disabled]="!newCustomer.editMode"
              [(ngModel)]="newCustomer.paymentRequired"
              (change)="onRequirementChange()">
            </mat-checkbox>
          </td>
        </tr>
        <tr *ngIf="newCustomer.paymentRequired">
          <th style="width: 150px;">CC Upcharge
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                [disabled]="!newCustomer.editMode"
                type="number"
                [(ngModel)]="newCustomer.ccUpCharge"
                #accountantEmail="ngModel" />
            </mat-form-field>
          </td>
        </tr>

        <tr *ngIf="userRole == 'ROLE_ADMIN'">
          <td colspan="3">
            <mat-checkbox [(ngModel)]="newCustomer.preShipmentApproval"
              [disabled]="!newCustomer.editMode"> Pre
              Shipment Approval
            </mat-checkbox>
          </td>
        </tr>
        <tr *ngIf="userRole == 'ROLE_ADMIN'">
          <td colspan="3">
            <mat-checkbox [(ngModel)]="newCustomer.sendEmail"
              [disabled]="!newCustomer.editMode"> Send Email
            </mat-checkbox>
          </td>
        </tr>
      </table>

    </div>
    <div fxFlex>
      <div *ngIf="newCustomer?.id"
        style="width: 300px; float: right; text-align: center;"
        class="mr-20">
        <span class="mat-title">Company Logo</span>
        <div style="height: 300px">
          <single-photo-card [name]="'Profile Photo Upload'"
            [subtitle]="'Best Photo Size: 1:1 or Height: 200px and width: 200px'"
            [entityId]="newCustomer?.id"
            [entityType]="'customer_profile'"
            [enableEdit]="_auth.hasPermission('PERMISSION_CUSTOMER_CREATE')">
          </single-photo-card>
        </div>
      </div>
    </div>
  </div>



</div>