<mat-toolbar class="p-0 mat-elevation-z1">

  <!-- watches http calls -->
  <ng-progress [spinner]="false"
    [thick]="true"></ng-progress>

  <div fxFlex
    fxFill
    fxLayout="row"
    fxLayoutAlign="start center">

    <div fxFlex="1 0 auto"
      fxLayout="row"
      fxLayoutAlign="start center">

      <button mat-icon-button
        class="navbar-toggle-button"
        *ngIf="!hiddenNavbar && !rightNavbar"
        (click)="toggleSidebarOpen('navbar')"
        fxHide.gt-md>
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>

      <div class="toolbar-separator"
        *ngIf="!hiddenNavbar && !rightNavbar"
        fxHide.gt-md></div>

      <!-- <span>
        {{heading}}
      </span> -->
      &nbsp;
      <span *ngIf="(heading | json) != '{}'">
        <!-- <mat-icon class="logo-icon mr-8 ml-8"
          *ngIf="heading"
          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          shopping_basket
        </mat-icon> -->
        <span class="toolbar-title-header"
          [@animate]="{value:'*',params:{delay:'100ms',x:'-15px'}}">
          {{heading}}
        </span>
      </span>

      &nbsp;

      <!-- <div fxLayout="row"
        fxLayoutAlign="start center"
        *ngIf="horizontalNavbar">
        <div class="logo ml-16">
          <img class="logo-icon"
            src="assets/images/logos/fuse.svg">
        </div>
      </div> -->

      <!-- <div class="px-8 px-md-16">
        <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
      </div> -->

    </div>

    <div class=""
      fxFlex="0 1 auto"
      fxLayout="row"
      fxLayoutAlign="start center">
      <div fxFlex="50px"></div>

      <!-- <button mat-icon-button
        [routerLink]="[{ outlets: { modal: ['create'] } }]">
        <mat-icon class="s-24"
          title="Create a new entity">add_circle_outline</mat-icon>
      </button> -->

      <div class="toolbar-separator"></div>

      <button mat-button
        [matMenuTriggerFor]="userMenu"
        class="user-button">
        <div fxLayout="row"
          fxLayoutAlign="center center">
          <img *ngIf="avatar"
            class="avatar mr-0 mr-sm-16"
            [src]="avatar">
          <img *ngIf="!avatar"
            class="avatar mr-0 mr-sm-16"
            src="assets/images/avatars/profile.jpg">
          <span class="username mr-12"
            fxHide
            fxShow.gt-sm>{{ currentUser.firstName }}</span>
          <mat-icon class="s-16"
            fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
      </button>

      <mat-menu #userMenu="matMenu"
        [overlapTrigger]="false">

        <!-- <button mat-menu-item
          (click)="profile()">
          <mat-icon>account_circle</mat-icon>
          <span>My Profile</span>
        </button> -->
        <button mat-menu-item
          (click)="openProfileModal()">
          <mat-icon>account_circle</mat-icon>
          <span>My Profile</span>
        </button>

        <button mat-menu-item
          *ngIf="currentUser?.customerAdmin"
          (click)="openCustomerUpdateModal()">
          <mat-icon>storefront</mat-icon>
          <span>Company Profile</span>
        </button>

        <!-- <button mat-menu-item
          class="">
          <mat-icon>mail</mat-icon>
          <span>Inbox</span>
        </button> -->

        <button mat-menu-item
          class="text-red"
          (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>

      </mat-menu>
      <!-- 
      <div class="toolbar-separator"></div>

      <fuse-search-bar (input)="search($event)"></fuse-search-bar>

      <div class="toolbar-separator"></div>

      <button mat-icon-button
        class="quick-panel-toggle-button"
        (click)="goToDiaryPage()"
        aria-label="Go to settings page">
        <mat-icon class="secondary-text">notes</mat-icon>
      </button>

      <button mat-button
        fxHide
        fxShow.gt-xs
        class="language-button"
        [matMenuTriggerFor]="languageMenu">
        <div fxLayout="row"
          fxLayoutAlign="center center">
          <mat-icon class="secondary-text">notes</mat-icon>
        </div>
      </button> -->

      <!-- <mat-menu #languageMenu="matMenu"
        [overlapTrigger]="false">

        <button mat-menu-item
          *ngFor="let lang of languages"
          (click)="setLanguage(lang)">
          <span fxLayout="row"
            fxLayoutAlign="start center">
            <img class="flag mr-16"
              [src]="'assets/icons/flags/'+lang.flag+'.png'">
            <span class="iso"></span>
          </span>
        </button>

      </mat-menu> -->

      <div class="toolbar-separator"
        fxHide
        fxShow.gt-xs></div>

      <button *ngIf="auth.hasPermission('PERMISSION_ADMIN_USER')"
        mat-icon-button
        class="quick-panel-toggle-button"
        (click)="goToSettingsPage()"
        aria-label="Go to settings page">
        <mat-icon class="secondary-text">settings</mat-icon>
      </button>
      <!-- 
      <div class="toolbar-separator"
        fxHide
        fxShow.gt-xs></div>

      <button mat-icon-button
        class="quick-panel-toggle-button"
        (click)="toggleSidebarOpen('quickPanel')"
        aria-label="Toggle quick panel">
        <mat-icon class="secondary-text">notifications</mat-icon>
        <span class="cbadge"
          *ngIf="countNotification > 0">{{countNotification}}</span>
        <mat-icon matBadge='countNotification'
          matBadgeColor="warn">notifications</mat-icon>
      </button>

      <div class="toolbar-separator"
        *ngIf="!hiddenNavbar && rightNavbar"
        fxHide
        fxShow.gt-xs></div>

      <button mat-icon-button
        class="navbar-toggle-button"
        *ngIf="!hiddenNavbar && rightNavbar"
        (click)="toggleSidebarOpen('navbar')"
        fxHide.gt-md>
        <mat-icon class="secondary-text">menu</mat-icon>
      </button>
   -->
    </div>

  </div>

</mat-toolbar>