<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="2px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="2px">
            <div fxFlex
              fxLayoutAlign="space-between center">
              <div fxFlex>
                <ng-select [items]="inventoryLocationList"
                  bindLabel="name"
                  [clearable]="true"
                  placeholder="Select Location"
                  appendTo="body"
                  bindValue="id"
                  (change)="onLocationChange(false)"
                  [(ngModel)]="filter.locationid">
                </ng-select>
              </div>
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Box Number"
                class="filter-input-field"
                type="text"
                [(ngModel)]="filter.box" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Style Name"
                class="filter-input-field"
                type="text"
                [(ngModel)]="filter.stylename" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Shipment Name"
                class="filter-input-field"
                type="text"
                [(ngModel)]="filter.shipmentname" />
            </div>

            <div fxFlex>
              <input matInput
                placeholder="Color Name"
                class="filter-input-field"
                type="text"
                [(ngModel)]="filter.colorname" />
            </div>
            <div fxFlex>
              <ng-select [items]="uniqSizeList"
                bindLabel="sizeName"
                [clearable]="true"
                placeholder="Select size"
                appendTo="body"
                bindValue="sizeId"
                [(ngModel)]="filter.sizeid">
              </ng-select>
            </div>
            <div fxFlex>
              <mat-checkbox [(ngModel)]="filter.emptybox"
                style="font-size: 20px;">
                Empty Box
              </mat-checkbox>
            </div>
            <div fxFlex="12%"
              style="text-align: center;">
              <span style="margin-bottom: 0px;
      font-size: x-large; color:rgb(0, 4, 7); ">
                {{totalNumberOfBoxes}} Boxes</span>
            </div>
            <div fxFlex>
              <span style="margin-bottom: 0px;
    font-size: x-large; color:rgb(11, 135, 252); ">
                {{totalQuantity}} pcs</span>
            </div>
          </div>

        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onLocationChange(false)">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
          </span>

        </div>



      </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->

      <div class="content"
        fxLayout="column">
        <div fusePerfectScrollbar
          fxFlex>

          <!-- <table class="ctable noborder  mt-8 "> -->

          <ng-container>
            <div fxLayout="row"
              style="margin: 2px;"
              fxLayoutGap="2px"
              fxLayoutAlign="start start"
              *ngFor="let wearhouseBox of wearhouseBoxList; let boxIndex = index">
              <div fxFlex="10%"
                style="max-width: 200px !important; height: auto; flex: 1 -1 0% !important;font-size: x-small"
                *ngFor="let box of wearhouseBox.boxList; let boxIndex = index">
                <div (click)="onBoxClick(box.styleList,box.box.id,detailModal)"
                  [ngStyle]="{'background-color': !box.box.selected  ?  box.box.isOpen?'rgb(253 171 147 / 33%)' :'rgb(130 248 133 / 34%)':'rgb(125 231 233 / 33%)' ,'border': box.box.isOpen  ?  '2px solid red':'2px solid green'}"
                  style="height: 95%; max-width: 120px;font-weight: 700;cursor: pointer;">
                  <p
                    style="margin-bottom: 0px !important;padding: 2px;  width: 100px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <span>Style</span> : <span>{{box.box.styleName}}</span>

                  </p>
                  <p
                    style="margin-bottom: 0px !important;padding: 2px; width: 100px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <span>Color</span> :
                    <span>{{box.box.styleColorName}}</span>
                  </p>
                  <p
                    style="margin-bottom: 0px !important;padding: 2px; width: 100px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <span>Size</span> :
                    <span
                      *ngIf="box.box.availavelSizes==='multiple'">{{box.box.availavelSizes}}</span>
                    <span *ngIf="box.box.availavelSizes!=='multiple'">
                      <span style="font-size: x-small;"
                        *ngFor="let availavelSize of box.box.availavelSizes">
                        <span>{{
                          availavelSize.sizeName
                          }}/{{
                          availavelSize.quantity
                          }}</span> <span class="text-red"
                          *ngIf="availavelSize.shipProcessingQty">+{{availavelSize.shipProcessingQty}}</span>,
                      </span>
                    </span>
                  </p>
                  <p
                    style="margin-bottom: 0px !important; padding: 2px; width: 100px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <span>Quantity</span> : <span>{{box.box.qty}}</span> <span
                      *ngIf="box.shipProcessingQty"
                      class="text-red">+{{box.shipProcessingQty}}</span>
                  </p>
                  <p
                    style="margin-bottom: 0px !important;padding: 2px; width: 100px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                    <span>
                      <mat-icon
                        style="text-align: left;vertical-align: sub; display: inline;font-size: 14px;">
                        location_on</mat-icon>
                    </span> :
                    <span
                      matTooltip="{{box.box.locationName}}">{{box.box.locationName}}</span>
                  </p>
                </div>
                <div style="margin-bottom: 6px;"><span class="text-red  "
                    style="font-weight: bolder;">#{{box.box.boxNumber}}</span>

                  <span>
                    <btn-icon [text]="'history'"
                      class="btn-small-history text-blue"
                      (click)="openHistoryModal(box.box)">
                    </btn-icon>
                  </span>
                </div>
              </div>
            </div>
            <!-- <tr
                *ngFor="let wearhouseBox of wearhouseBoxList; let boxIndex = index"
                style="font-size: x-small;">
                <td style="padding: 3px 3px ;"
                  *ngFor="let box of wearhouseBox.boxList; let boxIndex = index">
                  <div
                    (click)="onBoxClick(box.styleList,box.box.id,detailModal)"
                    [ngStyle]="{'background-color': !box.box.selected  ?  box.box.isOpen?'rgb(253 171 147 / 33%)' :'rgb(130 248 133 / 34%)':'rgb(125 231 233 / 33%)' ,'border': box.box.isOpen  ?  '2px solid red':'2px solid green'}"
                    style="height: 95%; max-width: 120px;font-weight: 700;cursor: pointer;">
                    <p
                      style="margin-bottom: 0px !important;padding: 2px;  width: 100px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                      <span>Style</span> : <span>{{box.box.styleName}}</span>

                    </p>
                    <p
                      style="margin-bottom: 0px !important;padding: 2px; width: 100px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                      <span>Color</span> :
                      <span>{{box.box.styleColorName}}</span>
                    </p>
                    <p
                      style="margin-bottom: 0px !important;padding: 2px; width: 100px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                      <span>Size</span> :
                      <span
                        *ngIf="box.box.availavelSizes==='multiple'">{{box.box.availavelSizes}}</span>
                      <span *ngIf="box.box.availavelSizes!=='multiple'">
                        <span style="font-size: x-small;"
                          *ngFor="let availavelSize of box.box.availavelSizes">
                          <span>{{
                            availavelSize.sizeName
                            }}/{{
                            availavelSize.quantity
                            }}</span> <span class="text-red"
                            *ngIf="availavelSize.shipProcessingQty">+{{availavelSize.shipProcessingQty}}</span>,
                        </span>
                      </span>
                    </p>
                    <p
                      style="margin-bottom: 0px !important; padding: 2px; width: 100px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                      <span>Quantity</span> : <span>{{box.box.qty}}</span> <span
                        *ngIf="box.shipProcessingQty"
                        class="text-red">+{{box.shipProcessingQty}}</span>
                    </p>
                    <p
                      style="margin-bottom: 0px !important;padding: 2px; width: 100px; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                      <span>
                        <mat-icon
                          style="text-align: left;vertical-align: sub; display: inline;font-size: 14px;">
                          location_on</mat-icon>
                      </span> :
                      <span
                        matTooltip="{{box.box.locationName}}">{{box.box.locationName}}</span>
                    </p>
                  </div>
                  <div><span class="text-red  "
                      style="font-weight: bolder;">#{{box.box.boxNumber}}</span>

                    <span>
                      <btn-icon [text]="'history'"
                        class="btn-small-history text-blue"
                        (click)="openHistoryModal(box.box)">
                      </btn-icon>
                    </span>
                  </div>
                </td>
              </tr> -->


          </ng-container>

          <!-- </table> -->

        </div>

      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>


<ng-template #mergeModal>
  <h2 mat-dialog-title>Merge Boxes</h2>
  <mat-dialog-content style="min-height: 75vh;">
    <div fxLayout="column"
      fxLayoutGap="10px">
      <div class="center">
        <div class="custom-filter-header">
          <div fxLayout.gt-md="row"
            fxLayoutGap="3px">
            <div fxFlex>
              <div class="custom-filter-row-first"
                fxLayout="column"
                fxLayout.gt-md="row"
                fxLayoutGap="5px">
                <div fxFlex
                  fxLayoutAlign="space-between center">
                  <div fxFlex>
                    <ng-select [items]="inventoryLocationList"
                      bindLabel="name"
                      [clearable]="true"
                      placeholder="Select Location"
                      appendTo="body"
                      bindValue="id"
                      (change)="onLocationChange(true)"
                      [(ngModel)]="filterInMergeModal.locationid">
                    </ng-select>
                  </div>
                </div>
                <div fxFlex>
                  <input matInput
                    placeholder="Box Number"
                    class="filter-input-field"
                    type="text"
                    [(ngModel)]="filterInMergeModal.box" />
                </div>
                <div fxFlex>
                  <input matInput
                    placeholder="Style Name"
                    class="filter-input-field"
                    type="text"
                    [(ngModel)]="filterInMergeModal.stylename" />
                </div>
                <div fxFlex>
                  <input matInput
                    placeholder="Shipment Name"
                    class="filter-input-field"
                    type="text"
                    [(ngModel)]="filterInMergeModal.shipmentname" />
                </div>

                <div fxFlex>
                  <input matInput
                    placeholder="Color Name"
                    class="filter-input-field"
                    type="text"
                    [(ngModel)]="filterInMergeModal.colorname" />
                </div>
                <div fxFlex>
                  <ng-select [items]="uniqSizeList"
                    bindLabel="sizeName"
                    [clearable]="true"
                    placeholder="Select size"
                    appendTo="body"
                    bindValue="sizeId"
                    [(ngModel)]="filterInMergeModal.sizeid">
                  </ng-select>
                </div>
                <!-- <div fxFlex>
                  <mat-checkbox [(ngModel)]="filter.emptybox">
                    Empty Box
                  </mat-checkbox>
                </div>
                <div fxFlex>
                  <span
                    style="margin-bottom: 0px;
                  font-size: x-large; color:rgb(11, 135, 252); border: 1px solid rgb(11, 135, 252); border-radius: 3px;">
                    {{totalQuantity}} pcs</span>
                </div> -->
              </div>

            </div>
            <div fxFlex.gt-md="80px"
              class="filter-options">
              <span>
                <span class="filter-btn-with-counter">
                  <button class="filter-btn filter-submit"
                    mat-icon-button
                    (click)="onLocationChange(true)">
                    <mat-icon>search</mat-icon>
                  </button>
                </span>

                <button class="filter-btn filter-clear"
                  mat-icon-button
                  (click)="onClearInMergeState()">
                  <mat-icon>clear_all</mat-icon>
                </button>
              </span>

            </div>

          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row"
      style="margin-top: 5px;"
      fxLayoutGap="10px">
      <div fxFlex="20%">
        <div fxLayout="column"
          fxLayoutGap="20px">
          <div fxFlex>
            <span class="mat-title text-blue">Select Box To Merge
            </span>
            <!-- <table class="ctable noborder">
              <tr>
                <td style="padding: 0px !important;">
                  <ng-select [items]="inventoryLocationList"
                    style="max-width: 150px;"
                    bindLabel="name"
                    [clearable]="true"
                    placeholder=" Location"
                    appendTo="body"
                    bindValue="id"
                    (change)="onLocationChange(true)"
                    [(ngModel)]="locaionIdOnMarging">
                  </ng-select>
                </td>
                <td>
                  <input type="text"
                    numberonly
                    decimals="0"
                    class="text-center"
                    placeholder="Box Number"
                    matInput
                    [(ngModel)]="boxNumberForSearchingOnmarging"
                    autocomplete="off" />
                </td>
                <td>
                  <span>
                    <button class="filter-btn filter-submit"
                      mat-icon-button
                      (click)="onLocationChange(true)">
                      <mat-icon>search</mat-icon>
                    </button>
                  </span>

                </td>
                <td>
                  <span>
                    <button class="filter-btn filter-clear"
                      mat-icon-button
                      (click)="onClearInMergeState()">
                      <mat-icon>clear_all</mat-icon>
                    </button>
                  </span>
                </td>
              </tr>
            </table> -->
          </div>
          <div fxFlex>
            <div style=" overflow-y: auto;max-height: 500px;">
              <table class="ctable ">
                <tr *ngFor="let box of wearhouseBoxListFormerging">
                  <td> <strong>{{box.box.styleName}} </strong>
                    <strong
                      style="float: right;">#{{box.box.boxNumber}}</strong> <br>
                    <small>
                      Color : &nbsp;{{box.box.styleColorName}} &nbsp; &nbsp; Qty
                      :
                      &nbsp; <span class="text-green">{{box.box.qty}}</span>
                      <span class="text-red"
                        *ngIf="box.shipProcessingQty">-{{box.shipProcessingQty}}</span>

                    </small>
                  </td>
                  <td>
                    <mat-checkbox [(ngModel)]="box.selectedToMerge"
                      (change)="onSelectBoxToMerge(box,box.selectedToMerge)">
                    </mat-checkbox>
                  </td>
                </tr>
              </table>
            </div>

          </div>

        </div>
      </div>

      <div fxFlex>
        <div fxLayout="column"
          fxLayoutGap="20px">
          <div fxFlex>
            <span class="mat-title text-green">Target Box </span>
            <span>
              <btn-small [text]="'history'"
                [custom]="'History'"
                class="btn-small-history text-blue"
                (click)="openHistoryModal(targetBox.box)">
              </btn-small>
            </span>
            <span class="box-number-tag">
              # {{targetBox.box.boxNumber}}
            </span>
            <div style="border: 1px solid #ddd;">
              <table class="ctable noborder">
                <tr>
                  <th>Style</th>
                  <th>:</th>
                  <th style="text-align: left;">{{targetBox.box.styleName}}</th>

                  <th>Shipment</th>
                  <th>:</th>
                  <th style="text-align: left;">{{targetBox.box.shipmentName}}
                  </th>

                  <th>PO</th>
                  <th>:</th>
                  <th style="text-align: left;">{{targetBox.box.poNo}}</th>
                </tr>
                <tr>
                  <th>Location</th>
                  <th>:</th>
                  <th style="text-align: left;">
                    {{targetBox.box.locationName}}</th>

                  <th>Color Name</th>
                  <th>:</th>
                  <th style="text-align: left;">{{targetBox.box.styleColorName}}
                  </th>

                  <th>Quantity</th>
                  <th>:</th>
                  <th style="text-align: left; font-size: large;"
                    class="text-blue">{{targetBox.box.qty}} &nbsp; <span
                      *ngIf="targetBox.shipProcessingQty"
                      class="text-red">+{{targetBox.shipProcessingQty}}</span>
                  </th>
                </tr>
              </table>
            </div>
          </div>
          <div fxFlex>
            <span class="mat-title text-green"
              *ngIf="selectedBoxesToMergeChunked.length">Boxes To Be Merged
            </span>
            <span *ngIf="selectedBoxesToMerge.length">
              <btn-icon [text]="'comment'"
                class="btn-small-comment"
                (click)="openCommentModal(mergeCommentModal)">
              </btn-icon>
            </span>
            <!-- <div> -->
            <ng-container>
              <div fxLayout="row"
                fxLayoutGap="10px"
                fxLayoutAlign="start start"
                *ngFor="let item of selectedBoxesToMergeChunked; let itemIndex = index">
                <div fxFlex="20%"
                  style="max-width: 200px !important; height: auto; flex: 1 -1 0% !important;"
                  *ngFor="let box of item; let boxIndex = index">
                  <div
                    style="border: 1px solid #ddd; padding: 5px;border-radius: 2px;margin-bottom: 5px;max-width: 200px !important">
                    <p style="margin-bottom: 0px !important;padding: 2px;">
                      <span>Style</span> :
                      <span>{{box.box.styleName}}</span>
                      <strong class="text-red"
                        style="float: right;">#{{box.box.boxNumber}}</strong>
                    </p>
                    <p style="margin-bottom: 0px !important;padding: 2px;">
                      <span>Color</span> :
                      <span>{{box.box.styleColorName}}</span>
                    </p>
                    <p style="margin-bottom: 0px !important; padding: 2px;">
                      <span>Quantity</span> : <span>{{box.box.qty}}</span> <span
                        class="text-red"
                        *ngIf="box.shipProcessingQty"> +
                        {{box.shipProcessingQty}}</span>
                      <!-- <span>
                        <btn-icon [text]="'comment'"
                          class="btn-small-comment"
                          (click)="openCommentModal(mergeCommentModal,box.box)"
                          style="float: right;">
                        </btn-icon>
                      </span> -->
                      <span>
                        <btn-icon [text]="'history'"
                          style="float: right;"
                          class="btn-small-history text-blue"
                          (click)="openHistoryModal(box.box)">
                        </btn-icon>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            [custom]="'Merge'"
            (onclick)="mergeBoxes()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>

<ng-template #detailModal>
  <h2 mat-dialog-title>Box Details</h2>
  <mat-dialog-content style="max-height: 85vh; min-height: 30vh;">
    <div fusePerfectScrollbar
      fxFlex
      fxLayoutGap="10px">
      <span class="mat-title text-green">Total Quantity : <b
          class="text-blue">{{styleList[0].quantity}} <span class="text-red"
            *ngIf="styleList[0].shipProcessingQty">+
            {{styleList[0].shipProcessingQty}}</span> </b>
      </span>
      <span>
        <btn-small [text]="'history'"
          [custom]="'History'"
          class="btn-small-history text-blue"
          (click)="openHistoryModal(styleList[0])">
        </btn-small>
      </span>
      &nbsp;
      <span>
        Location: &nbsp; {{styleList[0].locationName}}
      </span>
      <span class="box-number-tag">
        # {{styleList[0].boxNumber}}
      </span>

      <table class="ctable mt-8  p-12">
        <tr class="header-bg csticky">
          <th class="text-center fit">PO</th>
          <th class="text-center fit">Shipment</th>
          <!-- <th style="width: 150px;">Season</th> -->
          <th class="text-center fit">Style</th>
          <th class="text-center fit">Color</th>
          <th *ngFor="let size of uniqSizeList"
            class="text-center fit">
            {{ size.sizeName }}
          </th>
        </tr>
        <ng-container *ngFor="let style of styleList; let styleIndex = index">
          <tr *ngFor="let color of style?.colorList; let colorIndex = index">
            <td [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              {{style.po}}
            </td>
            <td [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              {{style.shipment}}
            </td>
            <!-- <td [hidden]="colorIndex > 0"
                    [attr.rowspan]="style?.colorList?.length">
                    {{style.season}}
                  </td> -->
            <td [hidden]="colorIndex > 0"
              [attr.rowspan]="style?.colorList?.length">
              {{style.styleName}}
            </td>
            <td>
              {{color.styleComboName}}
            </td>
            <td *ngFor="let size of color?.sizeList; let sizeIndex = index"
              style="text-align: center; max-width: fit-content;"
              class="fit">
              <!-- <pre>{{"_" + color?.styleComboId + "_" +
                  size.sizeId}}</pre> -->
              {{size.quantity}} <span *ngIf="size.shipProcessingQty"
                class="text-red">+ {{size.shipProcessingQty}}</span>
              <!-- <input type="number"
                      [ngModel]="size.quantity"> -->
            </td>
          </tr>
        </ng-container>
      </table>

    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <span *ngIf="displayActionButtons">
            <span>
              <btn [custom]="'Merge'"
                iconHide="true"
                [text]="'edit'"
                *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_CREATE')"
                (onclick)="openMergeBoxModal(mergeModal)"></btn>
            </span>
            <span>
              <btn [text]="'add'"
                iconHide="true"
                *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_CREATE')"
                (onclick)="openAddStyleInventoryModal()"></btn>
            </span>
            <span>
              <btn [text]="'edit'"
                iconHide="true"
                *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_CREATE')"
                (onclick)="openEditModal()"></btn>
            </span>
          </span>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>

</ng-template>


<ng-template #mergeCommentModal>
  <h2 mat-dialog-title>Remarks</h2>
  <mat-dialog-content style="min-height:40vh;">
    <div fxLayout>
      <div fxFlex>
        <table class="ctable noborder">
          <tr>
            <td>
              <div style="width: 50%;"
                class="email-summarnote"
                [ngxSummernote]="config"
                [(ngModel)]="mergeCommetn">
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <btn [text]="'close'"
      [modalClose]="true"></btn>
    <!-- <btn [text]="'add'"
      style="float: right;"
      [custom]="'Save'"
      (click)="saveComment()"></btn> -->
  </mat-dialog-actions>
</ng-template>