<h2 mat-dialog-title>Sales Manager Details</h2>
<mat-dialog-content class="scrollable"
  style="height: calc(100vh - 120px);">
  <mat-tab-group>
    <mat-tab label="Basic Info">
      <partner-basic [partnerId]="partnerId"></partner-basic>
    </mat-tab>
    <mat-tab label="Sales Rep">
      <partner-sales-rep-list [partnerId]="partnerId">
      </partner-sales-rep-list>
    </mat-tab>
    <mat-tab label="Commission">
      <partner-commission [partnerId]="partnerId"></partner-commission>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
      </td>
    </tr>
  </table>
</mat-dialog-actions>