<div fusePerfectScrollbar
  fxFlex="35%"
  class="border-right p-24 p-0">
  <mat-icon (click)="RoleCreateForm()"
    class="s-24 mb-4 cursor-pointer"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th class="fit">#</th>
      <th>Name</th>
      <th style="width: 70px;"></th>
    </thead>

    <tbody>
      <tr *ngFor="let role of role.items; let i = index"
        [ngClass]="{'header-bg' : role.id ==selectedRoleId}">
        <td>{{i+1}}</td>
        <td>{{role.label}}</td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="rolePermissionDetailClick(role.id)">
          </btn-icon>&nbsp;
          <btn-icon [text]="'delete'"
            (click)="deleteRole(role.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div fusePerfectScrollbar
  fxFlex
  class="p-24 p-0">
  <ng-container [ngSwitch]="role.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <form class=""
        fxLayout="column"
        fxLayoutAlign="start"
        name="form"
        #inventoryTypeForm="ngForm"
        (ngSubmit)="RoleOnSubmit()">

        <div fxLayout="row"
          fxLayoutAlign="start"
          fxFlex="1 0 auto">

          <mat-form-field fxFlex="50">
            <mat-label>Name</mat-label>
            <input matInput
              required
              [(ngModel)]="role.item.name"
              name="roleName"
              #roleName="ngModel">
            <mat-error
              *ngIf="(roleName.invalid && (roleName.dirty || roleName.touched)) && roleName.errors.required">
              Name is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row"
          fxLayoutAlign="start"
          fxFlex="1 0 auto">

          <mat-form-field fxFlex="50">
            <mat-label>Label</mat-label>
            <input matInput
              required
              [(ngModel)]="role.item.label"
              name="roleLabel"
              #roleLabel="ngModel">
            <mat-error
              *ngIf="(roleLabel.invalid && (roleLabel.dirty || roleLabel.touched)) && roleLabel.errors.required">
              Label is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row"
          fxLayoutAlign="left center">
          <button mat-raised-button
            type="submit"
            color="accent"
            class="mt-24">
            ADD
          </button>
        </div>
      </form>

    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Role Permission
        </span>
        <span [ngSwitch]="rolePermission.EditOrUpdate"
          style="float:right">
          <btn-small class="text-blue"
            *ngSwitchCase="'edit'"
            [text]="'edit'"
            (onclick)="editRolePermission()"></btn-small>
          <btn-small class="text-green"
            *ngSwitchCase="'update'"
            [text]="'update'"
            (onclick)="updateRolePermission()"></btn-small>
          <btn-small class="text-red"
            *ngSwitchCase="'update'"
            [text]="'close'"
            (onclick)="cancelUpdateing()"></btn-small>
        </span>
        <div class="custom-filter-header"
          style="padding:0px ; padding-bottom:3px">
          <div fxLayout='column'
            fxLayout.gt-md="row"
            fxLayoutGap="3px">
            <div fxFlex>
              <div class="custom-filter-row-first"
                fxLayout='column'
                fxLayout.gt-md="row"
                fxLayoutGap="2px">
                <div fxFlex>
                  <input matInput
                    [(ngModel)]="filter.label"
                    placeholder="Permission Label"
                    class="filter-input-field"
                    (keydown.enter)="onFilter()"
                    type="text">
                </div>
                <div fxFlex>
                  <input matInput
                    [(ngModel)]="filter.module"
                    placeholder="Module Name"
                    class="filter-input-field"
                    (keydown.enter)="onFilter()"
                    type="text">
                </div>
              </div>
            </div>
            <div fxFlex.gt-md="80px">
              <span>
                <span class="filter-btn-with-counter">
                  <span *ngIf="filterCounter"
                    class="filter-counter">{{filterCounter}}</span>
                  <button class="filter-btn filter-submit"
                    mat-icon-button
                    (click)="onFilter()">
                    <mat-icon>search</mat-icon>
                  </button>
                </span>
                <button class="filter-btn filter-clear"
                  mat-icon-button
                  (click)="onClear()">
                  <mat-icon>clear_all</mat-icon>
                </button>
              </span>
            </div>
          </div>
        </div>

        <div [style.overflow]="'auto'"
          [style.height.vh]="'80'">
          <table class="ctable no-border-top">
            <thead class="csticky">
              <tr>
                <!-- <th>Name</th> -->
                <th>Label</th>
                <th>Module</th>
                <th>Operation</th>
                <th>Section</th>
                <th class="fit"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="let rolePermission of rolePermission.items; let i = index">
                <tr *ngIf="rolePermission?.show"
                  [ngClass]="{'text-red': rolePermission.exist}">
                  <!-- <td>{{rolePermission.name}}</td> -->
                  <td [ngClass]="{'text-red': rolePermission.exist}">
                    {{rolePermission.label}}</td>
                  <td [ngClass]="{'text-red': rolePermission.exist}">
                    {{rolePermission.module}}</td>
                  <td [ngClass]="{'text-red': rolePermission.exist}">
                    {{rolePermission.operation}}</td>
                  <td [ngClass]="{'text-red': rolePermission.exist}">
                    {{rolePermission?.section}}</td>
                  <td>
                    <span *ngIf="!viewMode">
                      <mat-icon class="s-16"
                        [ngClass]="{'text-green': rolePermission.hasRolePermmsion, 'text-red': !rolePermission.hasRolePermmsion}"
                        title="Create a new entity">
                        <span
                          *ngIf="rolePermission.hasRolePermmsion">check_circle</span>
                        <span
                          *ngIf="!rolePermission.hasRolePermmsion">cancel</span>
                      </mat-icon>
                    </span>
                    <!-- <span> p </span> -->
                    <span *ngIf="viewMode">
                      <mat-checkbox class="example-margin"
                        [(ngModel)]="rolePermission.hasRolePermmsion">
                      </mat-checkbox>
                    </span>
                  </td>
                </tr>
              </ng-container>


            </tbody>
          </table>
        </div>

        <!-- <span [ngSwitch]="rolePermission.EditOrUpdate"
          style="float:right">
          <btn-icon class="text-blue"
            *ngSwitchCase="'edit'"
            [text]="'edit'"
            (click)="editRolePermission()"></btn-icon>
          <btn-icon class="text-green"
            *ngSwitchCase="'update'"
            [text]="'update'"
            (click)="updateRolePermission()"></btn-icon>
          <btn-icon class="text-red"
            *ngSwitchCase="'update'"
            [text]="'close'"
            (click)="cancelUpdateing()">
          </btn-icon>
        </span> -->
      </ng-container>
    </ng-container>
  </ng-container>
</div>