<div id="invoice"
  class="compact page-layout blank"
  fxLayout="row">

  <div class="invoice-container">
    <div class="card">
      <div class="header">
        <div fxlayout="row"
          fxlayoutalign="space-between stretch"
          style="flex-direction: row; box-sizing: border-box; display: flex; place-content: stretch space-between; align-items: stretch; max-height: 100%;">
          <div class="client">
            <div fxlayout="row"
              fxlayoutalign="start center"
              class="invoice-number"
              style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
              <span class="top-title"
                *ngIf="shipment?.packingProcessing">Stock Picking
                List</span>
              <span class="top-title"
                *ngIf="!shipment?.packingProcessing">
                Packing List
              </span>
            </div>
            <div fxlayout="row"
              fxlayoutalign="start center"
              class="invoice-number"
              style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
              <span class="title">RIMS PO: </span>
              <span class="number">{{shipment?.order?.rimsPoNo}}</span>
            </div>
            <div fxlayout="row"
              fxlayoutalign="start center"
              class="due-date"
              style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
              <span class="title">Ship Date: </span> <span
                class="date">{{shipment?.shipmentDate | date:
                'mediumDate'}}</span>
            </div>
            <div class="info">
              <div class="title"
                style="font-weight: bold;">{{shipment?.customerName}}</div>
              <div class="address ng-star-inserted">

                <span *ngIf="shipment?.customerDetail?.poBoxNo">PO-Box:
                  {{ shipment?.customerDetail?.poBoxNo }},
                </span>
                <span *ngIf="shipment?.customerDetail?.street">{{
                  shipment?.customerDetail?.street }},
                </span><br />
                <span *ngIf="shipment?.customerDetail?.city">{{
                  shipment?.customerDetail?.city }},
                </span>
                <span *ngIf="shipment?.customerDetail?.province">{{
                  shipment?.customerDetail?.province }},
                </span>
                <span *ngIf="shipment?.customerDetail?.postCode"><br />{{
                  shipment?.customerDetail?.postCode }}
                </span>

              </div>
              <div class="phone ng-star-inserted">{{
                shipment?.customerDetail?.phoneNo }}</div>

              <div class="email ng-star-inserted">{{
                shipment?.customerDetail?.email }}</div>

            </div>
          </div>
          <div fxlayout="row"
            fxlayoutalign="start center"
            class="issuer accent"
            style="background-color: #dedede !important; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
            <div class="logo"><img src="assets/images/logos/rawman_logo.png">
            </div>
            <div class="info"
              style="color: #000">
              <div class="title"
                style="font-weight: bold;">Rawman & Co. Inc.</div>
              <div class="address ng-star-inserted">
                9 Baronial Crt.
                <br />
                Toronto, ON, M1C3J5
              </div>
              <div class="phone ng-star-inserted">416-833-9323</div>
              <div class="email ng-star-inserted">support@rawmanco.com</div>
              <div class="website ng-star-inserted">www.rims.rawmanco.com</div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <table class="ctable simple invoice-table"
          *ngIf="!shipment?.packingProcessing">
          <thead>
            <tr>
              <th class="text-center">Shipment Mode</th>
              <th class="text-center">Courier Company</th>
              <th class="text-center">Courier Account</th>
              <th class="text-center">Tracking Number</th>
              <th class="text-center">No of Box</th>
              <th class="text-center">Total Weight</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">
                <span *ngIf="shipment?.shipmentMode == 'CUSTOMER'">Customer
                  Shipping</span>
                <span *ngIf="shipment?.shipmentMode == 'RAWMANCO'">Rawman & Co.
                  Shipping</span>
                <span *ngIf="shipment?.shipmentMode == 'OTHER'">
                  Other <br />(No
                  Canada
                  Post)
                </span>
              </td>
              <td class="text-center">{{shipment?.courierCompany}}</td>
              <td class="text-center">{{shipment?.courierAccountNo}}</td>
              <td class="text-center">{{shipment?.trackingNumber}}</td>
              <td class="text-center">{{shipment?.noOfBox}}</td>
              <td class="text-center">{{shipment?.totalWeight}}</td>
            </tr>
          </tbody>
        </table>

        <table class="ctable simple invoice-table"
          *ngFor="let group of shipment?.groupBreakdown; let groupIndex = index">
          <thead>
            <tr>
              <th class="text-center"
                style="width: 150px;">Style</th>
              <th class="text-center"
                style="width: 100px;">Color</th>
              <th class="text-center"
                style="width: 70px;"
                *ngFor="let size of group.sizeList">
                {{ size.sizeLabel }}
              </th>
              <th style="width: 100px;"
                class="text-center">
                Qty
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let style of group?.styleBreakdown; let styleIndex = index">
              <tr
                *ngFor="let color of style?.colorList; let colorIndex = index">
                <td class="text-center"
                  [hidden]="colorIndex > 0"
                  [attr.rowspan]="style?.colorList?.length">
                  {{style?.styleName}}
                </td>
                <td class="text-center">
                  {{color.comboName}}
                </td>
                <td *ngFor="let size of group.sizeList"
                  class="text-center">
                  <div>
                    {{
                    (style?.breakdown)[
                    "_" + color?.comboId + "_" + size.sizeId
                    ]?.shipQty
                    }}
                  </div>
                </td>
                <th class="text-center"
                  [hidden]="colorIndex > 0"
                  [attr.rowspan]="style?.colorList?.length">
                  <div>
                    {{style?.styleShippedQty}}
                  </div>

                </th>
              </tr>
            </ng-container>
          </tbody>
        </table>







        <table *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
          class="ctable simple invoice-table">
          <thead>
            <tr>
              <th class="text-center">Warehouse</th>
              <th class="text-center">Order Processed By</th>
              <th class="text-center">Contact No.</th>
              <th class="text-center">Email</th>
              <th class="text-center">Warehouse Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">{{shipment?.inventoryLocation?.name}}</td>
              <td class="text-center">{{shipment?.createdBy}}</td>
              <td class="text-center">{{shipment?.phoneNo}}</td>
              <td class="text-center">{{shipment?.email}}</td>
              <td class="text-center">{{shipment?.comment}}</td>
            </tr>
          </tbody>
        </table>



      </div>
      <!-- <div class="footer">
        <div class="note">Please pay within 15 days. Thank you for your
          business.
        </div>
        <div fxlayout="row"
          fxlayoutalign="start start"
          style="flex-direction: row; box-sizing: border-box; display: flex; place-content: flex-start; align-items: flex-start;">
          <div class="logo"><img src="assets/images/logos/rawman_logo.png">
          </div>
          <div class="small-note"> In condimentum malesuada efficitur. Mauris
            volutpat placerat auctor. Ut ac congue dolor. Quisque scelerisque
            lacus
            sed feugiat fermentum. Cras aliquet facilisis pellentesque. Nunc
            hendrerit quam at leo commodo, a suscipit tellus dapibus. Etiam at
            felis
            volutpat est mollis lacinia. Mauris placerat sem sit amet velit
            mollis,
            in porttitor ex finibus. Proin eu nibh id libero tincidunt lacinia
            et
            eget eros. </div>
        </div>
      </div> -->
    </div>
  </div>