@import "src/@fuse/scss/fuse";

app-shipment-print {
  #invoice {
    &.compact {
      padding: 0;
      display: block;

      .invoice-container {
        padding: 64px;
        margin: 0 auto;

        .card {
          width: 1020px;
          min-width: 1020px;
          max-width: 1020px;
          padding: 64px 88px;
          overflow: hidden;
          background: #ffffff;
          @include mat-elevation(7);

          .header {
            .invoice-date {
              font-size: 14px;
              color: rgba(0, 0, 0, 0.54);
              margin-bottom: 32px;
            }

            .client {
              .invoice-number {
                font-size: 14px;
                padding-bottom: 2px;

                .top-title {
                  color: rgba(0, 0, 0, 0.54);
                  font-size: 20px;
                  font-weight: bold;
                  margin-bottom: 10px;
                }

                .title {
                  color: rgba(0, 0, 0, 0.54);
                }



                .number {
                  color: rgba(0, 0, 0, 0.87);
                  padding-left: 6px;
                }
              }

              .due-date {
                font-size: 14px;
                padding-bottom: 16px;

                .title {
                  color: rgba(0, 0, 0, 0.54);
                }

                .date {
                  color: rgba(0, 0, 0, 0.87);
                  padding-left: 6px;
                }
              }

              .info {
                color: rgba(0, 0, 0, 0.54);
                line-height: 22px;
              }
            }

            .issuer {
              margin-right: -88px;
              padding-right: 66px;

              .logo {
                width: 96px;
                padding: 0 8px;
                border-right: 1px solid rgba(255, 255, 255, 0.7);
              }

              .info {
                padding: 16px;
              }
            }
          }

          .content {
            .invoice-table {
              margin-top: 32px;
              font-size: 15px;
              thead {
                tr {
                  th {
                    color: rgba(0, 0, 0, 0.87);
                    border-bottom: 2px solid rgba(0, 0, 0, 0.12);

                    &:first-child {
                      padding-left: 8px;
                    }

                    &:last-child {
                      padding-right: 8px;
                    }
                  }
                  th.fit{
                    width: 10px;
                    max-width: auto;
                    white-space:nowrap;
                  }
                }
              }

              tbody {
                tr {
                  td {
                    color: rgba(0, 0, 0, 0.87);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                    &:first-child {
                      padding-left: 8px;
                    }

                    &:last-child {
                      padding-right: 8px;

                    }
                  }
                }
              }

              .title {
                font-size: 16px;
              }

              .detail {
                margin-top: 8px;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.54);
                max-width: 360px;
              }
            }

            .invoice-table-footer {
              margin: 32px 0 72px 0;

              tr {
                td {
                  text-align: right;
                  font-size: 14px;
                  font-weight: 600;
                  color: rgba(0, 0, 0, 0.54);
                  border-bottom: none;
                  padding: 4px 8px;

                  &:first-child {
                    text-align: left;
                  }
                }

                &.discount {
                  td {
                    padding-bottom: 32px;
                  }
                }

                &.total {
                  td {
                    padding: 24px 8px;
                    border-top: 1px solid rgba(0, 0, 0, 0.12);
                    font-size: 35px;
                    font-weight: 300;
                    color: rgba(0, 0, 0, 1);
                  }
                }
              }
            }
          }

          .footer {
            .note {
              font-size: 15px;
              font-weight: 600;
              margin-bottom: 24px;
            }

            // IE10 fix
            .logo,
            .small-note {
              -ms-flex: 0 1 auto;
            }

            .logo {
              width: 32px;
              min-width: 32px;
              margin-right: 24px;
            }

            .small-note {
              font-size: 12px;
              font-weight: 600;
              color: rgba(0, 0, 0, 0.54);
              line-height: 18px;
            }
          }
        }
      }
    }
  }

  /* PRINT STYLES */
  @media print {
    /* Invoice Specific Styles */
    #invoice {
      &.compact {
        background: white;
        display: block !important;

        .invoice-container {
          padding: 0;

          .card {
            width: 100%;
            min-width: 0;
            background: none;
            padding: 0;
            box-shadow: none;

            .header {
              .invoice-date {
                margin-bottom: 16pt;
              }

              .issuer {
                padding-right: 0;
                margin-right: 0;
              }
            }

            .content {
              .invoice-table {
                margin-top: 16pt;

                thead {
                  tr {
                    th {
                      font-size: 10pt;
                      max-width: 60pt;

                      &:first-child {
                        padding-left: 8px;
                      }

                      &:last-child {
                        padding-right: 8px;
                      }
                    }
                  }
                }

                tbody {
                  tr {
                    td {
                      &:first-child {
                        padding-left: 8px;
                      }

                      &:last-child {
                        padding-right: 8px;
                      }
                    }
                  }
                }

                .title {
                  font-size: 10pt;
                }

                .detail {
                  margin-top: 4pt;
                  font-size: 9pt;
                  max-width: none;
                }
              }

              .invoice-table-footer {
                margin: 16pt 0;

                tr {
                  td {
                    font-size: 13pt;
                    padding: 4pt 4pt;

                    &:first-child {
                      text-align: left;
                      padding-left: 0;
                    }

                    &:last-child {
                      padding-right: 0;
                    }
                  }

                  &.discount {
                    td {
                      padding-bottom: 16pt;
                    }
                  }

                  &.total {
                    td {
                      padding: 16pt 4pt 0 4pt;
                      font-size: 16pt;

                      &:first-child {
                        padding-left: 0;
                      }

                      &:last-child {
                        padding-right: 0;
                      }
                    }
                  }
                }
              }
            }

            .footer {
              .note {
                font-size: 10pt;
                margin-bottom: 8pt;
              }

              .logo {
                margin-right: 8pt;
              }

              .small-note {
                font-size: 8pt;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
}
