<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">
            <div fxFlex
              fxLayoutAlign="space-between center">
              <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowleft'"
                  (click)="onDateNextPrivious(false)"></btn-icon>
              </div> -->
              <div fxFlex>
                <date-picker (change)="filter.fromdate = $event.dateFormatted"
                  hideLabel="true"
                  [labelName]="'From Date'"
                  [dateValue]="filter.fromdate">
                </date-picker>
              </div>
            </div>
            <div fxFlex
              fxLayoutAlign="space-between center">
              <div fxFlex>
                <date-picker (change)="filter.todate = $event.dateFormatted"
                  hideLabel="true"
                  [labelName]="'To Date'"
                  [dateValue]="filter.todate">
                </date-picker>
              </div>
              <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowright'"
                  (click)="onDateNextPrivious(true)"></btn-icon>
              </div> -->
            </div>

            <div fxFlex>
              <!-- <mat-select multiple
                placeholder="Status"
                class="mat-multiple-select"
                [(ngModel)]="filter.statusname">
                <mat-option *ngFor="let item of statusList"
                  [value]="item.name">{{ item.label }}</mat-option>
              </mat-select> -->
            </div>

            <div fxFlex>
              <!-- <mat-select multiple
                *ngIf="userRole != 'ROLE_CUSTOMER'"
                placeholder="Customers"
                class="mat-multiple-select"
                [(ngModel)]="filter.customerid">
                <mat-option *ngFor="let item of customerList"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select> -->
            </div>
            <div fxFlex>
              <!-- <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
                placeholder="Sales Rep"
                class="mat-multiple-select"
                [(ngModel)]="filter.salerepid">
                <mat-option *ngFor="let item of saleRepList"
                  [value]="item.id">{{ item.fullname }}</mat-option>
              </mat-select> -->
            </div>


          </div>
        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
          </span>

        </div>
        <div fxFlex.gt-md="185px"
          *ngIf="_auth.hasPermission('PERMISSION_DIGITAL_CATALOG_CREATE')">
          <span>
            <btn [custom]="'Create Catalogue'"
              [text]="'add'"
              (onclick)="openAddModal(createModal)"></btn>
          </span>
        </div>
      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->

      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>
          <div *ngIf="pdfList?.length === 0"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlexFill>
            <span class="no-messages-text hint-text">{{
              "Catalogues"
              }}</span>
          </div>
          <div class="pr-8"
            *ngIf="pdfList?.length">
            <table class="ctable no-border-top no-border-left"
              style="width: auto;">
              <thead class="csticky">
                <th class="text-center">Title</th>
                <th class="text-center">Name</th>
                <th class="text-center">Action</th>

              </thead>
              <tbody>
                <tr *ngFor="let item of pdfList">
                  <td class="text-center">
                    <div style="height: 120px; width: 120px; ">
                      <single-photo-card
                        [name]="'Cover Photo: Image will be height: 120px; width: 120px; '"
                        [entityId]="item?.id"
                        [entityType]="'digital_cover'"
                        [enableEdit]="false">
                      </single-photo-card>
                    </div>
                  </td>
                  <td class="text-center">{{item.name }}</td>
                  <td class="text-center">
                    <div>
                      <btn-small [text]="'add'"
                        [custom]="'View'"
                        (onclick)="openPdfModal(item.id,item.name)"></btn-small>
                    </div>
                    <div class="pt-4"
                      *ngIf="_auth.hasPermission('PERMISSION_DIGITAL_CATALOG_EDIT')">
                      <btn-small [text]="'edit'"
                        (onclick)="catalogueDetailsModal(item.id)"></btn-small>
                    </div>
                    <div class="pt-4"
                      *ngIf="_auth.hasPermission('PERMISSION_DIGITAL_CATALOG_DELETE')">
                      <btn-small [text]="'delete'"
                        (onclick)="delete(item.id)"></btn-small>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>




<ng-template #createModal>
  <h2 mat-dialog-title>Digital Catalogue Create</h2>
  <mat-dialog-content style="min-height: 10px;">
    <table class="ctable noborder">
      <tr>
        <th class="fit">Name</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newItem.name" />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (onclick)="create()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>