<div id="login"
  fxLayout="column">

  <div id="login-form-wrapper"
    fxLayout="column"
    fxLayoutAlign="center center">

    <div id="login-form"
      [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <!-- <div class="logo">
        <img src="assets/images/logos/rawman_logo.png">
      </div> -->

      <div class="title">Retailer Registration Form</div>

      <div class="form">
        <div fxLayout="row"
          fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field>
              <input matInput
                type="text"
                placeholder="First Name *"
                [(ngModel)]="newCustomer.contactFirstName"
                autofocus>
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput
                type="text"
                placeholder="Last Name *"
                [(ngModel)]="newCustomer.contactLastName">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex>
            <mat-form-field>
              <input matInput
                type="email"
                placeholder="Email *"
                [(ngModel)]="newCustomer.email">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex>
            <mat-form-field>
              <input matInput
                type="text"
                placeholder="Company *"
                [(ngModel)]="newCustomer.name">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex>
            <mat-form-field>
              <input matInput
                type="text"
                placeholder="Street *"
                [(ngModel)]="newCustomer.shippingCustomerAddress.street">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex>
            <mat-form-field>
              <input matInput
                type="text"
                placeholder="City *"
                [(ngModel)]="newCustomer.shippingCustomerAddress.city">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex>
            <mat-form-field>
              <mat-select placeholder="Province *"
                [(ngModel)]="newCustomer.shippingCustomerAddress.provinceId">
                <mat-option *ngFor="let item of provinceList"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row"
          fxLayoutGap="10px">
          <div fxFlex>
            <mat-form-field>
              <input matInput
                type="text"
                placeholder="Postal Code *"
                [(ngModel)]="newCustomer.shippingCustomerAddress.postCode">
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <input matInput
                type="text"
                placeholder="PO Box No"
                [(ngModel)]="newCustomer.shippingCustomerAddress.poBoxNo">
            </mat-form-field>
          </div>
        </div>
        <div fxLayout="row"
          fxLayoutGap="10px">

          <div fxFlex>
            <mat-form-field>
              <input matInput
                type="text"
                placeholder="Phone No *"
                [(ngModel)]="newCustomer.phoneNo">
            </mat-form-field>
          </div>
          <div fxFlex>
            <mat-form-field>
              <mat-select placeholder="Years in Business *"
                [(ngModel)]="newCustomer.businessYear">
                <mat-option *ngFor="let item of businessYears"
                  [value]="item">{{ item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div fxLayout="row">
          <div fxFlex>
            <mat-form-field>
              <input matInput
                type="text"
                placeholder="Brands we currently carry"
                [(ngModel)]="newCustomer.brands">
            </mat-form-field>
          </div>
        </div>

        <button mat-raised-button
          color="accent"
          class="submit-button"
          aria-label="Submit"
          (click)="onSubmit()">
          Submit
        </button>
      </div>
      <div class="register"
        fxLayout="column"
        fxLayoutAlign="center center">
        <span class="text">
          Please note that our sales team will review your
          information <br />
          and reply back to the email you provided within
          24 to 48
          hours
        </span>
      </div>


      <div class="separator">
        <span class="text">OR</span>
      </div>

      <div class="register"
        fxLayout="column"
        fxLayoutAlign="center center">
        <span class="text">Do you have an account?</span>
        <a class="link"
          [routerLink]="'/login'">Login</a>
      </div>


    </div>

  </div>

</div>