<div *ngIf="newUser"
  class="my-8">
  <div fxLayout="row">
    <div fxFlex>
      <div class="text-right">
        <ng-container *ngIf="!newUser.editMode">
          <btn-small [text]="'edit'"
            [custom]="'Send Invitation'"
            (onclick)="sendInvitaionToCustomer()"></btn-small>
          <btn-small [text]="'edit'"
            (onclick)="newUser.editMode = true"></btn-small>
        </ng-container>
        <ng-container *ngIf="newUser.editMode">
          <btn-small [text]="'save'"
            (onclick)="save"
            (onclick)="updateUser()"></btn-small>
          <btn-small [text]="'cancel'"
            (onclick)="getUser()"></btn-small>
        </ng-container>

      </div>
      <table class="ctable noborder">
        <tr>
          <th style="width: 150px;">First Name <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                [disabled]="!newUser.editMode"
                type="text"
                [(ngModel)]="newUser.firstName"
                #firstName="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th style="width: 150px;">Last Name <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                [disabled]="!newUser.editMode"
                type="text"
                [(ngModel)]="newUser.lastName"
                #lastName="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th style="width: 150px;">Company <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                [disabled]="!newUser.editMode"
                type="text"
                [(ngModel)]="newUser.company"
                #company="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th style="width: 150px;">Phone No <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                [disabled]="!newUser.editMode"
                type="text"
                [(ngModel)]="newUser.phoneNo"
                #phoneNo="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th style="width: 150px;">Address</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field class="w-100-p">
              <textarea matInput
                [disabled]="!newUser.editMode"
                rows="3"
                [(ngModel)]="newUser.address"></textarea>
            </mat-form-field>
          </td>
        </tr>

      </table>

    </div>
    <div fxFlex>
      <div *ngIf="newUser?.id"
        style="width: 300px; float: right; text-align: center;"
        class="mr-20">
        <span class="mat-title">Sales Rep Profile Picture</span>
        <div style="height: 300px">
          <single-photo-card [name]="'Profile Photo Upload'"
            [subtitle]="'Best Photo Size: 1:1 or Height: 200px and width: 200px'"
            [entityId]="newUser?.id"
            [entityType]="'user_profile'"
            [enableEdit]="_auth.hasPermission('PERMISSION_SALE_REP_USER_CREATE')">
          </single-photo-card>
        </div>
      </div>
    </div>
  </div>



</div>