<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">

            <div fxFlex>
              <input matInput
                placeholder="First Name"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.firstname" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Last Name"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.lastname" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Email"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.email" />
            </div>
            <div fxFlex>
              <input matInput
                placeholder="Phone No"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.phoneno" />
            </div>
            <div fxFlex>
              <mat-select class="mat-multiple-select"
                placeholder="Role"
                [(ngModel)]="filter.roleid"
                (selectionChange)="onFilter()">
                <mat-option *ngFor="let item of roleList"
                  [value]="item.id">{{ item.label }}</mat-option>
              </mat-select>
            </div>

          </div>
        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
          </span>

        </div>
        <!-- <div fxFlex.gt-md="80px"
          *ngIf="_auth.hasPermission('PERMISSION_USER_CREATE')">
          <span>
            <btn [custom]="'User'"
              [text]="'add'"
              (onclick)="openCreateModal(userCreateModal)"></btn>
          </span>
        </div> -->
      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->
      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>
          <div *ngIf="users.length === 0"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlexFill>
            <span class="no-messages-text hint-text">{{
              "Users"
              }}</span>
          </div>

          <div class="pr-8"
            *ngIf="users?.length">
            <table class="ctable no-border-top no-border-left">
              <thead class="csticky">
                <th class="fit text-center">Image</th>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
                <th>Phone</th>
                <th style="width: 200px;">Address</th>
                <th>Role</th>
                <th class="fit text-center">Action</th>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>
                    <div class="text-center">
                      <img class="thumb-image"
                        *ngIf="user?.userProfile?.length"
                        [src]="user?.userProfile[0]?.thumnailFilePath" />
                      <img class="thumb-image"
                        *ngIf="!user?.userProfile?.length"
                        src="assets/images/theme/noimage.jpg" />
                    </div>
                  </td>
                  <td>{{ user.fullname }}
                    <mat-icon *ngIf="user?.enable"
                      class="s-16 text-green">check</mat-icon>
                  </td>
                  <td>
                    {{ user?.email }}
                  </td>
                  <td>
                    {{ user?.company }}
                  </td>
                  <td>
                    {{ user?.phoneNo }}
                  </td>
                  <td>
                    {{ user?.address }}
                  </td>
                  <td>
                    {{ user?.roles[0]?.name }}
                    <span *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                      <btn-icon
                        *ngIf="user?.roles[0]?.name == 'ROLE_PARTNER' || user?.roles[0]?.name == 'ROLE_SALES'"
                        [text]="'expend'"
                        [custom]="'Change user role'"
                        (onclick)="openRoleChangeModal(userRoleChange, user?.roles[0]?.name, user)">
                      </btn-icon>
                    </span>

                  </td>
                  <td class="text-center">
                    <div class="mb-8">
                      <btn-small [text]="'edit'"
                        [custom]="'Reset PW'"
                        (onclick)="onEmailSend(user)"></btn-small>
                    </div>
                    <div class="mb-8">
                      <btn-small [text]="'link'"
                        [custom]="'Details'"
                        (onclick)="goLink(user.id)"></btn-small>
                    </div>
                    <div>
                      <btn-small [text]="'delete'"
                        (onclick)="deleteUser(user.id)"></btn-small>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- / CONTENT -->
      </div>
      <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
  </div>


</div>



<ng-template #userCreateModal>
  <h2 mat-dialog-title>Add user</h2>
  <mat-dialog-content style="min-height: 55vh;">
    <table class="ctable noborder">
      <tr>
        <th>Role <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-select class="mat-multiple-select"
            placeholder="Role"
            [(ngModel)]="newUser.roleName">
            <mat-option *ngFor="let item of roleList"
              [value]="item.name">{{ item.label }}</mat-option>
          </mat-select>
        </td>
      </tr>
      <tr>
        <th>User Email <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.email"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>First Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.firstName"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Last Name <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.lastName"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Company</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.company"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Phone No <span class="req">*</span></th>
        <th class="fit">:</th>
        <td>
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="newUser.phoneNo"
              autocomplete="off" />
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>Address</th>
        <th class="fit">:</th>
        <td>
          <mat-form-field class="w-100-p">
            <textarea matInput
              rows="4"
              [(ngModel)]="newUser.address"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (onclick)="createUser()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>




<ng-template #userRoleChange>
  <h2 mat-dialog-title>User Role Change</h2>
  <mat-dialog-content style="min-height: 100px;"
    class="text-center">
    <div *ngIf="selectedRole?.role == 'ROLE_PARTNER'">
      <h2>
        Changing role from sales manager to sales rep!
      </h2>
      <p class="text-red">Caution: All sales reps under this sales manager will
        be
        transfered to Rawman
        & Co.!</p>
    </div>
    <h2 *ngIf="selectedRole?.role == 'ROLE_SALES'">
      Changing role from sales rep to sales manager!
    </h2>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'cancel'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'delete'"
            [custom]="'Confirm'"
            (onclick)="changeUserRole()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>