<div id="product"
  class="page-layout carded fullwidth inner-scroll">


  <!-- CENTER -->
  <div class="center">



    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <nav mat-tab-nav-bar>
        <ng-container *ngFor="let tab of tabs">
          <a mat-tab-link
            *ngIf="tab.display"
            [routerLink]="['/' + tab.path]"
            routerLinkActive
            #rla="routerLinkActive"
            [routerLinkActiveOptions]="{exact: true}"
            [active]="rla.isActive">
            {{tab.label}}
          </a>
        </ng-container>


      </nav>


      <!-- CONTENT -->
      <div class="content"
        *ngIf="show">
        <div class="tab-content p-24"
          style="height: 100%;"
          fusePerfectScrollbar>
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>