<div class="custom-filter-header">
  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="30px">
    <div fxFlex>
      <div class="custom-filter-row-first"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px">
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex="18px">
            <btn-icon [text]="'arrowleft'"
              (click)="onDateNextPrivious(false)"></btn-icon>
          </div>
          <div fxFlex>
            <date-picker (change)="filter.fromdate = $event.dateFormatted"
              hideLabel="true"
              [dateValue]="filter.fromdate">
            </date-picker>
          </div>
        </div>
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex>
            <date-picker (change)="filter.todate = $event.dateFormatted"
              hideLabel="true"
              [dateValue]="filter.todate">
            </date-picker>
          </div>
          <div fxFlex="18px">
            <btn-icon [text]="'arrowright'"
              (click)="onDateNextPrivious(true)"></btn-icon>
          </div>
        </div>
        <div fxFlex>
          <mat-select multiple
            placeholder="Customers"
            class="mat-multiple-select"
            [(ngModel)]="filter.customerid">
            <mat-option *ngFor="let item of customerList"
              [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </div>
        <div fxFlex>
          <input matInput
            placeholder="Order ID"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.orderid" />
        </div>
        <div fxFlex>
          <input matInput
            placeholder="Shipment Id"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.shipmentid" />
        </div>
      </div>
    </div>
    <div fxFlex.gt-md="80px"
      class="filter-options">
      <span>
        <span class="filter-btn-with-counter">
          <span *ngIf="filterCounter"
            class="filter-counter">{{
            filterCounter
            }}</span>
          <button class="filter-btn filter-submit"
            mat-icon-button
            (click)="onFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </span>

        <button class="filter-btn filter-clear"
          mat-icon-button
          (click)="onClear()">
          <mat-icon>clear_all</mat-icon>
        </button>
      </span>
    </div>
  </div>
</div>

<!-- / HEADER -->

<div fxLayout>
  <div fxFlex>
    <div *ngIf="shipments?.length === 0"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill>
      <span class="no-messages-text hint-text">{{
        "Shipments"
        }}</span>
    </div>
    <div class="pr-8"
      *ngIf="shipments?.length">
      <table class="ctable no-border-top no-border-left"
        style="width: auto !important;">
        <thead class="csticky">
          <th class="text-center width-100">PO #</th>
          <th class="text-center width-100">Customer</th>
          <th class="text-center width-100">Order Qty
            <span style="color: blue"
              *ngIf="total?.orderQty"><br>
              {{total?.orderQty}} pcs
            </span>
          </th>
          <th class="text-right width-100">Subtotal
            <span style="color: blue"
              *ngIf="total?.orderValue"><br>
              {{total?.orderValue | currency}}
            </span>
          </th>
          <th class="text-center width-100">Req. <br />Ship Date</th>
          <th class="text-right width-100">Shipped On</th>
          <th class="text-center width-100">Shipped Qty
            <span style="color: blue"
              *ngIf="total?.totalQuantity"><br>
              {{total?.totalQuantity}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right width-100">
            Shipped $
            <span style="color: blue"
              *ngIf="total?.totalValue"><br>
              {{total?.totalValue | currency}}
            </span>
          </th>
          <th class="fit">Action</th>
        </thead>
        <tbody>
          <tr class="minimum-hight-list"
            *ngFor="let shipment of shipments">
            <!-- <td>{{ shipment?.id }}</td> -->
            <td class="text-center width-100">
              <span class="text-blue">
                <a [routerLink]="'/orders/' + shipment?.order?.id "
                  target="_blank">
                  {{ shipment?.rimsPoNo}}
                </a>
              </span>
            </td>
            <td class="text-center">
              {{shipment?.customerName }}
            </td>
            <td class="text-center width-100">
              {{shipment?.orderQty }} Pcs
            </td>
            <td class="text-right width-100">
              {{shipment?.orderValue | currency }}
            </td>
            <td class="text-center width-100">
              {{shipment?.order?.orderShipmentDate | date: "mediumDate"}}
            </td>
            <td class="text-center width-100">
              {{ shipment?.shipmentDate | date: "mediumDate" }}
            </td>
            <th class="text-center width-100">
              {{ shipment?.totalQuantity }}
            </th>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span>{{
                shipment?.totalValue | currency
                }}</span>
            </td>
            <td class="fit">
              <div>
                <btn-small [text]="'edit'"
                  [custom]="'Details'"
                  (onclick)="openPackingPDFModal(shipment.id)"></btn-small>
              </div>
              <div class="mt-8"
                *ngIf="_auth.hasPermission('PERMISSION_INVOICE_CREATE')">
                <btn-small [text]="'expend'"
                  [custom]="'Generate'"
                  (onclick)="openInvoiceCreateModal(shipment.id)">
                </btn-small>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>