<h2 mat-dialog-title>Email Send Modal</h2>

<mat-dialog-content class="scrollable"
  style="min-height: 85vh;">
  <table class="ctable noborder">
    <tbody>
      <tr>
        <td class="fit"
          style="text-align: left"><strong>FROM:</strong></td>
        <td>{{emailInfo?.from}} </td>
      </tr>
      <tr>
        <td class="fit"
          style="text-align: left"><strong>TO:</strong> </td>
        <td>{{emailInfo?.to}} </td>
      </tr>
      <tr>
        <td class="fit"
          style="text-align: left"><strong>CC:</strong> </td>
        <td><input matInput
            type="text"
            name="ccList"
            [(ngModel)]="emailInfo.ccList"> </td>
      </tr>
      <tr>
        <br />
      </tr>
      <tr>
        <td class="fit"
          style="text-align: left"><strong>SUBJECT:</strong> </td>
        <td>{{emailInfo?.subject}} </td>
      </tr>
      <tr>
        <br />
      </tr>
      <tr>
        <td colspan="2">
          <div class="email-summarnote"
            [ngxSummernote]="config"
            [(ngModel)]="emailInfo.body">
          </div>
          <!-- <div>
            <p-editor [(ngModel)]="emailInfo.body"
              [style]="{'height':'320px'}"></p-editor>
          </div> -->
        </td>
      </tr>
      <tr>
        <br />
      </tr>
      <tr>
        <td colspan="2"><strong>Attachment:
            <btn-icon [text]="'add'"
              (click)="openAttachmentModal()">
            </btn-icon>
          </strong></td>
      </tr>
      <tr *ngFor="let item of emailInfo.attachments;let i=index">
        <td colspan="2">
          <a [href]="item.filePath"
            target="_blank">
            {{item?.originalFileName}}
          </a>
          <span>
            <btn-icon [text]="'delete'"
              *ngIf="item.fileName!=fileName"
              (click)="removeAttachment(i, item)">
            </btn-icon>
          </span>
        </td>
      </tr>
    </tbody>
  </table>

</mat-dialog-content>

<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn [custom]="'Send'"
          *ngIf="emailInfo.to"
          [icon]="'email'"
          (click)="sendEmail()">
        </btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>