<h2 mat-dialog-title>Style Update</h2>

<mat-dialog-content class="scrollable"
  style="max-height: calc(100vh - 120px);">
  <table class="ctable noborder"
    *ngIf="editStyle">
    <tr>
      <th style="width: 150px;">Style Type <span class="req">*</span></th>
      <th class="fit">:</th>
      <td>
        <mat-select placeholder="Style Type"
          class="mat-multiple-select"
          [(ngModel)]="editStyle.styleTypeId">
          <mat-option *ngFor="let item of styleTypeList"
            [value]="item.id">{{ item.name }}</mat-option>
        </mat-select>
      </td>
    </tr>
    <tr>
      <th>Style Brand <span class="req">*</span></th>
      <th class="fit">:</th>
      <td>
        <mat-select placeholder="Style Brand"
          class="mat-multiple-select"
          [(ngModel)]="editStyle.styleBrandId">
          <mat-option *ngFor="let item of styleBrandList"
            [value]="item.id">{{ item.label }}</mat-option>
        </mat-select>
      </td>
    </tr>
    <tr>
      <th>Size Group <span class="req">*</span></th>
      <th class="fit">:</th>
      <td>
        <mat-select placeholder="Size Group"
          class="mat-multiple-select"
          [(ngModel)]="editStyle.sizeGroupId">
          <mat-option *ngFor="let item of sizeGroupList"
            [value]="item.id">{{ item.name }}</mat-option>
        </mat-select>
      </td>
    </tr>
    <tr *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">
      <th>Season <span class="req">*</span></th>
      <th class="fit">:</th>
      <td>
        <mat-select placeholder="Season"
          class="mat-multiple-select"
          [(ngModel)]="editStyle.seasonId">
          <mat-option *ngFor="let item of seasonList"
            [value]="item.id">{{ item.label }}</mat-option>
        </mat-select>
      </td>
    </tr>
    <tr>
      <th>Style Name <span class="req">*</span></th>
      <th class="fit">:</th>
      <td>
        <mat-form-field>
          <input matInput
            type="text"
            [(ngModel)]="editStyle.name"
            #name="ngModel" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Catalogue Name</th>
      <th class="fit">:</th>
      <td>
        <mat-form-field>
          <input matInput
            type="text"
            [(ngModel)]="editStyle.catalogName"
            #catalogName="ngModel" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Short Description</th>
      <th class="fit">:</th>
      <td>
        <mat-form-field>
          <input matInput
            type="text"
            [(ngModel)]="editStyle.note"
            #note="ngModel" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <th class="fit">:</th>
      <td>
        <mat-form-field class="w-100-p">
          <textarea matInput
            rows="4"
            [(ngModel)]="editStyle.description"
            #description="ngModel"></textarea>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <th>Heatmap (1-15)</th>
      <th class="fit">:</th>
      <td>
        <div style="width: 120px;">
          <mat-form-field>
            <input matInput
              class="text-right"
              type="number"
              [(ngModel)]="editStyle.heatmap"
              #heatmap="ngModel" />
          </mat-form-field>
        </div>

      </td>
    </tr>

    <tr>
      <th>Cost Type<span class="req">*</span></th>
      <th class="fit">:</th>
      <td>
        <mat-select placeholder="Cost Type"
          class="mat-multiple-select"
          [(ngModel)]="editStyle.costType">
          <mat-option *ngFor="let item of costTypes"
            [value]="item.id">{{ item.label }}</mat-option>
        </mat-select>
      </td>
    </tr>


    <tr>
      <th>Customer Min. Rating:</th>
      <th class="fit">:</th>
      <td>
        <mat-select placeholder="Style Rating"
          class="mat-multiple-select"
          [(ngModel)]="editStyle.minimumRatingRequired"
          (selectionChange)="onRatingChange($event.value)">
          <mat-option *ngFor="
                                                                    let
                                                                    rate
                                                                    of
                                                                    ratingList"
            [value]="rate.id">{{ rate.id }}</mat-option>
        </mat-select>
      </td>
    </tr>

    <tr>
      <th>Weight</th>
      <th class="fit">:</th>
      <td>
        <div style="width: 120px;">
          <mat-form-field>
            <input matInput
              type="text"
              [(ngModel)]="editStyle.weight"
              #weight="ngModel" />
          </mat-form-field>
        </div>

      </td>
    </tr>
    <tr>
      <th>Composition</th>
      <th class="fit">:</th>
      <td>
        <mat-form-field>
          <input matInput
            type="text"
            [(ngModel)]="editStyle.composition"
            #composition="ngModel" />
        </mat-form-field>
      </td>
    </tr>


    <tr>
      <th>In Stock</th>
      <th class="fit">:</th>
      <td>
        <div style="width: 120px;">
          <date-picker
            (change)="editStyle.earliestShipmentDate=$event.dateFormatted"
            hideLabel="true"
            [dateValue]="editStyle.earliestShipmentDate || null">
          </date-picker>
        </div>
      </td>
    </tr>

    <tr>
      <th>Low Stock Trigger</th>
      <th class="fit">:</th>
      <td>
        <div style="width: 120px;">
          <mat-form-field>
            <input matInput
              type="number"
              [(ngModel)]="editStyle.lowStockQty"
              #lowStockQty="ngModel" />
          </mat-form-field>
        </div>

      </td>
    </tr>
    <tr>
      <th>Minimum Price</th>
      <th class="fit">:</th>
      <td>
        <div style="width: 120px;">
          <mat-form-field>
            <input matInput
              class="text-right"
              type="number"
              [(ngModel)]="editStyle.price"
              #heatmap="ngModel" />
          </mat-form-field>
        </div>

      </td>
    </tr>
    <tr>
      <th>Discount Campaign<span class="req">*</span></th>
      <th class="fit">:</th>
      <td>
        <mat-select placeholder="Discount Campaign"
          class="mat-multiple-select"
          [(ngModel)]="editStyle.saleDiscountId">
          <mat-option [value]="">
            Empty
          </mat-option>
          <mat-option *ngFor="let item of saleDiscountList"
            [value]="item.id">
            {{ item.reason }}-{{ item.discountPercentage }}
          </mat-option>
        </mat-select>
      </td>
    </tr>
    <tr>
      <th>New Till Date</th>
      <th class="fit">:</th>
      <td>
        <div style="width: 120px;">
          <date-picker (change)="editStyle.newTillDate=$event.dateFormatted"
            hideLabel="true"
            [dateValue]="editStyle.newTillDate || null">
          </date-picker>
        </div>
      </td>
    </tr>
    <tr>
      <th style="width: 150px;">Credit Card Activate
      </th>
      <th class="fit">:</th>
      <td>
        <mat-checkbox class="btn-block"
          [(ngModel)]="editStyle.paymentRequired">
        </mat-checkbox>
      </td>
    </tr>
    <tr *ngIf="editStyle.paymentRequired">
      <th style="width: 150px;">CC Upcharge
      </th>
      <th class="fit">:</th>
      <td>
        <mat-form-field>
          <input matInput
            type="number"
            [(ngModel)]="editStyle.ccUpCharge"
            #accountantEmail="ngModel" />
        </mat-form-field>
      </td>
    </tr>

  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn [text]="'update'"
          (onclick)="updateStyle()"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>