<div fusePerfectScrollbar
  fxFlex
  class="border-right p-24 p-0">
  <span class="mat-title">Inventory Location</span>
  <mat-icon (click)="inventoryLocationCreateForm()"
    *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_LOCATION_CREATE')"
    class="s-24 mb-4 cursor-pointer"
    style="float: right;"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th class="fit">#</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone No.</th>
      <th style="width: 70px;"></th>
    </thead>

    <tbody>
      <tr
        *ngFor="let inventoryLocation of inventoryLocation.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ inventoryLocation?.name }}</td>
        <td>
          <span *ngIf="inventoryLocation?.poBox">PO-Box:
            {{ inventoryLocation?.poBox }},
          </span>
          <span *ngIf="inventoryLocation?.street">{{
            inventoryLocation?.street }},
          </span><br />
          <span *ngIf="inventoryLocation?.city">{{
            inventoryLocation?.city }},
          </span><span *ngIf="inventoryLocation?.provinceName">{{
            inventoryLocation?.provinceName }},
          </span>
          <span *ngIf="inventoryLocation?.postalCode">{{
            inventoryLocation?.postalCode }}
          </span>
        </td>
        <td>
          {{inventoryLocation?.phoneNo}}
        </td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="inventoryLocationOnDetailClick(inventoryLocation.id)">
          </btn-icon>&nbsp;
          <btn-icon
            *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_LOCATION_DELETE')"
            [text]="'delete'"
            (click)="inventoryLocationOnDeleteClick(inventoryLocation.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div fusePerfectScrollbar
  fxFlex
  class="p-24 p-0">
  <ng-container [ngSwitch]="inventoryLocation.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <span class="mat-title">Add a new Inventory Location</span>
      <table class="ctable">
        <tr>
          <th style="width: 130px;">Name
            <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="inventoryLocation.item.name"
                [(ngModel)]="inventoryLocation.item.name"
                #name="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Street
            <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="inventoryLocation.item.street"
                [(ngModel)]="inventoryLocation.item.street"
                #street="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>City
            <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="inventoryLocation.item.city"
                [(ngModel)]="inventoryLocation.item.city"
                #city="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Province <span class="req">*</span></th>
          <th class="fit">:</th>
          <td>
            <mat-select placeholder="Province"
              class="mat-multiple-select"
              [(ngModel)]="inventoryLocation.item.provinceId">
              <mat-option *ngFor="let item of provinceList"
                [value]="item.id">{{item?.label}}
              </mat-option>
            </mat-select>
          </td>
        </tr>
        <tr>
          <th>Postal Code
            <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="inventoryLocation.item.postalCode"
                [(ngModel)]="inventoryLocation.item.postalCode"
                #postalCode="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>PO Box No</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="inventoryLocation.item.poBox"
                [(ngModel)]="inventoryLocation.item.poBox"
                #poBox="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Phone No.
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="inventoryLocation.item.phoneNo"
                [(ngModel)]="inventoryLocation.item.phoneNo"
                #phoneNo="ngModel" />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div>
        <btn [text]="'save'"
          style="float: right; margin-top: 10px;"
          (click)="inventoryLocationOnSubmit()">
        </btn>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Basic Info
          <btn-icon [text]="'edit'"
            *ngIf="_auth.hasPermission('PERMISSION_INVENTORY_LOCATION_CREATE')"
            (click)="openinventoryLocationEditModal(inventoryLocationEditModal)">
          </btn-icon>
        </span>
        <table class="ctable">
          <tbody>
            <tr>
              <th style="width: 130px;">
                Name
              </th>
              <th class="fit">:</th>
              <td>
                {{ inventoryLocation?.detail?.name }}
              </td>
            </tr>
            <tr>
              <th>
                Address
              </th>
              <th class="fit">:</th>
              <td>
                <span *ngIf="inventoryLocation?.detail?.poBox">PO-Box:
                  {{ inventoryLocation?.detail?.poBox }},
                </span>
                <span *ngIf="inventoryLocation?.detail?.street">{{
                  inventoryLocation?.detail?.street }},
                </span><br />
                <span *ngIf="inventoryLocation?.detail?.city">{{
                  inventoryLocation?.detail?.city }},
                </span><span *ngIf="inventoryLocation?.detail?.provinceName">{{
                  inventoryLocation?.detail?.provinceName }},
                </span>
                <span *ngIf="inventoryLocation?.detail?.postalCode">{{
                  inventoryLocation?.detail?.postalCode }}
                </span>
              </td>
            </tr>
            <tr>
              <th>
                Phone No.
              </th>
              <th class="fit">:</th>
              <td>
                {{ inventoryLocation?.detail?.phoneNo }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #inventoryLocationEditModal>
  <h2 mat-dialog-title>Edit Inventory Location</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <th style="width: 130px;">Name
              <span class="req">*</span>
            </th>
            <th class="fit">:</th>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="inventoryLocation.editData.name"
                  [(ngModel)]="inventoryLocation.editData.name"
                  #name="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>Street
              <span class="req">*</span>
            </th>
            <th class="fit">:</th>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="inventoryLocation.editData.street"
                  [(ngModel)]="inventoryLocation.editData.street"
                  #street="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>City
              <span class="req">*</span>
            </th>
            <th class="fit">:</th>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="inventoryLocation.editData.city"
                  [(ngModel)]="inventoryLocation.editData.city"
                  #city="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>Province <span class="req">*</span></th>
            <th class="fit">:</th>
            <td>
              <mat-select placeholder="Province"
                class="mat-multiple-select"
                [(ngModel)]="inventoryLocation.editData.provinceId">
                <mat-option *ngFor="let item of provinceList"
                  [value]="item.id">{{item?.label}}
                </mat-option>
              </mat-select>
            </td>
          </tr>
          <tr>
            <th>Postal Code
              <span class="req">*</span>
            </th>
            <th class="fit">:</th>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="inventoryLocation.editData.postalCode"
                  [(ngModel)]="inventoryLocation.editData.postalCode"
                  #postalCode="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>PO Box No
            </th>
            <th class="fit">:</th>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="inventoryLocation.editData.poBox"
                  [(ngModel)]="inventoryLocation.editData.poBox"
                  #poBox="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>Phone No.
            </th>
            <th class="fit">:</th>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="inventoryLocation.editData.phoneNo"
                  [(ngModel)]="inventoryLocation.editData.phoneNo"
                  #phoneNo="ngModel" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="inventoryLocationOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>

  </mat-dialog-actions>
</ng-template>