<div fusePerfectScrollbar
  fxFlex
  class="border-right p-24 p-0">
  <span class="mat-title">Price Type</span>
  <mat-icon (click)="priceTypeCreateForm()"
    class="s-24 mb-4 cursor-pointer"
    style="float: right;"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th>Label</th>
      <th>Sequence</th>
      <th style="width: 70px;"></th>
    </thead>

    <tbody>
      <tr *ngFor="let priceType of priceType.items; let i = index">
        <td>{{ priceType?.label }}</td>
        <td>{{ priceType?.sequence }}</td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="priceTypeOnDetailClick(priceType.id)">
          </btn-icon>&nbsp;
          <btn-icon [text]="'delete'"
            (click)="priceTypeOnDeleteClick(priceType.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div fusePerfectScrollbar
  fxFlex
  class="p-24 p-0">
  <ng-container [ngSwitch]="priceType.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <span class="mat-title">Add a new Price Type</span>
      <table class="ctable">
        <tr>
          <td>Label</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="priceType.item.label"
                [(ngModel)]="priceType.item.label"
                #label="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Sequence</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="priceType.item.sequence"
                [(ngModel)]="priceType.item.sequence"
                #sequence="ngModel" />
            </mat-form-field>
          </td>
        </tr>

      </table>
      <div>
        <btn [text]="'save'"
          style="float: right; margin-top: 10px;"
          (click)="priceTypeOnSubmit()">
        </btn>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Basic Info
          <btn-icon [text]="'edit'"
            (click)="openPriceTypeEditModal(priceTypeEditModal)">
          </btn-icon>
        </span>
        <table class="ctable">
          <tbody>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Label
              </td>
              <td>
                {{ priceType.detail.label }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Sequence
              </td>
              <td>
                {{ priceType.detail.sequence }}
              </td>
            </tr>

          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #priceTypeEditModal>
  <h2 mat-dialog-title>Edit PriceType</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">

          <tr>
            <td>Label</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="priceType.editData.label"
                  [(ngModel)]="priceType.editData.label"
                  #label="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Sequence</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="priceType.editData.sequence"
                  [(ngModel)]="priceType.editData.sequence"
                  #sequence="ngModel" />
              </mat-form-field>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="priceTypeOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>