<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="custom-filter-header">
      <div fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="30px">
        <div fxFlex>
          <div class="custom-filter-row-first"
            fxLayout="column"
            fxLayout.gt-md="row"
            fxLayoutGap="20px">
            <div fxFlex
              fxLayoutAlign="space-between center">
              <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowleft'"
                  (click)="onDateNextPrivious(false)"></btn-icon>
              </div> -->
              <div fxFlex>
                <date-picker (change)="filter.fromdate = $event.dateFormatted"
                  hideLabel="true"
                  [labelName]="'From Date'"
                  [dateValue]="filter.fromdate">
                </date-picker>
              </div>
            </div>
            <div fxFlex
              fxLayoutAlign="space-between center">
              <div fxFlex>
                <date-picker (change)="filter.todate = $event.dateFormatted"
                  hideLabel="true"
                  [labelName]="'To Date'"
                  [dateValue]="filter.todate">
                </date-picker>
              </div>
              <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowright'"
                  (click)="onDateNextPrivious(true)"></btn-icon>
              </div> -->
            </div>

            <div fxFlex>
              <!-- <mat-select multiple
                placeholder="Status"
                class="mat-multiple-select"
                [(ngModel)]="filter.statusname">
                <mat-option *ngFor="let item of statusList"
                  [value]="item.name">{{ item.label }}</mat-option>
              </mat-select> -->
            </div>

            <div fxFlex>
              <!-- <mat-select multiple
                *ngIf="userRole != 'ROLE_CUSTOMER'"
                placeholder="Customers"
                class="mat-multiple-select"
                [(ngModel)]="filter.customerid">
                <mat-option *ngFor="let item of customerList"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select> -->
            </div>
            <div fxFlex>
              <!-- <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
                placeholder="Sales Rep"
                class="mat-multiple-select"
                [(ngModel)]="filter.salerepid">
                <mat-option *ngFor="let item of saleRepList"
                  [value]="item.id">{{ item.fullname }}</mat-option>
              </mat-select> -->
            </div>


          </div>
        </div>
        <div fxFlex.gt-md="80px"
          class="filter-options">
          <span>
            <span class="filter-btn-with-counter">
              <span *ngIf="filterCounter"
                class="filter-counter">{{
                filterCounter
                }}</span>
              <button class="filter-btn filter-submit"
                mat-icon-button
                (click)="onFilter()">
                <mat-icon>search</mat-icon>
              </button>
            </span>

            <button class="filter-btn filter-clear"
              mat-icon-button
              (click)="onClear()">
              <mat-icon>clear_all</mat-icon>
            </button>
            <!--<button *ngIf="!filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = true;">
              <mat-icon>expand_more</mat-icon>
            </button>
             <button *ngIf="filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = false;">
              <mat-icon>expand_less</mat-icon>
            </button> -->
          </span>

        </div>
        <!-- <div fxFlex.gt-md="140px"
          *ngIf="_auth.hasPermission('PERMISSION_ORDER_CREATE')">
          <span>
            <btn [custom]="'CREATE ORDER'"
              [text]="'add'"
              (onclick)="openCreateModal(orderCreateModal)"></btn>
          </span>
        </div> -->
      </div>
    </div>

    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <!-- CONTENT -->

      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex>
          <!-- <div *ngIf="historyList?.length === 0"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxFlexFill>

          </div> -->
          <!-- <div class="pr-8"
            *ngIf="historyList?.length">
            <table class="ctable no-border-top no-border-left"
              style="width: auto !important;">
              <thead class="csticky">
                <th style="width: 100px;">Date</th>
                <th style="width: 100px;"
                  class="text-center">Type</th>
                <th style="width: 100px;"
                  class="text-center">Action By</th>
                <th style="width: 300px;"
                  class="text-center">Reason</th>
                <th class="text-center"
                  style="width: 100px;">Quantity</th>
                <th class="fit text-center">Action</th>
              </thead>
              <tbody>
                <tr class="minimum-hight-list"
                  *ngFor="let item of historyList">
                  <td class="text-center">{{item.date }}</td>
                  <td class="text-center">{{item.label }}</td>
                  <td class="text-center">{{item.changedBy }}</td>
                  <td>{{item.reason }}</td>
                  <td class="text-center">{{item.qty }}</td>
                  <td class="text-center">
                    <btn-small [text]="'add'"
                      [custom]="'Details'"
                      (onclick)="openDetailsModal(item)"></btn-small>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->
        </div>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>