<div class="custom-filter-header">
  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="30px">
    <div fxFlex>
      <div class="custom-filter-row-first"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px">
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex="18px">
            <btn-icon [text]="'arrowleft'"
              (click)="onDateNextPrivious(false)"></btn-icon>
          </div>
          <div fxFlex>
            <date-picker (change)="filter.fromdate = $event.dateFormatted"
              hideLabel="true"
              [dateValue]="filter.fromdate">
            </date-picker>
          </div>
        </div>
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex>
            <date-picker (change)="filter.todate = $event.dateFormatted"
              hideLabel="true"
              [dateValue]="filter.todate">
            </date-picker>
          </div>
          <div fxFlex="18px">
            <btn-icon [text]="'arrowright'"
              (click)="onDateNextPrivious(true)"></btn-icon>
          </div>
        </div>
        <div fxFlex>
          <mat-select multiple
            *ngIf="userRole != 'ROLE_CUSTOMER'"
            placeholder="Customers"
            class="mat-multiple-select"
            [(ngModel)]="filter.customerid">
            <mat-option *ngFor="let item of customerList"
              [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </div>
        <div fxFlex>
          <!-- <input matInput
            placeholder="Order ID"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.orderid" /> -->
        </div>
        <div fxFlex>
          <!-- <input matInput
            placeholder="Shipment Id"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.shipmentid" /> -->
        </div>
      </div>
    </div>
    <div fxFlex.gt-md="80px"
      class="filter-options">
      <span>
        <span class="filter-btn-with-counter">
          <span *ngIf="filterCounter"
            class="filter-counter">{{
            filterCounter
            }}</span>
          <button class="filter-btn filter-submit"
            mat-icon-button
            (click)="onFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </span>

        <button class="filter-btn filter-clear"
          mat-icon-button
          (click)="onClear()">
          <mat-icon>clear_all</mat-icon>
        </button>
      </span>
    </div>
  </div>
</div>

<!-- / HEADER -->

<div fxLayout>
  <div fxFlex>
    <div *ngIf="shipments?.length === 0"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill>
      <span class="no-messages-text hint-text">{{
        "Invoices"
        }}</span>
    </div>
    <div class="pr-8"
      *ngIf="shipments?.length">
      <table class="ctable no-border-top no-border-left"
        style="width: auto !important;">
        <thead class="csticky">
          <th class="text-center width-100">Invoice #</th>
          <th class="text-center width-100">Invoiced On</th>
          <th class="text-center width-100">Due By</th>
          <th class="text-center width-100">RIMS PO #</th>
          <th class="text-center width-100">Customer</th>
          <th class="text-center width-100">Shipped On</th>
          <th class="text-center width-100">Shipped Qty</th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right width-100">
            Subtotal
            <span style="color: blue"
              *ngIf="total?.totalValue"><br>
              {{total?.totalValue | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right width-100">
            Tax
            <span style="color: blue"
              *ngIf="total?.tax"><br>
              {{total?.tax | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Shipping $
            <span style="color: blue"
              *ngIf="total?.freightCharge"><br>
              {{total?.freightCharge | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right width-100">
            Handling $
            <span style="color: blue"
              *ngIf="total?.handlingCharge"><br>
              {{total?.handlingCharge | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Others $
            <span style="color: blue"
              *ngIf="total?.otherCharge"><br>
              {{total?.otherCharge | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right width-100">
            Discounts
            <span style="color: blue"
              *ngIf="total?.discount"><br>
              {{total?.discount | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right width-100">
            Processing Fee
            <span style="color: blue"
              *ngIf="total?.discount"><br>
              {{total?.ccUpCharge | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right width-100">
            Total
            <span style="color: blue"
              *ngIf="total?.netTotal"><br>
              {{total?.netTotal + total?.ccUpCharge | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right width-100">
            Received $
            <span style="color: green"
              *ngIf="total?.totalPayment"><br>
              {{total?.totalPayment | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right width-100">
            Due $
            <span style="color: red"
              *ngIf="total?.dueAmount"><br>
              {{total?.dueAmount | currency}}
            </span>
          </th>
          <th class="text-center width-100">Invoice<br />Date(s)</th>
          <th class="fit">Action</th>
        </thead>
        <tbody>
          <tr class="minimum-hight-list"
            *ngFor="let shipment of shipments"
            [ngClass]="{ 'invoice-due': shipment?.due }">
            <td class="text-center width-100">
              <!-- <a class="cursor-pointer"
                (click)="goLinkInvoice(shipment.id)">{{
                shipment?.rimsPoNo }}-{{ shipment?.invoiceId }}</a> -->
              {{
              shipment?.rimsPoNo }}-{{ shipment?.invoiceId }}
            </td>
            <td class="text-center width-100">
              {{ shipment?.invoiceDate | date: 'mediumDate' }}
            </td>
            <td class="text-center width-100">
              {{ shipment?.paymentDueDate | date: 'mediumDate' }}
            </td>
            <td class="text-center width-100">
              <span class="text-blue">
                <a [routerLink]="'/orders/' + shipment?.order?.id "
                  target="_blank">
                  {{ shipment?.rimsPoNo }}
                </a>
              </span>
            </td>
            <td class="text-center">
              {{shipment?.customerName}}
            </td>
            <td class="text-center width-100">
              {{ shipment?.shipmentDate | date: "mediumDate" }}
            </td>

            <td class="text-center width-100">
              {{ shipment?.totalQuantity }} Pcs
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span>{{
                shipment?.totalValue | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span>{{
                shipment?.tax | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span>{{
                shipment?.freightCharge | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span>{{
                shipment?.handlingCharge | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span>{{
                shipment?.otherCharge | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span>{{
                shipment?.discount | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span>{{
                shipment?.ccUpCharge | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span>{{
                shipment?.netTotal + shipment?.ccUpCharge | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span>{{
                shipment?.totalPayment | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right width-100">
              <span class="text-red">{{
                shipment?.dueAmount + shipment?.ccUpCharge | currency
                }}</span>
            </td>
            <td class="text-center width-100">
              <div class="text-center"
                *ngFor="let item of shipment?.filteredinvoIceSendDates">
                {{item?.sendDate | date: 'mediumDate'}}
              </div>
            </td>
            <td class="text-center">

              <div class="mt-8"
                *ngIf="_auth.hasPermission('PERMISSION_INVOICE_PAYMENT_CREATE')">
                <btn-small [text]="'edit'"
                  [custom]="'Payment'"
                  (onclick)="openPaymentCreateModal(shipment.id, invoiceCreateModal)">
                </btn-small>
              </div>
              <div class="mt-8"
                *ngIf="_auth.hasPermission('PERMISSION_ORDER_INVOICE_VIEW')">
                <btn-small [text]="'expend'"
                  [custom]="'Invoice'"
                  (onclick)="openInvoicePDFModal(shipment.id)"></btn-small>
                <!-- <btn-small [text]="'expend'"
                  [custom]="'Invoice'"
                  (onclick)="goLinkInvoice(shipment.id)"></btn-small> -->
              </div>
              <div class="mt-8"
                *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
                <btn-small [text]="'edit'"
                  (onclick)="openInvoiceCreateModal(shipment.id)">
                </btn-small>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <shipment-list-right-panel fusePerfectScrollbar
          fxFlex
          [shipmentId]="shipmentId">
        </shipment-list-right-panel> -->
</div>


<ng-template #invoiceCreateModal>
  <h2 mat-dialog-title>Receive Payment</h2>
  <mat-dialog-content style="min-height: 45vh;">
    <table class="ctable noborder">
      <tr>
        <th class="fit">Payment Date:</th>
        <td style="width: 180px;">
          <date-picker (change)="newPayment.paymentDate=$event.dateFormatted"
            hideLabel="true"
            [dateValue]="newPayment.paymentDate || null">
          </date-picker>
        </td>
        <td></td>
        <th class="fit">Payment Amount ($):</th>
        <td style="width: 200px;"
          class="text-right">
          <input matInput
            class="text-right"
            type="number"
            [(ngModel)]="newPayment.paymentValue">
        </td>
      </tr>
      <tr>
        <th>Payment Comment</th>
        <td colspan="4">
          <mat-form-field class="w-100-p">
            <textarea matInput
              rows="3"
              [(ngModel)]="newPayment.comment"></textarea>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div>
      <span class="mat-title">Invoice Details</span>
      <table class="ctable">
        <tr class="header-bg">
          <th>Style</th>
          <th>Short Description</th>
          <th style="width: 100px;"
            class="text-right">Unit Price</th>
          <th style="width: 100px;"
            class="text-right">Qty</th>
          <th style="width: 100px;"
            class="text-right">Amount</th>
        </tr>
        <tbody>
          <tr *ngFor="let style of styleBreakdown;let styleIndex = index">
            <td>
              <div class="title"
                (click)="goLink(style?.id)">
                {{ style?.name }}
              </div>
            </td>
            <td>
              {{style?.styleNote}}
            </td>
            <td class="text-right">
              {{style.price |currency}}
            </td>
            <td class="text-right">
              <div>
                {{ style?.totalQty }} Pcs
              </div>
            </td>
            <td class="text-right">
              <div>
                {{style?.totalPrice |currency}}
              </div>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="3"
              class="text-right">
              <div class="title">Subtotal</div>
            </td>
            <td class="text-right">
              <span>{{shipment?.totalQty}} Pcs</span>
            </td>
            <td class="text-right">
              <span>{{shipment?.totalPrice |currency}}</span>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="4"
              class="text-right">
              <div class="title">Tax</div>
            </td>
            <td class="text-right">
              <span>{{shipment?.tax |currency}}</span>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="4"
              class="text-right">
              <div class="title">Shipping Charge</div>
            </td>
            <td class="text-right">
              <span>{{shipment?.freightCharge | currency}}</span>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="4"
              class="text-right">
              <div class="title">Handling Charge</div>
            </td>
            <td class="text-right">
              <span>{{shipment?.handlingCharge | currency}}</span>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="4"
              class="text-right">
              <div class="title">Other Charge</div>
            </td>
            <td class="text-right">
              <span>{{shipment?.otherCharge | currency}}</span>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="4"
              class="text-right">
              <div class="title">Other Discount</div>
            </td>
            <td class="text-right">
              <span>{{shipment?.discount |currency}}</span>
            </td>
          </tr>
          <tr>
            <th [attr.colspan]="4"
              class="text-right">
              <div class="title">Total</div>
            </th>
            <th class="text-right">
              {{shipment?.netTotal| currency}}
            </th>
          </tr>
          <tr>
            <th [attr.colspan]="4"
              class="text-right">
              <div class="title">Received Amount</div>
            </th>
            <th class="text-right">
              {{shipment?.totalPayment| currency}}
            </th>
          </tr>
          <tr *ngIf="shipment?.dueAmount">
            <th [attr.colspan]="4"
              class="text-right">
              <div class="title">Amount Due</div>
            </th>
            <th class="text-right text-red">
              {{shipment?.dueAmount| currency}}
            </th>
          </tr>

          <!---->
        </tbody>
      </table>
      <br />
      <span class="mat-title">Payment History</span>
      <table class="ctable">
        <tr class="header-bg">
          <th style="width: 100px;">Payment Date</th>
          <th>Payment Comment</th>
          <th style="width: 100px;">Payment Amount</th>
        </tr>
        <tbody>
          <tr *ngFor="let parent of paymentList;let parentIndex = index">
            <td>{{parent?.paymentDate | date: 'mediumDate'}}</td>
            <td>{{parent?.comment}}</td>
            <td class="text-right">{{parent?.paymentValue | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'edit'"
            [iconHide]="true"
            [modalClose]="true"
            [custom]="'Send To Bad Debt'"
            (onclick)="sendToBadDebt()"></btn>
          <btn [text]="'add'"
            [custom]="'submit'"
            (onclick)="addPayments()"></btn>
        </td>
      </tr>
    </table>

  </mat-dialog-actions>
</ng-template>