<h2 mat-dialog-title>Add customer</h2>
<mat-dialog-content style="min-height: 35vh;">
  <div fxLayout="row"
    fxLayoutGap="20px">
    <div fxFlex>
      <span class="mat-title">Basic Information</span>
      <table class="ctable noborder">
        <tr>
          <th style="width: 170px;">Customer/Company <span class="req">*</span>
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newCustomer.name"
                #name="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Email <span class="req">*</span></th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newCustomer.email"
                #email="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Phone</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newCustomer.phoneNo"
                #phone="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Contact First Name <span class="req">*</span></th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newCustomer.contactFirstName"
                #contact="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Contact Last Name <span class="req">*</span></th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newCustomer.contactLastName"
                #contact="ngModel" />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <th>Description</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field class="w-100-p">
              <textarea matInput
                [(ngModel)]="newCustomer.description"
                #description="ngModel"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Price Type:</th>
          <th class="fit">:</th>
          <td>
            <mat-select placeholder="Price Type"
              class="mat-multiple-select"
              [(ngModel)]="newCustomer.priceTypeId">
              <mat-option *ngFor="let priceType of priceTypeList"
                [value]="priceType.id">{{ priceType.label }}</mat-option>
            </mat-select>
          </td>
        </tr>
        <tr>
          <th>Shipment Mode</th>
          <th class="fit">:</th>
          <td>
            <mat-select placeholder="Shipment Mode"
              class="mat-multiple-select"
              [(ngModel)]="newCustomer.shipmentMode">
              <mat-option [value]="'RAWMANCO'">Rawman & Co. Shipping
              </mat-option>
              <mat-option [value]="'CUSTOMER'">Customer Shipping
              </mat-option>
            </mat-select>
          </td>
        </tr>
        <ng-container *ngIf="newCustomer?.shipmentMode == 'CUSTOMER'">
          <tr>
            <th>Courier Company</th>
            <th class="fit">:</th>
            <td>
              <mat-form-field>
                <input matInput
                  type="text"
                  [(ngModel)]="newCustomer.courierCompany" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th>Courier Account No</th>
            <th class="fit">:</th>
            <td>
              <mat-form-field>
                <input matInput
                  type="text"
                  [(ngModel)]="newCustomer.courierAccountNo" />
              </mat-form-field>
            </td>
          </tr>
        </ng-container>

        <tr>
          <th>Sales Rep</th>
          <th class="fit">:</th>
          <td>
            <ng-container *ngIf="userRole != 'ROLE_SALES'">
              <mat-select placeholder="Sales Rep"
                class="mat-multiple-select"
                [(ngModel)]="newCustomer.saleRepCustomers[0].userId">
                <mat-option *ngFor="let item of salesRepList"
                  [value]="item.id">{{item?.fullname}}</mat-option>
              </mat-select>
            </ng-container>
            <ng-container *ngIf="userRole == 'ROLE_SALES'">
              {{userRoleUser?.firstName}} {{userRoleUser?.lastName}}
            </ng-container>
          </td>
        </tr>



        <tr *ngIf="userRole == 'ROLE_ADMIN'">
          <td colspan="3">
            <mat-checkbox [(ngModel)]="newCustomer.preShipmentApproval"> Pre
              Shipment Approval
            </mat-checkbox>
          </td>
        </tr>
        <tr *ngIf="userRole == 'ROLE_ADMIN'">
          <td colspan="3">
            <mat-checkbox [(ngModel)]="newCustomer.sendEmail">Send
              Email
            </mat-checkbox>
          </td>
        </tr>

        <tr>
          <!-- <th style="width: 150px;">Credit Card Activate
          </th>
          <th class="fit">:</th> -->
          <td colspan="3">
            <mat-checkbox class="btn-block"
              [(ngModel)]="newCustomer.paymentRequired"
              (change)="onRequirementChange()">Credit Card Activate
            </mat-checkbox>
          </td>
        </tr>
        <tr *ngIf="newCustomer.paymentRequired">
          <th style="width: 150px;">CC Upcharge
          </th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="number"
                [(ngModel)]="newCustomer.ccUpCharge"
                #accountantEmail="ngModel" />
            </mat-form-field>
          </td>
        </tr>

      </table>


    </div>
    <div fxFlex>
      <span class="mat-title">Shipping Address</span>
      <table class="ctable noborder">

        <tr>
          <th style="width: 170px;">Street</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newCustomer.shippingCustomerAddress.street"
                #street="ngModel" />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <th>City</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newCustomer.shippingCustomerAddress.city"
                #city="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Post Code</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newCustomer.shippingCustomerAddress.postCode"
                #postCode="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Province</th>
          <th class="fit">:</th>
          <td>
            <mat-select placeholder="Province"
              class="mat-multiple-select"
              [(ngModel)]="newCustomer.shippingCustomerAddress.provinceId">
              <mat-option *ngFor="let item of provinceList"
                [value]="item.id">{{item?.label}}
              </mat-option>
            </mat-select>
          </td>
        </tr>
        <tr>
          <th>PO Box No</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newCustomer.shippingCustomerAddress.poBoxNo"
                #poBoxNo="ngModel" />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="ctable noborder">
        <tr>
          <td>
            <span class="mat-title">Billing Address</span>
          </td>

        </tr>
        <tr>
          <td>
            <mat-checkbox [(ngModel)]="newBillingAddressFlag">
              Same as shipping address
            </mat-checkbox>
          </td>
        </tr>
      </table>
      <table class="ctable noborder"
        *ngIf="!newBillingAddressFlag">

        <tr>
          <th style="width: 170px;">Street</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newBillingAddress.street"
                #street="ngModel" />
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <th>City</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newBillingAddress.city"
                #city="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Post Code</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newBillingAddress.postCode"
                #postCode="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>Province</th>
          <th class="fit">:</th>
          <td>

            <mat-select placeholder="Province"
              class="mat-multiple-select"
              [(ngModel)]="newBillingAddress.provinceId">
              <mat-option *ngFor="let item of provinceList"
                [value]="item.id">{{item?.label}}
              </mat-option>
            </mat-select>
          </td>
        </tr>
        <tr>
          <th>PO Box No</th>
          <th class="fit">:</th>
          <td>
            <mat-form-field>
              <input matInput
                type="text"
                [(ngModel)]="newBillingAddress.poBoxNo"
                #poBoxNo="ngModel" />
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn [text]="'add'"
          (onclick)="createCustomer()"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>