<h2 mat-dialog-title>
  <div fxLayout="row">
    <div fxFlex>
      {{title}}
    </div>
    <div fxFlex
      class="text-right">
      <btn *ngIf="emailButton"
        [text]="'add'"
        [custom]="'email'"
        [icon]="'email'"
        (onclick)="openEmailSentModal(sendInvitationModal)"></btn>
    </div>
  </div>
</h2>
<mat-dialog-content class="scrollable"
  style="max-height: calc(100vh - 120px);">
  <iframe style="width: 100%; height: 85vh;"
    frameBorder="0"
    [src]="resource"></iframe>
</mat-dialog-content>
<mat-dialog-actions>
  <btn [text]="'close'"
    [modalClose]="true"></btn>
</mat-dialog-actions>


<ng-template #sendInvitationModal>
  <h2 mat-dialog-title>Forward</h2>
  <mat-dialog-content style="min-height: 150px;">
    <div style="max-width: 800px; margin: 0 auto">
      <table class="ctable noborder">
        <tr>
          <th style="width: 70px">To</th>
          <th class="fit">:</th>
          <td>
            <div fxLayout="row">
              <div fxFlex>
                <input matInput
                  type="text"
                  placeholder="To"
                  [(ngModel)]="email.to">
              </div>
              <div fxFlex="50px"
                fxFlexAlign="center">
                <btn-icon [text]="'add'"
                  (onclick)="openContactModal(contactModal)"></btn-icon>
                <btn-icon [text]="'clear'"
                  (onclick)="email.to = ''"></btn-icon>
              </div>


            </div>

          </td>
        </tr>
        <tr *ngIf="emailObject.type != 'digital-catalogue'">
          <th>CC</th>
          <th class="fit">:</th>
          <td>
            <input matInput
              type="text"
              placeholder="CC"
              [(ngModel)]="email.ccList">
          </td>
        </tr>
        <tr>
          <th>Subject</th>
          <th class="fit">:</th>
          <td>
            <input matInput
              type="text"
              placeholder="Subject"
              [(ngModel)]="email.subject">
          </td>
        </tr>
      </table>
      <div class="email-summarnote"
        [ngxSummernote]="config"
        [(ngModel)]="email.emailBody">
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            (onclick)="closeModal()"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'edit'"
            [custom]="'Send'"
            [icon]="'email'"
            [disabled]="btnDisabled"
            (onclick)="sendEmail()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>

<ng-template #contactModal>
  <h2 mat-dialog-title>Contact List</h2>
  <mat-dialog-content style="min-height: 150px;">
    <table class="ctable">
      <thead>
        <th class="fit text-center">Image</th>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Phone</th>
        <th class="fit text-center">
          <mat-checkbox [(ngModel)]="selectFlag"
            (change)="selectAll(selectFlag)"></mat-checkbox>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>
            <div class="text-center">
              <img class="thumb-image"
                *ngIf="user?.userProfile?.length"
                [src]="user?.userProfile[0]?.thumnailFilePath" />
              <img class="thumb-image"
                *ngIf="!user?.userProfile?.length"
                src="assets/images/theme/noimage.jpg" />
            </div>
          </td>
          <td>{{ user.fullname }}
            <mat-icon *ngIf="user?.enable"
              class="s-16 text-green">check</mat-icon>
          </td>
          <td>
            {{ user?.email }}
          </td>
          <td>
            {{ user?.company }}
          </td>
          <td>
            {{ user?.phoneNo }}
          </td>
          <td class="text-center">
            <mat-checkbox [(ngModel)]="user.select"></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            (onclick)="closeContactModal()"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (onclick)="addToEmailList()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>