<div fusePerfectScrollbar
  fxFlex
  class="border-right p-24 p-0">
  <span class="mat-title">Cost Type</span>
  <mat-icon (click)="unitCreateForm()"
    *ngIf="_auth.hasPermission('PERMISSION_STYLE_TYPE_CREATE')"
    class="s-24 mb-4 cursor-pointer"
    style="float: right;"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th class="fit">#</th>
      <th>Name</th>
      <th>Label</th>
      <th style="width: 70px;"></th>
    </thead>

    <tbody>
      <tr *ngFor="let u of unit.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ u?.name }}</td>
        <td>{{ u?.label }}</td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="unitOnDetailClick(u.id)">
          </btn-icon>&nbsp;
          <btn-icon [text]="'delete'"
            *ngIf="_auth.hasPermission('PERMISSION_STYLE_TYPE_DELETE')"
            (click)="unitOnDeleteClick(u.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div fusePerfectScrollbar
  fxFlex
  class="p-24 p-0">
  <ng-container [ngSwitch]="unit.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <span class="mat-title">Add a new Cost Type</span>
      <table class="ctable">
        <tr>
          <td>Name</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="unit.item.name"
                [(ngModel)]="unit.item.name"
                #name="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Label</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="unit.item.label"
                [(ngModel)]="unit.item.label"
                #label="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Sequence</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="unit.item.sequence"
                [(ngModel)]="unit.item.sequence"
                #sequence="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Manufacture</td>
          <td>
            <mat-checkbox [(ngModel)]="unit.item.manufacture">
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Fob</td>
          <td>
            <mat-checkbox [(ngModel)]="unit.item.fob">
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Stock Lot</td>
          <td>
            <mat-checkbox [(ngModel)]="unit.item.stockLot">
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Consumption Required</td>
          <td>
            <mat-checkbox [(ngModel)]="unit.item.consumptionRequired">
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Supplier Required</td>
          <td>
            <mat-checkbox [(ngModel)]="unit.item.supplierRequired">
            </mat-checkbox>
          </td>
        </tr>
      </table>
      <div>
        <btn [text]="'save'"
          style="float: right; margin-top: 10px;"
          (click)="unitOnSubmit()">
        </btn>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Basic Info
          <btn-icon [text]="'edit'"
            *ngIf="_auth.hasPermission('PERMISSION_STYLE_TYPE_CREATE')"
            (click)="openUnitEditModal(unitEditModal)">
          </btn-icon>
        </span>
        <table class="ctable">
          <tbody>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Name
              </td>
              <td>
                {{ unit.detail.name }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Label
              </td>
              <td>
                {{ unit.detail.label }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #unitEditModal>
  <h2 mat-dialog-title>Edit Unit</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <td>Name</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="unit.editData.name"
                  [(ngModel)]="unit.editData.name"
                  #name="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Label</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="unit.editData.label"
                  [(ngModel)]="unit.editData.label"
                  #label="ngModel" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="unitOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>