<div mat-dialog-title>
  <div fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="center center">
    <div fxFlex>
      <span> <input matInput
          type="text"
          [(ngModel)]="digiCatalouge.name" /> Digital Catalogue</span>
    </div>
  </div>
</div>
<mat-dialog-content style="min-height: 80vh;">
  <div fxLayout="row"
    style="margin-bottom: 10px;">
    <div fxFlex="100px">
      <span class="mat-title">Title</span>
      <div style="height: 50px; width: 50px; ">
        <single-photo-card [name]="'Title: 200px * 200px'"
          [entityId]="digiCatalouge?.id"
          [entityType]="'catalog_title'">
        </single-photo-card>
      </div>
    </div>
    <div fxFlex>
      <span class="mat-title">Cover</span>
      <div style="height: 90px; width: 90px;">
        <single-photo-card [name]="'Cover Photo: 740px * 900px'"
          [entityId]="digiCatalouge?.id"
          [entityType]="'digital_cover'">
        </single-photo-card>
      </div>
    </div>

    <div fxFlex>
      <table class="ctable table-modal-noborder">
        <tr>
          <td>
            <btn-small [custom]="'Add Style'"
              [text]="'add'"
              (onclick)="openStyleModal(selectStyleModal)"></btn-small>
          </td>
        </tr>
        <tr>
          <td>
            <btn-small [text]="'add'"
              [custom]="'Terms & Conditions'"
              (onclick)="openTermsModal(termsCreateModal)">
            </btn-small>
          </td>
        </tr>
        <tr>
          <td>
            <input matInput
              type="number"
              placeholder="Shipping Charge"
              [(ngModel)]="digiCatalouge.shippingCharge" />
          </td>
        </tr>
      </table>

    </div>
  </div>

  <div fxLayout="row">

    <div fxFlex
      class="text-right"
      fxFlexAlign="center">
      <small style="float: right; color: #ccc;">Image size: height = 600px;
        width =
        740px</small>
    </div>
  </div>

  <div *ngFor="let item of digiCatalouge?.catalogPdfStyles; let index = index;"
    style="display: block; overflow: auto;">
    <div
      style="border: 1px solid #ccc; padding: 14px; overflow: auto; width: 430px; ">
      <div style="width: 400px; height: 530px; position: relative;">
        <!-- <div
          style="position: absolute; top: 0; left: 0; width: 120px; height: 165px;">
          <single-photo-card [name]="'Top Left'"
            [entityId]="item?.id"
            [entityType]="'digital_top_left'">
          </single-photo-card>
        </div>
        <div
          style="position: absolute; top: 165px; left: 0; width: 120px; height: 165px; margin-top: 10px;">
          <single-photo-card [name]="'Middle Left'"
            [entityId]="item?.id"
            [entityType]="'digital_middle_left'">
          </single-photo-card>
        </div>
        <div
          style="position: absolute; bottom: 0; left: 0; width: 120px; height: 165px; margin-top: 10px;">
          <single-photo-card [name]="'Bottom Left'"
            [entityId]="item?.id"
            [entityType]="'digital_bottom_left'">
          </single-photo-card>
        </div> -->
        <div
          style="position: absolute; bottom: 0; right: 0; margin-top: 5px; width: 400px; height: 400px;">

          <single-photo-card [name]="'Main Feature'"
            [entityId]="item?.id"
            [entityType]="'digital_main_feature'">
          </single-photo-card>
        </div>
        <div
          style="position: absolute; top: 0; right: 0; width: 274px; height: 130px; ">
          <div style="width: 120px;float: left;">
            <mat-select placeholder="Price Tiar"
              class="mat-multiple-select"
              [(ngModel)]="item.priceId"
              (selectionChange)="updateStylePrice(item,item.priceId)">
              <mat-option *ngFor="let price of item.styleMultiPrices"
                [value]="price.id">{{ price?.price }}</mat-option>
            </mat-select>
          </div>
          <div style=" height: 120px;text-align: right;font-size: 20px;">
            <strong>
              <btn-icon [text]="'delete'"
                (onclick)="onDelete(item.id)">
              </btn-icon>
              {{item.styleName}}
            </strong>

          </div>
        </div>
      </div>
    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn [text]="'update'"
          (onclick)="update(true)"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>




<ng-template #selectStyleModal>
  <h2 mat-dialog-title>Select Style</h2>
  <mat-dialog-content style="min-height: 10px;">
    <table class="ctable"
      style="width: auto !important;">
      <thead>
        <th class="fit">Image</th>
        <th class="text-left width-100">Style Name
        </th>
        <th class="text-left width-100">Colors</th>
        <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
          class="text-left width-100">
          Price
        </th>
        <th class="fit text-center">Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let style of styles">
          <td class="text-center">
            <img (click)="openGalleryModal(images, style)"
              class="thumb-image  cursor-pointer"
              *ngIf="style?.styleImage?.length"
              [src]="(style?.styleImage)[0]?.thumnailFileUrl" />
            <img class="thumb-image"
              *ngIf="!style?.styleImage?.length"
              src="assets/images/theme/incomming-product-image.png" />
          </td>
          <td>
            <div>
              <span class="font-big text-blue"> {{ style?.name }}</span>
            </div>
            <div>
              {{ style?.styleBrandLabel }}
            </div>
            <div>
              {{ style?.styleType }}
            </div>
          </td>
          <td>
            <span *ngFor="let combo of style?.combos; let last=last;"
              class="text-blue"> {{ combo?.name }}<span *ngIf="!last">,</span>
            </span>
          </td>
          <td>
            {{ style?.note }}
          </td>
          <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            <span class="font-big">{{
              style.defaultPrice | currency
              }}</span>
          </td>
          <td class="text-center">
            <div class="mb-8">
              <btn-small [text]="'link'"
                [custom]="'Select'"
                (onclick)="addStyle(style)"></btn-small>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            (onclick)="closeModal()"></btn>
        </td>

      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>

<ng-template #termsCreateModal>
  <h2 mat-dialog-title>Add Terms & Conditions</h2>
  <mat-dialog-content style="min-height:40vh;">
    <div fxLayout>
      <div fxFlex>
        <table class="ctable noborder">

          <tr>
            <td>
              <div style="width: 100%;"
                class="email-summarnote"
                [ngxSummernote]="config"
                [(ngModel)]="digiCatalouge.paymentTerm">
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <btn [text]="'close'"
      (click)="termsModalClose()"></btn>
  </mat-dialog-actions>
</ng-template>