<ng-container *ngIf="style">
  <ng-container *ngIf="displayType == 'details'">
    <div fxFlex>
      <table class="ctable noborder">
        <tr>
          <td rowspan="3"
            class="fit">
            <!-- <a [routerLink]="'/styles/' + style?.id"
              target="_blank"> -->
            <img class="thumb-image"
              *ngIf="style?.styleImage?.length"
              [src]="(style?.styleImage)[0]?.thumnailFileUrl" />
            <img class="thumb-image"
              *ngIf="!style?.styleImage?.length"
              src="assets/images/theme/incomming-product-image.png" />
            <!-- </a> -->
          </td>
          <td>
            <div>
              <!-- <a [routerLink]="'/styles/' + style?.id"
                target="_blank"> -->
              <span class="font-huge">{{ style?.name }}</span>
              <span class="ml-8 text-red font-medium"
                *ngIf="style.saleDiscounts.id">{{style.saleDiscounts.reason}} -
                {{style.saleDiscounts.discountPercentage}}% -
                {{style.saleDiscounts.fromDate | date: 'mediumDate'}} to
                {{style.saleDiscounts.toDate | date: 'mediumDate'}}</span>
              <!-- </a> -->
            </div>
            <div>
              {{ style?.styleType }}
              <span *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')"> |
                {{ style?.seasonLabel }}
              </span>
              <span class="text-orange"
                *ngIf="style?.earliestShipmentDate"> | In Stock:
                {{style?.earliestShipmentDate | date:
                'mediumDate'}}
              </span>
            </div>
          </td>
          <td class="text-right">
            <div *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-green"
              style="font-size: 18px;">{{ (
              style?.priceObject[priceType] || style?.defaultPrice) |
              currency }}
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            {{ style?.note }}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div>
              <span>Weight: {{style?.weight}}</span>
              <span *ngIf="style?.composition">| Composition:
                {{style?.composition}}</span>

              <span class="text-red"
                *ngIf="style?.lowStockQty"> | Low Stock Trigger:
                {{style?.lowStockQty}}</span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            {{ style?.description }}
          </td>
        </tr>

      </table>
    </div>
  </ng-container>
  <ng-container *ngIf="displayType == 'short'">
    <div fxFlex>
      <table class="ctable noborder">
        <tr>
          <td rowspan="3"
            class="fit">
            <!-- <a [routerLink]="'/styles/' + style?.id"
              target="_blank"> -->
            <img class="thumb-image"
              *ngIf="style?.styleImage?.length"
              [src]="(style?.styleImage)[0]?.thumnailFileUrl" />
            <img class="thumb-image"
              *ngIf="!style?.styleImage?.length"
              src="assets/images/theme/incomming-product-image.png" />
            <!-- </a> -->
          </td>
          <td>
            <div>
              <!-- <a [routerLink]="'/styles/' + style?.id"
                target="_blank"> -->
              <span class="font-huge">{{ style?.name }}-</span>
              <!-- </a> -->
              <span *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                class="text-green font-huge ml-20">{{ (
                style?.priceObject[priceType] || style?.defaultPrice) |
                currency }}</span>
            </div>
            <div>{{ style?.styleType }} <span
                *ngIf="_auth.hasPermission('PERMISSION_SEASON_VIEW')">|
                {{ style?.seasonLabel }}</span></div>
          </td>
        </tr>

        <tr>
          <td colspan="2">
            {{ style?.note }}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')">
              Weight: {{style?.weight}} | Composition:
              {{style?.composition}}
            </div>
          </td>
        </tr>

      </table>
    </div>
  </ng-container>

  <ng-container *ngIf="displayType == 'tiny'">
    <table class="ctable noborder">
      <tr>
        <td rowspan="2"
          class="fit">
          <!-- <a [routerLink]="'/styles/' + style?.id"
            target="_blank"> -->
          <img class="thumb-image"
            *ngIf="style?.styleImage?.length"
            [src]="(style?.styleImage)[0]?.thumnailFileUrl" />
          <img class="thumb-image"
            *ngIf="!style?.styleImage?.length"
            src="assets/images/theme/incomming-product-image.png" />
          <!-- </a> -->
        </td>
        <td>
          <div>
            <!-- <a [routerLink]="'/styles/' + style?.id"
              target="_blank"> -->
            <span class="font-huge">{{ style?.name }}</span>
            <!-- </a> -->
          </div>
          <div>{{ style?.note }}</div>
        </td>
      </tr>
      <tr>
        <!-- <td></td> -->
        <td>
          <span class="text-green"
            style="font-size: 18px;">
            <span *ngIf="!style?.discountFlag">
              {{ (
              style?.priceObject[priceType] ||
              style?.defaultPrice) |
              currency }}
            </span>
            <span *ngIf="style?.discountFlag">
              <span style="color: #757575;">
                <del>
                  {{ (
                  style?.priceObject[priceType] ||
                  style?.defaultPrice) |
                  currency }}</del>
              </span>&nbsp;
              <span class="text-red"> {{ (
                style?.priceObjectDis[priceType] ||
                style?.defaultPriceDis) |
                currency }}</span>
            </span>
          </span>
        </td>
      </tr>
    </table>
  </ng-container>
</ng-container>