<div id="forgot-password"
  fxLayout="column">

  <div id="forgot-password-form-wrapper"
    fxLayout="column"
    fxLayoutAlign="center center">

    <div id="forgot-password-form"
      [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/rawman_logo.png">
      </div>

      <div class="title">SET A NEW PASSWORD</div>
      <form>

        <mat-form-field>
          <input matInput
            type="password"
            [(ngModel)]='data.password'
            name="password"
            autocomplete="off"
            required
            placeholder="Password">
        </mat-form-field>
        <mat-form-field>
          <input matInput
            type="password"
            [(ngModel)]='data.confirmpassword'
            name="confirmpassword"
            autocomplete="off"
            required
            placeholder="Confirm Password">
        </mat-form-field>
        <button mat-raised-button
          color="accent"
          class="submit-button"
          (click)="resetPassword()">
          SUBMIT
        </button>
      </form>


      <div class="separator mb-12">
        <span class="text">OR</span>
      </div>

      <div class="register"
        fxLayout="column"
        fxLayoutAlign="center center">
        <span class="text">I already have a password.</span>
        <a class="link"
          [routerLink]="'/login'">Login</a>
      </div>


    </div>

  </div>

</div>