<div id="email-change-verify"
  fxLayout="column">

  <div id="forgot-password-form-wrapper"
    fxLayout="column"
    fxLayoutAlign="center center">

    <div id="forgot-password-form"
      [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/rawman_logo.png">
      </div>

      <div class="title"
        *ngIf="message">{{message}}</div>

    </div>

  </div>

</div>