<div mat-dialog-title>
  <div fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="center center">
    <div fxFlex>
      <span>Commission Discount Details</span>
    </div>
    <div fxFlex="140px"
      class="text-right"
      fxFlexAlign="center">
      <ng-container
        *ngIf="_auth.hasPermission('PERMISSION_COMMISSION_DISCOUNT_EDIT')">
        <btn-small *ngIf="!editMode"
          [text]="'edit'"
          (onclick)="editMode=true"></btn-small>
        <btn-small *ngIf="editMode"
          [text]="'cancel'"
          (onclick)="getDetails()"></btn-small>
      </ng-container>
      <btn-small
        *ngIf="_auth.hasPermission('PERMISSION_COMMISSION_DISCOUNT_DELETE')"
        [text]="'delete'"
        (onclick)="onDelete()"></btn-small>
    </div>
  </div>
</div>

<mat-dialog-content style="min-height: 35vh;">
  <table class="ctable noborder">
    <tr>
      <th style="width: 120px;"
        class="text-left">Date</th>
      <th class="fit">:</th>
      <td>
        <date-picker [dateValue]="discount.date"
          [disabled]="true"
          (change)="discount.date = $event.dateFormatted"
          hideLabel="true">
        </date-picker>
      </td>
    </tr>
    <tr>
      <th>Commission User</th>
      <th class="fit">:</th>
      <td>
        <ng-select [items]="userList"
          [disabled]="true"
          [clearable]="false"
          bindLabel="fullname"
          appendTo="body"
          bindValue="id"
          placeholder="Commission User"
          [(ngModel)]="discount.commissionUserId"
          (change)="onUserChange()">
        </ng-select>
      </td>
    </tr>
    <tr>
      <th>Invoice</th>
      <th class="fit">:</th>
      <td>
        <ng-select [items]="shipmentList"
          [disabled]="true"
          [clearable]="false"
          bindLabel="invoiceNumber"
          appendTo="body"
          bindValue="id"
          placeholder="Invoice No"
          [(ngModel)]="discount.shipmentId">
        </ng-select>
      </td>
    </tr>
    <tr>
      <th>Amount</th>
      <th class="fit">:</th>
      <td>
        <input matInput
          class="text-right"
          [disabled]="!editMode"
          type="number"
          [(ngModel)]="discount.amount" />
      </td>
    </tr>
    <tr>
      <th>Note</th>
      <th class="fit">:</th>
      <td>
        <mat-form-field class="w-100-p">
          <textarea matInput
            [disabled]="!editMode"
            rows="2"
            [(ngModel)]="discount.details"></textarea>
        </mat-form-field>
      </td>
    </tr>
  </table>

</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right"
        *ngIf="_auth.hasPermission('PERMISSION_COMMISSION_DISCOUNT_EDIT')">
        <btn [text]="'update'"
          *ngIf="editMode"
          (onclick)="createCommissionDiscount()"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>