<div fusePerfectScrollbar
  fxFlex
  class="border-right p-24 p-0">
  <span class="mat-title">Size Group</span>
  <mat-icon (click)="sizeGroupCreateForm()"
    *ngIf="_auth.hasPermission('PERMISSION_SIZE_CREATE')"
    class="s-24 mb-4 cursor-pointer"
    style="float:right"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th class="fit">#</th>
      <th>Name</th>
      <th style="width:70px;"></th>
    </thead>

    <tbody>
      <tr *ngFor="let size of sizeGroup.items; let i = index">
        <td>{{i+1}}</td>
        <td>{{size.name}}</td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="sizeGroupOnDetailClick(size.id)">
          </btn-icon>&nbsp;
          <btn-icon [text]="'delete'"
            *ngIf="_auth.hasPermission('PERMISSION_SIZE_DELETE')"
            (click)="sizeGroupOnDeleteClick(size.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div fusePerfectScrollbar
  fxFlex
  class="p-24 p-0">
  <ng-container [ngSwitch]="sizeGroup.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <span class="mat-title">Add a new Size Group</span>
      <table class="ctable">
        <tr>
          <td>Name</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="sizeGroup.item.name"
                [(ngModel)]="sizeGroup.item.name"
                #name="ngModel">
            </mat-form-field>
          </td>
        </tr>

      </table>
      <div>
        <btn [text]="'save'"
          style="float:right; margin-top: 10px;"
          (click)="sizeGroupOnSubmit()">
        </btn>
      </div>

    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Basic Info
          <btn-icon [text]="'edit'"
            *ngIf="_auth.hasPermission('PERMISSION_SIZE_EDIT')"
            (click)="openSizeGroupEditModal(sizeGroupEditModal)">
          </btn-icon>
        </span>
        <table class="ctable">
          <tbody>
            <tr>
              <td class="fit bold"
                style="text-align:left">
                Name
              </td>
              <td>
                {{sizeGroup.detail.name}}
              </td>
            </tr>
          </tbody>
        </table>
        <br />
        <span class="mat-title">Size</span>
        <mat-icon (click)="openSizeAddModal(sizeAddModal)"
          *ngIf="_auth.hasPermission('PERMISSION_SIZE_CREATE')"
          class="s-24 mb-4 cursor-pointer"
          style="float:right"
          title="Create a new entity">add_circle_outline
        </mat-icon>

        <table class="ctable">
          <thead class="header-bg">
            <th class="fit">#</th>
            <th>Name</th>
            <th>Sequence</th>
            <th style="width:70px;"></th>
          </thead>

          <tbody>
            <tr *ngFor="let size of size.items; let i = index">
              <td>{{i+1}}</td>
              <td>{{size.name}}</td>
              <td>{{size.sequence}}</td>
              <td>
                <btn-icon [text]="'edit'"
                  (click)="openSizeEditModal(sizeEditModal, size)">
                </btn-icon>
                <btn-icon [text]="'delete'"
                  *ngIf="_auth.hasPermission('PERMISSION_SIZE_DELETE')"
                  (click)="sizeOnDeleteClick(size.id)">
                </btn-icon>
              </td>
            </tr>
          </tbody>
        </table>

      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #sizeGroupEditModal>
  <h2 mat-dialog-title>Edit Size Group</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <td>Name</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="sizeGroup.editData.name"
                  [(ngModel)]="sizeGroup.editData.name"
                  #name="ngModel">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="sizeGroupOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>

  </mat-dialog-actions>
</ng-template>

<ng-template #sizeEditModal>
  <h2 mat-dialog-title>Edit Size</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <td>Name</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="size.editData.name"
                  [(ngModel)]="size.editData.name"
                  #name="ngModel">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Sequence</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="size.editData.sequence"
                  [(ngModel)]="size.editData.sequence"
                  #sequence="ngModel">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="sizeOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>

  </mat-dialog-actions>
</ng-template>

<ng-template #sizeAddModal>
  <h2 mat-dialog-title>Add Size</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <td>Name</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="size.item.name"
                  [(ngModel)]="size.item.name"
                  #name="ngModel">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Sequence</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="size.item.sequence"
                  [(ngModel)]="size.item.sequence"
                  #sequence="ngModel">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'add'"
            (click)="sizeOnSubmit()"></btn>
        </td>
      </tr>
    </table>

  </mat-dialog-actions>
</ng-template>