<div class="custom-filter-header">
  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="30px">
    <div fxFlex>
      <div class="custom-filter-row-first"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px">
        <div fxFlex
          fxLayoutAlign="space-between center">
          <!-- <div fxFlex="18px">
                    <btn-icon [text]="'arrowleft'"
                      (click)="onDateNextPrivious(false)"></btn-icon>
                  </div> -->
          <div fxFlex>
            <date-picker (change)="filter.fromdate = $event.dateFormatted"
              hideLabel="true"
              [labelName]="'From Date'"
              [dateValue]="filter.fromdate">
            </date-picker>
          </div>
        </div>
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex>
            <date-picker (change)="filter.todate = $event.dateFormatted"
              hideLabel="true"
              [labelName]="'To Date'"
              [dateValue]="filter.todate">
            </date-picker>
          </div>
          <!-- <div fxFlex="18px">
                    <btn-icon [text]="'arrowright'"
                      (click)="onDateNextPrivious(true)"></btn-icon>
                  </div> -->
        </div>
        <div fxFlex
          fxLayoutAlign="space-between center">
          <input matInput
                placeholder="Rims PO"
                class="filter-input-field"
                (keydown.enter)="onFilter()"
                type="text"
                [(ngModel)]="filter.rimspo" />
        </div>

        <div fxFlex>
        </div>
        <div fxFlex>
        </div>
        <div fxFlex>
        </div>
      </div>
    </div>
    <div fxFlex.gt-md="80px"
      class="filter-options">
      <span>
        <span class="filter-btn-with-counter">
          <span *ngIf="filterCounter"
            class="filter-counter">{{
            filterCounter
            }}</span>
          <button class="filter-btn filter-submit"
            mat-icon-button
            (click)="onFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </span>

        <button class="filter-btn filter-clear"
          mat-icon-button
          (click)="onClear()">
          <mat-icon>clear_all</mat-icon>
        </button>

      </span>

    </div>
  </div>
</div>

<!-- / HEADER -->

<div fxLayout>
  <div fxFlex>
    <div *ngIf="list?.length === 0"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill>
      <span class="no-messages-text hint-text">{{
        "Shipped Empty"
        }}</span>
    </div>
    <div *ngIf="list?.length">
      <table class="ctable no-border-top no-border-left">
        <thead class="csticky">
          <th style="width: 100px;"
            class="text-center cursor-pointer"
            (click)="onSort('id', 'number')">
            PO#
            <sorter-icon class="sorter-icon"
              [flag]="sorter.field == 'id'"
              [sortType]="sorter.sortType">
            </sorter-icon>
          </th>
          <th style="width: 100px;"> Shipped Date</th>
          <th style="width: 100px;"> Order Date</th>
          <th style="width: 100px;"> Customer</th>
          <th style="width: 100px;"> Requested Ship Date</th>
          <th style="width: 100px;">Customer PO</th>
          <th style="width: 100px;">
            Total Qty
          </th>
          <th style="width: 100px;"
            class="text-center">
            Location
          </th>
          <th style="width: 100px;"
            class="text-center">
            Shipped By
          </th>

          <th style="width: 100px;">Shipping Mode</th>
          <th style="width: 100px;">Courier Company</th>
          <th style="width: 100px;">Courier Company No</th>
          <th style="width: 100px;">Tracking Number</th>
          <th style="width: 100px;">Number of Box</th>
          <th style="width: 100px;">Total Weight</th>
          <th>
            Warehouse Note
          </th>
          <th class="fit text-center">Action</th>
        </thead>
        <tr class="minimum-hight-list"
          *ngFor="let shipment of list">
          <td class="text-center">
            <span class="text-blue">
              <a [routerLink]="'/orders/' + shipment?.order?.id "
                target="_blank">
                {{shipment?.rimsPoNo }}
              </a>
            </span>
          </td>
          <td>{{shipment?.shipmentDate | date: 'mediumDate' }}</td>
          <td>{{shipment?.order?.orderDate | date: 'mediumDate' }}</td>
          <td>{{shipment?.customerName }}</td>
          <td>{{shipment?.order?.orderShipmentDate | date: 'mediumDate' }}
          </td>
          <td>{{shipment?.order?.poNo }}</td>
          <td class="text-right">{{shipment?.totalQuantity }}</td>
          <td class="text-center">{{shipment?.inventoryLocation?.name }}</td>
          <td class="text-center">{{shipment?.createdBy }}</td>
          <td>
            <span *ngIf="shipment?.shipmentMode == 'CUSTOMER'">Customer
              Shipping</span>
            <span *ngIf="shipment?.shipmentMode == 'RAWMANCO'">Rawman
              &
              Co.
              Shipping</span>
          </td>
          <td>{{shipment?.courierCompany }}</td>
          <td>{{shipment?.courierAccountNo }}</td>

          <td>{{shipment?.trackingNumber }}</td>
          <td>{{shipment?.noOfBox }}</td>
          <td>{{shipment?.totalWeight }}</td>

          <td>{{shipment?.comment }}</td>
          <td class="text-center">
            <div>
              <btn-small [text]="'edit'"
                [custom]="'Packing List'"
                (onclick)="openPackingPDFModal(shipment.id)">
              </btn-small>
              </div>
              <div>  
              <btn-small [text]="'edit'"
                [custom]="'Packing Box'"
                (onclick)="openPackingBoxPDFModal(shipment.id)">
              </btn-small>
            </div>
          </td>
        </tr>

      </table>
    </div>
  </div>
</div>