<div fusePerfectScrollbar
  fxFlex
  class="border-right p-24 p-0">
  <span class="mat-title">Promotions</span>
  <mat-icon (click)="saleDiscountCreateForm()"
    class="s-24 mb-4 cursor-pointer"
    style="float: right;"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th class="fit">#</th>
      <th>Label</th>
      <th>Discount</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th style="width: 70px;"></th>
    </thead>

    <tbody>
      <tr *ngFor="let type of saleDiscount.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ type.reason }}</td>
        <td>{{ type.discountPercentage }}</td>
        <td>{{ type.fromDate | date: 'mediumDate' }}</td>
        <td>{{ type.toDate | date: 'mediumDate' }}</td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="saleDiscountOnDetailClick(type.id)">
          </btn-icon>&nbsp;
          <btn-icon [text]="'delete'"
            (click)="saleDiscountOnDeleteClick(type.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div fusePerfectScrollbar
  fxFlex
  class="p-24 p-0">
  <ng-container [ngSwitch]="saleDiscount.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <span class="mat-title">Add a new promotion</span>
      <table class="ctable">
        <tr>
          <td>Label</td>
          <td>

            <input matInput
              name="saleDiscount.item.reason"
              [(ngModel)]="saleDiscount.item.reason" />

          </td>
        </tr>
        <tr>
          <td>Discount</td>
          <td>

            <input matInput
              name="saleDiscount.item.discountPercentage"
              [(ngModel)]="saleDiscount.item.discountPercentage" />

          </td>
        </tr>
        <tr>
          <td>Start Date</td>
          <td>

            <date-picker [dateValue]="saleDiscount.item.fromDate"
              (change)="saleDiscount.item.fromDate = $event.dateFormatted"
              hideLabel="true">
            </date-picker>

          </td>
        </tr>
        <tr>
          <td>End Date</td>
          <td>

            <date-picker [dateValue]="saleDiscount.item.toDate"
              (change)="saleDiscount.item.toDate = $event.dateFormatted"
              hideLabel="true">
            </date-picker>

          </td>
        </tr>
      </table>
      <div>
        <btn [text]="'save'"
          style="float: right; margin-top: 10px;"
          (click)="saleDiscountOnSubmit()">
        </btn>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Basic Info
          <btn-icon [text]="'edit'"
            (click)="openSaleDiscountEditModal(saleDiscountEditModal)">
          </btn-icon>
        </span>
        <table class="ctable">
          <tbody>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Label
              </td>
              <td>
                {{ saleDiscount.detail.reason }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Discount
              </td>
              <td>
                {{ saleDiscount.detail.discountPercentage }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Start Date
              </td>
              <td>
                {{ saleDiscount.detail.fromDate | date: 'mediumDate' }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                End Date
              </td>
              <td>
                {{ saleDiscount.detail.toDate| date: 'mediumDate' }}
              </td>
            </tr>

          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #saleDiscountEditModal>
  <h2 mat-dialog-title>Edit promotion</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <td>Label</td>
            <td>

              <input matInput
                name="saleDiscount.editData.reason"
                [(ngModel)]="saleDiscount.editData.reason" />

            </td>
          </tr>
          <tr>
            <td>Discount</td>
            <td>

              <input matInput
                name="saleDiscount.editData.discountPercentage"
                [(ngModel)]="saleDiscount.editData.discountPercentage" />

            </td>
          </tr>
          <tr>
            <td>Start Date</td>
            <td>

              <date-picker [dateValue]="saleDiscount.editData.fromDate"
                (change)="saleDiscount.editData.fromDate = $event.dateFormatted"
                hideLabel="true">
              </date-picker>
            </td>
          </tr>
          <tr>
            <td>End Date</td>
            <td>

              <date-picker [dateValue]="saleDiscount.editData.toDate"
                (change)="saleDiscount.editData.toDate = $event.dateFormatted"
                hideLabel="true">
              </date-picker>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="saleDiscountOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>