<div class="custom-filter-header">
  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="30px">
    <div fxFlex>
      <div class="custom-filter-row-first"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px">
        <div fxFlex
          fxLayoutAlign="space-between center">
          <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowleft'"
                  (click)="onDateNextPrivious(false)"></btn-icon>
              </div> -->
          <div fxFlex>
            <date-picker (change)="filter.fromdate = $event.dateFormatted"
              hideLabel="true"
              [labelName]="'From Date'"
              [dateValue]="filter.fromdate">
            </date-picker>
          </div>
        </div>
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex>
            <date-picker (change)="filter.todate = $event.dateFormatted"
              hideLabel="true"
              [labelName]="'To Date'"
              [dateValue]="filter.todate">
            </date-picker>
          </div>
          <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowright'"
                  (click)="onDateNextPrivious(true)"></btn-icon>
              </div> -->
        </div>

        <!-- <div fxFlex>
              <mat-select multiple
                placeholder="Status"
                class="mat-multiple-select"
                [(ngModel)]="filter.statusname">
                <mat-option *ngFor="let item of statusList"
                  [value]="item.name">{{ item.label }}</mat-option>
              </mat-select>
            </div> -->

        <div fxFlex>
          <mat-select multiple
            *ngIf="userRole != 'ROLE_CUSTOMER'"
            placeholder="Customers"
            class="mat-multiple-select"
            [(ngModel)]="filter.customerid">
            <mat-option *ngFor="let item of customerList"
              [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </div>
        <div fxFlex>
          <mat-select *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER')"
            placeholder="Sales Rep"
            class="mat-multiple-select"
            [(ngModel)]="filter.salerepid">
            <mat-option *ngFor="let item of saleRepList"
              [value]="item.id">{{ item.fullname }}</mat-option>
          </mat-select>
        </div>
        <div fxFlex></div>
      </div>
    </div>
    <div fxFlex.gt-md="80px"
      class="filter-options">
      <span>
        <span class="filter-btn-with-counter">
          <span *ngIf="filterCounter"
            class="filter-counter">{{
            filterCounter
            }}</span>
          <button class="filter-btn filter-submit"
            mat-icon-button
            (click)="onFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </span>

        <button class="filter-btn filter-clear"
          mat-icon-button
          (click)="onClear()">
          <mat-icon>clear_all</mat-icon>
        </button>
      </span>

    </div>
  </div>
</div>

<!-- / HEADER -->

<!-- CONTENT CARD -->

<div fxLayout>
  <div fxFlex>
    <div *ngIf="orders?.length === 0"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill>
      <span class="no-messages-text hint-text">{{
        "Orders"
        }}</span>
    </div>
    <div class="pr-8"
      *ngIf="orders?.length">
      <table class="ctable no-border-top no-border-left"
        style="width: auto !important;">
        <thead class="csticky">
          <th style="width: 100px;"
            class="text-center cursor-pointer"
            (click)="onSort('id', 'number')">
            PO #
            <sorter-icon class="sorter-icon"
              [flag]="sorter.field == 'id'"
              [sortType]="sorter.sortType">
            </sorter-icon>
          </th>
          <th class="text-center cursor-pointer"
            (click)="onSort('orderDate', 'date')"
            style="width: 100px;">
            Order On
            <sorter-icon class="sorter-icon"
              [flag]="sorter.field == 'orderDate'"
              [sortType]="sorter.sortType">
            </sorter-icon>
          </th>
          <th class="fit text-center"
            style="width: 100px;">Status</th>
          <th class="text-center"
            style="width: 100px;">Customer</th>
          <th class="cursor-pointer"
            class="text-center"
            style="width: 100px;"
            (click)="onSort('shipmentDate', 'date')">
            Req. Ship
            <sorter-icon class="sorter-icon"
              [flag]="sorter.field == 'shipmentDate'"
              [sortType]="sorter.sortType">
            </sorter-icon>
          </th>

          <th class="text-center"
            style="width: 100px;">Init. By</th>

          <th class="text-center"
            style="width: 100px;">Cust. PO #</th>

          <th class="text-center"
            style="width: 100px;">Qty
            <span style="color: blue"
              *ngIf="total?.order"><br>
              {{total?.order}} pcs
            </span>
          </th>
          <th class="text-right"
            style="width: 100px;"
            *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
            Subtotal
            <span style="color: blue"
              *ngIf="total?.order"><br>
              {{total?.orderValue | currency}}
            </span>
          </th>
          <th class="fit text-center">Action</th>
        </thead>
        <tbody>
          <tr class="minimum-hight-list"
            *ngFor="let order of orders"
            [ngClass]="{ 'current-item': order?.id == orderId }">
            <td class="text-center">{{order.rimsPoNo }}</td>
            <td class="text-center">
              {{ order?.orderDate | date: "mediumDate" }}
            </td>
            <td class="text-center">
              <span *ngIf="order?.status == 'draft'"
                class="status-chip status-chip-draft">{{order?.status}}</span>
              <span *ngIf="order?.status == 'approved'"
                class="status-chip status-chip-approved">{{order?.status}}</span>
              <span *ngIf="order?.status == 'new'"
                class="status-chip status-chip-new">Accepted</span>
              <span *ngIf="order?.status == 'shipped'"
                class="status-chip status-chip-shipped">{{order?.status}}</span>
              <span *ngIf="order?.status == 'partial_shipped'"
                class="status-chip status-chip-partial-shipped">Partial<br />Shipped</span>
              <span *ngIf="order?.status == 'cancel'"
                class="status-chip status-chip-cancel">Cancelled</span>
              <span *ngIf="!order?.status"
                class="status-chip status-chip-gray">Empty</span>
            </td>
            <td class="text-center">
              <span matTooltip="{{order?.customer?.name}}">
                {{ (order?.customer?.name.length>10)? (order?.customer?.name
                |
                slice:0:9)+'..':(order?.customer?.name) }}
              </span>
            </td>
            <td class="text-center">
              <span>{{
                order?.shipmentDate | date: "mediumDate"
                }}</span>
            </td>

            <td class="text-center">
              <span matTooltip="{{order?.createdBy?.name}}">
                {{ (order?.createdBy?.name.length>10)? (order?.createdBy?.name
                |
                slice:0:9)+'..':(order?.createdBy?.name) }}
                <br />
                <span *ngIf="order?.createdByRole== 'ROLE_ADMIN'">
                  (Admin)</span>
                <span *ngIf="order?.createdByRole== 'ROLE_CUSTOMER'">
                  (Customer)</span>
                <span *ngIf="order?.createdByRole== 'ROLE_SALES'"> (Sales
                  Rep)</span>
                <span *ngIf="order?.createdByRole== 'ROLE_PARTNER'">
                  (Sales Manager)</span>
              </span>
            </td>
            <td class="text-center">
              {{ order?.poNo }}
            </td>
            <td class="text-center">
              <span>
                {{ order?.orderQty }}
              </span>
            </td>

            <td class="text-right"
              *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')">
              <span>{{
                order.totalValue | currency
                }}</span>
            </td>
            <td class="text-center">
              <div>
                <btn-small [text]="'edit'"
                  [custom]="'Details'"
                  (onclick)="goLink(order.id)"></btn-small>
              </div>
              <div class="mt-4"
                *ngIf="order?.status == 'draft'">
                <btn-small [text]="'delete'"
                  (onclick)="onDelete(order.id)"></btn-small>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>