.single-photo-card {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.withborder {
  border: 1px solid #ccc;
}
.single-photo-card-placeholder {
  background-image: url(assets/images/theme/noimage.jpg);
}
.single-photo-card .thumb {
  height: 100%;
  width: 100%;
  position: relative;
}

.single-photo-card .thumb img {
  width: auto;
  height: 100%;
}

.single-photo-card .thumb .thumb-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99999;
  cursor: pointer;
}
