<div id="invoice"
  class="compact page-layout blank"
  fxLayout="row">

  <div class="invoice-container">
    <div class="card">
      <div class="header">
        <div fxlayout="row"
          fxlayoutalign="space-between stretch"
          style="flex-direction: row; box-sizing: border-box; display: flex; place-content: stretch space-between; align-items: stretch; max-height: 100%;">
          <div class="client">
            <div fxlayout="row"
              fxlayoutalign="start center"
              class="invoice-number"
              style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
              <div>
                <span class="title"
                  style="width: 90px; display: block; float: left;">Invoice
                  Date: </span>
                <span class="number">{{shipment?.invoiceDate |
                  date:
                  'mediumDate'}}</span>
              </div>
            </div>
            <div fxlayout="row"
              fxlayoutalign="start center"
              class="invoice-number"
              style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
              <div>
                <span class="title"
                  style="width: 90px; display: block; float: left;">Invoice
                  No:</span>
                <span
                  class="number">{{shipment?.order?.rimsPoNo}}-{{shipment?.invoiceId}}
                </span>
              </div>
            </div>
            <div fxlayout="row"
              fxlayoutalign="start center"
              class="invoice-number"
              style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">

              <div>
                <span class="title"
                  style="width: 90px; display: block; float: left;">RIMS PO:
                </span>
                <span class="number">{{shipment?.order?.rimsPoNo}}</span>
              </div>
            </div>
            <br />
            <div class="info">
              <div class="title"
                style="font-weight: bold;">{{shipment?.customerName}}</div>
              <div class="address ng-star-inserted">

                <span *ngIf="shipment?.customerDetail?.billingPoBoxNo">PO-Box:
                  {{ shipment?.customerDetail?.billingPoBoxNo }},
                </span>
                <span *ngIf="shipment?.customerDetail?.billingStreet">{{
                  shipment?.customerDetail?.billingStreet }},
                </span><br />
                <span *ngIf="shipment?.customerDetail?.billingCity">{{
                  shipment?.customerDetail?.city }},
                </span><span
                  *ngIf="shipment?.customerDetail?.billingProvince">{{
                  shipment?.customerDetail?.billingProvince }},
                </span>
                <span *ngIf="shipment?.customerDetail?.billingPostCode">
                  {{
                  shipment?.customerDetail?.billingPostCode }}
                </span>

              </div>
              <!---->
              <div class="phone ng-star-inserted">{{
                shipment?.customerDetail?.phoneNo }}</div>
              <!---->
              <div class="email ng-star-inserted">{{
                shipment?.customerDetail?.email }}</div>
              <!---->
              <!---->
            </div>
          </div>
          <div fxlayout="row"
            fxlayoutalign="start center"
            class="issuer accent"
            style="background-color: #dedede !important; flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
            <div class="logo"><img src="assets/images/logos/rawman_logo.png">
            </div>
            <div class="info"
              style="color: #000">
              <div class="title"
                style="font-weight: bold;">Rawman & Co. Inc.</div>
              <div class="address ng-star-inserted">
                9 Baronial Crt.
                <br />
                Toronto, ON, M1C3J5
              </div>
              <div class="phone ng-star-inserted">416-833-9323</div>
              <div class="email ng-star-inserted">support@rawmanco.com</div>
              <div class="website ng-star-inserted">www.rims.rawmanco.com</div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <table class="simple invoice-table">
          <thead>
            <tr>
              <th>Style</th>
              <th>Description</th>
              <th class="text-right">Unit Price</th>
              <th class="text-right">Qty</th>
              <th class="text-right">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="ng-star-inserted"
              *ngFor="let style of styleBreakdown;let styleIndex = index">
              <td>
                <div class="title">
                  {{ style?.name }}
                </div>
              </td>
              <td>
                {{ style?.styleNote }}
              </td>
              <td class="text-right">
                {{style.price | currency}}
              </td>
              <td class="text-right">
                <div>
                  {{ style?.totalQty }} pcs
                </div>
              </td>
              <td class="text-right amount">
                <div>
                  {{style?.totalPrice | currency}}
                </div>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="3"
                class="text-right">
                <div class="title"
                  style="font-weight: bold;">Subtotal</div>
              </td>
              <td class="text-right">
                <span>{{shipment?.totalQty}} pcs</span>
              </td>
              <td class="text-right">
                <span>{{shipment?.totalPrice | currency}}</span>
              </td>
            </tr>

            <!---->
          </tbody>
        </table>
        <table class="simple invoice-table-footer mt-12 mb-4">
          <tbody>
            <!-- <tr class="subtotal">
              <td>Subtotal</td>
              <td class="amount">{{shipment?.totalPrice | currency}}</td>
            </tr> -->
            <tr *ngIf="shipment?.tax"
              class="tax">
              <td>Tax <span
                  class="text-gray">({{shipment?.customerDetail?.province}}
                  {{shipment?.provinceRaxRate}}%)</span></td>
              <td class="amount">{{shipment?.tax | currency}}</td>
            </tr>
            <tr *ngIf="shipment?.freightCharge"
              class="tax">
              <td>Freight Charge</td>
              <td class="amount">{{shipment?.freightCharge | currency}}</td>
            </tr>
            <tr *ngIf="shipment?.handlingCharge"
              class="tax">
              <td>Freight Charge</td>
              <td class="amount">{{shipment?.handlingCharge | currency}}</td>
            </tr>
            <tr *ngIf="shipment?.otherCharge"
              class="tax">
              <td>Other Charges: {{shipment?.otherChargeCause}}</td>
              <td class="amount">{{shipment?.otherCharge | currency}}</td>
            </tr>
            <tr *ngIf="shipment?.discount"
              class="tax">
              <td>Discount</td>
              <td class="amount">- {{shipment?.discount | currency}}</td>
            </tr>
            <tr class="subtotal">
              <td style="font-weight: bold; border-bottom: 1px solid #ccc;">
                Total
              </td>
              <td class="amount"
                style="font-weight: bold; border-bottom: 1px solid #ccc;">
                {{shipment?.netTotal | currency}}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="simple invoice-table-footer mt-12 mb-24">
          <tbody>
            <tr *ngFor="let parent of paymentList;let parentIndex = index">
              <td>{{parent?.paymentDate | date: 'mediumDate'}}</td>
              <td class="amount">{{parent?.paymentValue |
                currency}}</td>
            </tr>

            <tr class="subtotal"
              *ngIf="shipment?.totalPayment">
              <td style="font-weight: bold; border-bottom: 1px solid #ccc;">
                Total Received</td>
              <td class="amount"
                style="font-weight: bold; border-bottom: 1px solid #ccc;">
                {{shipment?.totalPayment | currency}}
              </td>
            </tr>
            <tr *ngIf="shipment?.dueAmount"
              class="subtotal">
              <td style="font-weight: bold;">Amount Due</td>
              <td class="amount text-red"
                style="font-weight: bold;">{{shipment?.dueAmount | currency}}
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="shipment?.invoiceRevision?.revisionCause">
          <span class="font-small"><b>Invoice Note:</b>
            {{shipment?.invoiceRevision?.revisionCause}}</span>
        </div>
        <br />
      </div>
      <div class="footer"
        style="border-top: 1px solid #ccc">
        <div fxlayout="row"
          fxlayoutalign="start start"
          style="flex-direction: row; box-sizing: border-box; display: flex; place-content: flex-start; align-items: flex-start;">
          <div class="logo"><img src="assets/images/logos/rawman_logo.png">
          </div>
          <div class="small-note"
            style="text-align: center;">
            <b>Payments:</b> Due by {{shipment?.paymentDueDate | date:
            'mediumDate'}}. Please make cheque payable to Rawman &
            Co. Inc. or e-transfer funds to rawmanco@gmail.com.<br />
            For any further assistance please email us at:
            <a href="mailto:support@rawmanco.com">support@rawmanco.com</a>.
          </div>

        </div>
        <div class="text-center">
          <a href="http://www.rims.rawmanco.com/"
            target="_blank">www.rims.rawmanco.com</a>
        </div>
      </div>
    </div>
  </div>