.btn-small {
  font-size: 11px;
  padding: 2px 4px;
  margin-right: 6px;
  box-shadow: 1px 1px 1px #ccc !important;
}

.btn-regular {
  padding: 5px 15px !important;
  font-size: 13px;
  box-shadow: 3px 3px 4px #ccc !important;
  border-radius: 20px !important;
}



.btn-default {
  background: #318cef !important;
  color: #ffffff !important;
}

.btn-submit {
  background: #318cef !important;
  color: #ffffff !important;
}

.btn-save {
  background: #0072bb !important;
  color: #ffffff !important;
}

.btn-add {
  background: #1b6d00 !important;
  color: #ffffff !important;
}

.btn-copy {
  background: #0067a5 !important;
  color: #ffffff !important;
}

.btn-addclose {
  background: #daa520 !important;
  color: #ffffff !important;
}

.btn-edit {
  background: #0099cc !important;
  color: #ffffff !important;
}

.btn-update {
  background: #0099cc !important;
  color: #ffffff !important;
}

.btn-delete {
  background: #d81919 !important;
  color: #ffffff !important;
}

.btn-clear {
  background: #ffbf00 !important;
  color: #ffffff !important;
}

.btn-close {
  background: #5c5c5c !important;
  color: #ffffff !important;
}

.btn-cancel {
  background: #5c5c5c !important;
  color: #ffffff !important;
}

.btn-link {
  background: #aa66cd !important;
  color: #ffffff !important;
}

.btn-expend {
  background: #aa66cd !important;
  color: #ffffff !important;
}

.btn-dropdown {
  background: #363c56 !important;
  color: #ffffff !important;
}

.btn-arrowright {
  background: #363c56 !important;
  color: #ffffff !important;
}

.btn-arrowleft {
  background: #363c56 !important;
  color: #ffffff !important;
}

.btn-archive {
  background: #1e2230 !important;
  color: #ffffff !important;
}

.btn-unarchive {
  background: #675F99 !important;
  color: #ffffff !important;
}

.btn-approved {
  background: rgb(105, 163, 103) !important;
  color: #ffffff !important;
}

.btn-reject {
  background: rgb(216, 130, 122) !important;
  color: #ffffff !important;
}



.btn-icon-default {
  color: #318cef !important;
  //color: #ffffff !important;
}

.btn-icon-submit {
  color: #318cef !important;
  //color: #ffffff !important;
}

.btn-icon-save {
  color: #0072bb !important;
  //color: #ffffff !important;
}

.btn-icon-add {
  color: #1b6d00 !important;
  //color: #ffffff !important;
}

.btn-icon-copy {
  color: #0067a5 !important;
  //color: #ffffff !important;
}

.btn-icon-addclose {
  color: #daa520 !important;
  //color: #ffffff !important;
}

.btn-icon-edit {
  color: #0099cc !important;
  //color: #ffffff !important;
}

.btn-icon-update {
  color: #0099cc !important;
  //color: #ffffff !important;
}

.btn-icon-delete {
  color: #d81919 !important;
  //color: #ffffff !important;
}
.btn-icon-modal-close {
  color: #ddd !important;
  //color: #ffffff !important;
}

.btn-icon-clear {
  color: #ffbf00 !important;
  //color: #ffffff !important;
}

.btn-icon-close {
  color: #ffbf00 !important;
  //color: #ffffff !important;
}

.btn-icon-cancel {
  color: #ffbf00 !important;
  //color: #ffffff !important;
}

.btn-icon-link {
  color: #aa66cd !important;
  //color: #ffffff !important;
}

.btn-icon-expend {
  color: #aa66cd !important;
  //color: #ffffff !important;
}

.btn-icon-dropdown {
  color: #363c56 !important;
  //color: #ffffff !important;
}

.btn-icon-arrowright {
  color: #363c56 !important;
  //color: #ffffff !important;
}

.btn-icon-arrowleft {
  color: #363c56 !important;
  //color: #ffffff !important;
}

.btn-icon-archive {
  color: #1e2230 !important;
  //color: #ffffff !important;
}

.btn-icon-unarchive {
  color: #675F99 !important;
  //color: #ffffff !important;
}

.btn-icon-approved {
  color: rgb(105, 163, 103) !important;
  //color: #ffffff !important;
}

.btn-icon-reject {
  color: rgb(216, 130, 122) !important;
  //color: #ffffff !important;
}

.btn-icon-comment {
  color: rgb(95, 191, 232) !important;
  //color: #ffffff !important;
}

.btn-small-default {
  border: 1px solid #318cef !important;
  color: #318cef !important;
}

.btn-small-submit {
  border: 1px solid #318cef !important;
  color: #318cef !important;
}

.btn-small-save {
  border: 1px solid #0072bb !important;
  color: #0072bb !important;
}

.btn-small-add {
  border: 1px solid #1b6d00 !important;
  color: #1b6d00 !important;
}

.btn-small-copy {
  border: 1px solid #0067a5 !important;
  color: #0067a5 !important;
}

.btn-small-addclose {
  border: 1px solid #b48203 !important;
  color: #b48203 !important;
}

.btn-small-edit {
  border: 1px solid #0099cc !important;
  color: #0099cc !important;
}

.btn-small-update {
  border: 1px solid #0099cc !important;
  color: #0099cc !important;
}

.btn-small-delete {
  border: 1px solid #d81919 !important;
  color: #d81919 !important;
}

.btn-small-clear {
  border: 1px solid #b48203 !important;
  color: #b48203 !important;
}

.btn-small-close {
  border: 1px solid #b48203 !important;
  color: #b48203 !important;
}

.btn-small-cancel {
  border: 1px solid #b48203 !important;
  color: #b48203 !important;
}

.btn-small-link {
  border: 1px solid #aa66cd !important;
  color: #aa66cd !important;
}

.btn-small-expend {
  border: 1px solid #aa66cd !important;
  color: #aa66cd !important;
}

.btn-small-dropdown {
  border: 1px solid #363c56 !important;
  color: #363c56 !important;
}

.btn-small-arrowright {
  border: 1px solid #363c56 !important;
  color: #363c56 !important;
}

.btn-small-arrowleft {
  border: 1px solid #363c56 !important;
  color: #363c56 !important;
}

.btn-small-archive {
  border: 1px solid #1e2230 !important;
  color: #1e2230 !important;
}

.btn-small-unarchive {
  border: 1px solid #675F99 !important;
  color: #675F99 !important;
}

.btn-small-approved {
  border: 1px solid #1b6d00 !important;
  color: #1b6d00 !important;
}

.btn-small-reject {
  border: 1px solid #ff6464 !important;
  color: #ff6464 !important;
}