<ng-container *ngIf="order">
  <ng-container *ngIf="displayType == 'details'">
    <table class="ctable noborder">
      <tr>
        <td>
          <div>
            <a [routerLink]="'/orders/'+order?.id"
              target="_blank">
              {{order?.id}} &nbsp;
              <span class="font-big text-blue">{{order?.customer?.name}}</span>
            </a>

            &nbsp; &nbsp;
            <span *ngIf="order?.status">
              <span *ngIf="order?.status == 'draft'"
                class="status-chip status-chip-draft">{{order?.status}}</span>
              <span *ngIf="order?.status == 'new'"
                class="status-chip status-chip-new">Accepted</span>
              <span *ngIf="order?.status == 'approved'"
                class="status-chip status-chip-approved">{{order?.status}}</span>
              <span *ngIf="order?.status == 'shipped'"
                class="status-chip status-chip-shipped">{{order?.status}}</span>
              <span *ngIf="order?.status == 'partial_shipped'"
                class="status-chip status-chip-partial-shipped">{{order?.status}}</span>
              <span *ngIf="order?.status == 'cancel'"
                class="status-chip status-chip-cancel">Cancelled</span>
            </span>
          </div>
          <div>
            Customer PO: {{order?.poNo}}
          </div>
          <div>
            Order By: {{order?.orderBy?.name}}
          </div>
        </td>
        <td>
          <div>Order: {{order.orderDate | date: 'mediumDate'}}</div>
          <div>Comment: {{order.comment}}</div>
        </td>
        <td class="text-right">
          <div>
            Shipping: {{order?.shippingMode}}
          </div>
          <div>
            <span class="text-blue font-big">Delivery:
              {{order.shipmentDate | date: 'mediumDate'}}</span>
          </div>

        </td>
      </tr>
      <tr>
        <!-- <td></td> -->
        <td colspan="2">
          {{order?.description}}
        </td>
      </tr>
    </table>
  </ng-container>
  <ng-container *ngIf="displayType == 'short'">
    <table class="ctable noborder">
      <tr>
        <td>
          <div>
            <a [routerLink]="'/orders/'+order?.id"
              target="_blank">
              {{order?.id}} &nbsp;
              <span class="font-big text-blue">{{order?.customer?.name}}</span>
            </a>

            &nbsp; &nbsp;
            <span *ngIf="order?.status">
              <span *ngIf="order?.status == 'draft'"
                class="status-chip status-chip-draft">{{order?.status}}</span>
              <span *ngIf="order?.status == 'new'"
                class="status-chip status-chip-new">Accepted</span>
              <span *ngIf="order?.status == 'approved'"
                class="status-chip status-chip-approved">{{order?.status}}</span>
              <span *ngIf="order?.status == 'shipped'"
                class="status-chip status-chip-shipped">{{order?.status}}</span>
              <span *ngIf="order?.status == 'partial_shipped'"
                class="status-chip status-chip-partial-shipped">{{order?.status}}</span>
              <span *ngIf="order?.status == 'cancel'"
                class="status-chip status-chip-cancel">Cancelled</span>
            </span>
          </div>
          <div>
            Customer PO: {{order?.poNo}}
          </div>
        </td>
        <td class="text-right">
          <div>
            Shipping: {{order?.shippingMode}}
          </div>
          <div>
            <span class="text-blue font-big">Delivery:
              {{order.shipmentDate | date: 'mediumDate'}}</span>
          </div>

        </td>
      </tr>
      <tr>
        <!-- <td></td> -->
        <td colspan="2">
          {{order?.description}}
        </td>
      </tr>
    </table>
  </ng-container>


</ng-container>