<div fusePerfectScrollbar
  fxFlex
  class="border-right p-24 p-0">
  <span class="mat-title">Cost Type</span>
  <mat-icon (click)="costTypeCreateForm()"
    class="s-24 mb-4 cursor-pointer"
    style="float: right;"
    *ngIf="_auth.hasPermission('PERMISSION_COST_TYPE_CREATE')"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th>Label</th>
      <th>Sequence</th>
      <th>M. by Rawmanco</th>
      <th>M. By Vendor</th>
      <th>Stock Lot</th>
      <th>Consumption Required</th>
      <th>Supplier Required</th>
      <th>USD</th>
      <th>Commission</th>
      <th style="width: 70px;"></th>
    </thead>

    <tbody>
      <tr *ngFor="let costType of costType.items; let i = index">
        <td>{{ costType?.label }}</td>
        <td>{{ costType?.sequence }}</td>
        <td>{{ costType?.manufacture }}</td>
        <td>{{ costType?.fob }}</td>
        <td>{{ costType?.stockLot }}</td>
        <td>{{ costType?.consumptionRequired }}</td>
        <td>{{ costType?.supplierRequired }}</td>
        <td>{{ costType?.usdCurrency }}</td>
        <td>{{ costType?.commission }}</td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="costTypeOnDetailClick(costType.id)">
          </btn-icon>&nbsp;
          <btn-icon [text]="'delete'"
            *ngIf="_auth.hasPermission('PERMISSION_COST_TYPE_DELETE')"
            (click)="costTypeOnDeleteClick(costType.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div fusePerfectScrollbar
  fxFlex
  class="p-24 p-0">
  <ng-container [ngSwitch]="costType.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <span class="mat-title">Add a new Cost Type</span>
      <table class="ctable">
        <tr>
          <td>Label</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="costType.item.label"
                [(ngModel)]="costType.item.label"
                #label="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Sequence</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="costType.item.sequence"
                [(ngModel)]="costType.item.sequence"
                #sequence="ngModel" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Manufacture by Rawmanco</td>
          <td>
            <mat-checkbox [(ngModel)]="costType.item.manufacture">
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Manufacture by Vendor</td>
          <td>
            <mat-checkbox [(ngModel)]="costType.item.fob">
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Stock Lot</td>
          <td>
            <mat-checkbox [(ngModel)]="costType.item.stockLot">
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Consumption Required</td>
          <td>
            <mat-checkbox [(ngModel)]="costType.item.consumptionRequired">
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Supplier Required</td>
          <td>
            <mat-checkbox [(ngModel)]="costType.item.supplierRequired">
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>USD</td>
          <td>
            <mat-checkbox [(ngModel)]="costType.item.usdCurrency">
            </mat-checkbox>
          </td>
        </tr>
        <tr>
          <td>Commission</td>
          <td>
            <mat-checkbox [(ngModel)]="costType.item.commission">
            </mat-checkbox>
          </td>
        </tr>
      </table>
      <div>
        <btn [text]="'save'"
          style="float: right; margin-top: 10px;"
          (click)="costTypeOnSubmit()">
        </btn>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Basic Info
          <btn-icon [text]="'edit'"
            *ngIf="_auth.hasPermission('PERMISSION_COST_TYPE_CREATE')"
            (click)="openCostTypeEditModal(costTypeEditModal)">
          </btn-icon>
        </span>
        <table class="ctable">
          <tbody>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Label
              </td>
              <td>
                {{ costType.detail.label }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Sequence
              </td>
              <td>
                {{ costType.detail.sequence }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Manufacture by Rawmanco
              </td>
              <td>
                {{ costType.detail.manufacture }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Manufacture by Vendor
              </td>
              <td>
                {{ costType.detail.fob }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Stock Lot
              </td>
              <td>
                {{ costType.detail.stockLot }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Consumption Required
              </td>
              <td>
                {{ costType.detail.consumptionRequired }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Supplier Required
              </td>
              <td>
                {{ costType.detail.supplierRequired }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                USD
              </td>
              <td>
                {{ costType.detail.usdCurrency }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Commission
              </td>
              <td>
                {{ costType.detail.commission }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #costTypeEditModal>
  <h2 mat-dialog-title>Edit CostType</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <td>Label</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="costType.editData.label"
                  [(ngModel)]="costType.editData.label"
                  #label="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Sequence</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="costType.editData.sequence"
                  [(ngModel)]="costType.editData.sequence"
                  #sequence="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Manufacture by Rawmanco</td>
            <td>
              <mat-checkbox [(ngModel)]="costType.editData.manufacture">
              </mat-checkbox>
            </td>
          </tr>
          <tr>
            <td>Manufacture by Vendor</td>
            <td>
              <mat-checkbox [(ngModel)]="costType.editData.fob">
              </mat-checkbox>
            </td>
          </tr>
          <tr>
            <td>Stock Lot</td>
            <td>
              <mat-checkbox [(ngModel)]="costType.editData.stockLot">
              </mat-checkbox>
            </td>
          </tr>
          <tr>
            <td>Consumption Required</td>
            <td>
              <mat-checkbox [(ngModel)]="costType.editData.consumptionRequired">
              </mat-checkbox>
            </td>
          </tr>
          <tr>
            <td>Supplier Required</td>
            <td>
              <mat-checkbox [(ngModel)]="costType.editData.supplierRequired">
              </mat-checkbox>
            </td>
          </tr>
          <tr>
            <td>USD</td>
            <td>
              <mat-checkbox [(ngModel)]="costType.editData.usdCurrency">
              </mat-checkbox>
            </td>
          </tr>
          <tr>
            <td>Commission</td>
            <td>
              <mat-checkbox [(ngModel)]="costType.editData.commission">
              </mat-checkbox>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="costTypeOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>