<h2 mat-dialog-title>Investor Details</h2>
<mat-dialog-content class="scrollable"
  style="height: calc(100vh - 120px);">
  <mat-tab-group>
    <mat-tab label="Basic Info">
      <investor-basic [investorId]="investorId"></investor-basic>
    </mat-tab>
    <mat-tab label="Commission">
      <investor-commission [investorId]="investorId"></investor-commission>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
      </td>
    </tr>
  </table>
</mat-dialog-actions>