<div>
  <div class="text-right my-8">
    <btn-small [text]="'add'"
      (onclick)="addRow()"></btn-small>
  </div>
  <table class="ctable">
    <tr class="header-bg">
      <th>Label</th>
      <th>Street</th>
      <th>City</th>
      <th style="width: 120px;">Province</th>
      <th style="width: 120px;">Postal Code</th>
      <th style="width: 120px;">Po Box</th>
      <th class="fit">Default</th>
      <th class="text-center"
        style="width: 120px;">Action</th>
    </tr>
    <tr *ngFor="let address of addressList">
      <ng-container *ngIf="!address.editMode">
        <td>{{address.shortCode}}</td>
        <td>{{address.street}}</td>
        <td>{{address.city}}</td>
        <td>{{address.provinceName}}</td>
        <td>{{address.postCode}}</td>
        <td>{{address.poBoxNo}}</td>
        <td class="text-center">
          <mat-icon *ngIf="address?.default">check</mat-icon>
        </td>
        <td class="text-center">
          <btn-icon [text]="'edit'"
            (onclick)="address.editMode = true"></btn-icon>
          <btn-icon *ngIf="!address.default"
            [text]="'delete'"
            (onclick)="delete(address.id)"></btn-icon>
        </td>
      </ng-container>
      <ng-container *ngIf="address.editMode">
        <td>
          <input matInput
            type="text"
            [(ngModel)]="address.shortCode" />
        </td>
        <td>
          <input matInput
            type="text"
            [(ngModel)]="address.street" />
        </td>
        <td>
          <input matInput
            type="text"
            [(ngModel)]="address.city" />
        </td>
        <td>
          <mat-select class="mat-multiple-select"
            [(ngModel)]="address.provinceId">
            <mat-option *ngFor="let item of provinceList"
              [value]="item.id">{{item?.label}}
            </mat-option>
          </mat-select>
        </td>
        <td>
          <input matInput
            type="text"
            [(ngModel)]="address.postCode" />
        </td>
        <td>
          <input matInput
            type="text"
            [(ngModel)]="address.poBoxNo" />
        </td>
        <td class="text-center">
          <mat-checkbox [(ngModel)]="address.default">
          </mat-checkbox>
        </td>
        <td class="text-center">
          <btn-icon *ngIf="!address?.new"
            [text]="'save'"
            (onclick)="updateAddress(true, address)"></btn-icon>
          <btn-icon *ngIf="address?.new"
            [text]="'add'"
            (onclick)="updateAddress(false, address)"></btn-icon>
          <btn-icon [text]="'cancel'"
            (onclick)="getAddressList()"></btn-icon>
        </td>
      </ng-container>



    </tr>
  </table>
</div>