<div class="custom-filter-header">
  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="30px">
    <div fxFlex>
      <div class="custom-filter-row-first"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px">
        <div fxFlex
          fxLayoutAlign="space-between center">
          <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowleft'"
                  (click)="onDateNextPrivious(false)"></btn-icon>
              </div> -->
          <div fxFlex>
            <date-picker (change)="filter.fromdate = $event.dateFormatted"
              hideLabel="true"
              [labelName]="'From Date'"
              [dateValue]="filter.fromdate">
            </date-picker>
          </div>
        </div>
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex>
            <date-picker (change)="filter.todate = $event.dateFormatted"
              hideLabel="true"
              [labelName]="'To Date'"
              [dateValue]="filter.todate">
            </date-picker>
          </div>
          <!-- <div fxFlex="18px">
                <btn-icon [text]="'arrowright'"
                  (click)="onDateNextPrivious(true)"></btn-icon>
              </div> -->
        </div>

        <div fxFlex>

        </div>

        <div fxFlex>

        </div>
        <div fxFlex>

        </div>
      </div>
    </div>
    <div fxFlex.gt-md="80px"
      class="filter-options">
      <span>
        <span class="filter-btn-with-counter">
          <span *ngIf="filterCounter"
            class="filter-counter">{{
            filterCounter
            }}</span>
          <button class="filter-btn filter-submit"
            mat-icon-button
            (click)="onFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </span>

        <button class="filter-btn filter-clear"
          mat-icon-button
          (click)="onClear()">
          <mat-icon>clear_all</mat-icon>
        </button>
        <!--<button *ngIf="!filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = true;">
              <mat-icon>expand_more</mat-icon>
            </button>
             <button *ngIf="filterMore"
              class="filter-btn filter-more-less"
              mat-icon-button
              (click)="filterMore = false;">
              <mat-icon>expand_less</mat-icon>
            </button> -->
      </span>

    </div>
    <!-- <div fxFlex.gt-md="170px"
      *ngIf="_auth.hasPermission('PERMISSION_ORDER_CREATE')">
      <span>
        <btn [custom]="'CREATE TRANSER'"
          [text]="'add'"
          (onclick)="openCreateModal()"></btn>
      </span>
    </div> -->
  </div>
</div>

<!-- / HEADER -->


<div fxLayout>
  <div fxFlex>
    <div *ngIf="reportList?.length === 0"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill>
      <span class="no-messages-text hint-text">{{
        "List"
        }}</span>
    </div>
    <div class="pr-8"
      *ngIf="reportList?.length">
      <table class="ctable no-border-top no-border-left">
        <thead class="csticky">
          <th class="text-center"
            style="width: 100px;">Request Date</th>
          <th class="text-center"
            style="width: 100px;">Sender</th>
          <th class="text-center"
            style="width: 100px;">Approved Date</th>
          <th class="text-center"
            style="width: 100px;">From Location</th>
          <th class="text-center"
            style="width: 100px;">To Location</th>
          <th style="width: 100px;"
            class="text-center">Transfer Qty</th>
          <th class="text-center">Sender Note</th>

          <th class="fit text-center">Action</th>
        </thead>
        <tbody>
          <tr class="minimum-hight-list"
            *ngFor="let parent of reportList; let parentIndex = index;">
            <td class="text-center">{{parent?.date | date: 'mediumDate' }}</td>
            <td class="text-center">{{parent?.createdBy}}</td>
            <td class="text-center">{{parent?.approveDate | date:
              'mediumDate' }}</td>
            <td class="text-center">{{parent?.fromLocation }}</td>
            <td class="text-center">{{parent?.toLocation }}</td>
            <td class="text-right">{{parent?.totalQuantity }}</td>
            <td>{{parent?.comment}}</td>

            <td class="text-center">
              <div>
                <btn-small [text]="'edit'"
                  [custom]="'Receive'"
                  (onclick)="openDetailsModal(parent.id)"></btn-small>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>