<h2 mat-dialog-title>Add Style</h2>
<mat-dialog-content style="max-height: 75vh;min-height: 45vh;">
  <span class="mat-title text-green">Total Quantity : <b
      class="text-blue">{{boxData.box.quantity}} </b>
  </span>
  <span>
    <btn-small [text]="'history'"
      [custom]="'History'"
      class="btn-small-history text-blue"
      (click)="openHistoryModal(boxData.box)">
    </btn-small>
  </span>
  <span>
    <btn-icon [text]="'comment'"
      class="btn-small-comment"
      (click)="displayCommentForm=true">
    </btn-icon>
  </span>
  &nbsp;
  <span>
    Location: &nbsp; {{boxData.box.locationName}}
  </span>
  <span class="box-number-tag">
    # {{boxData.box.boxNumber}}
  </span>
  <div style="border: 1px solid #ddd;">
    <table class="ctable noborder">
      <tr>
        <th>Style</th>
        <th>:</th>
        <th style="text-align: left;">{{boxData.box.styleName}}</th>

        <th>Shipment</th>
        <th>:</th>
        <th style="text-align: left;">{{boxData.box.shipmentName}}
        </th>

        <th>PO</th>
        <th>:</th>
        <th style="text-align: left;">{{boxData.box.poNo}}</th>
      </tr>
      <tr>
        <th>Box Number</th>
        <th>:</th>
        <th style="text-align: left;">{{boxData.box.boxNumber}}</th>

        <th>Color Name</th>
        <th>:</th>
        <th style="text-align: left;">{{boxData.box.styleColorName}}
        </th>

        <th>Quantity</th>
        <th>:</th>
        <th style="text-align: left;">{{boxData.box.qty}} <span
            *ngIf="boxData.shipProcessingQty"
            class="text-red">+ {{boxData.shipProcessingQty}} </span> </th>
      </tr>
    </table>
  </div>
  <br>
  <table class="ctable ">
    <tr class="header-bg csticky">
      <!-- <th style="width: 150px;">PO</th>
      <th style="width: 150px;">Shipment</th> -->
      <!--  <th style="width: 150px;">Season</th> -->
      <th style="width: 150px;">Style</th>
      <th style="width: 120px;">Color</th>
      <th style="width: 100px;">Size</th>
      <th style="width: 100px;">Quantity</th>
      <th></th>
    </tr>
    <ng-container>
      <tr *ngFor="let boxItem of addItemList; let index = index">
        <!-- <td>
          <input type="text"
            [(ngModel)]="boxItem.po"
            style="border:1px solid #ddd; background-color: #fff;height: 35px !important;"
            placeholder="PO">
        </td>
        <td>
          <input type="text"
            [(ngModel)]="boxItem.shipment"
            style="border:1px solid #ddd; background-color: #fff;height: 35px !important;"
            placeholder="Shipment">
        </td> -->
        <td>
          <ng-select [items]="allStyleList"
            style="max-width:100%;"
            bindLabel="name"
            [clearable]="false"
            placeholder="Style"
            appendTo="body"
            bindValue="id"
            [(ngModel)]="boxItem.styleId"
            (change)="onChangeStyle($event,boxItem);">
          </ng-select>
        </td>
        <td>
          <ng-select [items]="boxItem.colorList"
            style="max-width:100%;"
            bindLabel="name"
            [clearable]="false"
            placeholder="Color"
            appendTo="body"
            bindValue="id"
            [(ngModel)]="boxItem.styleComboId">
          </ng-select>
        </td>
        <td>
          <ng-select [items]="sizeList"
            style="max-width:100%;"
            bindLabel="name"
            [clearable]="false"
            placeholder="Size"
            appendTo="body"
            bindValue="id"
            [(ngModel)]="boxItem.sizeId">
          </ng-select>
        </td>

        <td>
          <input type="number"
            [(ngModel)]="boxItem.quantity"
            style="border:1px solid #ddd; background-color: #fff;height: 35px !important;"
            placeholder="Quantity">
        </td>
        <td class="fit">
          <btn-icon [text]="'delete'"
            (click)="rowRemove(index)">
          </btn-icon>
        </td>
      </tr>

    </ng-container>
    <tr>
      <!-- <td colspan="3">
        <ng-select [items]="customerList"
          style="width: 150px;"
          bindLabel="name"
          [clearable]="true"
          placeholder="Select Customer"
          appendTo="body"
          bindValue="id"
          [(ngModel)]="customerId">
        </ng-select>
      </td> -->
      <!-- <td></td>
      <td></td> -->
      <th colspan="6"
        style="text-align: right;">
        <button class="filter-btn"
          matTooltip="Add a new style"
          style="border: 2px solid green;background-color: green;color: #fff;font-weight: 500;cursor:pointer;border-radius: 10px;padding: 0px !important;"
          (click)="onAddRow()">
          <mat-icon style="line-height: 26px;font-size: 18px; float: right;">
            add</mat-icon>
        </button>
      </th>
    </tr>

  </table>
  <div fxLayout
    *ngIf="displayCommentForm">
    <div fxFlex>
      <span style="margin: 10px;">
        <btn-icon [text]="'cancel'"
          (click)="displayCommentForm=false">

        </btn-icon>
      </span>
      <table class="ctable noborder">
        <tr>
          <td>
            <div class="email-summarnote"
              [ngxSummernote]="config"
              [(ngModel)]="addComment">
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn [text]="'add'"
          (onclick)="addStyleToInventory()"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>