<h2 mat-dialog-title>Edit Box</h2>
<mat-dialog-content style="min-height: 45vh;max-height: 75vh;">
  <!-- <div>
  <table class="ctable noborder">
    <tr>
      <td styleObject="width: 300px;">
        <mat-select placeholder="Inventory Location"
          class="mat-multiple-select"
          [(ngModel)]="inventoryLocationId"
          (selectionChange)="onLocationChange($event)">
          <mat-option *ngFor="let item of inventoryLocationList"
            [value]="item.id">{{ item.name }}</mat-option>
        </mat-select>
      </td>
      <td></td>

    </tr>
  </table>
  <table class="ctable"
    *ngIf="inventoryLocationId">
    <tr class="header-bg">
      <th styleObject="max-width: 100px; min-width: 70px;"
        class="fit"></th>
      <th styleObject="max-width: 100px; min-width: 70px;"
        *ngFor="let size of sizes"
        class="text-center">{{ size?.name }}</th>
    </tr>

    <tbody>
      <tr *ngFor="let color of colors">
        <td class="fit">{{ color.name }}</td>
        <td styleObject="max-width: 100px;"
          *ngFor="let size of color.sizes"
          class="text-center">
          <input type="text"
            numberonly
            decimals="0"
            class="text-center"
            matInput
            [(ngModel)]="size.quantityObject.quantity"
            autocomplete="off"
            #quantity="ngModel" />
        </td>
      </tr>
    </tbody>
  </table>
  <table class="ctable noborder"
    *ngIf="!inventoryLocationId">
    <tr>
      <td class="text-center">Please select inventory location!</td>
    </tr>
  </table>
</div> -->
  <!-- //========================================================== -->

  <span class="mat-title text-green">Total Quantity : <b
      class="text-blue">{{styleListForEdit[0].quantity}}
      <span class="text-red"
        *ngIf="styleListForEdit[0].shipProcessingQty"> +
        {{styleListForEdit[0].shipProcessingQty}}</span></b>
  </span>
  <span>
    <btn-small [text]="'history'"
      [custom]="'History'"
      class="btn-small-history text-blue"
      (click)="openHistoryModal(styleListForEdit[0])">
    </btn-small>
  </span>
  <span>
    <btn-icon [text]="'comment'"
      class="btn-small-comment"
      (click)="displayCommentForm=true">
    </btn-icon>
  </span>
  &nbsp;
  <span>
    Location: &nbsp; {{styleListForEdit[0].locationName}}
  </span>
  <span class="box-number-tag"
    style="padding: 5px 2px;">
    # {{styleListForEdit[0].boxNumber}}
  </span>
  <span style="float: right;">
    <table class="ctable noborder">
      <tr>
        <td style="padding: 0px 10px;">
          <ng-select [items]="inventoryLocationList"
            style="max-width: 250px;"
            bindLabel="name"
            [clearable]="true"
            placeholder=" Location"
            appendTo="body"
            bindValue="id"
            (change)="onLocationChange(true)"
            [(ngModel)]="locaionId">
          </ng-select>
        </td>
      </tr>
    </table>
  </span>
  <table class="ctable mt-8  p-12">
    <tr class="header-bg csticky">
      <th class="text-center fit">PO</th>
      <th class="text-center fit">Shipment</th>
      <!-- <th styleObject="width: 150px;">Season</th> -->
      <th class="text-center fit">Style</th>
      <th class="text-center fit">Color</th>
      <th *ngFor="let size of uniqSizeList"
        class="text-center">
        {{ size.sizeName }}
      </th>
      <th></th>
    </tr>
    <ng-container
      *ngFor="let styleObject of styleListForEdit; let styleIndex = index">
      <tr *ngFor="let color of styleObject?.colorList; let colorIndex = index">
        <td [hidden]="colorIndex > 0"
          [attr.rowspan]="styleObject?.colorList?.length">
          {{styleObject.po}}
        </td>
        <td [hidden]="colorIndex > 0"
          [attr.rowspan]="styleObject?.colorList?.length">
          {{styleObject.shipment}}
        </td>
        <!-- <td [hidden]="colorIndex > 0"
                      [attr.rowspan]="styleObject?.colorList?.length">
                      {{styleObject.season}}
                    </td> -->
        <td [hidden]="colorIndex > 0"
          [attr.rowspan]="styleObject?.colorList?.length">
          {{styleObject.styleName}}
        </td>
        <td>
          {{color.styleComboName}}
        </td>
        <td *ngFor="let size of color?.sizeList; let sizeIndex = index"
          style="text-align: center !important;">
          <!-- <pre>{{"_" + color?.styleComboId + "_" +
                    size.sizeId}}</pre> -->
          <!-- {{size.quantity}} -->
          <span><input type="number"
              style="width: 50px;"
              [(ngModel)]="size.quantity"> &nbsp; <span
              *ngIf="size.shipProcessingQty"
              class="text-red">+
              {{size.shipProcessingQty}}</span>
          </span>
        </td>
        <td>
          <!-- <btn-icon [text]="'delete'"
            (click)="deleteItem(styleObject)">
          </btn-icon> -->
        </td>
      </tr>
    </ng-container>
  </table>
  <div fxLayout
    *ngIf="displayCommentForm">
    <div fxFlex>
      <span style="margin: 10px;">
        <btn-icon [text]="'cancel'"
          (click)="displayCommentForm=false">

        </btn-icon>
      </span>
      <table class="ctable noborder">
        <tr>
          <td>
            <div class="email-summarnote"
              [ngxSummernote]="config"
              [(ngModel)]="editComment">
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- <table class="ctable noborder">
    <tr>
      <th class="fit">Customet</th>
      <th class="fit">:</th>
      <td>
        <ng-select [items]="customerList"
          styleObject="width: 150px;"
          bindLabel="name"
          [clearable]="true"
          placeholder="Select Customer"
          appendTo="body"
          bindValue="id"
          [(ngModel)]="customerId">
        </ng-select>
      </td>

    </tr>
  </table> -->

</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn [text]="'update'"
          (onclick)="updateInventory()"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>