<div *ngIf="!style" fxLayout="column" fxLayoutAlign="center center" fxFlex>
  <mat-icon
    class="s-128 mb-16 select-message-icon hint-text"
    [@animate]="{ value: '*', params: { delay: '300ms', scale: '0.2' } }"
  >
    compare
  </mat-icon>
  <span
    class="select-message-text hint-text"
    [@animate]="{ value: '*', params: { delay: '400ms' } }"
  >
    <span>{{ "STYLE INFO" | translate }}</span>
  </span>
</div>

<div *ngIf="style" class="list-side-panel">
  <div class="header">
    <div fxLayout="row">
      <div fxFlex>
        <style-basic [style]="style" [displayType]="'short'"></style-basic>
      </div>
      <div fxFlex="70px">
        <btn-small
          [text]="'link'"
          [custom]="'Details'"
          (onclick)="goLink(styleId)"
        ></btn-small>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div>
      <photo-gallery
        [entityId]="styleId"
        [enableEdit]="false"
        [entityType]="'style_image'"
      ></photo-gallery>
    </div>
    <br />
    <div>
      <span class="mat-title">Colors</span>
      <div class="ccard-panel">
        <div class="ccard-item" matRipple *ngFor="let item of styleColorList">
          <div fxFlex>
            <p>
              <!-- <span class="colorbox"
                [style.background-color]="green"></span> -->
              <span class="font-medium bold">
                {{ item?.name }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
