<h2 mat-dialog-title>{{name}} <span *ngIf="subtitle"
    class="subtitle">({{subtitle}})</span></h2>

<mat-dialog-content>

  <div class="dropzone dropzone-container"
    [dropzone]="config"
    (error)="onError($event)"
    (success)="onSuccess($event)"></div>
</mat-dialog-content>
<mat-dialog-actions>
  <btn [text]="'close'"
    [modalClose]="true"></btn>
</mat-dialog-actions>