<div class="custom-filter-header">
  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="30px">
    <div fxFlex>
      <div class="custom-filter-row-first"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px">
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex="18px">
            <btn-icon [text]="'arrowleft'"
              (click)="onDateNextPrivious(false)"></btn-icon>
          </div>
          <div fxFlex>
            <date-picker (change)="filter.fromdate = $event.dateFormatted"
              hideLabel="true"
              [dateValue]="filter.fromdate">
            </date-picker>
          </div>
        </div>
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex>
            <date-picker (change)="filter.todate = $event.dateFormatted"
              hideLabel="true"
              [dateValue]="filter.todate">
            </date-picker>
          </div>
          <div fxFlex="18px">
            <btn-icon [text]="'arrowright'"
              (click)="onDateNextPrivious(true)"></btn-icon>
          </div>
        </div>
        <div fxFlex>
          <mat-select multiple
            *ngIf="userRole != 'ROLE_CUSTOMER'"
            placeholder="Customers"
            class="mat-multiple-select"
            [(ngModel)]="filter.customerid">
            <mat-option *ngFor="let item of customerList"
              [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </div>
        <div fxFlex>
          <!-- <input matInput
            placeholder="Order ID"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.orderid" /> -->
        </div>
        <div fxFlex>
          <!-- <input matInput
            placeholder="Shipment Id"
            class="filter-input-field"
            (keydown.enter)="onFilter()"
            type="text"
            [(ngModel)]="filter.shipmentid" /> -->
        </div>
      </div>
    </div>
    <div fxFlex.gt-md="80px"
      class="filter-options">
      <span>
        <span class="filter-btn-with-counter">
          <span *ngIf="filterCounter"
            class="filter-counter">{{
            filterCounter
            }}</span>
          <button class="filter-btn filter-submit"
            mat-icon-button
            (click)="onFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </span>

        <button class="filter-btn filter-clear"
          mat-icon-button
          (click)="onClear()">
          <mat-icon>clear_all</mat-icon>
        </button>
      </span>
    </div>
  </div>
</div>

<!-- / HEADER -->


<div fxLayout>
  <div fxFlex>
    <div *ngIf="shipments?.length === 0"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill>
      <span class="no-messages-text hint-text">{{
        "Payments"
        }}</span>
    </div>
    <div class="pr-8"
      *ngIf="shipments?.length">
      <table class="ctable no-border-top no-border-left "
        style="width: 100% !important;">
        <thead class="csticky">
          <th class="text-center">Paid On</th>
          <th class="text-center">Invoice #</th>
          <th class="text-center">Invoiced On</th>
          <th class="text-center">PO #</th>
          <th class="text-center">Shipped On</th>
          <th class="text-center">Customer</th>
          <th class="text-center">Qty
            <span style="color: blue"
              *ngIf="total?.totalQuantity"><br>
              {{total?.totalQuantity}}
            </span>
          </th>
          <!-- <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Subtotal
            <span style="color: blue"
              *ngIf="total?.totalValue"><br>
              {{total?.totalValue | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Tax
            <span style="color: blue"
              *ngIf="total?.tax"><br>
              {{total?.tax | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Shipping $
            <span style="color: blue"
              *ngIf="total?.freightCharge"><br>
              {{total?.freightCharge | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Handling $
            <span style="color: blue"
              *ngIf="total?.handlingCharge"><br>
              {{total?.handlingCharge | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Shipping $
            <span style="color: blue"
              *ngIf="total?.otherCharge"><br>
              {{total?.otherCharge | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Discounts
            <span style="color: blue"
              *ngIf="total?.discount"><br>
              {{total?.discount | currency}}
            </span>
          </th> -->
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Total
            <span style="color: blue"
              *ngIf="total?.netTotal"><br>
              {{total?.netTotal | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Paid $
            <span style="color: green"
              *ngIf="total?.totalPayment"><br>
              {{total?.totalPayment | currency}}
            </span>
          </th>
          <th *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
            class="text-right">
            Bad Debt
            <span style="color: green"
              *ngIf="total?.totalPayment"><br>
              {{total?.totalBadDebt | currency}}
            </span>
          </th>
          <th class="fit">Action</th>
        </thead>
        <tbody>
          <tr class="minimum-hight-list"
            *ngFor="let shipment of shipments">

            <td class="text-center">
              <div class="text-center"
                *ngFor="let item of shipment?.paymentDates">
                {{ item | date: 'mediumDate' }}
              </div>

            </td>
            <td class="text-center">
              {{
              shipment?.rimsPoNo }}-{{ shipment?.invoiceId }}
            </td>
            <td class="text-center">
              {{ shipment?.invoiceDate | date: 'mediumDate' }}
            </td>
            <td class="text-center">
              <span class="text-blue">
                <a [routerLink]="'/orders/' + shipment?.order?.id "
                  target="_blank">
                  {{ shipment?.rimsPoNo }}
                </a>
              </span>
            </td>
            <td class="text-center">
              {{ shipment?.shipmentDate | date: "mediumDate" }}
            </td>
            <td class="text-center">
              {{shipment?.customerName}}
            </td>
            <th class="text-center">
              {{ shipment?.totalQuantity }}
            </th>
            <!-- <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right">
              <span>
                {{ shipment?.totalValue | currency}}
              </span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right">
              <span>{{
                shipment?.tax | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right">
              <span>{{
                shipment?.freightCharge | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right">
              <span>{{
                shipment?.handlingCharge | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right">
              <span>{{
                shipment?.otherCharge | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right">
              <span>{{
                shipment?.discount | currency
                }}</span>
            </td> -->
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right">
              <span>{{
                shipment?.netTotal | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right">
              <span>{{
                shipment?.totalPayment | currency
                }}</span>
            </td>
            <td *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
              class="text-right">
              <span>{{
                shipment?.badDebt | currency
                }}</span>
            </td>
            <td class="text-center">
              <div class="mt-8"
                *ngIf="_auth.hasPermission('PERMISSION_ORDER_INVOICE_VIEW')">
                <btn-small [text]="'expend'"
                  [custom]="'Invoice'"
                  (onclick)="openInvoicePDFModal(shipment.id)"></btn-small>
              </div>
              <div class="mt-8"
                *ngIf="_auth.hasPermission('PERMISSION_ORDER_INVOICE_VIEW')">
                <btn-small [text]="'edit'"
                  [custom]="'Payment'"
                  (onclick)="openPaymentModal(shipment.id, invoicePaymentModal)">
                </btn-small>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<ng-template #invoicePaymentModal>
  <h2 mat-dialog-title>Payments History</h2>
  <mat-dialog-content style="min-height: 100px;">
    <table class="ctable">
      <tr class="header-bg">
        <th class="text-center"
          style="width: 110px;">Payment Date</th>
        <th>Payment Comment</th>
        <th class="text-right"
          style="width: 120px;">Payment Amount</th>
      </tr>
      <tbody>
        <tr *ngFor="let parent of paymentList;let parentIndex = index">
          <td class="text-center">{{parent?.paymentDate | date: 'mediumDate'}}
          </td>
          <td>{{parent?.comment}}</td>
          <td class="text-right">{{parent?.paymentValue | currency}}</td>
        </tr>
      </tbody>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'edit'"
            [iconHide]="true"
            [modalClose]="true"
            [custom]="'Send To Unpaid'"
            (onclick)="sendToUnPaid()"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>