<div class="custom-filter-header">
  <div fxLayout="column"
    fxLayout.gt-md="row"
    fxLayoutGap="30px">
    <div fxFlex>
      <div class="custom-filter-row-first"
        fxLayout="column"
        fxLayout.gt-md="row"
        fxLayoutGap="20px">
        <div fxFlex
          fxLayoutAlign="space-between center">
          <!-- <div fxFlex="18px">
                    <btn-icon [text]="'arrowleft'"
                      (click)="onDateNextPrivious(false)"></btn-icon>
                  </div> -->
          <div fxFlex>
            <date-picker (change)="filter.fromdate = $event.dateFormatted"
              hideLabel="true"
              [labelName]="'From Date'"
              [dateValue]="filter.fromdate">
            </date-picker>
          </div>
        </div>
        <div fxFlex
          fxLayoutAlign="space-between center">
          <div fxFlex>
            <date-picker (change)="filter.todate = $event.dateFormatted"
              hideLabel="true"
              [labelName]="'To Date'"
              [dateValue]="filter.todate">
            </date-picker>
          </div>
          <!-- <div fxFlex="18px">
                    <btn-icon [text]="'arrowright'"
                      (click)="onDateNextPrivious(true)"></btn-icon>
                  </div> -->
        </div>

        <div fxFlex>
        </div>
        <div fxFlex>
        </div>
        <div fxFlex>
        </div>
      </div>
    </div>
    <div fxFlex.gt-md="80px"
      class="filter-options">
      <span>
        <span class="filter-btn-with-counter">
          <span *ngIf="filterCounter"
            class="filter-counter">{{
            filterCounter
            }}</span>
          <button class="filter-btn filter-submit"
            mat-icon-button
            (click)="onFilter()">
            <mat-icon>search</mat-icon>
          </button>
        </span>

        <button class="filter-btn filter-clear"
          mat-icon-button
          (click)="onClear()">
          <mat-icon>clear_all</mat-icon>
        </button>

      </span>

    </div>
  </div>
</div>

<!-- / HEADER -->

<div fxLayout>
  <div fxFlex>
    <div *ngIf="list?.length === 0"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxFlexFill>
      <span class="no-messages-text hint-text">{{
        "Pending Empty"
        }}</span>
    </div>
    <div *ngIf="list?.length">
      <table class="ctable no-border-top no-border-left"
        style="width: auto !important;">
        <thead class="csticky">
          <th class="text-center cursor-pointer width-100"
            (click)="onSort('id', 'number')">
            PO#
            <sorter-icon class="sorter-icon"
              [flag]="sorter.field == 'id'"
              [sortType]="sorter.sortType">
            </sorter-icon>
          </th>
          <th class="text-center cursor-pointer width-100"
            (click)="onSort('orderDate', 'date')">
            Order Date
            <sorter-icon class="sorter-icon"
              [flag]="sorter.field == 'orderDate'"
              [sortType]="sorter.sortType">
            </sorter-icon>
          </th>
          <th class="fit text-center width-100">Status</th>
          <th class="text-center width-100">Customer</th>

          <th class="text-right width-100">Order Qty
            <span style="color: blue"
              *ngIf="total?.order"><br>
              {{total?.order}}
            </span>
          </th>
          <th class="text-center cursor-pointer width-100"
            (click)="onSort('shipmentDate', 'date')">
            Requested<br />Ship Date
            <sorter-icon class="sorter-icon"
              [flag]="sorter.field == 'shipmentDate'"
              [sortType]="sorter.sortType">
            </sorter-icon>
          </th>
          <th class="text-right width-100">Shipped Qty
            <span style="color: green"
              *ngIf="total?.order"><br>
              {{total?.shipped}}
            </span>
          </th>
          <th class="text-center width-100">Shipping Mode</th>
          <th class="text-center width-100">Courier Company</th>
          <th class="text-center width-100">Courier Acc.</th>
          <th class="text-center width-100">Aditional Ins.</th>
          <th class="text-center">Shipping Details</th>
          <th class="fit text-center">Action</th>
        </thead>
        <tbody>
          <tr class="minimum-hight-list"
            *ngFor="let order of list"
            [ngClass]="{ 'current-item': order?.id == orderId }">
            <td class="text-center width-100">
              <span class="text-blue">
                <a [routerLink]="'/orders/' + order?.id "
                  target="_blank">
                  {{order.rimsPoNo }}
                </a>
              </span>
            </td>
            <td class="text-center width-100">
              {{ order?.orderDate | date: "mediumDate" }}
            </td>
            <td class="text-center">
              <span *ngIf="order?.status == 'draft'"
                class="status-chip status-chip-draft">{{order?.status}}</span>
              <span *ngIf="order?.status == 'new' && !order?.approved"
                class="status-chip status-chip-approved">
                Pending
                Approval
              </span>
              <span *ngIf="order?.status == 'new' && order?.approved"
                class="status-chip status-chip-new">Accepted</span>
              <span *ngIf="order?.status == 'shipped'"
                class="status-chip status-chip-shipped">{{order?.status}}</span>
              <span *ngIf="order?.status == 'partial_shipped'"
                class="status-chip status-chip-partial-shipped">Partial<br />Shipped</span>
              <span *ngIf="order?.status == 'cancel'"
                class="status-chip status-chip-cancel">Cancelled</span>
              <span *ngIf="!order?.status"
                class="status-chip status-chip-gray">Empty</span>
              <span *ngIf="order?.packing"
                class="status-chip status-chip-packing"><br />(Packing)</span>
            </td>
            <td class="text-center">
              {{ order?.customer?.name }}
            </td>

            <td class="text-right width-100">
              <span class="font-medium">
                {{ order?.orderQty }}
              </span>
            </td>
            <td class="text-center width-100">
              <span>{{
                order?.shipmentDate | date: "mediumDate"
                }}</span>
            </td>
            <td class="text-right width-100">
              <span *ngIf="order?.shipQty"
                class="font-medium text-green">
                {{ order?.shipQty }}
              </span>
            </td>
            <td class="text-center">
              <span *ngIf="order?.shippingMode == 'CUSTOMER'">Customer
                Shipping</span>
              <span *ngIf="order?.shippingMode == 'RAWMANCO'">Rawman
                &
                Co.
                Shipping</span>
              <span *ngIf="order?.shippingMode == 'OTHER'">Other(No
                Canada Post)</span>
            </td>
            <td class="text-center">
              {{order?.courierCompany}}
            </td>
            <td class="text-center width-100">
              {{order?.courierAccountNo}}
            </td>
            <td>
              {{order?.comment}}
            </td>
            <td
              style="padding: 0 !important; vertical-align: text-top !important;">
              <table class="ctable border"
                *ngIf="order?.shipmentDateList?.length">
                <tr>
                  <th style="width: 80px;"
                    class="text-center">Date</th>
                  <th style="width: 150px;"
                    class="text-center">Location</th>
                  <th style="width: 100px;"
                    class="text-center">Processed By</th>
                  <th class="text-center">Warehouse Notes</th>
                </tr>
                <tr *ngFor="let shipDate of order?.shipmentDateList">
                  <td class="text-center">
                    <a *ngIf="shipDate?.shipmentDate"
                      class="cursor-pointer"
                      (click)="openPackingPDFModal(shipDate.id)">
                      {{shipDate?.shipmentDate
                      | date: 'mediumDate'}}</a>
                    <span *ngIf="!shipDate?.shipmentDate"
                      class="text-red">Processing</span>
                  </td>
                  <td class="text-center">
                    {{shipDate?.location}}
                  </td>
                  <td class="text-center">
                    {{shipDate?.createdBy}}
                  </td>
                  <td class="text-center">
                    {{shipDate?.comment}}
                  </td>
                </tr>
              </table>
            </td>
            <td class="text-center">
              <btn-small *ngIf="!order?.unfinishedShipment?.id"
                [text]="'add'"
                [custom]="'Start Packing'"
                (onclick)="openShipmentCreateModal(order.id)">
              </btn-small>
              <ng-container *ngIf="order?.unfinishedShipment?.id">
                <btn-small
                  *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER') || (order?.unfinishedShipment?.createdById == user?.id)"
                  [text]="'edit'"
                  [custom]="'Continue'"
                  (onclick)="openShipmentEditModal(order.id, order?.unfinishedShipment?.id, order?.unfinishedShipment?.comment)">
                </btn-small>
              </ng-container>


            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>