<div id="products"
  class="page-layout carded fullwidth inner-scroll">
  <div class="center">
    <div class="content-card mat-white-bg">
      <div class="content"
        fxLayout="row">
        <div fusePerfectScrollbar
          fxFlex
          class="p-20">
          <!--Page Container -->
          <div fxLayout="row"
            fxLayoutGap="20px">
            <div fxFlex="300px">
              <div class="p-12">
                <p *ngIf="shipment?.shipmentDate"><span
                    class="font-big text-blue">Shipped:
                    {{shipment?.shipmentDate | date: 'mediumDate'}}</span>
                </p>
                <p *ngIf="shipment?.commernt">{{shipment?.comment}}</p>
              </div>

            </div>
            <div fxFlex>
              <order-basic *ngIf="shipment?.order?.id"
                [api]="true"
                [orderId]="shipment?.order?.id"></order-basic>
            </div>
          </div>
          <div fxLayout
            fxLayoutGap="20px">
            <div fxFlex>
              <div>

                <table class="ctable noborder">
                  <tr>
                    <td>
                      <span class="mat-title">Shipment Details</span>
                    </td>
                    <td>
                    </td>
                    <td class="text-right">

                    </td>
                  </tr>
                </table>
                <div>
                  <table class="ctable">
                    <tr class="header-bg">
                      <th class="fit">Thumb.</th>
                      <th>Style</th>
                      <th class="fit">Color\Size</th>
                      <th *ngFor="let size of sizes"
                        class="text-center">{{size.name}}</th>
                      <th class="text-center">Total Qty</th>
                      <th
                        *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                        class="text-center">Total Price</th>
                    </tr>
                    <tbody
                      *ngFor="let style of styleBreakdown; let styleIndex = index">
                      <tr
                        *ngFor="let combo of style?.combos; let comboIndex = index">
                        <th [hidden]="comboIndex>0"
                          [attr.rowspan]="style?.combos?.length">
                          <a [routerLink]="'/styles/'+style?.id"
                            target="_blank">
                            <img class="thumb-image"
                              *ngIf="style?.styleImage?.length"
                              [src]="style?.styleImage[0]?.thumnailFileUrl" />
                            <img class="thumb-image"
                              *ngIf="!style?.styleImage?.length"
                              src="assets/images/theme/incomming-product-image.png" />
                          </a>

                        </th>
                        <th [hidden]="comboIndex>0"
                          [attr.rowspan]="style?.combos?.length">
                          <a [routerLink]="'/styles/'+style?.id"
                            target="_blank">
                            {{style?.name}}
                          </a>
                        </th>
                        <th>{{combo?.comboName}}</th>
                        <td *ngFor="let size of sizes"
                          class="text-center">
                          <div>
                            {{style?.breakdown['_'+combo?.comboId+'_'+size.id]?.quatity}}
                          </div>

                        </td>
                        <th [hidden]="comboIndex>0"
                          [attr.rowspan]="style?.combos?.length"
                          class="text-center">
                          <div>
                            {{style?.totalQty}}
                          </div>
                        </th>
                        <th
                          *ngIf="_auth.hasPermission('PERMISSION_ORDER_PRICE_VIEW')"
                          [hidden]="comboIndex>0"
                          [attr.rowspan]="style?.combos?.length"
                          class="text-center">
                          <div>
                            {{style?.totalPrice | currency}}
                          </div>
                        </th>
                      </tr>
                    </tbody>

                  </table>
                </div>
              </div>

            </div>
          </div>
          <!--Page Container -->
        </div>
      </div>
    </div>
  </div>
</div>