<div mat-dialog-title>
  <div fxLayout="row"
    fxLayoutGap="20px"
    fxLayoutAlign="center center">
    <div fxFlex>
      <span>Commission Details</span>
    </div>
  </div>
</div>

<mat-dialog-content style="min-height: 35vh;">
  <table class="ctable noborder">
    <tr>
      <th style="width: 140px;"
        class="text-left">Date</th>
      <th class="fit">:</th>
      <td>
        {{commission?.date | date: 'mediumDate'}}
      </td>
    </tr>
    <tr>
      <th>Commission User</th>
      <th class="fit">:</th>
      <td>
        {{commission?.commissionUser}}
      </td>
    </tr>
    <tr>
      <th>Commission User</th>
      <th class="fit">:</th>
      <td>
        {{commission?.commissionUser}}
      </td>
    </tr>
    <tr>
      <th>Role</th>
      <th class="fit">:</th>
      <td>
        {{commission?.commissionUserRole}}
      </td>
    </tr>
    <tr>
      <th>Commission Type</th>
      <th class="fit">:</th>
      <td>
        {{commission?.commissionType}}
      </td>
    </tr>
    <tr>
      <th>Invoice#</th>
      <th class="fit">:</th>
      <td>
        {{commission?.invoiceNo}}
      </td>
    </tr>
    <tr>
      <th>Style</th>
      <th class="fit">:</th>
      <td>
        {{commission?.styleName}}
      </td>
    </tr>
    <tr>
      <th>Color</th>
      <th class="fit">:</th>
      <td>
        {{commission?.comboName}}
      </td>
    </tr>
    <tr>
      <th>Customer</th>
      <th class="fit">:</th>
      <td>
        {{commission?.customerName}}
      </td>
    </tr>
    <tr>
      <th>Customer Sales Rep.</th>
      <th class="fit">:</th>
      <td>
        {{commission?.saleRep}}
      </td>
    </tr>
    <tr>
      <th>Customer Sales Rep.</th>
      <th class="fit">:</th>
      <td>
        {{commission?.saleRep}}
      </td>
    </tr>
    <tr>
      <th>Quantity</th>
      <th class="fit">:</th>
      <td>
        {{commission?.shipQty}}
      </td>
    </tr>
    <tr>
      <th>Shipped Value</th>
      <th class="fit">:</th>
      <td>
        {{commission?.shipValue}}
      </td>
    </tr>
    <tr>
      <th>Commission Amount</th>
      <th class="fit">:</th>
      <td>
        {{commission?.amount | currency}}
      </td>
    </tr>

  </table>

</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>