<div fxLayout
  fxLayoutGap="20px">
  <div fxFlex>
    <div>
      <div fxLayout="row">
        <div fxFlex>
          <style-basic [style]="style"
            (onEditClick)="openEditModal()">
          </style-basic>
        </div>
        <div fxFlex="90px"
          class="text-center"
          *ngIf="_auth.hasPermission('PERMISSION_STYLE_EDIT')">
          <btn-small [text]="'edit'"
            (onclick)="openEditModal()"></btn-small>
          <btn-small *ngIf="_auth.hasPermission('PERMISSION_STYLE_DELETE')"
            [text]="'delete'"
            (onclick)="styleDelete()"></btn-small>
          <btn-small *ngIf="style?.archive=='false'"
            [text]="'archive'"
            (onclick)="styleArchive(true)"></btn-small>
          <btn-small *ngIf="style?.archive == 'true'"
            [text]="'unarchive'"
            (onclick)="styleArchive(false)"></btn-small>
        </div>
      </div>
    </div>

    <span class="mat-title">Colors
      <btn-icon *ngIf="_auth.hasPermission('PERMISSION_STYLE_EDIT')"
        [text]="'expend'"
        (onclick)="openColorModal(styleColorModal)"></btn-icon>
    </span>
    <div class="ccard-panel">
      <div class="ccard-item"
        matRipple
        *ngFor="let item of styleColorList"
        (click)="loadColorPhotos(item.id)"
        [ngClass]="{'current-item':item?.id == colorId}">
        <div fxFlex>
          <p>
            <span class="font-medium bold">
              <span class="colorbox"
                [style.background-color]="item?.colorCode"></span>
              {{ item?.name }} <mat-icon *ngIf="item?.primary">check</mat-icon>
            </span>
          </p>
        </div>
      </div>
    </div>

    <br />
    <span class="mat-title">Pricing</span>
    <div class="ccard-panel">
      <div class="ccard-item"
        *ngIf="_auth.hasPermission('PERMISSION_STYLE_COST_VIEW')">
        <div fxFlex>
          <span class="font-medium bold">
            Original Cost
          </span>
          <span style="float: right;"
            class="font-medium bold">
            {{ style?.costingPrice | currency }}
          </span>
        </div>
      </div>
      <!-- <div class="ccard-item">
        <div fxFlex>
          <span class="font-medium bold">
            FOB
          </span>
          <span style="float: right;"
            class="font-medium bold">
            {{ style?.fobPrice | currency }}
          </span>
        </div>
      </div> -->
      <div class="ccard-item">
        <div fxFlex>
          <span class="font-medium bold">
            Minimum Price
          </span>
          <span style="float: right;"
            class="font-medium bold">
            {{ style?.price | currency }}
          </span>
        </div>
      </div>
    </div>
    <br />
    <span class="mat-title">Tier Price
      <btn-icon *ngIf="_auth.hasPermission('PERMISSION_STYLE_EDIT')"
        [text]="'expend'"
        (onclick)="openPriceModal(stylePriceModal)"></btn-icon>
    </span>
    <div class="ccard-panel">

      <div class="ccard-item"
        *ngFor="let item of style?.stylePriceList">
        <div fxFlex>
          <span class="font-medium bold">
            {{ item?.priceTypeLabel }}
          </span>
          <span style="float: right;"
            class="font-medium bold">
            {{ item?.price | currency }}
          </span>
        </div>
      </div>
    </div>
    <br />
    <span class="mat-title">Product Features
      <btn-icon *ngIf="_auth.hasPermission('PERMISSION_STYLE_EDIT')"
        [text]="'expend'"
        (onclick)="openFeatureModal(styleFeatureModal)"></btn-icon>
    </span>
    <div class="ccard-panel">
      <div class="ccard-item"
        matRipple
        *ngFor="let item of styleFeatureList">
        <div fxFlex>
          <p>
            <span class="font-medium bold">
              {{ item?.label }}
            </span>
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="style?.heatmap">
      <br />
      <span class="mat-title">Heatmap</span>
      <div style="max-width: 500px;"
        *ngIf="style?.id">
        <heatmap [value]="style?.heatmap"></heatmap>
      </div>
    </div>

  </div>
  <div fxFlex>
    <div *ngIf="colorId"
      style="border: 1px solid black">
      <photo-gallery [entityId]="colorId"
        [entityType]="'style_color_image'"></photo-gallery>
    </div>
  </div>
</div>

<ng-template #styleFeatureModal>
  <h2 mat-dialog-title>Feature</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="20px">
      <div fxFlex>
        <span class="mat-title">Features</span>
        <table class="ctable">
          <tr *ngFor="let item of styleFeatureList"
            (click)="onFeatureSelect(item)"
            class="cursor-pointer"
            [ngClass]="{ 'current-item': item?.id == updateFeature?.id }">
            <td>{{ item?.label }}</td>
          </tr>
        </table>
      </div>
      <div fxFlex>
        <div *ngIf="updateFeature?.id">
          <span class="mat-title">Update feature</span>
          <table class="ctable noborder">
            <tr>
              <th class="fit">label</th>
              <th class="fit">:</th>
              <td>
                <mat-form-field>
                  <input matInput
                    type="text"
                    [(ngModel)]="updateFeature.label" />
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
        <div *ngIf="!updateFeature?.id">
          <span class="mat-title">Add new feature</span>
          <table class="ctable noborder">
            <tr>
              <th class="fit">Label</th>
              <th class="fit">:</th>
              <td>
                <mat-form-field>
                  <input matInput
                    type="text"
                    [(ngModel)]="newFeature.label" />
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn *ngIf="!updateFeature?.id"
            [text]="'add'"
            (onclick)="addStyleFeature()">
          </btn>

          <div *ngIf="updateFeature?.id">
            <btn [text]="'clear'"
              (onclick)="clearFeatureUpdate()"></btn>

            <btn [text]="'delete'"
              (onclick)="deleteStyleFeature(updateFeature.id)"></btn>

            <btn [text]="'update'"
              (onclick)="updateStyleFeature()"></btn>
          </div>

        </td>
      </tr>
    </table>

  </mat-dialog-actions>
</ng-template>


<ng-template #stylePriceModal>
  <h2 mat-dialog-title>Price</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="20px">
      <div fxFlex>
        <span class="mat-title">Update Price</span>
        <table class="ctable">
          <tr>
            <th>Price Type</th>
            <th style="width: 80px;">Price</th>
          </tr>
          <tr *ngFor="let item of priceTypeList">
            <th class="text-left">{{item?.priceTypeLabel}}</th>
            <td>
              <mat-form-field>
                <input matInput
                  type="text"
                  class="text-right"
                  [(ngModel)]="item.price" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (onclick)="updateStylePrice()">
          </btn>

        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>



<ng-template #styleColorModal>
  <h2 mat-dialog-title>Color</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="20px">
      <div fxFlex>
        <span class="mat-title">Colors
          <btn-icon *ngIf="updateColor?.id"
            [text]="'add'"
            (onclick)="clearColorUpdate()">
          </btn-icon>
        </span>
        <table class="ctable">
          <tr *ngFor="let item of styleColorList"
            (click)="onColorSelect(item)"
            class="cursor-pointer"
            [ngClass]="{ 'current-item': item?.id == updateColor?.id }">
            <td> <span class="colorbox"
                [style.background-color]="item?.colorCode"></span>
              {{ item?.name}}
              <mat-icon *ngIf="item?.primary">check</mat-icon>
            </td>
          </tr>
        </table>
      </div>
      <div fxFlex>
        <div *ngIf="updateColor?.id">
          <span class="mat-title">Update color</span>
          <table class="ctable noborder">
            <tr>
              <th class="fit">Name</th>
              <th class="fit">:</th>
              <td>
                <mat-form-field>
                  <input matInput
                    type="text"
                    [(ngModel)]="updateColor.name"
                    #name="ngModel" />
                </mat-form-field>
              </td>
              <td style="width: 34px;">
                <input [(colorPicker)]="updateColor.colorCode"
                  [style.background]="updateColor.colorCode"
                  [cpPosition]="'left'"
                  class="color-picker-square" />
              </td>
            </tr>
            <tr>
              <th class="fit">Is Default?</th>
              <th class="fit">:</th>
              <td colspan="2">
                <mat-checkbox [(ngModel)]="updateColor.primary">
                </mat-checkbox>
              </td>
            </tr>
            <tr>
              <th class="fit">Image</th>
              <th class="fit">:</th>
              <td colspan="2">
                <div style="height: 50px; width: 50px; margin-right: 30px;"
                  *ngIf="updateColor?.id">
                  <single-photo-card [name]="'Profile Photo Upload'"
                    [subtitle]="'Best Photo Size: 1:1 or Height: 50px and width: 50px'"
                    [entityId]="updateColor?.id"
                    [entityType]="'color_image'"
                    [enableEdit]="true">
                  </single-photo-card>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div *ngIf="!updateColor?.id">
          <span class="mat-title">Add new colors</span>
          <table class="ctable noborder">
            <tr>
              <th class="fit">Name</th>
              <th class="fit">:</th>
              <td>
                <mat-form-field>
                  <input matInput
                    type="text"
                    [(ngModel)]="newColor.name"
                    #name="ngModel" />
                </mat-form-field>
              </td>
              <td style="width: 34px;">
                <input [(colorPicker)]="newColor.colorCode"
                  [style.background]="newColor.colorCode"
                  [cpPosition]="'left'"
                  class="color-picker-square" />
              </td>
            </tr>
            <tr>
              <th class="fit">Is Default?</th>
              <th class="fit">:</th>
              <td colspan="2">
                <mat-checkbox [(ngModel)]="newColor.primary">
                </mat-checkbox>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <div *ngIf="!updateColor?.id">
            <btn [text]="'add'"
              (onclick)="addStyleColor()">
            </btn>
          </div>
          <div *ngIf="updateColor?.id">
            <btn [text]="'close'"
              [custom]="'Cancle'"
              (onclick)="clearColorUpdate()">
            </btn>

            <btn [text]="'delete'"
              (onclick)="deleteStyleColor(updateColor.id)">
            </btn>

            <btn [text]="'update'"
              (onclick)="updateStyleColor()">
            </btn>
          </div>

        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>