<div fusePerfectScrollbar
  fxFlex
  class="border-right p-24 p-0">
  <span class="mat-title">Season</span>
  <mat-icon (click)="sizeCreateForm()"
    *ngIf="_auth.hasPermission('PERMISSION_SEASON_CREATE')"
    class="s-24 mb-4 cursor-pointer"
    style="float: right;"
    title="Create a new entity">add_circle_outline
  </mat-icon>

  <table class="ctable">
    <thead class="header-bg">
      <th class="fit">#</th>
      <th>Name</th>
      <th>Sequence</th>
      <th style="width: 70px;"></th>
    </thead>

    <tbody>
      <tr *ngFor="let season of season.items; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ season.label }}</td>
        <td>{{ season.sequence }}</td>
        <td>
          <btn-icon [text]="'expend'"
            (click)="sizeOnDetailClick(season.id)">
          </btn-icon>&nbsp;
          <btn-icon [text]="'delete'"
            *ngIf="_auth.hasPermission('PERMISSION_SEASON_DELETE')"
            (click)="sizeOnDeleteClick(season.id)">
          </btn-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div fusePerfectScrollbar
  fxFlex
  class="p-24 p-0">
  <ng-container [ngSwitch]="season.createOrDetail">
    <ng-container *ngSwitchCase="'create'">
      <span class="mat-title">Add a new Season</span>
      <table class="ctable">
        <tr>
          <td>Name</td>
          <td>
            <mat-form-field class="w-100-p">
              <input matInput
                name="season.item.label"
                [(ngModel)]="season.item.label"
                #label="ngModel" />
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div>
        <btn [text]="'save'"
          style="float: right; margin-top: 10px;"
          (click)="sizeOnSubmit()">
        </btn>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'detail'">
      <ng-container *ngIf="currentItemRight === 'settings2right'">
        <span class="mat-title">Basic Info
          <btn-icon [text]="'edit'"
            *ngIf="_auth.hasPermission('PERMISSION_SEASON_CREATE')"
            (click)="openSizeEditModal(seasonEditModal)">
          </btn-icon>
        </span>
        <table class="ctable">
          <tbody>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Name
              </td>
              <td>
                {{ season.detail.label }}
              </td>
            </tr>
            <tr>
              <td class="fit bold"
                style="text-align: left;">
                Sequence
              </td>
              <td>
                {{ season.detail.sequence }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #seasonEditModal>
  <h2 mat-dialog-title>Edit Season</h2>
  <mat-dialog-content style="min-height: 35vh;">
    <div fxLayout
      fxLayoutGap="30px">
      <div fxFlex>
        <table class="ctable">
          <tr>
            <td>Name</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="season.editData.label"
                  [(ngModel)]="season.editData.label"
                  #label="ngModel" />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Sequence</td>
            <td>
              <mat-form-field class="w-100-p">
                <input matInput
                  name="season.editData.sequence"
                  [(ngModel)]="season.editData.sequence"
                  #sequence="ngModel" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <table class="table-modal-noborder">
      <tr>
        <td>
          <btn [text]="'close'"
            [modalClose]="true"></btn>
        </td>
        <td class="text-right">
          <btn [text]="'update'"
            (click)="sizeOnUpdate(true)"></btn>
        </td>
      </tr>
    </table>
  </mat-dialog-actions>
</ng-template>