<h2 mat-dialog-title>Inventory Adjustments</h2>
<mat-dialog-content style="min-height: calc(100vh - 120px); ">

  <div *ngIf="adjustmentObject">
    <table class="ctable noborder">
      <tr>
        <th style="width: 70px;">Inventory:</th>
        <th style="width: 130px;">
          <date-picker (change)="adjustmentObject.date = $event.dateFormatted"
            hideLabel="true"
            [dateValue]="adjustmentObject.date">
          </date-picker>
        </th>
        <th style="width: 70px;">Inventory:</th>
        <td style="width: 300px;">
          <mat-select placeholder="Inventory Location"
            class="mat-multiple-select"
            [(ngModel)]="adjustmentObject.fromId"
            (selectionChange)="onLocationChange()">
            <mat-option *ngFor="let item of inventoryLocationList"
              [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </td>
        <th style="width: 50px;">Type:</th>
        <td style="width: 300px;">
          <mat-select placeholder="Adjustment Types"
            class="mat-multiple-select"
            [(ngModel)]="adjustmentObject.type">
            <mat-option *ngFor="let item of adjustmentTypeList"
              [value]="item">{{ item.label }}</mat-option>
          </mat-select>
        </td>
        <td>
          <div
            *ngIf="adjustmentObject?.type?.name && adjustmentObject?.type?.name != 'new' && adjustmentObject?.type?.name != 'edit'">
            <mat-radio-group aria-label="Select an option"
              [(ngModel)]="adjustmentObject.actionType">
              <mat-radio-button class="mr-8"
                name="radioType"
                value="ADD">Add</mat-radio-button>
              <mat-radio-button name="radioType"
                value="SUBSTRACT">Remove</mat-radio-button>
            </mat-radio-group>
          </div>

        </td>
        <td></td>
      </tr>
      <tr>
        <th>Reason: </th>
        <td colspan="6">
          <mat-form-field class="w-100-p">
            <textarea matInput
              rows="2"
              [(ngModel)]="adjustmentObject.comment"></textarea>
          </mat-form-field>
        </td>
        <td></td>
      </tr>
      <tr
        *ngIf="adjustmentObject?.fromId && inventories?.length && styleList?.length">
        <th>Style: </th>
        <td colspan="6">
          <ng-select [items]="styleList"
            [clearable]="false"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
            bindLabel="name"
            bindValue="id"
            placeholder="Select Style"
            appendTo="body"
            [(ngModel)]="adjustmentObject.styleList"
            (change)="onStyleSelect($event)">
          </ng-select>
        </td>
        <td></td>
      </tr>
    </table>



    <ng-container *ngIf="adjustmentObject?.fromId && !inventories?.length">
      <div class="text-center">
        <h1>No inventory in this location</h1>
      </div>
    </ng-container>
    <ng-container *ngIf="adjustmentObject?.fromId && inventories?.length">
      <span class="mat-title">Inventory</span>



      <table class="ctable mt-8 mx-8"
        style="width: auto !important;"
        *ngFor="let group of inventories; let groupIndex = index">
        <thead>
          <th class="fit text-center">Image</th>
          <th style="width: 150px;">Style</th>
          <th style="width: 120px;">Color</th>
          <th *ngFor="let size of group.sizeList"
            class="text-center"
            style="width: 100px !important;">
            {{ size.name }}
          </th>
        </thead>
        <ng-container
          *ngFor="let style of group?.inventories; let styleIndex = index">
          <ng-container *ngIf="style?.display">
            <tr *ngFor="let color of style?.comboList; let colorIndex = index">

              <td [hidden]="colorIndex > 0"
                [attr.rowspan]="style?.comboList?.length">
                <img class="thumb-image"
                  *ngIf="style?.styleImages?.length"
                  [src]="(style?.styleImages)[0]?.thumnailFileUrl" />
                <img class="thumb-image"
                  *ngIf="!style?.styleImages?.length"
                  src="assets/images/theme/incomming-product-image.png" />
              </td>
              <td [hidden]="colorIndex > 0"
                [attr.rowspan]="style?.comboList?.length">
                <a [routerLink]="'/styles/' + style?.styleId +'/inventory' "
                  target="_blank">
                  {{style?.name}}
                </a>

              </td>
              <td>
                {{color.name}}
              </td>
              <td style="height: 70px;"
                *ngFor="let size of group.sizeList"
                class="text-center"
                style="max-width: 100px !important;">
                <div>
                  {{(style?.breakdown)["_"+color?.id+
                  "_"+size?.id]?.actualStockQuantity}}
                </div>
                <div *ngIf="adjustmentObject?.type?.name != 'edit'">
                  <input matInput
                    class="text-center"
                    numberonly
                    decimals="0"
                    type="text"
                    autocomplete="off"
                    [(ngModel)]="style.breakdown['_' + color.id + '_' + size.id].adjustmentQuantity">
                </div>
                <div *ngIf="adjustmentObject?.type?.name == 'edit'">
                  <input matInput
                    class="text-center"
                    numberonly
                    decimals="0"
                    type="text"
                    autocomplete="off"
                    [(ngModel)]="style.breakdown['_' + color.id + '_' + size.id].editQuantity">
                </div>
              </td>
            </tr>
          </ng-container>

        </ng-container>

      </table>
    </ng-container>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <btn [text]="'add'"
          [custom]="'Submit'"
          (onclick)="update()"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>