<h2 mat-dialog-title>
  <span *ngIf="editMode == 'create' || editMode == 'edit' ">
    Packing - Stock Picking
  </span>
  <span *ngIf="editMode == 'packing'">
    Packing - Finalize Shipment
  </span>

</h2>


<mat-dialog-content style=" overflow-y: hidden !important;"
  [ngStyle]="{'min-width':editMode == 'packing' ?  '70vw':'80vw','min-height':editMode == 'packing' ?  'calc(100vh - 130px)':'calc(100vh - 130px)'}"
  *ngIf="editMode">

  <div *ngIf="editMode == 'create' || editMode == 'edit'">
    <div fxLayout="column">
      <!-- HEADER -->
      <div fxFlex="5%">
        <table class="ctable noborder"
          style="width: 60%;">
          <tr>
            <th class="fit text-left">Location</th>
            <th class="fit">:</th>
            <td style="width: 250px;">
              <ng-select style="z-index: 10000000;"
                [items]="order?.locations"
                [clearable]="true"
                bindLabel="name"
                bindValue="id"
                placeholder="Inventory Locations"
                [(ngModel)]="selectedLocation.id"
                (clear)="locationClear()"
                (change)="onLocationChange()">
              </ng-select>
              <!-- <mat-select placeholder="Inventory Locations"
                class="mat-multiple-select"
                [(ngModel)]="selectedLocation.id"
                (selectionChange)="onLocationChange()">
                <mat-option
                  [value]="null">All Locations</mat-option>
                <mat-option *ngFor="let item of order?.locations"
                  [value]="item.id">{{ item.name }}</mat-option>
              </mat-select> -->
            </td>
            <td style="font-size: medium;text-align: right; color: #039BE5;">
              Ordered :</td>
            <td style="font-size: medium;text-align: left; color: #039BE5;">
              {{totalOrderedQty || 0 | number }}</td>
            <td style="font-size: medium;text-align: right; color: #4CAF50;">
              Shipped :</td>
            <td style="font-size: medium;text-align: left; color: #4CAF50;">
              {{totalShippedQty || 0 | number }}</td>
            <td style="font-size: medium;text-align: right; color: orange;">
              Picked :</td>
            <td style="font-size: medium;text-align: left; color: orange;">
              {{instantPicked || 0 | number }} </td>
            <td></td>
            <!-- &nbsp; + <span>({{ instantPicked | number}}) </span> -->
            <!-- <td class="text-right">
                <btn-small [text]="'add'"
                  [custom]="'Print'"
                  (onclick)="createShipment(true)"></btn-small>
              </td> -->
          </tr>
        </table>

      </div>
      <!-- HEADER -->
      <!-- MIDDLE -->
      <div fxFlex="90%">
        <div fxLayout="row"
          fxLayoutGap="5px">
          <div fxFlex="62%">
            <div>
              <div *ngIf="shipment?.order?.groupBreakdown?.length"
                style="
              max-height: calc(100vh - 250px) !important;
          overflow-y: auto !important;
          white-space: nowrap !important;">
                <table class="ctable mt-8"
                  *ngFor="let group of shipment?.order?.groupBreakdown; let groupIndex = index">
                  <tr class="header-bg csticky">
                    <th class="fit ">Thumb.</th>
                    <th style="width: 150px;">Style</th>
                    <th style="width: 120px;">Color</th>
                    <th style="width: 100px;"
                      *ngFor="let size of group.sizeList"
                      class="text-center">
                      {{ size.sizeLabel }}
                    </th>
                  </tr>
                  <ng-container
                    *ngFor="let style of group?.styleBreakdown; let styleIndex = index">
                    <tr
                      *ngFor="let color of style?.colorList; let colorIndex = index">
                      <td [hidden]="colorIndex > 0"
                        [attr.rowspan]="style?.colorList?.length">
                        <img class="thumb-image"
                          *ngIf="color?.styleColorImages?.length"
                          [src]="(color?.styleColorImages)[0]?.thumnailFileUrl" />
                        <img class="thumb-image"
                          *ngIf="!color?.styleColorImages?.length"
                          src="assets/images/theme/incomming-product-image.png" />
                      </td>
                      <td [hidden]="colorIndex > 0"
                        [attr.rowspan]="style?.colorList?.length">
                        {{style?.styleName}}
                      </td>
                      <td style="text-align: center;">
                        <!-- <pre>{{color | json}}</pre> -->
                        <span>{{ color?.comboNameForDisplay }}</span> <br>
                        <span
                          [ngStyle]="{'color':color?.comboStatusForDisplay == 'Available' ?  'green':'#ff8c00' }">
                          <span>{{ color?.comboStatusForDisplay }} </span><br>
                          <span *ngIf="color?.status != 'Available'">{{
                            color?.comboStockDateForDisplay }} </span>
                        </span>
                      </td>
                      <td *ngFor="let size of group.sizeList"
                        class="text-center "
                        [ngStyle]="{'background-color':(style?.breakdown)['_' + color?.comboId + '_' + size.sizeId + '_' + color?.comboName]?.picked ? '#e1eef9': ((style?.breakdown)['_' + color?.comboId + '_' + size.sizeId + '_' + color?.comboName]?.fromSelectedLocation ===false? '#f8f4f4' : '#fff')}">
                        <div class="text-center"
                          *ngIf="
                            (style?.breakdown)[
                                '_' + color?.comboId + '_' + size.sizeId + '_' + color?.comboName
                              ]?.orderedQty
                          ">
                          <div class="text-center text-blue"
                            [ngClass]="
                        (style?.breakdown)[
                        '_' + color?.comboId + '_' + size.sizeId+ '_' + color?.comboName
                        ]?.balance > 0? 'text-blue': 'text-gray'
                        ">
                            <span>Ordered</span> &nbsp; : <span>{{
                              (style?.breakdown)[
                              "_" + color?.comboId + "_" + size.sizeId+ '_' +
                              color?.comboName
                              ]?.quantity
                              }}</span>
                          </div>
                          <div class="text-center text-green font-small">
                            <span>Shipped</span> &nbsp;:
                            <span>{{(style?.breakdown)[
                              "_" + color?.comboId + "_" + size.sizeId + '_' +
                              color?.comboName
                              ]?.actualShipQty || 0
                              }}</span>
                            <!-- <span>{{style.breakdown['_' + color?.comboId + '_' +
                            size.sizeId]?.inventoryLocations['_'+selectedLocation?.id]?.quantity
                            || 0}}</span> -->
                          </div>
                          <div class="text-center text-green font-small">
                            <span [ngClass]="
                        (style?.breakdown)[
                        '_' + color?.comboId + '_' + size.sizeId+ '_' + color?.comboName
                        ]?.quantity >(style?.breakdown)[
                        '_' + color?.comboId + '_' + size.sizeId+ '_' + color?.comboName
                        ]?.pickedQty? 'text-red': 'text-green'">Picked</span>
                            &nbsp;:
                            <span
                              [ngClass]="
                        (style?.breakdown)[
                        '_' + color?.comboId + '_' + size.sizeId+ '_' + color?.comboName
                        ]?.quantity >(style?.breakdown)[
                        '_' + color?.comboId + '_' + size.sizeId+ '_' + color?.comboName
                        ]?.pickedQty? 'text-red': 'text-green'">{{(style?.breakdown)[
                              "_" + color?.comboId + "_" + size.sizeId + '_' +
                              color?.comboName
                              ]?.pickedQty
                              }}</span>
                            <!-- <span>{{style.breakdown['_' + color?.comboId + '_' +
                            size.sizeId]?.inventoryLocations['_'+selectedLocation?.id]?.quantity
                            || 0}}</span> -->
                          </div>
                        </div>
                        <div class="mt-8"
                          *ngIf="
                            (style?.breakdown)[
                                '_' + color?.comboId + '_' + size.sizeId+ '_' + color?.comboName
                              ]?.orderedQty
                          ">
                          <btn-small [text]="'add'"
                            [disabled]="disablePickBtn || (style?.breakdown)[
                                '_' + color?.comboId + '_' + size.sizeId + '_' + color?.comboName
                              ]?.fromSelectedLocation ===false || (style?.breakdown)[
                              '_' + color?.comboId + '_' + size.sizeId+ '_' +
                              color?.comboName
                              ]?.quantity ==(style?.breakdown)[
                              '_' + color?.comboId + '_' + size.sizeId + '_' +
                              color?.comboName
                              ]?.actualShipQty"
                            [custom]="'Pick'"
                            (onclick)="onSelectOrderToPick((style?.breakdown)[
                                '_' + color?.comboId + '_' + size.sizeId + '_' + color?.comboName
                              ],style)"></btn-small>
                          <!-- <input type="text"
                          numberonly
                          decimals="0"
                          *ngIf="
                                style?.breakdown[
                                    '_' + color?.comboId + '_' + size.sizeId
                                  ]?.orderedQty
                              "
                          class="text-center"
                          matInput
                          [(ngModel)]="style.breakdown['_' + color.comboId + '_' + size.sizeId].newShipmentQuantity"
                          autocomplete="off" /> -->
                        </div>

                      </td>
                    </tr>
                  </ng-container>

                </table>
              </div>


            </div>
          </div>
          <div fxFlex="38%">
            <div style="
              max-height: calc(100vh - 250px) !important;
          overflow-y: auto !important;
          white-space: nowrap !important;">
              <div fxLayout="column"
                fxLayoutGap="5px"
                *ngIf="wearHouseBoxListView && wearHouseBoxListForView.length">
                <div fxFlex="50%"
                  style="border: 1px solid rgb(180 224 175);padding: 10px; overflow-y: auto;  ">
                  <div>
                    <table>
                      <tr>
                        <th style="font-size:16px;color: #039be5;">
                          <span><strong>{{selectedOrderedProductForPicking.styleName}}</strong></span>
                        </th>
                        <th style="font-size: larger;padding-left: 20px;">
                          <span><strong>{{selectedOrderedProductForPicking.combo}}</strong></span>
                        </th>
                        <th
                          style="font-size: larger;padding-left: 20px;color: green;">
                          <span><strong>[{{selectedOrderedProductForPicking.size}}]</strong></span>
                        </th>
                      </tr>
                    </table>
                    <table class="ctable noborder ">

                      <tr>
                        <th style="color: green;"
                          class="fit">
                          Available Qty
                        </th>
                        <th style="color: green;">
                          <strong>{{availableQty}}</strong>
                        </th>
                        <th></th>
                        <th></th>
                      </tr>
                    </table>
                  </div>
                  <div class="table-scroll-horizontal">
                    <table class="ctable noborder mt-8">
                      <tr
                        *ngFor="let pickedBoxRow of wearHouseBoxListForView ;let boxIndex = index">
                        <td style="width: 50px;"
                          *ngFor="let item of pickedBoxRow.rows;let rowIndex = index">
                          <small>{{item.details[0].shipmentName}}</small> <br>
                          <button
                            (click)="onWearhouseBoxSelect(item,boxIndex,rowIndex)"
                            [disabled]="item.details[0].actualQty==0"
                            [ngStyle]="{'border':item.selected? '3px solid green' : 'rgb(180, 224, 175)','background-color':item.isOpen ?'#f7d8cf':'rgb(180, 224, 175)' }"
                            style="border: 1px #ddd;background-color: rgb(247, 216, 207);line-height: normal;height: 28px;cursor: pointer;width: 80px;">
                            {{item.details[0].actualQty}} <span
                              *ngIf="item.details[0].shipProcessingQty"
                              style="color: red;">+
                              {{item.details[0].shipProcessingQty}}</span>
                          </button>
                          <p class="text-blue"
                            style="padding: 2px 2px;"># {{item.boxNumber}}</p>
                        </td>

                      </tr>

                    </table>
                  </div>
                </div>
                <div fxFlex="50%"
                  style="border: 1px solid #63b7fb; background-color: #c3e0f8;padding-bottom: 20px;padding: 5px; overflow-y: auto;
    height: 50%;">
                  <div>
                    <table class="ctable noborder  p-12">
                      <tr>
                        <th>
                          <h3>Selected Quantity</h3>
                        </th>
                        <th></th>
                        <th></th>

                        <th>
                          <h3>
                            {{qtyInCart || 0}}/ {{maximumPickableQty || 0}}
                          </h3>
                        </th>
                      </tr>
                    </table>
                  </div>
                  <div class="table-scroll-horizontal">
                    <table>
                      <tr>
                        <span style="color: red;"
                          *ngIf="pickingValidation()"> Quantity must not
                          be greater than balance quantity !!!</span>
                      </tr>
                    </table>
                    <table class="ctable noborder "
                      style="width: auto;">
                      <tr
                        *ngFor="let cartBoxRow of cartForView ;let boxIndex = index">
                        <td
                          *ngFor="let obj of cartBoxRow.rows;let rowIndex = index"
                          style="width: 100px;">
                          <!-- <span *ngIf="obj.itemOfPickedItem"> -->
                          <input type="text"
                            inputmode="numeric"
                            (keyup)="onQtyChange(obj,obj.details[0].selectedQty)"
                            decimals="0"
                            class="text-center"
                            style="width: 56px;height: 30px; text-align: center;"
                            [(ngModel)]="obj.details[0].selectedQty">
                          <span>
                            <a
                              (click)="removeselectedBox(boxIndex,rowIndex,obj)">
                              <mat-icon class="s-24 mb-4"
                                title="Delete">close
                              </mat-icon>
                            </a> </span>
                          <p class="text-blue"
                            style="padding: 2px 2px;">#{{obj.boxNumber}}</p>
                          <!-- </span> -->
                        </td>
                      </tr>
                      <tr>
                        <td style="margin-top: 15px;">
                          <button (click)="onAccept()"
                            [disabled]="pickingValidation() || disableAcceptBtn"
                            [ngStyle]="{'color':pickingValidation() || disableAcceptBtn ?  '#ddd':'#039be5' }"
                            style="border: 1px solid #039be5; border-radius: 5px !important;background-color: #fff;line-height: normal;height: 28px;"
                            mat-raised-button
                            color="primary">Accept</button>
                        </td>
                        <td colspan="100%"></td>
                      </tr>
                    </table>

                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
      <!-- MIDDLE -->
      <!-- bottom-table -->
      <div fxFlex="5%">
        <div>
          <table class="ctable noborder">
            <tr>
              <td><span class="mat-title">Customer's Aditional
                  Instructions</span>
              </td>
            </tr>
            <tr>
              <td>
                {{order?.comment}}
              </td>
            </tr>

          </table>
        </div>
      </div>
      <!-- bottom-table -->




    </div>

    <!-- <table class="ctable noborder">
      <tr>
        <td style="width: 200px">
          <div class="text-blue">Order Balance Quantity</div>
          <div class="text-green">Warehouse Stock Quantity</div>
        </td>
        <td>

        </td>
        <td class="text-right">
          <btn-small [text]="'edit'"
            [custom]="'Prefill max allow quantity'"
            (onclick)="shipmentPrefillByMaxQuantity()"></btn-small>
        </td>
      </tr>
    </table> -->

    <!-- <div *ngIf="!selectedLocation?.id"
      class="text-center">
      <h1>Please, select warehouse location first!</h1>
    </div> -->






  </div>
  <!-- <div *ngIf="editMode == 'create' || editMode == 'edit'">
    <table class="ctable noborder">
      <tr>
        <th class="fit text-left">Location</th>
        <th class="fit">:</th>
        <td style="width: 300px;">
          <mat-select [disabled]="editMode == 'edit'"
            placeholder="Inventory Locations"
            class="mat-multiple-select"
            [(ngModel)]="selectedLocation.id">
            <mat-option *ngFor="let item of order?.locations"
              [value]="item.id">{{ item.name }}</mat-option>
          </mat-select>
        </td>
        <td class="text-right">
          <btn-small [text]="'add'"
            [custom]="'Print'"
            (onclick)="createShipment(true)"></btn-small>
        </td>
      </tr>
    </table>
    <table class="ctable noborder">
      <tr>
        <td style="width: 200px">
          <div class="text-blue">Order Balance Quantity</div>
          <div class="text-green">Warehouse Stock Quantity</div>
        </td>
        <td>

        </td>
        <td class="text-right">
          <btn-small [text]="'edit'"
            [custom]="'Prefill max allow quantity'"
            (onclick)="shipmentPrefillByMaxQuantity()"></btn-small>
        </td>
      </tr>
    </table>

    <div *ngIf="!selectedLocation?.id"
      class="text-center">
      <h1>Please, select warehouse location first!</h1>
    </div>


    <div *ngIf="selectedLocation?.id">
      <div *ngIf="shipment?.order?.groupBreakdown?.length"
        class="table-scroll-horizontal">
        <table class="ctable mt-8"
          style="width: auto !important;"
          *ngFor="let group of shipment?.order?.groupBreakdown; let groupIndex = index">
          <tr class="header-bg">
            <th class="fit">Thumb.</th>
            <th style="width: 150px;">Style</th>
            <th style="width: 120px;">Color</th>
            <th style="width: 100px;"
              *ngFor="let size of group.sizeList"
              class="text-center">
              {{ size.sizeLabel }}
            </th>
          </tr>
          <ng-container
            *ngFor="let style of group?.styleBreakdown; let styleIndex = index">
            <tr *ngFor="let color of style?.colorList; let colorIndex = index">
              <td [hidden]="colorIndex > 0"
                [attr.rowspan]="style?.colorList?.length">
                <img class="thumb-image"
                  *ngIf="style?.styleImages?.length"
                  [src]="(style?.styleImages)[0]?.thumnailFileUrl" />
                <img class="thumb-image"
                  *ngIf="!style?.styleImages?.length"
                  src="assets/images/theme/incomming-product-image.png" />
              </td>
              <td [hidden]="colorIndex > 0"
                [attr.rowspan]="style?.colorList?.length">
                {{style?.styleName}}
              </td>
              <td>
                {{color.comboName}}
              </td>
              <td *ngFor="let size of group.sizeList"
                class="text-center">
                <div class="text-center"
                  *ngIf="
                        (style?.breakdown)[
                            '_' + color?.comboId + '_' + size.sizeId
                          ]?.orderedQty
                      ">
                  <div class="text-center text-blue font-big"
                    [ngClass]="
                    (style?.breakdown)[
                    '_' + color?.comboId + '_' + size.sizeId
                    ]?.balance > 0? 'text-blue': 'text-gray'
                    ">
                    {{
                    (style?.breakdown)[
                    "_" + color?.comboId + "_" + size.sizeId
                    ]?.balance
                    }}
                  </div>
                  <div class="text-center text-green font-small">
                    {{style.breakdown['_' + color?.comboId + '_' +
                    size.sizeId]?.inventoryLocations['_'+selectedLocation?.id]?.quantity
                    || 0}}
                  </div>
                </div>
                <div>
                  <input type="text"
                    numberonly
                    decimals="0"
                    *ngIf="
                            style?.breakdown[
                                '_' + color?.comboId + '_' + size.sizeId
                              ]?.orderedQty
                          "
                    class="text-center"
                    matInput
                    [(ngModel)]="style.breakdown['_' + color.comboId + '_' + size.sizeId].newShipmentQuantity"
                    autocomplete="off" />
                </div>

              </td>
            </tr>
          </ng-container>

        </table>
      </div>


    </div>

    <div class="mt-12">
      <table class="ctable noborder">
        <tr>
          <td><span class="mat-title">Customer's Aditional Instructions</span>
          </td>
        </tr>
        <tr>
          <td>
            {{order?.comment}}
          </td>
        </tr>

      </table>
    </div>

  </div> -->

  <div *ngIf="editMode == 'packing'"
    fxLayout>


    <div fxFlex>
      <div style="
              max-height: calc(100vh - 150px) !important;
          overflow-y: auto !important;
          white-space: nowrap !important;">
        <table class="ctable noborder">
          <tr>
            <td>
              <span class="mat-title">Delivery Information

              </span>
            </td>
            <td class="text-right">
              <btn-small [text]="'add'"
                [custom]="'Print Stock Picking List'"
                (onclick)="openPackingPDFModal(shipmentId)"></btn-small>
            </td>
          </tr>
        </table>

        <div class="cportlet p-12">
          <table class="ctable noborder">
            <tr>
              <th style="width: 150px !important;">Shipment Date</th>
              <th class="fit">:</th>
              <td style="font-weight: bold">
                {{shipmentProcessingUpdate?.shipmentDate | date: 'mediumDate'}}
              </td>
            </tr>
            <tr>
              <th class="top-align">Shipping Address</th>
              <th class="fit top-align">:</th>
              <td>
                <span *ngIf="order?.customer?.name"
                  style="font-weight: bold">{{ order?.customer?.name }},
                </span><br />
                <span *ngIf="order?.poBoxNo">PO-Box:
                  {{ order?.poBoxNo }},
                </span>
                <span *ngIf="order?.street">{{ order?.street }},
                </span><br />
                <span *ngIf="order?.city">{{ order?.city }},
                </span>
                <span *ngIf="order?.provinceName">{{
                  order?.provinceName }},
                </span>
                <span *ngIf="order?.postCode"><br />{{ order?.postCode }}
                </span>
              </td>
            </tr>

            <tr>
              <th>Contact Person</th>
              <th class="fit">:</th>
              <td>
                {{order?.customerFullname}}
              </td>
            </tr>
            <tr>
              <th>Contact Number</th>
              <th class="fit">:</th>
              <td>
                {{order?.customer?.phoneNo}}
              </td>
            </tr>
            <tr>
              <th>Aditional Instructions</th>
              <th class="fit">:</th>
              <td>
                {{order?.comment}}
              </td>
            </tr>
          </table>
        </div>
        <div class="cportlet p-12 mt-20"
          *ngIf="shipmentProcessingUpdate?.id">
          <table class="ctable noborder">
            <tr>
              <th style="width: 150px !important;">Shipment Mode</th>
              <th class="fit">:</th>
              <td
                *ngIf="!_auth.hasPermission('PERMISSION_ADMIN_USER') && userRole != 'ROLE_WAREHOUSE'">
                <span
                  *ngIf="shipmentProcessingUpdate?.shipmentMode == 'CUSTOMER'">
                  <mat-form-field>
                    <input matInput
                      disabled
                      type="text"
                      value="Customer Shipping" />
                  </mat-form-field>
                </span>
                <span
                  *ngIf="shipmentProcessingUpdate?.shipmentMode == 'RAWMANCO'">
                  <mat-form-field>
                    <input matInput
                      disabled
                      type="text"
                      value="Rawman & Co. Shipping" />
                  </mat-form-field>
                </span>
                <span *ngIf="shipmentProcessingUpdate?.shipmentMode == 'OTHER'">
                  <mat-form-field>
                    <input matInput
                      disabled
                      type="text"
                      value="Other (No Canada Post)" />
                  </mat-form-field>
                </span>
              </td>
              <td
                *ngIf="_auth.hasPermission('PERMISSION_ADMIN_USER') || userRole == 'ROLE_WAREHOUSE'">
                <mat-select placeholder="Shipment Mode"
                  class="mat-multiple-select"
                  [(ngModel)]="shipmentProcessingUpdate.shipmentMode">
                  <mat-option [value]="'RAWMANCO'">Rawman & Co. Shipping
                  </mat-option>
                  <mat-option [value]="'CUSTOMER'">Customer Shipping
                  </mat-option>
                  <mat-option [value]="'OTHER'">Other (No Canada Post)
                  </mat-option>
                </mat-select>
              </td>
            </tr>
            <tr *ngIf="shipmentProcessingUpdate?.shipmentMode == 'OTHER'">
              <th>Shipping Instructions</th>
              <th class="fit">:</th>
              <td>
                <mat-form-field>
                  <input matInput
                    type="text"
                    [disabled]="true"
                    [(ngModel)]="shipmentProcessingUpdate.shipmentModeInstruction" />
                </mat-form-field>
              </td>
            </tr>
            <ng-container>
              <tr>
                <th>Courier Company <span class="req">*</span></th>
                <th class="fit">:</th>
                <td>
                  <mat-form-field>
                    <input matInput
                      [disabled]="shipmentProcessingUpdate?.shipmentMode == 'CUSTOMER'"
                      type="text"
                      [(ngModel)]="shipmentProcessingUpdate.courierCompany" />
                  </mat-form-field>
                </td>
              </tr>
              <tr *ngIf="shipmentProcessingUpdate?.shipmentMode == 'CUSTOMER'">
                <th>Courier Account No <span class="req">*</span></th>
                <th class="fit">:</th>
                <td>
                  <mat-form-field>
                    <input matInput
                      type="text"
                      [disabled]="shipmentProcessingUpdate?.shipmentMode == 'CUSTOMER'"
                      [(ngModel)]="shipmentProcessingUpdate.courierAccountNo" />
                  </mat-form-field>
                </td>
              </tr>

            </ng-container>
            <tr>
              <th>Tracking No <span class="req">*</span></th>
              <th class="fit">:</th>
              <td>
                <mat-form-field>
                  <input matInput
                    type="text"
                    [(ngModel)]="shipmentProcessingUpdate.trackingNumber" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th>Number of Boxes <span class="req">*</span></th>
              <th class="fit">:</th>
              <td>
                <mat-form-field>
                  <input matInput
                    type="number"
                    [(ngModel)]="shipmentProcessingUpdate.noOfBox" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th>Total Weight</th>
              <th class="fit">:</th>
              <td>
                <mat-form-field>
                  <input matInput
                    type="text"
                    [(ngModel)]="shipmentProcessingUpdate.totalWeight" />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th>Warehouse Note</th>
              <th class="fit">:</th>
              <td>
                <mat-form-field class="w-100-p">
                  <textarea matInput
                    rows="3"
                    [(ngModel)]="shipmentProcessingUpdate.comment"></textarea>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </div>






    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
      <td class="text-right">
        <div *ngIf="editMode == 'create' || editMode == 'edit'">
          <btn [text]="'arrowright'"
            [custom]="'Finalize Shipment'"
            (onclick)="createShipment(false)"></btn>
        </div>
        <div *ngIf="editMode == 'packing'">
          <btn [text]="'arrowleft'"
            [custom]="'Previous'"
            (onclick)="goEdit()"></btn>
          <btn [text]="'add'"
            [disabled]="btnDisable"
            [custom]="'ship'"
            (onclick)="updateShipment()"></btn>
        </div>

      </td>
    </tr>
  </table>
</mat-dialog-actions>