<h2 mat-dialog-title>Inventory History</h2>
<mat-dialog-content style="max-height: calc(100vh - 120px);">



  <table class="ctable mt-8 mx-8"
    style="width: auto !important;"
    *ngFor="let group of object?.details; let groupIndex = index">
    <tr class="header-bg">
      <th class="fit text-center">Image</th>
      <th style="width: 150px;">Style</th>
      <th style="width: 120px;">Color</th>
      <th style="width: 100px;"
        *ngFor="let size of group.sizeList"
        class="text-center">
        {{ size.name }}
      </th>
      <th style="width: 100px;"
        class="text-center">
        Qty
      </th>
    </tr>
    <ng-container
      *ngFor="let style of group?.inventories; let styleIndex = index">
      <tr *ngFor="let color of style?.colorList; let colorIndex = index">
        <td [hidden]="colorIndex > 0"
          [attr.rowspan]="style?.colorList?.length">
          <img class="thumb-image"
            *ngIf="style?.styleImage?.length"
            [src]="style?.styleImage[0]?.thumnailFileUrl" />
          <img class="thumb-image"
            *ngIf="!style?.styleImage?.length"
            src="assets/images/theme/incomming-product-image.png" />
        </td>
        <td [hidden]="colorIndex > 0"
          [attr.rowspan]="style?.colorList?.length">
          <a [routerLink]="'/styles/' + style?.styleId +'/inventory' "
            target="_blank">
            {{style?.name}}
          </a>

        </td>
        <td>
          {{color.name}}
        </td>
        <td *ngFor="let size of group.sizeList"
          class="text-center">
          <div>
            {{
            (style?.breakdown)[
            "_" + color?.id + "_" + size.id
            ]?.adjustQuantity
            }}
          </div>

        </td>
        <th class="text-center"
          [hidden]="colorIndex > 0"
          [attr.rowspan]="style?.colorList?.length">
          {{style?.totalAdjustQuantity}}
        </th>
      </tr>
    </ng-container>

  </table>

</mat-dialog-content>
<mat-dialog-actions>
  <table class="table-modal-noborder">
    <tr>
      <td>
        <btn [text]="'close'"
          [modalClose]="true"></btn>
      </td>
    </tr>
  </table>
</mat-dialog-actions>